@model ProjectNamePlaceHolder.Application.Models.MainModulePlaceHolder.MainModulePlaceHolderModel
@using ProjectNamePlaceHolder.Web.Pages.MainModulePlaceHolder
<form method="get" style="margin-bottom:5px;">
    <div class="row toolbar-container">
        <div class="btn-toolbar mb-1 col-12" role="toolbar">
            <div class="input-group input-group-sm">
                <div class="input-group input-group-sm" data-toggle="tooltip" data-placement="top" title="@Resource.LabelDelete" onclick="@(MainModulePlaceHolderHtmlElementVariables.DeleteHandler.JSFunctionTriggerHandler)();">
                    <a class="input-group-text custom-anchor-button" href="#">
                        <i class="fas fa-trash"></i><span class="btn-label"> @Resource.LabelDelete</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</form>
@Html.CelerSoftPromptMessageContainer(MainModulePlaceHolderHtmlElementVariables.MainModulePlaceHolderFormPromptContainer)
<div class="row panel-container">
    <div class="col-md-12">
        <form method="post" asp-page-handler="@MainModulePlaceHolderHtmlElementVariables.DeleteHandler.Name" id="@MainModulePlaceHolderHtmlElementVariables.MainModulePlaceHolderForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            Template:[InsertNewDeleteField]
        </form>
    </div>
</div>


@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
@MainModulePlaceHolderHtmlElementVariables.DeleteHandler.CelerSoftTriggerHandlerPost(modal: MainModulePlaceHolderHtmlElementVariables.MainModulePlaceHolderModal,
    promptMessageContainer: @MainModulePlaceHolderHtmlElementVariables.MainModulePlaceHolderFormPromptContainer.Name,
    formName: MainModulePlaceHolderHtmlElementVariables.MainModulePlaceHolderForm,
    confirmationMessage: Resource.PromptMessageDeleteConfirmation)
<script type="text/javascript">
</script>
