@page
@model AddModel
@{
    ViewData["Title"] = Localizer["Add Activity"];
    ViewData["ActiveMainPage"] = "Activity";
    ViewData["Level1"] = "ELMS";
}
<form id="activity-form" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
	<input type="hidden" asp-for="@Model.RemoveSubDetailId" />
    <input type="hidden" asp-for="@Model.AsyncAction" />
	<div id="PartialLoaderContainer">
        <partial name="_InputFieldsPartial" model="Model.Activity" />
    </div> 
	<div id="toolbar-container" class="btn-group" role="group" style="float:right;margin-top:10px;">
        <a asp-page="Index" class="btn btn-secondary" title="@Localizer["Cancel"]"><i class="fas fa-ban"></i></a>
        <button type="submit" class="btn btn-success" title="@Localizer["Save changes"]" style="color:#fff;"><i class="fas fa-save"></i></button>
    </div>   
</form>
<a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
    <i class="fas fa-chevron-up"></i>
</a>
@section Scripts {
<partial name="_ValidationScriptsPartial" />
<partial name="_UnitActivityListValidationPartial" model="@Model.Activity" />

<script asp-add-nonce>
    $(document).ready(function () {
		function InitializeForm()
		{
			$('.DisableSelectDropdown').on('mousedown', function(e) {
				e.preventDefault();
				this.blur();
				window.focus();
			});
			
			$.InitializeActivityHistoryFieldValidations($('#ActivityHistoryCount').val());
			$('.RemoveActivityHistoryButton ').on( 'click', function () {
				$('#RemoveSubDetailId').val($(this).attr('removeid'));
				$('#AsyncAction').val('RemoveActivityHistory');
				$.triggerPageForm('ChangeFormValue','#PartialLoaderContainer', '#activity-form', InitializeForm);
			});

			$('#btnAddActivityHistory').on( 'click', function () {
				$('#AsyncAction').val('AddActivityHistory');
				$.triggerPageForm('ChangeFormValue','#PartialLoaderContainer', '#activity-form', InitializeForm);
			});

			$.fn.leadtaskSelect = function() {
				this.filter("select").each(function() {
					$(this).ajaxSelect({
						ajax: {
							url: '@Url.Page("/LeadTask/Index", new { area = "ELMS", handler = "Select2Data" })',
						}
					});
				});
				return this;
			};
			var leadtasklistdropdowns = document.getElementsByClassName('SelectLeadTask');
			for ( var i=0; i< leadtasklistdropdowns.length; i++) {
				$("#ActivityHistoryList_"+i+"_LeadTaskId").leadtaskSelect();
			}

			$.fn.clientfeedbackSelect = function() {
				this.filter("select").each(function() {
					$(this).ajaxSelect({
						ajax: {
							url: '@Url.Page("/ClientFeedback/Index", new { area = "ELMS", handler = "Select2Data" })',
						}
					});
				});
				return this;
			};
			var clientfeedbacklistdropdowns = document.getElementsByClassName('SelectClientFeedback');
			for ( var i=0; i< clientfeedbacklistdropdowns.length; i++) {
				$("#ActivityHistoryList_"+i+"_ClientFeedbackId").clientfeedbackSelect();
			}

			$.fn.nextstepSelect = function() {
				this.filter("select").each(function() {
					$(this).ajaxSelect({
						ajax: {
							url: '@Url.Page("/NextStep/Index", new { area = "ELMS", handler = "Select2Data" })',
						}
					});
				});
				return this;
			};
			var nextsteplistdropdowns = document.getElementsByClassName('SelectNextStep');
			for ( var i=0; i< nextsteplistdropdowns.length; i++) {
				$("#ActivityHistoryList_"+i+"_NextStepId").nextstepSelect();
			}

			$.InitializeUnitActivityFieldValidations($('#UnitActivityCount').val());
			$('.RemoveUnitActivityButton ').on( 'click', function () {
				$('#RemoveSubDetailId').val($(this).attr('removeid'));
				$('#AsyncAction').val('RemoveUnitActivity');
				$.triggerPageForm('ChangeFormValue','#PartialLoaderContainer', '#activity-form', InitializeForm);
			});

			$('#btnAddUnitActivity').on( 'click', function () {
				$('#AsyncAction').val('AddUnitActivity');
				$.triggerPageForm('ChangeFormValue','#PartialLoaderContainer', '#activity-form', InitializeForm);
			});

			$.fn.activityhistorySelect = function() {
				this.filter("select").each(function() {
					$(this).ajaxSelect({
						ajax: {
							url: '@Url.Page("/ActivityHistory/Index", new { area = "ELMS", handler = "Select2Data" })',
						}
					});
				});
				return this;
			};
			var activityhistorylistdropdowns = document.getElementsByClassName('SelectActivityHistory');
			for ( var i=0; i< activityhistorylistdropdowns.length; i++) {
				$("#UnitActivityList_"+i+"_ActivityHistoryID").activityhistorySelect();
			}

			$.fn.unitSelect = function() {
				this.filter("select").each(function() {
					$(this).ajaxSelect({
						ajax: {
							url: '@Url.Page("/Unit/Index", new { area = "ELMS", handler = "Select2Data" })',
						}
					});
				});
				return this;
			};
			var unitlistdropdowns = document.getElementsByClassName('SelectUnit');
			for ( var i=0; i< unitlistdropdowns.length; i++) {
				$("#UnitActivityList_"+i+"_UnitID").unitSelect();
			}

			$.fn.leadtaskSelect = function() {
				this.filter("select").each(function() {
					$(this).ajaxSelect({
						ajax: {
							url: '@Url.Page("/LeadTask/Index", new { area = "ELMS", handler = "Select2Data" })',
						}
					});
				});
				return this;
			};
			$("#LeadTaskId").leadtaskSelect();

			$.fn.leadSelect = function() {
				this.filter("select").each(function() {
					$(this).ajaxSelect({
						ajax: {
							url: '@Url.Page("/Lead/Index", new { area = "ELMS", handler = "Select2Data" })',
						}
					});
				});
				return this;
			};
			$("#LeadID").leadSelect();

			$.fn.projectSelect = function() {
				this.filter("select").each(function() {
					$(this).ajaxSelect({
						ajax: {
							url: '@Url.Page("/Project/Index", new { area = "ELMS", handler = "Select2Data" })',
						}
					});
				});
				return this;
			};
			$("#ProjectID").projectSelect();

			$.fn.clientfeedbackSelect = function() {
				this.filter("select").each(function() {
					$(this).ajaxSelect({
						ajax: {
							url: '@Url.Page("/ClientFeedback/Index", new { area = "ELMS", handler = "Select2Data" })',
						}
					});
				});
				return this;
			};
			$("#ClientFeedbackId").clientfeedbackSelect();

			$.fn.nextstepSelect = function() {
				this.filter("select").each(function() {
					$(this).ajaxSelect({
						ajax: {
							url: '@Url.Page("/NextStep/Index", new { area = "ELMS", handler = "Select2Data" })',
						}
					});
				});
				return this;
			};
			$("#NextStepId").nextstepSelect();

		}	
		InitializeForm();
    });
</script>
}