@page
@model ProjectNamePlaceHolder.Web.Pages.MainModulePlaceHolder.IndexModel
@using ProjectNamePlaceHolder.Web.Pages.MainModulePlaceHolder
@{
    ViewData["Title"] = @Resource.LabelMainModulePlaceHolderList;
}
<style>
    body x {
        outline: 1px solid red;
    }
</style>
<form method="get">
    <div class="row toolbar-container">
        <div class="btn-toolbar mb-1 col-sm-6 toolbar-left-panel" role="toolbar">
            <div class="input-group input-group-sm">
                <div class="input-group input-group-sm" data-toggle="tooltip" data-placement="top" title="@Resource.LabelAdd">
                    <a class="input-group-text custom-anchor-button" onclick="@(MainModulePlaceHolderHtmlElementVariables.ShowCreateHandler.JSFunctionTriggerHandler)()" style="cursor:pointer;">
                        <i class="fas fa-plus text-dark"
                           aria-hidden="true"></i><span class="btn-label"> @Resource.LabelAdd</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="btn-toolbar mb-1 col-sm-6 toolbar-right-panel" role="toolbar">
            <div class="col-sm-12" style="margin-right:0px;padding-right:0px;">
                <div class="input-group input-group-sm" style="margin-right:0px;padding-right:0px;float:right;">
                    <div class="input-group-prepend input-group-sm">
                        <button type="submit" class="input-group-text">
                            <i class="fas fa-search text-dark"
                               aria-hidden="true"></i>
                        </button>
                    </div>
                    <input asp-for="SearchKey" class="form-control" placeholder="Search" />
                </div>
            </div>
        </div>
    </div>
</form>
<div id="@MainModulePlaceHolderHtmlElementVariables.MainModulePlaceHolderListingsContainer" class="container-fluid" style="position:relative;min-height:400px;">
    
</div>
@section Scripts {
    @MainModulePlaceHolderHtmlElementVariables.MainModulePlaceHolderModal.CelerSoftFormModal();
    @MainModulePlaceHolderHtmlElementVariables.ShowCreateHandler.CelerSoftShowModalTriggerHandlerGetAjax(modal: MainModulePlaceHolderHtmlElementVariables.MainModulePlaceHolderModal)
    @MainModulePlaceHolderHtmlElementVariables.ShowEditHandler.CelerSoftShowModalTriggerHandlerGetAjax(modal: MainModulePlaceHolderHtmlElementVariables.MainModulePlaceHolderModal)
    @MainModulePlaceHolderHtmlElementVariables.ShowViewHandler.CelerSoftShowModalTriggerHandlerGetAjax(modal: MainModulePlaceHolderHtmlElementVariables.MainModulePlaceHolderModal)
    @MainModulePlaceHolderHtmlElementVariables.ShowDeleteHandler.CelerSoftShowModalTriggerHandlerGetAjax(modal: MainModulePlaceHolderHtmlElementVariables.MainModulePlaceHolderModal)
    @MainModulePlaceHolderHtmlElementVariables.InitializeListHandler.CelerSoftShowModalTriggerHandlerGetAjax(resultType: PageHandlerReturnType.HtmlElement, targetElement: MainModulePlaceHolderHtmlElementVariables.MainModulePlaceHolderListingsContainer, currentModelValues: Model)
<script type="text/javascript">      
        @(MainModulePlaceHolderHtmlElementVariables.InitializeListHandler.JSFunctionTriggerHandler)();
</script>
}
