@using Models
@model ReportViewModel
<input type="hidden" id="ReportQueryFilterCount" value="@Model?.ReportQueryFilterList?.Count" />
<div class="card">
    <h5 class="card-header">
        <span  class="card-header-custom">@Localizer["Query Filter"]</span>
        <a id="btnAddReportQueryFilter" class="btn btnMaterial btn-flat primary semicircle cancel btnAddRemoveSubDetailList" title="@Localizer["Add"]"><i class="fas fa-plus"></i></a>
        <button class="cancel d-none" type="button" id="btnRemoveReportQueryFilter" value="RemoveReportQueryFilter"></button>
    </h5>
    <div class="card-body overflow-auto">
        <table id="subDetailList" class="table table-hover table-bordered table-striped responsive nowrap" width="100%">
            <thead>
                <tr>
                    <th class="d-none"></th>
                    <th>
								@Localizer["Field Name"]
							</th>	
                    <th>
                        @Localizer["Action"]
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model?.ReportQueryFilterList != null)
                {
                    int counter = 0;
                    foreach (var item in Model.ReportQueryFilterList)
                    {
                        <tr>
                            <td class="d-none">
                                <input type="hidden" name="ReportQueryFilterList[@counter].Id" value="@item.Id" />
                                <input type="hidden" name="ReportQueryFilterList[@counter].ReportId" value="@item.ReportId" />
                            </td>
                            <td>
										<input  asp-for="@item.FieldName" name="ReportQueryFilterList[@counter].FieldName" class="form-control" maxlength="255" />
										<span data-valmsg-for="ReportQueryFilterList[@counter].FieldName" asp-validation-for="@item.FieldName" class="text-danger"></span>
										
									</td>
                            <td>
                                <a class="btn btnMaterial btn-flat accent semicircle cancel RemoveReportQueryFilterButton btnAddRemoveSubDetailList" title="@Localizer["Remove ReportQueryFilter"]" removeId="@(item.Id)"><i class="fas fa-trash"></i></a>
                            </td>
                        </tr>
                        counter++;
                    }
                }
            </tbody>
        </table>
    </div>
</div>
