@page
@model EditModel
@{
    ViewData["Title"] = Localizer["Edit Salutation"];
    ViewData["ActiveMainPage"] = "Salutation";
    ViewData["Level1"] = "ELMS";
}
<form id="salutation-form" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="@Model.RemoveSubDetailId" />
    <input type="hidden" asp-for="@Model.AsyncAction" />
    <div id="PartialLoaderContainer">
        <partial name="_InputFieldsPartial" model="Model.Salutation" />
    </div>
    <div id="toolbar-container" class="btn-group" role="group" style="float:right;margin-top:10px;">
        <a asp-page="Index" class="btn btn-secondary" title="@Localizer["Cancel"]"><i class="fas fa-ban"></i></a>
        <button type="submit" class="btn btn-success" title="@Localizer["Save changes"]" style="color:#fff;"><i class="fas fa-save"></i></button>
    </div>
</form>
<a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
    <i class="fas fa-chevron-up"></i>
</a>
@section Scripts {
<partial name="_ValidationScriptsPartial" />
<partial name="_ContactPersonListValidationPartial" model="@Model.Salutation" />

<script asp-add-nonce>
    $(document).ready(function () {
        function InitializeForm()
        {
            $('.DisableSelectDropdown').on('mousedown', function(e) {
                e.preventDefault();
                this.blur();
                window.focus();
            });
            
			$.InitializeContactPersonFieldValidations($('#ContactPersonCount').val());
			$('.RemoveContactPersonButton ').on( 'click', function () {
				$('#RemoveSubDetailId').val($(this).attr('removeid'));
				$('#AsyncAction').val('RemoveContactPerson');
				$.triggerPageForm('ChangeFormValue','#PartialLoaderContainer', '#salutation-form', InitializeForm);
			});

			$('#btnAddContactPerson').on( 'click', function () {
				$('#AsyncAction').val('AddContactPerson');
				$.triggerPageForm('ChangeFormValue','#PartialLoaderContainer', '#salutation-form', InitializeForm);
			});

			$.fn.leadSelect = function() {
				this.filter("select").each(function() {
					$(this).ajaxSelect({
						ajax: {
							url: '@Url.Page("/Lead/Index", new { area = "ELMS", handler = "Select2Data" })',
						}
					});
				});
				return this;
			};
			var leadlistdropdowns = document.getElementsByClassName('SelectLead');
			for ( var i=0; i< leadlistdropdowns.length; i++) {
				$("#ContactPersonList_"+i+"_LeadId").leadSelect();
			}


        }
        InitializeForm();
    });
</script>
}