@page
@model Template.Web.Pages.Template.CreateModel

@{
    ViewData["Title"] = @Resource.LabelAddTemplate;
}
<form method="get">
    <div class="row toolbar-container">
        <div class="btn-toolbar mb-1 col-12" role="toolbar">
            <div class="input-group input-group-sm">
                <div class="input-group input-group-sm" data-toggle="tooltip" data-placement="top" title="@Resource.LabelSave" onclick="JSFunctionSaveConfirmationModal();">
                    <a class="input-group-text custom-anchor-button">
                        <i class="fas fa-save"></i>
                    </a>
                </div>
            </div>
            <div class="vertical-divider"></div>
            <div class="input-group input-group-sm">
                <div class="input-group input-group-sm" data-toggle="tooltip" data-placement="top" title="@Resource.LabelBackToList">
                    <a asp-page="./Index" class="input-group-text custom-anchor-button">
                        <i class="fas fa-backspace"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="" style="margin-top:5px;">
    @if (TempData["Error"] != null)
    {
        <div class="alert alert-danger small alert-dismissible fade show" role="alert">
            <span>@TempData["Error"] </span>
        </div>
    }
    else if (TempData["Success"] != null)
    {
        <div class="alert alert-info small alert-dismissible fade show" role="alert">
            <span>@TempData["Success"]</span>
        </div>
    }
</div>
<div class="row panel-container">
    <div class="col-md-4">
        <form method="post" id="formtemplate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Template.Code" class="control-label small"></label>
                <input asp-for="Template.Code" class="form-control form-control-sm" />
                <span asp-validation-for="Template.Code" class="text-danger small"></span>
            </div>
            <div class="form-group">
                <label asp-for="Template.Name" class="control-label small"></label>
                <input asp-for="Template.Name" class="form-control form-control-sm" />
                <span asp-validation-for="Template.Name" class="text-danger small"></span>
            </div>
            <div class="form-group" style="display:none;">
                <input type="submit" id="btnSave" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="myModal" style="position:fixed;top:20%;">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h6 class="modal-title" style="font-weight:400;">Modal Heading</h6>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                Modal body..
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-toggle="tooltip" data-placement="top" title="@Resource.LabelOk" onclick="$('#btnSave').click();">
                    <i class="fas fa-check"></i>
                </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" data-toggle="tooltip" data-placement="top" title="@Resource.LabelClose">
                    <i class="fas fa-times-circle"></i>
                </button>               
            </div>

        </div>
    </div>
</div>

<style>

</style>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


}
<script type="text/javascript">
    function JSFunctionSaveConfirmationModal() {
        var form = document.getElementById('formtemplate');
        $(form).validate();

        $("#myModal").modal('show');
    }
</script>