@page
@model IndexModel

@section Styles {
<partial name="_DataTableStyles" />
}
@{
    ViewData["Title"] = Localizer["Employee List"];
    ViewData["ActiveMainPage"] = "Employee";
    ViewData["Level1"] = "ProjectPL";
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <table id="employee" class="table table-hover table-bordered table-striped responsive nowrap" width="100%">
                    <thead>
                        <tr>
                            <th>
								@Localizer["DateSample"]
							</th>
							<th>
								@Localizer["RadioButtonSample"]
							</th>
							<th>
								@Localizer["DecimalSample"]
							</th>
							<th>
								@Localizer["IntegerSample"]
							</th>
							<th>
								@Localizer["SampleParent"]
							</th>
							<th>
								@Localizer["Employee Code"]
							</th>
							<th>
								@Localizer["Middle Name"]
							</th>
							<th>
								@Localizer["First Name"]
							</th>
							<th>
								@Localizer["Last Name"]
							</th>
							<th>
								@Localizer["DateTimeSample"]
							</th>
							<th>
								@Localizer["BooleanSample"]
							</th>
							  
							<th>
								@Localizer["Status"]
							</th> 							
                            <th>
                                @Localizer["Actions"]
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
    <i class="fas fa-chevron-up"></i>
</a>
<div id="BatchUploadPartialContainer">
    <partial name="_BatchUpload" model="Model.BatchUpload" />
</div>
@section Scripts {
<partial name="_DataTableScripts" />
<script asp-add-nonce>
    $(document).ready(function () {
        var table = $('#employee').DataTable({
            select: false,
            serverSide: true,
            order: [[ 12, 'desc' ]],
            ajax:
            {
                url: '@Url.Page("/Employee/Index", new { area = "ProjectPL", handler = "ListAll" })',
                type: "POST",
                headers: {
                    RequestVerificationToken:
                        $('input:hidden[name="__RequestVerificationToken"]').val()
                },
            },
			initComplete: function( settings, json ) {
                BindTableRowCollapseEvent();
            },
			columns: [
                { data: "dateSampleFormatted", name: "DateSample", responsivePriority: 1, title: '@Localizer["DateSample"]', searchable: false },
				{ data: "radioButtonSampleFormatted", name: "RadioButtonSample", responsivePriority: 1, title: '@Localizer["RadioButtonSample"]', searchable: false },
				{ data: "decimalSampleFormatted", name: "DecimalSample", responsivePriority: 1, title: '@Localizer["DecimalSample"]', searchable: false },
				{ data: "integerSampleFormatted", name: "IntegerSample", responsivePriority: 1, title: '@Localizer["IntegerSample"]', searchable: false },
                    { data: "sampleParentTestF", name: "SampleParentTestF", responsivePriority: 1, title: '@Localizer["SampleParent"]', searchable: true },
				{ data: "employeeCode", name: "EmployeeCode", responsivePriority: 1, title: '@Localizer["Employee Code"]', searchable: true },
				{ data: "middleName", name: "MiddleName", responsivePriority: 1, title: '@Localizer["Middle Name"]', searchable: true },
				{ data: "firstName", name: "FirstName", responsivePriority: 1, title: '@Localizer["First Name"]', searchable: true },
				{ data: "lastName", name: "LastName", responsivePriority: 1, title: '@Localizer["Last Name"]', searchable: true },
				{ data: "dateTimeSampleFormatted", name: "DateTimeSample", responsivePriority: 1, title: '@Localizer["DateTimeSample"]', searchable: false },
				{ data: "booleanSampleFormatted", name: "BooleanSample", responsivePriority: 1, title: '@Localizer["BooleanSample"]', searchable: false },
				   
				{ data: "statusBadge", name: "StatusBadge", responsivePriority: 1, title: '@Localizer["Approval Status"]', searchable: false, orderable: false },
                {
                    data: null,
                    searchable: false,
                    orderable: false,
                    responsivePriority: 2,
                    width: "10%",
                    render: function (data, type, row, meta) {
                        var url = '@Url.Page("/Employee/Details", new { area = "ProjectPL" })' + '?id=' + row.id;
                        var button = '<a href="' + url + '" class="btn btnMaterial btn-flat primary semicircle btnViewEmployee" title="@Localizer["View"]"><i class="far fa-eye"></i></a>';
                @if ((await AuthorizationService.AuthorizeAsync(User, Permission.Employee.Edit)).Succeeded)
                {
                    <text>
                        url = '@Url.Page("/Employee/Edit", new { area = "ProjectPL" })' + '?id=' + row.id;
                        button =  button + '&nbsp;<a href="' + url + '" class="btn btnMaterial btn-flat success semicircle btnEditEmployee" title="@Localizer["Edit"]"><i class="fas fa-pen"></i></a>';
                    </text>
                }
                @if ((await AuthorizationService.AuthorizeAsync(User, Permission.Employee.Delete)).Succeeded)
                {
                    <text>
                        url = '@Url.Page("/Employee/Delete", new { area = "ProjectPL" })' + '?id=' + row.id;
                        button =  button + '&nbsp;<a href="' + url + '" class="btn btnMaterial btn-flat accent semicircle btnDeleteEmployee" title="@Localizer["Delete"]"><i class="fas fa-trash btnNoBorders"></i></a>';
                    </text>
                }
				@if ((await AuthorizationService.AuthorizeAsync(User, Permission.Employee.Approve)).Succeeded)
				{
					<text>
						url = '@Url.Page("/Employee/Approve", new { area = "ProjectPL" })' + '?id=' + row.id;
						button =  button + '&nbsp;<a href="' + url + '" class="btn btnMaterial btn-flat primary semicircle" title="@Localizer["Approve"]"><i class="fas fa-check"></i></a>';
					</text>
				}  
                @if ((await AuthorizationService.AuthorizeAsync(User, Permission.Employee.History)).Succeeded)
				{
					<text>
						url = '@Url.Page("/Employee/History", new { area = "ProjectPL" })' + '?id=' + row.id;
						button =  button + '&nbsp;<a href="' + url + '" class="btn btnMaterial btn-flat primary semicircle" title="@Localizer["History"]"><i class="fas fa-history"></i></a>';
					</text>
				}  
                        return button;
                    },
                },
                { data: "lastModifiedDate", name: "LastModifiedDate", title: '@Localizer["Last Modified Date"]', visible: false, searchable: false },
                { data: "id", name: "Id", visible: false },
            ],
            buttons: [
        @if ((await AuthorizationService.AuthorizeAsync(User, Permission.Employee.Create)).Succeeded)
        {
            <text>
                {
                    text: '@Localizer["Add"]',
                    action: function (e, dt, button, config) {
                        var url = '@Url.Page("/Employee/Add", new { area = "ProjectPL" })';
                        window.location.href = url;
                    },
                    className: 'btn btn-success text-light',
                },
            </text>
        }
		@if ((await AuthorizationService.AuthorizeAsync(User, Permission.Employee.Upload)).Succeeded)
        {
            <text>
                {
                    text: 'Download Template',
                    action: function () {
                        // Trigger the hidden file input
                        $('#download-template-form').submit();   
                    },
                    className: 'btn btn-secondary text-light',
                },
            </text>
        }
        @if ((await AuthorizationService.AuthorizeAsync(User, Permission.Employee.Upload)).Succeeded)
        {
            <text>
                {
                    text: 'Upload',
                    action: function () {
                        // Trigger the hidden file input
                        $('#btnBatchUpload').click();
                    },
                    className: 'btn btn-info text-light',
                },
            </text>
        }
                'excel', 'pdf', 'pageLength',
            ],
        });
        var debounce = new $.fn.dataTable.Debounce(table); // Add delay to search

        $('.btn-table_filter').on('click', function(e) {
            table.ajax.reload(null, false);
        });
		function BindTableRowCollapseEvent()
        {
            $('#employee tbody').on('click', 'td.dtr-control', function () {
                $.showAjaxLoaderOnClick([".btnAddEmployee",".btnEditEmployee",".btnViewEmployee",".btnDeleteEmployee"]);
            });
        }
        $.showAjaxLoaderOnClick([".btnAddEmployee",".btnEditEmployee",".btnViewEmployee",".btnDeleteEmployee"]);
        $.EnableNavbarSearch(table);
		$('#btnBatchUpload').on('change', function (e) {
            $('#batch-upload-form').submit();          
        });
        @if (!string.IsNullOrEmpty(Model.BatchUpload.BatchUploadFileName))
        {
            <text>
                $('#btnDownloadBatchUploadTemplateLink')[0].click();             
            </text>
        }
    });
</script>
}