@model CTI.FAS.Application.Features.FAS.PaymentTransaction.Models.ESettleModel
@{
    Layout = null;
}

<style>
    body * {
        outline: 1px dashed transparent;
    }
</style>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
</head>
<body style="font-size:10px;font-family:arial;">
    <div class="container-fluid" style="width:100%;display:inline-block;">
        <div style="height:100px;width:10%;float:left;padding:5px;">
            <img src="@Model.LogoFilePath" style="width:100%;" />
        </div>
        <div style="height:100px;width:30%;float:left;padding:5px;">
            <p style="font-size:12px;margin:0px;"><b>@Model.EntityName?.ToUpper()</b></p>
            <p style="margin:0px;margin-top:5px;">@Model.EntityAddress?.ToUpper()</p>
            <p style="margin:0px;">Tel No. 8846-0278</p>@* Todo: Add in masterfile*@
            <p style="margin:0px;">Fax No. 8846-0278</p>@* Todo: Add in masterfile*@
            <p style="margin:0px;">TIN : @Model.EntityTINNumber?.ToUpper()</p>
        </div>
    </div>
    <div class="container-fluid" style="width:100%;display:inline-block;margin-top:30px;">
        <p style="margin:0px;">Dear Sir/Madam,</p>
        <p style="margin-top:20px;">This is to inform you that we have processed your billing with the details below for credit to your <b>EastWest Bank Account No. : @Model.PayeeBankAccountNumber.</b></p>
        <table style="font-size:10px;">
            <tbody>
                <tr>
                    <td style="padding-right:70px;"><b>Creditor Name</b></td>
                    <td>@Model.PayeeName?.ToUpper()</td>
                </tr>
                <tr>
                    <td><b>TIN Number</b></td>
                    <td>@Model.PayeeTINNumber?.ToUpper()</td>
                </tr>
                <tr>
                    <td><b>Billing Description</b></td>
                   <td>@Model.DocumentDescription</td>
                </tr>
                <tr>
                    <td><b>Amount Credited</b></td>
                    <td>@Model.DocumentAmount.ToString("##,##.00")</td>
                </tr>
                <tr>
                    <td><b>Date Processed</b></td>
                   <td>@Model.DocumentDate.ToString("dd/MM/yyyy")</td>
                </tr>
            <tbody>
        </table>

        <table style="font-size:10px;margin-top:30px;">
            <thead style="background:#2E852C;color:#fff;">
                <tr>
                    <th rowspan="2" style="text-align:center;padding:15px;width:150px;">
                        Invoice No.
                    </th>
                    <th colspan="4" style="text-align:center;">
                        GROSS AMOUNT
                    </th>
                    <th colspan="4" style="text-align:center;">
                        DEDUCTIONS AMOUNT
                    </th>
                    <th rowspan="2" style="text-align:center;padding:15px;">
                        Total Net Amount
                    </th>
                </tr>
                <tr>
                    <th style="text-align:center;width:100px;">
                        Base Amount
                    </th>
                    <th style="text-align:center;width:100px;">
                        VAT
                    </th>
                    <th style="text-align:center;width:100px;">
                        EWT
                    </th>
                    <th style="text-align:center;width:100px;">
                        Net Amount
                    </th>
                    <th style="text-align:center;width:100px;">
                        Base Amount
                    </th>
                    <th style="text-align:center;width:100px;">
                        VAT
                    </th>
                    <th style="text-align:center;width:100px;">
                        EWT
                    </th>
                    <th style="text-align:center;width:100px;">
                        Net Amount
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr style="">
                    <td style="padding-top:10px;padding-bottom:10px;"><b>@Model.DocumentNumber</b></td>
                    <td style="text-align:right;padding-top:10px;padding-bottom:10px;"><b>0.00</b></td>
                    <td style="text-align:right;padding-top:10px;padding-bottom:10px;"><b>0.00</b></td>
                    <td style="text-align:right;padding-top:10px;padding-bottom:10px;"><b>0.00</b></td>
                    <td style="text-align:right;padding-top:10px;padding-bottom:10px;"><b>@Model.DocumentAmount.ToString("##,##.00")</b></td>
                    <td style="text-align:right;"><b></b></td>
                    <td style="text-align:right;"><b></b></td>
                    <td style="text-align:right;"><b></b></td>
                    <td style="text-align:right;"><b></b></td>
                    <td style="text-align:right;padding-top:10px;padding-bottom:10px;"><b>@Model.DocumentAmount.ToString("##,##.00")</b></td>
                </tr>
                <tr style="background:#367498;border:none;color:#fff;font-size:12px;">
                    <td colspan="9" style="padding-top:10px;border:none;padding:5px;padding-left:70px;"><b>Grand Total :</b></td>
                    <td colspan="1" style="padding-top:10px;border:none;text-align:right;padding:5px;"><b>@Model.DocumentAmount.ToString("##,##.00")</b></td>
                </tr>
            <tbody>
        </table>
    </div>
    <div class="container-fluid" style="width:100%;display:inline-block;">
        <p>
            Payment will be credited directly to your nominated bank account thru E-Settle within three <b>(3)</b> working days. after submission of the applicable Official Receipt to our Cashier at
            <b>FAI Cashier at @Model.ProcessingGroupLocation</b>. Official Receipts submitted beyond 12:00 p.m. will be deemed to have been received by the next working day. We will also release the BIR Form 2307 upon receipt of your Official Receipt.
        </p>
        <p>
            Please be advised that your failure to submit the required OR may cause delay in the payment processing of your subsequent billings.
        </p>
        <p>
            For payment related concerns, please email @Model.ProcessingGroupEmail
        </p>
        <p>
            Thank you
        </p>
        <p>
            <b>Accounting Department</b>
        </p>
    </div>
</body>
</html>


























