@page
@model IndexModel

@section Styles {
<partial name="_DataTableStyles" />
}
@{
    ViewData["Title"] = Localizer["Custom Schedule List"];
    ViewData["ActiveMainPage"] = "CustomSchedule";
    ViewData["Level1"] = "SQLReportAutoSender";
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <table id="customSchedule" class="table table-hover table-bordered table-striped responsive nowrap" width="100%">
                    <thead>
                        <tr>
                            <th>
								@Localizer["ReportId"]
							</th>
							<th>
								@Localizer["SequenceNumber"]
							</th>
							<th>
								@Localizer["DateTimeSchedule"]
							</th>
							  
														
                            <th>
                                @Localizer["Actions"]
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
    <i class="fas fa-chevron-up"></i>
</a>
@section Scripts {
<partial name="_DataTableScripts" />
<script asp-add-nonce>
    $(document).ready(function () {
        var table = $('#customSchedule').DataTable({
            select: false,
            serverSide: true,
            order: [[ 3, 'desc' ]],
            ajax:
            {
                url: '@Url.Page("/CustomSchedule/Index", new { area = "SQLReportAutoSender", handler = "ListAll" })',
                type: "POST",
                headers: {
                    RequestVerificationToken:
                        $('input:hidden[name="__RequestVerificationToken"]').val()
                },
            },
			initComplete: function( settings, json ) {
                BindTableRowCollapseEvent();
            },
			columns: [
                { data: "reportId", name: "ReportId", responsivePriority: 1, title: '@Localizer["ReportId"]', searchable: false },
				{ data: "sequenceNumber", name: "SequenceNumber", responsivePriority: 1, title: '@Localizer["SequenceNumber"]', searchable: false },
				{ data: "dateTimeSchedule", name: "DateTimeSchedule", responsivePriority: 1, title: '@Localizer["DateTimeSchedule"]', searchable: false },
				   
				
                {
                    data: null,
                    searchable: false,
                    orderable: false,
                    responsivePriority: 2,
                    width: "10%",
                    render: function (data, type, row, meta) {
                        var url = '@Url.Page("/CustomSchedule/Details", new { area = "SQLReportAutoSender" })' + '?id=' + row.id;
                        var button = '<a href="' + url + '" class="btn btn-secondary btnViewCustomSchedule">@Localizer["View"]</a>';
                @if ((await AuthorizationService.AuthorizeAsync(User, Permission.CustomSchedule.Edit)).Succeeded)
                {
                    <text>
                        url = '@Url.Page("/CustomSchedule/Edit", new { area = "SQLReportAutoSender" })' + '?id=' + row.id;
                        button =  button + '&nbsp;<a href="' + url + '" class="btn btn-primary btnEditCustomSchedule">@Localizer["Edit"]</a>';
                    </text>
                }
                @if ((await AuthorizationService.AuthorizeAsync(User, Permission.CustomSchedule.Delete)).Succeeded)
                {
                    <text>
                        url = '@Url.Page("/CustomSchedule/Delete", new { area = "SQLReportAutoSender" })' + '?id=' + row.id;
                        button =  button + '&nbsp;<a href="' + url + '" class="btn btn-danger btnDeleteCustomSchedule">@Localizer["Delete"]</a>';
                    </text>
                }
				   
                        return button;
                    },
                },
                { data: "lastModifiedDate", name: "LastModifiedDate", title: '@Localizer["Last Modified Date"]', visible: false, searchable: false },
                { data: "id", name: "Id", visible: false },
            ],
            buttons: [
        @if ((await AuthorizationService.AuthorizeAsync(User, Permission.CustomSchedule.Create)).Succeeded)
        {
            <text>
                {
                    text: '@Localizer["Add"]',
                    action: function (e, dt, button, config) {
                        var url = '@Url.Page("/CustomSchedule/Add", new { area = "SQLReportAutoSender" })';
                        window.location.href = url;
                    },
                    className: 'btn btn-success',
                },
            </text>
        }
                'excel', 'pdf', 'pageLength',
            ],
        });
        var debounce = new $.fn.dataTable.Debounce(table); // Add delay to search

        $('.btn-table_filter').on('click', function(e) {
            table.ajax.reload(null, false);
        });
		function BindTableRowCollapseEvent()
        {
            $('#customSchedule tbody').on('click', 'td.dtr-control', function () {
                $.showAjaxLoaderOnClick([".btnAddCustomSchedule",".btnEditCustomSchedule",".btnViewCustomSchedule",".btnDeleteCustomSchedule"]);
            });
        }
        $.showAjaxLoaderOnClick([".btnAddCustomSchedule",".btnEditCustomSchedule",".btnViewCustomSchedule",".btnDeleteCustomSchedule"]);
    });
</script>
}