@using Models
@model ProductViewModel
<input type="hidden" id="ProductImageCount" value="@Model?.ProductImageList?.Count" />
<div class="card">
    <h5 class="card-header">
        <span style="background-color: var(--bs-card-cap-bg);">@Localizer["Inventory Images"]</span>
        <a id="btnAddProductImage" class="btn btnMaterial btn-flat primary semicircle cancel" title="@Localizer["Add"]"><i class="fas fa-plus" style="font-size:18px;"></i></a>
        <button class="cancel" type="button" id="btnRemoveProductImage" value="RemoveProductImage" style="display:none;"></button>
    </h5>
    <div class="card-body" style="overflow:auto;">
        <table id="subDetailList" class="table table-hover table-bordered table-striped responsive nowrap" width="100%">
            <thead>
                <tr>
                    <th style="display:none;"></th>
                    <th>
								@Localizer["Path"]
							</th>
							
                    <th>
                        @Localizer["Action"]
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model?.ProductImageList != null)
                {
                    int counter = 0;
                    foreach (var item in Model.ProductImageList)
                    {
                        <tr>
                            <td style="display:none;">
                                <input type="hidden" name="ProductImageList[@counter].Id" value="@item.Id" />
                                <input type="hidden" name="ProductImageList[@counter].ProductId" value="@item.ProductId" />
                            </td>
                            <td>
										<input asp-for="@item.PathForm" name="ProductImageList[@counter].Path" class="file-upload-control" style="display:block" /> @if (!string.IsNullOrEmpty(item.Path)) { <div class="input-group col-md-12" style="padding-left:0px;padding-right:0px;margin-top:10px;"><input asp-for="@item.Path" class="form-control" readonly /><a href="/@WebConstants.UploadFilesPath/@item.Path" class="input-group-text" style="cursor:pointer;background:#28a745;color:#fff;font-weight:700;" target="_blank">@Localizer["View"]</a></div> }
										<span data-valmsg-for="ProductImageList[@counter].PathForm" asp-validation-for="@item.PathForm" class="text-danger"></span>
										
									</td>
									
                            <td>
                                <a class="btn btnMaterial btn-flat accent semicircle cancel RemoveProductImageButton" title="@Localizer["Remove ProductImage"]" removeId="@(item.Id)"><i class="fas fa-trash" style="font-size:18px;"></i></a>
                            </td>
                        </tr>
                        counter++;
                    }
                }
            </tbody>
        </table>
    </div>
</div>
