@using Models
@model ProductViewModel
<input type="hidden" id="PurchaseItemCount" value="@Model?.PurchaseItemList?.Count" />
<div class="card">
    <h5 class="card-header">
        <span style="background-color: var(--bs-card-cap-bg);">@Localizer["Purchase Items"]</span>
        <a id="btnAddPurchaseItem" class="btn btnMaterial btn-flat primary semicircle cancel" title="@Localizer["Add"]"><i class="fas fa-plus" style="font-size:18px;"></i></a>
        <button class="cancel" type="button" id="btnRemovePurchaseItem" value="RemovePurchaseItem" style="display:none;"></button>
    </h5>
    <div class="card-body" style="overflow:auto;">
        <table id="subDetailList" class="table table-hover table-bordered table-striped responsive nowrap" width="100%">
            <thead>
                <tr>
                    <th style="display:none;"></th>
                    <th>
                        @Localizer["Amount"]
                    </th>
                    <th>
                        @Localizer["Quantity"]
                    </th>
                    <th>
                        @Localizer["Remarks"]
                    </th>
                    <th>
                        @Localizer["Supplier Quotation Item"]
                    </th>

                    <th>
                        @Localizer["Action"]
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model?.PurchaseItemList != null)
                {
                    int counter = 0;
                    foreach (var item in Model.PurchaseItemList)
                    {
                        <tr>
                            <td style="display:none;">
                                <input type="hidden" name="PurchaseItemList[@counter].Id" value="@item.Id" />
                                <input type="hidden" name="PurchaseItemList[@counter].ProductId" value="@item.ProductId" />
                            </td>
                            <td>
                                <input asp-for="@item.Amount" name="PurchaseItemList[@counter].Amount" class="form-control" readonly />
                                <span data-valmsg-for="PurchaseItemList[@counter].Amount" asp-validation-for="@item.Amount" class="text-danger"></span>
                                <input type="hidden" asp-for="@item.Amount" name="PurchaseItemList[@counter].Amount" />
                            </td>
                            <td>
                                <input asp-for="@item.Quantity" name="PurchaseItemList[@counter].Quantity" class="form-control" readonly />
                                <span data-valmsg-for="PurchaseItemList[@counter].Quantity" asp-validation-for="@item.Quantity" class="text-danger"></span>
                                <input type="hidden" asp-for="@item.Quantity" name="PurchaseItemList[@counter].Quantity" />
                            </td>
                            <td>
                                <input asp-for="@item.Remarks" name="PurchaseItemList[@counter].Remarks" class="form-control" maxlength="400" readonly />
                                <span data-valmsg-for="PurchaseItemList[@counter].Remarks" asp-validation-for="@item.Remarks" class="text-danger"></span>
                                <input type="hidden" asp-for="@item.Remarks" name="PurchaseItemList[@counter].Remarks" />
                            </td>
                            <td>
                                <input asp-for="@item.ForeignKeySupplierQuotationItem" name="PurchaseItemList[@counter].ForeignKeySupplierQuotationItem" class="form-control" readonly />
                                <span data-valmsg-for="PurchaseItemList[@counter].SupplierQuotationItemId" asp-validation-for="@item.SupplierQuotationItemId" class="text-danger"></span>
                                <input type="hidden" asp-for="@item.SupplierQuotationItemId" name="PurchaseItemList[@counter].SupplierQuotationItemId" />
                            </td>

                            <td>
                                <a class="btn btnMaterial btn-flat accent semicircle cancel RemovePurchaseItemButton" title="@Localizer["Remove PurchaseItem"]" removeId="@(item.Id)"><i class="fas fa-trash" style="font-size:18px;"></i></a>
                            </td>
                        </tr>
                        counter++;
                    }
                }
            </tbody>
        </table>
    </div>
</div>
