@using Models
@model ProductViewModel
<input type="hidden" id="SupplierQuotationItemCount" value="@Model?.SupplierQuotationItemList?.Count" />
<div class="card">
    <h5 class="card-header">
        <span style="background-color: var(--bs-card-cap-bg);">@Localizer["Supplier Quotation Items"]</span>
        <a id="btnAddSupplierQuotationItem" class="btn btnMaterial btn-flat primary semicircle cancel" title="@Localizer["Add"]"><i class="fas fa-plus" style="font-size:18px;"></i></a>
        <button class="cancel" type="button" id="btnRemoveSupplierQuotationItem" value="RemoveSupplierQuotationItem" style="display:none;"></button>
    </h5>
    <div class="card-body" style="overflow:auto;">
        <table id="subDetailList" class="table table-hover table-bordered table-striped responsive nowrap" width="100%">
            <thead>
                <tr>
                    <th style="display:none;"></th>
                    <th>
								@Localizer["Supplier Quotation"]
							</th>
							<th>
								@Localizer["Quantity"]
							</th>
							<th>
								@Localizer["Amount"]
							</th>
							<th>
								@Localizer["Remarks"]
							</th>
							
                    <th>
                        @Localizer["Action"]
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model?.SupplierQuotationItemList != null)
                {
                    int counter = 0;
                    foreach (var item in Model.SupplierQuotationItemList)
                    {
                        <tr>
                            <td style="display:none;">
                                <input type="hidden" name="SupplierQuotationItemList[@counter].Id" value="@item.Id" />
                                <input type="hidden" name="SupplierQuotationItemList[@counter].ProductId" value="@item.ProductId" />
                            </td>
                            <td>
										<input asp-for="@item.ForeignKeySupplierQuotation" name="SupplierQuotationItemList[@counter].ForeignKeySupplierQuotation" class="form-control"  readonly/>
										<span data-valmsg-for="SupplierQuotationItemList[@counter].SupplierQuotationId" asp-validation-for="@item.SupplierQuotationId" class="text-danger"></span>
										<input type="hidden" asp-for="@item.SupplierQuotationId"  name="SupplierQuotationItemList[@counter].SupplierQuotationId"/>
									</td>
									<td>
										<input  asp-for="@item.Quantity" name="SupplierQuotationItemList[@counter].Quantity" class="form-control"  readonly/>
										<span data-valmsg-for="SupplierQuotationItemList[@counter].Quantity" asp-validation-for="@item.Quantity" class="text-danger"></span>
										<input type="hidden" asp-for="@item.Quantity"  name="SupplierQuotationItemList[@counter].Quantity"/>
									</td>
									<td>
										<input  asp-for="@item.Amount" name="SupplierQuotationItemList[@counter].Amount" class="form-control"  readonly/>
										<span data-valmsg-for="SupplierQuotationItemList[@counter].Amount" asp-validation-for="@item.Amount" class="text-danger"></span>
										<input type="hidden" asp-for="@item.Amount"  name="SupplierQuotationItemList[@counter].Amount"/>
									</td>
									<td>
										<input  asp-for="@item.Remarks" name="SupplierQuotationItemList[@counter].Remarks" class="form-control" maxlength="400" />
										<span data-valmsg-for="SupplierQuotationItemList[@counter].Remarks" asp-validation-for="@item.Remarks" class="text-danger"></span>
										
									</td>
									
                            <td>
                                <a class="btn btnMaterial btn-flat accent semicircle cancel RemoveSupplierQuotationItemButton" title="@Localizer["Remove SupplierQuotationItem"]" removeId="@(item.Id)"><i class="fas fa-trash" style="font-size:18px;"></i></a>
                            </td>
                        </tr>
                        counter++;
                    }
                }
            </tbody>
        </table>
    </div>
</div>
