@page
@model NewTransactionsModel

@section Styles {
<partial name="_DataTableStyles" />
}
@{
    ViewData["Title"] = Localizer["New Transactions"];
    ViewData["ActiveMainPage"] = "PaymentTransaction";
    ViewData["Level1"] = "AP";
}
<div class="card">
    <div class="card-header">
        <partial name="_PaymentTransactionTabNavigation" model="@Model.PaymentTransactionTabNavigation" />
    </div>
    <div class="card-body">
        <form role="search" method="get">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <span asp-validation-for="@Model.Entity" class="text-danger" style="display:block;"></span>
            <span asp-validation-for="@Model.PaymentType" class="text-danger" style="display:block;"></span>
            <span asp-validation-for="@Model.AccountTransaction" class="text-danger" style="display:block;"></span>
            <span asp-validation-for="@Model.DateFrom" class="text-danger" style="display:block;"></span>
            <span asp-validation-for="@Model.DateTo" class="text-danger" style="display:block;"></span>
            <nav class="navbar bg-light">
                <div class="container-fluid" style="">
                    <div class="d-flex">
                        <div>
                            <select asp-for="@Model.Entity" class="form-control me-2" asp-items="@(dropdownService.GetCompanyList(Model.Entity))" style="width:740px;">
                                <option value="">- Select Entity -</option>
                            </select>
                        </div>                     
                    </div>
                </div>
                 <div class="container-fluid" style="margin-top:10px;">
                    <div class="d-flex">                     
                        <div style="width:380px;padding-top:7px;margin-left:5px;">
                            <label class="form-check-label" style="min-width:120px;">
                                <b>@Localizer["Payment Type"] : </b>
                            </label>
                            <input class="form-check-input" type="radio" asp-for="@Model.PaymentType" id="PaymentType1" value="@Core.Constants.PaymentType.ESettle" style="width:16px;margin-right:5px;" checked>
                            <label class="form-check-label" style="min-width:70px;">
                                @Core.Constants.PaymentType.ESettle
                            </label>
                            <input class="form-check-input" type="radio" asp-for="@Model.PaymentType" id="PaymentType2" value="@Core.Constants.PaymentType.CheckPrepare" style="width:16px;margin-right:5px;">
                            <label class="form-check-label" style="min-width:120px;">
                                @Core.Constants.PaymentType.CheckPrepare
                            </label>
                        </div>
                        <div style="width:470px;padding-top:7px;">
                            <label class="form-check-label" style="min-width:120px;">
                                <b>@Localizer["Account Transaction"] : </b>
                            </label>
                            <input class="form-check-input" type="radio" asp-for="@Model.AccountTransaction" id="AccountTransaction1" value="@Core.Constants.IFCAConstant.APTransactionClass_Payment" style="width:16px;margin-right:5px;" checked>
                            <label class="form-check-label" style="min-width:70px;">
                                @Core.Constants.IFCAConstant.APTransactionClass_Payment
                            </label>
                            <input class="form-check-input" type="radio" asp-for="@Model.AccountTransaction" id="AccountTransaction2" value="@Core.Constants.IFCAConstant.APTransactionClass_Advances" style="width:16px;margin-right:5px;">
                            <label class="form-check-label" style="min-width:120px;">
                                @Core.Constants.IFCAConstant.APTransactionClass_Advances
                            </label>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" style="margin-top:10px;">
                    <div class="d-flex">
                        <div style="width:470px;padding-top:7px;">
                            <input class="form-control me-2" type="date" asp-for="@Model.DateFrom" style="width:45%;float:left;margin-right:10px;">
                            <input class="form-control me-2" type="date" asp-for="@Model.DateTo" style="width:45%;float:left">
                        </div>
                        <button class="btn btn-outline-success" type="submit" style="width:160px;margin-right:5px;">@Localizer["Retrieve Payment"]</button>
                        @if ((await AuthorizationService.AuthorizeAsync(User, Permission.PaymentTransaction.Generate)).Succeeded && Model.NewPaymentTransactionList.Count() > 0)
                        {
                            <button class="btn btn-outline-success" id="btnTriggerGenerate" type="button" style="width:100px;margin-right:5px;">@Localizer["Generate"]</button>
                        }                       
                        @if (!string.IsNullOrEmpty(Model.DownloadUrl))
                        {
                            <a class="btn btn-outline-success" href="@Model.DownloadUrl" style="width:120px;padding-top:10px;">@Localizer["Download"]</a>
                        }
                    </div>
                </div>
            </nav>
        </form>
        <form id="paymentransaction-generate-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <table id="paymentTransaction" class="table table-hover table-bordered table-striped responsive nowrap" width="100%">
                            <thead>
                                <tr>
                                    <th>
                                        @Localizer["Actions"]
                                    </th>
                                    <th>
                                        @Localizer["Payee"]
                                    </th>
                                    <th>
                                        @Localizer["Document No."]
                                    </th>
                                    <th>
                                        @Localizer["Document Date"]
                                    </th>
                                    <th>
                                        @Localizer["Document Amount."]
                                    </th>
                                    <th>
                                        @Localizer["Payment Type"]
                                    </th>
                                    <th>
                                        @Localizer["Account Transaction"]
                                    </th>
                                    <th>
                                        @Localizer["Status"]
                                    </th>

                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.NewPaymentTransactionList.Count(); i++)
                                {
                                    <tr>
                                        <td>
                                            <div class="form-check m-1">
                                                @if (Model.NewPaymentTransactionList[i].Enabled)
                                                {
                                                    <input type="checkbox" name="NewPaymentTransactionList[@(i)].Enabled" class="form-check-input" value=true checked />
                                                }
                                                else
                                                {
                                                    <input type="checkbox" name="NewPaymentTransactionList[@(i)].Enabled" class="form-check-input" value=true />
                                                }
                                                <input type="hidden" asp-for="@Model.NewPaymentTransactionList[i].Id" />
                                                <input type="hidden" asp-for="@Model.NewPaymentTransactionList[i].ForeignKeyEnrolledPayee" />
                                                <input type="hidden" asp-for="@Model.NewPaymentTransactionList[i].ForeignKeyBatch" />
                                                <input type="hidden" asp-for="@Model.NewPaymentTransactionList[i].DocumentNumber" />
                                                <input type="hidden" asp-for="@Model.NewPaymentTransactionList[i].DocumentDate" />
                                                <input type="hidden" asp-for="@Model.NewPaymentTransactionList[i].DocumentAmount" />
                                                <input type="hidden" asp-for="@Model.NewPaymentTransactionList[i].PaymentType" />
                                                <input type="hidden" asp-for="@Model.NewPaymentTransactionList[i].AccountTransaction" />
                                                <input type="hidden" asp-for="@Model.NewPaymentTransactionList[i].Status" />
                                            </div>
                                        </td>
                                        <td>
                                            @Model.NewPaymentTransactionList[i].ForeignKeyEnrolledPayee
                                        </td>
                                        <td>
                                            @Model.NewPaymentTransactionList[i].DocumentNumber
                                        </td>
                                        <td>
                                            @Model.NewPaymentTransactionList[i].DocumentDate.ToString("MMMM dd, yyyy")
                                        </td>
                                        <td>
                                            @Model.NewPaymentTransactionList[i].DocumentAmount.ToString("##,##.00")
                                        </td>
                                        <td>
                                            @Model.NewPaymentTransactionList[i].PaymentType
                                        </td>
                                        <td>
                                            @Model.NewPaymentTransactionList[i].AccountTransaction
                                        </td>
                                        <td>
                                            @Model.NewPaymentTransactionList[i].Status
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div id="toolbar-container" class="btn-group" role="group" style="float:right;margin-top:10px;display:none;">
                <button type="submit" id="btnGenerate" class="btn btn-success" title="@Localizer["Generate"]" style="color:#fff;"><i class="fas fa-save"></i></button>
            </div>
        </form>
    </div>
    <a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
        <i class="fas fa-chevron-up"></i>
    </a>
</div>
@section Scripts {
<partial name="_DataTableScripts" />
<partial name="_ValidationScriptsPartial" />
<script asp-add-nonce>
    $(document).ready(function () {
        var roles = $("#paymentTransaction").DataTable({
            select: false,
            searching: true,
            paging: true,
            pageLength: 10,
            info: true,
            buttons: [
            ],
            columnDefs: [
                {
                    targets: [1],
                    orderDataType: 'dom-checkbox',
                }
            ]
        });
        $('#paymentransaction-generate-form').onSubmitIncludeAllFieldsFromTable(roles);

        $.fn.companySelect = function() {
            this.filter("select").each(function() {
                $(this).ajaxSelect({
                    ajax: {
                        url: '@Url.Page("/Company/Dropdown", new { area = "FAS", handler = "Select2Data" })',
                    }
                });
            });
            return this;
        };
        $("#Entity").companySelect();
         $('#btnTriggerGenerate').on( 'click', function () {				
			$('#btnGenerate').click();			
		});        
    });
</script>
}