@page
@model SentTransactionsModel

@section Styles {
<partial name="_DataTableStyles" />
}
@{
    ViewData["Title"] = Localizer["Sent Transactions"];
    ViewData["ActiveMainPage"] = "PaymentTransaction";
    ViewData["Level1"] = "AP";
}
<div class="card">
    <div class="card-header">
        <partial name="_PaymentTransactionTabNavigation" model="@Model.PaymentTransactionTabNavigation" />
    </div>
    <div class="card-body">
        <partial name="_PaymentTransactionFilters" model="Model.Filter" />
        <form id="paymentransaction-generate-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <table id="paymentTransaction" class="table table-hover table-bordered table-striped responsive nowrap" width="100%">
                            <thead>
                                <tr>
                                    <th>
                                        @Localizer["Actions"]
                                    </th>
                                    <th>
                                        @Localizer["Batch No."]
                                    </th>
                                    <th>
                                        @Localizer["Payee"]
                                    </th>
                                    <th>
                                        @Localizer["Document No."]
                                    </th>
                                    <th>
                                        @Localizer["Document Date"]
                                    </th>
                                    <th>
                                        @Localizer["Document Amount."]
                                    </th>
                                    <th>
                                        @Localizer["Payment Type"]
                                    </th>
                                    <th>
                                        @Localizer["Account Transaction"]
                                    </th>
                                    <th>
                                        @Localizer["Status"]
                                    </th>

                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.NewPaymentTransactionList.Count(); i++)
                                {
                                    <tr>
                                        <td>
                                            <div class="form-check m-1">
                                                @if (Model.NewPaymentTransactionList[i].Enabled)
                                                {
                                                    <input type="checkbox" name="NewPaymentTransactionList[@(i)].Enabled" class="form-check-input" value=true checked />
                                                }
                                                else
                                                {
                                                    <input type="checkbox" name="NewPaymentTransactionList[@(i)].Enabled" class="form-check-input" value=true />
                                                }
                                                <input type="hidden" asp-for="@Model.NewPaymentTransactionList[i].Id" />
                                                <input type="hidden" asp-for="@Model.NewPaymentTransactionList[i].ForeignKeyEnrolledPayee" />
                                                <input type="hidden" asp-for="@Model.NewPaymentTransactionList[i].ForeignKeyBatch" />
                                                <input type="hidden" asp-for="@Model.NewPaymentTransactionList[i].DocumentNumber" />
                                                <input type="hidden" asp-for="@Model.NewPaymentTransactionList[i].DocumentDate" />
                                                <input type="hidden" asp-for="@Model.NewPaymentTransactionList[i].DocumentAmount" />
                                                <input type="hidden" asp-for="@Model.NewPaymentTransactionList[i].PaymentType" />
                                                <input type="hidden" asp-for="@Model.NewPaymentTransactionList[i].AccountTransaction" />
                                                <input type="hidden" asp-for="@Model.NewPaymentTransactionList[i].Status" />
                                            </div>
                                        </td>
                                        <td>
                                            @Model.NewPaymentTransactionList[i].ForeignKeyBatch
                                        </td>
                                        <td>
                                            @Model.NewPaymentTransactionList[i].ForeignKeyEnrolledPayee
                                        </td>

                                        <td>
                                            @Model.NewPaymentTransactionList[i].DocumentNumber
                                        </td>
                                        <td>
                                            @Model.NewPaymentTransactionList[i].DocumentDate.ToString("MMMM dd, yyyy")
                                        </td>
                                        <td>
                                            @Model.NewPaymentTransactionList[i].DocumentAmount.ToString("##,##.00")
                                        </td>
                                        <td>
                                            @Model.NewPaymentTransactionList[i].PaymentType
                                        </td>
                                        <td>
                                            @Model.NewPaymentTransactionList[i].AccountTransaction
                                        </td>
                                        <td>
                                            @Html.Raw(@CTI.FAS.Web.Helper.PaymentStatusHelper.GetPaymentStatus(Model.NewPaymentTransactionList[i].Status))
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
        <i class="fas fa-chevron-up"></i>
    </a>
</div>
@section Scripts {
<partial name="_DataTableScripts" />
<partial name="_ValidationScriptsPartial" />
<script asp-add-nonce>
    $(document).ready(function () {
        var roles = $("#paymentTransaction").DataTable({
            select: false,
            searching: true,
            paging: true,
            pageLength: 10,
            info: true,
            buttons: [
            ],
            columnDefs: [
                {
                    targets: [1],
                    orderDataType: 'dom-checkbox',
                }
            ]
        });
        $('#paymentransaction-generate-form').onSubmitIncludeAllFieldsFromTable(roles);

        $.fn.companySelect = function() {
            this.filter("select").each(function() {
                $(this).ajaxSelect({
                    ajax: {
                        url: '@Url.Page("/Company/Dropdown", new { area = "FAS", handler = "Select2Data" })',
                    }
                });
            });
            return this;
        };
        $("#Entity").companySelect();
        $.fn.batchSelect = function() {
            this.filter("select").each(function() {
                $(this).ajaxSelect({
                    ajax: {
                        url: '@Url.Page("/Batch/Dropdown", new { area = "FAS", handler = "Select2Data" })' + '&companyId=' + $('#Entity').val() + '&paymentStatus=@CTI.FAS.Core.Constants.PaymentTransactionStatus.Sent'
                    }
                });
            });
            return this;
        };
        $("#BatchId").batchSelect();
        $.fn.bankSelect = function() {
            this.filter("select").each(function() {
                $(this).ajaxSelect({
                    ajax: {
                        url: '@Url.Page("/Bank/Dropdown", new { area = "FAS", handler = "Select2Data" })' + '&companyId=' + $('#Entity').val()
                    }
                });
            });
            return this;
        };
        $("#BankId").bankSelect();
        $('#btnTriggerProcess').on( 'click', function () {
            $('#btnGenerate').click();
        });
        $('#Entity, #BatchId').on( 'change', function () {
            $('#btnRetrieve').click();
        });
    });
</script>
}