@using Models
@model IFCAARLedgerViewModel

<div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-1 row-cols-xl-1 row-cols-xxl-1">
    <div class="col">
	<div class="mb-3">
		<label asp-for="@Model.TenantContractNo" class="form-label fieldrequired"><strong>@Localizer["Tenant Contract No."] :</strong></label>
			<input asp-for="@Model.TenantContractNo" class="form-control" maxlength="20" />
			<span asp-validation-for="@Model.TenantContractNo" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.DocumentNo" class="form-label fieldrequired"><strong>@Localizer["Document No"] :</strong></label>
			<input asp-for="@Model.DocumentNo" class="form-control" maxlength="20" />
			<span asp-validation-for="@Model.DocumentNo" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.DocumentDate" class="form-label "><strong>@Localizer["Document Date"] :</strong></label>
			<input type="date" asp-for="@Model.DocumentDate" class="form-control" />
			<span asp-validation-for="@Model.DocumentDate" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.DocumentDescription" class="form-label fieldrequired"><strong>@Localizer["Document Description"] :</strong></label>
			<input asp-for="@Model.DocumentDescription" class="form-control" maxlength="1000" />
			<span asp-validation-for="@Model.DocumentDescription" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.Mode" class="form-label fieldrequired"><strong>@Localizer["Mode"] :</strong></label>
			<input asp-for="@Model.Mode" class="form-control" maxlength="10" />
			<span asp-validation-for="@Model.Mode" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.LedgerDescription" class="form-label fieldrequired"><strong>@Localizer["Ledger Description"] :</strong></label>
			<input asp-for="@Model.LedgerDescription" class="form-control" maxlength="1000" />
			<span asp-validation-for="@Model.LedgerDescription" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.TransactionWithHoldingTaxAmount" class="form-label "><strong>@Localizer["Transaction Withholding Tax Amount"] :</strong></label>
			<input asp-for="@Model.TransactionWithHoldingTaxAmount" class="form-control"  />
			<span asp-validation-for="@Model.TransactionWithHoldingTaxAmount" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.TransactionType" class="form-label fieldrequired"><strong>@Localizer["Transaction Type"] :</strong></label>
			<input asp-for="@Model.TransactionType" class="form-control" maxlength="20" />
			<span asp-validation-for="@Model.TransactionType" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.TransactionAmount" class="form-label "><strong>@Localizer["Transaction Amount"] :</strong></label>
			<input asp-for="@Model.TransactionAmount" class="form-control"  />
			<span asp-validation-for="@Model.TransactionAmount" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.LotNo" class="form-label fieldrequired"><strong>@Localizer["Lot No"] :</strong></label>
			<input asp-for="@Model.LotNo" class="form-control" maxlength="255" />
			<span asp-validation-for="@Model.LotNo" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.LineNo" class="form-label "><strong>@Localizer["Line No"] :</strong></label>
			<input asp-for="@Model.LineNo" class="form-control"  />
			<span asp-validation-for="@Model.LineNo" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.TaxScheme" class="form-label fieldrequired"><strong>@Localizer["Tax Scheme"] :</strong></label>
			<input asp-for="@Model.TaxScheme" class="form-control" maxlength="20" />
			<span asp-validation-for="@Model.TaxScheme" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.TransactionTaxBaseAmount" class="form-label "><strong>@Localizer["Transaction Tax Base Amount"] :</strong></label>
			<input asp-for="@Model.TransactionTaxBaseAmount" class="form-control"  />
			<span asp-validation-for="@Model.TransactionTaxBaseAmount" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.TransactionTaxAmount" class="form-label "><strong>@Localizer["Transaction Tax Amount"] :</strong></label>
			<input asp-for="@Model.TransactionTaxAmount" class="form-control"  />
			<span asp-validation-for="@Model.TransactionTaxAmount" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.SequenceNo" class="form-label "><strong>@Localizer["Sequence No"] :</strong></label>
			<input asp-for="@Model.SequenceNo" class="form-control"  />
			<span asp-validation-for="@Model.SequenceNo" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.ReferenceNo" class="form-label fieldrequired"><strong>@Localizer["Reference No"] :</strong></label>
			<input asp-for="@Model.ReferenceNo" class="form-control" maxlength="255" />
			<span asp-validation-for="@Model.ReferenceNo" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.TransactionClass" class="form-label fieldrequired"><strong>@Localizer["Transaction Class"] :</strong></label>
			<input asp-for="@Model.TransactionClass" class="form-control" maxlength="255" />
			<span asp-validation-for="@Model.TransactionClass" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.GLAccount" class="form-label fieldrequired"><strong>@Localizer["GLA Account"] :</strong></label>
			<input asp-for="@Model.GLAccount" class="form-control" maxlength="255" />
			<span asp-validation-for="@Model.GLAccount" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.ProjectID" class="form-label "><strong>@Localizer["Project"] :</strong></label>
			<select asp-for="@Model.ProjectID" class="form-control" asp-items="@(dropdownService.GetProjectList(Model.ProjectID))"><option value="">- Select Project -</option></select>
			<span asp-validation-for="@Model.ProjectID" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.TradeName" class="form-label fieldrequired"><strong>@Localizer["Trade Name"] :</strong></label>
			<input asp-for="@Model.TradeName" class="form-control" maxlength="500" />
			<span asp-validation-for="@Model.TradeName" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.TransactionDesc" class="form-label fieldrequired"><strong>@Localizer["Transaction Desc"] :</strong></label>
			<input asp-for="@Model.TransactionDesc" class="form-control" maxlength="500" />
			<span asp-validation-for="@Model.TransactionDesc" class="text-danger"></span>
			
	</div>
</div>

</div>
