@page
@model DetailsModel
@{
    ViewData["Title"] = Localizer["View IFCA AR Ledger"];
    ViewData["ActiveMainPage"] = "IFCAARLedger";
    ViewData["Level1"] = "ELMS";
}
<div class="container-fluid" id="iFCAARLedger-container">
    <input type="hidden" asp-for="@Model.RemoveSubDetailId" />
    <input type="hidden" asp-for="@Model.AsyncAction" />
    <div id="PartialLoaderContainer">
        <partial name="_InputFieldsPartial" model="Model.IFCAARLedger" />
    </div>
</div>
<div id="toolbar-container" class="btn-group" role="group" style="float:right;margin-top:10px;">
    <a asp-page="Index" class="btn btn-secondary" title="@Localizer["Close"]"><i class="fas fa-ban"></i></a>
    @if ((await AuthorizationService.AuthorizeAsync(User, Permission.IFCAARLedger.Create)).Succeeded)
    {
        <a asp-page="Add" class="btn btn-success" title="@Localizer["Add"]" style="color:#fff;"><i class="fas fa-plus"></i></a>
    }
    @if ((await AuthorizationService.AuthorizeAsync(User, Permission.IFCAARLedger.Edit)).Succeeded)
    {
        <a asp-page="Edit" asp-route-id="@Model.IFCAARLedger.Id" class="btn btn-primary" title="@Localizer["Edit"]"><i class="fas fa-pen"></i></a>
    }
    @if ((await AuthorizationService.AuthorizeAsync(User, Permission.IFCAARLedger.Delete)).Succeeded)
    {
        <a asp-page="Delete" asp-route-id="@Model.IFCAARLedger.Id" class="btn btn-danger" title="@Localizer["Delete"]"><i class="fas fa-trash"></i></a>
    }
</div>
<a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
    <i class="fas fa-chevron-up"></i>
</a>
@section Scripts {
<partial name="_DisableFieldsPartial" model="@("iFCAARLedger-container")" />
}