@using Models
@model UnitViewModel
<input type="hidden" id="UnitActivityCount" value="@Model?.UnitActivityList?.Count" />
<div class="card">
    <h5 class="card-header">
        <span style="background-color: var(--bs-card-cap-bg);">@Localizer["Unit Activity"]</span>
        <a id="btnAddUnitActivity" class="btn btnMaterial btn-flat primary semicircle cancel" title="@Localizer["Add"]"><i class="fas fa-plus" style="font-size:18px;"></i></a>
        <button class="cancel" type="button" id="btnRemoveUnitActivity" value="RemoveUnitActivity" style="display:none;"></button>
    </h5>
    <div class="card-body" style="overflow:auto;">
        <table id="subDetailList" class="table table-hover table-bordered table-striped responsive nowrap" width="100%">
            <thead>
                <tr>
                    <th style="display:none;"></th>
                    <th>
								@Localizer["Activity History"]
							</th>
							<th>
								@Localizer["Activity"]
							</th>
							
                    <th>
                        @Localizer["Action"]
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model?.UnitActivityList != null)
                {
                    int counter = 0;
                    foreach (var item in Model.UnitActivityList)
                    {
                        <tr>
                            <td style="display:none;">
                                <input type="hidden" name="UnitActivityList[@counter].Id" value="@item.Id" />
                                <input type="hidden" name="UnitActivityList[@counter].UnitID" value="@item.UnitID" />
                            </td>
                            <td>
										<select asp-for="@item.ActivityHistoryID" id="UnitActivityList_@(counter)_ActivityHistoryID" name="UnitActivityList[@counter].ActivityHistoryID" class="form-control SelectActivityHistory" asp-items="@(dropdownService.GetActivityHistoryList(item.ActivityHistoryID))" >
											<option value="">- Select Activity History -</option>
										</select>
										<span data-valmsg-for="UnitActivityList[@counter].ActivityHistoryID" asp-validation-for="@item.ActivityHistoryID" class="text-danger"></span>
										
									</td>
									<td>
										<select asp-for="@item.ActivityID" id="UnitActivityList_@(counter)_ActivityID" name="UnitActivityList[@counter].ActivityID" class="form-control SelectActivity" asp-items="@(dropdownService.GetActivityList(item.ActivityID))" >
											<option value="">- Select Activity -</option>
										</select>
										<span data-valmsg-for="UnitActivityList[@counter].ActivityID" asp-validation-for="@item.ActivityID" class="text-danger"></span>
										
									</td>
									
                            <td>
                                <a class="btn btnMaterial btn-flat accent semicircle cancel RemoveUnitActivityButton" title="@Localizer["Remove UnitActivity"]" removeId="@(item.Id)"><i class="fas fa-trash" style="font-size:18px;"></i></a>
                            </td>
                        </tr>
                        counter++;
                    }
                }
            </tbody>
        </table>
    </div>
</div>
