@page
@model EditModel
@{
    ViewData["Title"] = Localizer["Edit Unit"];
    ViewData["ActiveMainPage"] = "Unit";
    ViewData["Level1"] = "ELMS";
}
<form id="unit-form" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="@Model.RemoveSubDetailId" />
    <input type="hidden" asp-for="@Model.AsyncAction" />
    <div id="PartialLoaderContainer">
        <partial name="_InputFieldsPartial" model="Model.Unit" />
    </div>
    <div id="toolbar-container" class="btn-group" role="group" style="float:right;margin-top:10px;">
        <a asp-page="Index" class="btn btn-secondary" title="@Localizer["Cancel"]"><i class="fas fa-ban"></i></a>
        <button type="submit" class="btn btn-success" title="@Localizer["Save changes"]" style="color:#fff;"><i class="fas fa-save"></i></button>
    </div>
</form>
<a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
    <i class="fas fa-chevron-up"></i>
</a>
@section Scripts {
<partial name="_ValidationScriptsPartial" />
<partial name="_UnitActivityListValidationPartial" model="@Model.Unit" />
<partial name="_PreSelectedUnitListValidationPartial" model="@Model.Unit" />
<partial name="_UnitOfferedListValidationPartial" model="@Model.Unit" />
<partial name="_UnitOfferedHistoryListValidationPartial" model="@Model.Unit" />

<script asp-add-nonce>
    $(document).ready(function () {
        function InitializeForm()
        {
            $('.DisableSelectDropdown').on('mousedown', function(e) {
                e.preventDefault();
                this.blur();
                window.focus();
            });
            
			$.InitializeUnitActivityFieldValidations($('#UnitActivityCount').val());
			$('.RemoveUnitActivityButton ').on( 'click', function () {
				$('#RemoveSubDetailId').val($(this).attr('removeid'));
				$('#AsyncAction').val('RemoveUnitActivity');
				$.triggerPageForm('ChangeFormValue','#PartialLoaderContainer', '#unit-form', InitializeForm);
			});

			$('#btnAddUnitActivity').on( 'click', function () {
				$('#AsyncAction').val('AddUnitActivity');
				$.triggerPageForm('ChangeFormValue','#PartialLoaderContainer', '#unit-form', InitializeForm);
			});

			$.fn.activitySelect = function() {
				this.filter("select").each(function() {
					$(this).ajaxSelect({
						ajax: {
							url: '@Url.Page("/Activity/Index", new { area = "ELMS", handler = "Select2Data" })',
						}
					});
				});
				return this;
			};
			var activitylistdropdowns = document.getElementsByClassName('SelectActivity');
			for ( var i=0; i< activitylistdropdowns.length; i++) {
				$("#UnitActivityList_"+i+"_ActivityID").activitySelect();
			}

			$.fn.activityhistorySelect = function() {
				this.filter("select").each(function() {
					$(this).ajaxSelect({
						ajax: {
							url: '@Url.Page("/ActivityHistory/Index", new { area = "ELMS", handler = "Select2Data" })',
						}
					});
				});
				return this;
			};
			var activityhistorylistdropdowns = document.getElementsByClassName('SelectActivityHistory');
			for ( var i=0; i< activityhistorylistdropdowns.length; i++) {
				$("#UnitActivityList_"+i+"_ActivityHistoryID").activityhistorySelect();
			}

			$.InitializePreSelectedUnitFieldValidations($('#PreSelectedUnitCount').val());
			$('.RemovePreSelectedUnitButton ').on( 'click', function () {
				$('#RemoveSubDetailId').val($(this).attr('removeid'));
				$('#AsyncAction').val('RemovePreSelectedUnit');
				$.triggerPageForm('ChangeFormValue','#PartialLoaderContainer', '#unit-form', InitializeForm);
			});

			$('#btnAddPreSelectedUnit').on( 'click', function () {
				$('#AsyncAction').val('AddPreSelectedUnit');
				$.triggerPageForm('ChangeFormValue','#PartialLoaderContainer', '#unit-form', InitializeForm);
			});

			$.fn.offeringSelect = function() {
				this.filter("select").each(function() {
					$(this).ajaxSelect({
						ajax: {
							url: '@Url.Page("/Offering/Index", new { area = "ELMS", handler = "Select2Data" })',
						}
					});
				});
				return this;
			};
			var offeringlistdropdowns = document.getElementsByClassName('SelectOffering');
			for ( var i=0; i< offeringlistdropdowns.length; i++) {
				$("#PreSelectedUnitList_"+i+"_OfferingID").offeringSelect();
			}

			$.InitializeUnitOfferedFieldValidations($('#UnitOfferedCount').val());
			$('.RemoveUnitOfferedButton ').on( 'click', function () {
				$('#RemoveSubDetailId').val($(this).attr('removeid'));
				$('#AsyncAction').val('RemoveUnitOffered');
				$.triggerPageForm('ChangeFormValue','#PartialLoaderContainer', '#unit-form', InitializeForm);
			});

			$('#btnAddUnitOffered').on( 'click', function () {
				$('#AsyncAction').val('AddUnitOffered');
				$.triggerPageForm('ChangeFormValue','#PartialLoaderContainer', '#unit-form', InitializeForm);
			});

			$.fn.offeringSelect = function() {
				this.filter("select").each(function() {
					$(this).ajaxSelect({
						ajax: {
							url: '@Url.Page("/Offering/Index", new { area = "ELMS", handler = "Select2Data" })',
						}
					});
				});
				return this;
			};
			var offeringlistdropdowns = document.getElementsByClassName('SelectOffering');
			for ( var i=0; i< offeringlistdropdowns.length; i++) {
				$("#UnitOfferedList_"+i+"_OfferingID").offeringSelect();
			}

			$.InitializeUnitOfferedHistoryFieldValidations($('#UnitOfferedHistoryCount').val());
			$('.RemoveUnitOfferedHistoryButton ').on( 'click', function () {
				$('#RemoveSubDetailId').val($(this).attr('removeid'));
				$('#AsyncAction').val('RemoveUnitOfferedHistory');
				$.triggerPageForm('ChangeFormValue','#PartialLoaderContainer', '#unit-form', InitializeForm);
			});

			$('#btnAddUnitOfferedHistory').on( 'click', function () {
				$('#AsyncAction').val('AddUnitOfferedHistory');
				$.triggerPageForm('ChangeFormValue','#PartialLoaderContainer', '#unit-form', InitializeForm);
			});

			$.fn.offeringhistorySelect = function() {
				this.filter("select").each(function() {
					$(this).ajaxSelect({
						ajax: {
							url: '@Url.Page("/OfferingHistory/Index", new { area = "ELMS", handler = "Select2Data" })',
						}
					});
				});
				return this;
			};
			var offeringhistorylistdropdowns = document.getElementsByClassName('SelectOfferingHistory');
			for ( var i=0; i< offeringhistorylistdropdowns.length; i++) {
				$("#UnitOfferedHistoryList_"+i+"_OfferingHistoryID").offeringhistorySelect();
			}

			$.fn.offeringSelect = function() {
				this.filter("select").each(function() {
					$(this).ajaxSelect({
						ajax: {
							url: '@Url.Page("/Offering/Index", new { area = "ELMS", handler = "Select2Data" })',
						}
					});
				});
				return this;
			};
			var offeringlistdropdowns = document.getElementsByClassName('SelectOffering');
			for ( var i=0; i< offeringlistdropdowns.length; i++) {
				$("#UnitOfferedHistoryList_"+i+"_OfferingID").offeringSelect();
			}

			$.fn.projectSelect = function() {
				this.filter("select").each(function() {
					$(this).ajaxSelect({
						ajax: {
							url: '@Url.Page("/Project/Index", new { area = "ELMS", handler = "Select2Data" })',
						}
					});
				});
				return this;
			};
			$("#ProjectID").projectSelect();


        }
        InitializeForm();
    });
</script>
}