@using Models
@model ContactViewModel

<div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-1 row-cols-xl-1 row-cols-xxl-1">
    <div class="col">
	<div class="mb-3">
		<label asp-for="@Model.LeadID" class="form-label "><strong>@Localizer["Lead"] :</strong></label>
			<select asp-for="@Model.LeadID" class="form-control" asp-items="@(dropdownService.GetLeadList(Model.LeadID))"><option value="">- Select Lead -</option></select>
			<span asp-validation-for="@Model.LeadID" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.ContactType" class="form-label "><strong>@Localizer["Contact Type"] :</strong></label>
			<input asp-for="@Model.ContactType" class="form-control"  />
			<span asp-validation-for="@Model.ContactType" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.ContactDetails" class="form-label fieldrequired"><strong>@Localizer["Contact Details"] :</strong></label>
			<input asp-for="@Model.ContactDetails" class="form-control" maxlength="255" />
			<span asp-validation-for="@Model.ContactDetails" class="text-danger"></span>
			
	</div>
</div>

</div>
