@*@model TenantSales.Web.Models.ReportViewModels.Tenant
    <tr class="ReportBorder ReportItemIndent">
        <td class="ReportBorder" style="cursor:pointer;">
            @Model.TenantName
        </td>
        <td class="ReportBorder" style="cursor:pointer;">
            @Model.OpeningDateFormatted
        </td>
        <td class="ReportBorder Align-Right" style="cursor:pointer;">
            @Model.SalesGrowth.AreaFormatted
        </td>
        @if (Model.TenantLotList.Count <= 1)
        {
            <text>
                <td class="Align-Right ReportBorder" style="cursor:pointer;">
                </td>
            </text>
        }
        else
        {
            <td class="Align-Right ReportBorder" style="cursor:pointer;">
                @foreach (var lotItem in Model.TenantLotList)
                {
                    if (Model.TenantLotList == null)
                    {
                        <text>
                            -
                        </text>
                    }
                    else
                    {
                        <text>
                            @lotItem.AreaFormatted
                        </text>
                    }
                    <br />
                }
            </td>
        }
        <td class="ReportBorder Align-Right" style="cursor:pointer;@if (Model.SalesGrowth.HideColumn.HideJan) { <text>display:none;</text>}">
            @Model.SalesGrowth.JanFormatted
        </td>
        <td class="ReportBorder Align-Right" style="cursor:pointer;@if (Model.SalesGrowth.HideColumn.HideFeb) { <text>display:none;</text>}">
            @Model.SalesGrowth.FebFormatted
        </td>
        <td class="ReportBorder Align-Right" style="cursor:pointer;@if (Model.SalesGrowth.HideColumn.HideMar) { <text>display:none;</text>}">
            @Model.SalesGrowth.MarFormatted
        </td>
        <td class="ReportBorder Align-Right" style="cursor:pointer;@if (Model.SalesGrowth.HideColumn.HideApr) { <text>display:none;</text>}">
            @Model.SalesGrowth.AprFormatted
        </td>
        <td class="ReportBorder Align-Right" style="cursor:pointer;@if (Model.SalesGrowth.HideColumn.HideMay) { <text>display:none;</text>}">
            @Model.SalesGrowth.MayFormatted
        </td>
        <td class="ReportBorder Align-Right" style="cursor:pointer;@if (Model.SalesGrowth.HideColumn.HideJun) { <text>display:none;</text>}">
            @Model.SalesGrowth.JunFormatted
        </td>
        <td class="ReportBorder Align-Right" style="cursor:pointer;@if (Model.SalesGrowth.HideColumn.HideJul) { <text>display:none;</text>}">
            @Model.SalesGrowth.JulFormatted
        </td>
        <td class="ReportBorder Align-Right" style="cursor:pointer;@if (Model.SalesGrowth.HideColumn.HideAug) { <text>display:none;</text>}">
            @Model.SalesGrowth.AugFormatted
        </td>
        <td class="ReportBorder Align-Right" style="cursor:pointer;@if (Model.SalesGrowth.HideColumn.HideSep) { <text>display:none;</text>}">
            @Model.SalesGrowth.SepFormatted
        </td>
        <td class="ReportBorder Align-Right" style="cursor:pointer;@if (Model.SalesGrowth.HideColumn.HideOct) { <text>display:none;</text>}">
            @Model.SalesGrowth.OctFormatted
        </td>
        <td class="ReportBorder Align-Right" style="cursor:pointer;@if (Model.SalesGrowth.HideColumn.HideNov) { <text>display:none;</text>}">
            @Model.SalesGrowth.NovFormatted
        </td>
        <td class="ReportBorder Align-Right" style="cursor:pointer;@if (Model.SalesGrowth.HideColumn.HideDec) { <text>display:none;</text>}">
            @Model.SalesGrowth.DecFormatted
        </td>
        <td class="ReportBorder Align-Right" style="cursor:pointer;">
            @Model.SalesGrowth.CurrentYearYTDFormatted
        </td>
        <td class="ReportBorder Align-Right" style="cursor:pointer;">
            @Model.SalesGrowth.PrevYearYTDFormatted
        </td>
        <td class="ReportBorder Align-Right" style="cursor:pointer;">
            @Model.SalesGrowth.PercentVarianceFormatted
        </td>
        <td class="ReportBorder Align-Right" style="cursor:pointer;">
            @Model.SalesGrowth.PercRentAirConCAMCOverCurrentMonthSalesFormatted
        </td>
        <td class="ReportBorder Align-Right" style="cursor:pointer;">
            @Model.SalesGrowth.PercRentAirConCAMCOverCurrentYTDSalesFormatted
        </td>      
    </tr>*@