@model CTI.TenantSales.PdfGenerator.Models.SalesGrowthDataModel
@{
    Layout = null;
}
<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/rotativareport.css" />
</head>
@if (Model != null)
{
    <body class="ReportBorder">
        <div>
            <div style="page-break-inside:avoid !important;padding:20px;width:100%;" class="ReportBorder">
                <center>
                    <span style="font-size:20px !important;"><b>Sales Growth Performance Report /@Model.ProjectName </b> </span><br />
                    <span style="font-size:20px !important;"><b>Sales / Sqm. - @Model.Year</b> </span><br />
                    <span style="font-size:20px !important;"><b>Reposted Gross Sales - Net of VAT</b> </span>
                </center>
            </div>
            <table class="RotativaReportTable ItemBorder" style="">
                <thead class="ReportBorder">
                    <tr class="">
                        <th class="Report_TableHeader ReportBorder" style="max-width:400px !important;">@Localizer["Merchants"]</th>
                        <th class="Report_TableHeader ReportBorder">@Localizer["Date Opened"]</th>
                        <th class="Report_TableHeader ReportBorder">@Localizer["Area"]</th>
                        <th class="Report_TableHeader ReportBorder">@Localizer["Floor Area"]</th>
                        <th class="Report_TableHeader ReportBorder" style="@if (Model.HideColumn.HideJan) { <text>display:none;</text>}">@Localizer["Jan"]</th>
                        <th class="Report_TableHeader ReportBorder" style="@if (Model.HideColumn.HideFeb) { <text>display:none;</text>}">@Localizer["Feb"]</th>
                        <th class="Report_TableHeader ReportBorder" style="@if (Model.HideColumn.HideMar) { <text>display:none;</text>}">@Localizer["Mar"]</th>
                        <th class="Report_TableHeader ReportBorder" style="@if (Model.HideColumn.HideApr) { <text>display:none;</text>}">@Localizer["Apr"]</th>
                        <th class="Report_TableHeader ReportBorder" style="@if (Model.HideColumn.HideMay) { <text>display:none;</text>}">@Localizer["May"]</th>
                        <th class="Report_TableHeader ReportBorder" style="@if (Model.HideColumn.HideJun) { <text>display:none;</text>}">@Localizer["Jun"]</th>
                        <th class="Report_TableHeader ReportBorder" style="@if (Model.HideColumn.HideJul) { <text>display:none;</text>}">@Localizer["Jul"]</th>
                        <th class="Report_TableHeader ReportBorder" style="@if (Model.HideColumn.HideAug) { <text>display:none;</text>}">@Localizer["Aug"]</th>
                        <th class="Report_TableHeader ReportBorder" style="@if (Model.HideColumn.HideSep) { <text>display:none;</text>}">@Localizer["Sep"]</th>
                        <th class="Report_TableHeader ReportBorder" style="@if (Model.HideColumn.HideOct) { <text>display:none;</text>}">@Localizer["Oct"]</th>
                        <th class="Report_TableHeader ReportBorder" style="@if (Model.HideColumn.HideNov) { <text>display:none;</text>}">@Localizer["Nov"]</th>
                        <th class="Report_TableHeader ReportBorder" style="@if (Model.HideColumn.HideDec) { <text>display:none;</text>}">@Localizer["Dec"]</th>
                        <th class="Report_TableHeader ReportBorder">@Model.Year @Localizer["Ytd"]</th>
                        <th class="Report_TableHeader ReportBorder">@Model.PrevYear @Localizer["Ytd"]/th>
                        <th class="Report_TableHeader ReportBorder">@Localizer["Percent Variance"]</th>
                        <th class="Report_TableHeader ReportBorder">@Localizer["% RENT + CAMC + AC OVER SALES"] @Model.MonthName @Model.Year</th>
                        <th class="Report_TableHeader ReportBorder">@Localizer["% RENT + CAMC + AC OVER SALES"] @Model.MonthName @Model.Year @Localizer["Ytd"]</th>
                    </tr>
                </thead>
                <tbody id="TenantSalesTableContent">

                    @foreach (var themeItem in Model.ThemeList)
                    {
                        if (themeItem.DisplaySalesGrowthByTheme)
                        {
                            <tr class="ReportBorder"><td colspan="21" class="" style="text-transform:uppercase;font-size:28px !important;"><b>Type of Operation : @themeItem.Name</b></td></tr>
                            foreach (var classItem in themeItem.ClassificationList!)
                            {
                                if (classItem.Show)
                                {
                                    foreach (var catItem in classItem.CategoryList!)
                                    {
                                        if (catItem.Show)
                                        {
                                            <tr class="ReportBorder"><td class="ReportBorder" colspan="21" style="text-transform:uppercase;"><b>@catItem.Name</b></td></tr>
                                            @foreach (var tenantSalesGrowthItem in catItem.TenantList!)
                                            {
                                                if (tenantSalesGrowthItem.Show)
                                                {
                                                    @await Html.PartialAsync("..\\SalesGrowth\\Pdf\\SalesGrowthPerformanceReportItem", tenantSalesGrowthItem)
                                                }
                                            }
                                            @await Html.PartialAsync("..\\SalesGrowth\\Pdf\\SalesGrowthPerformanceReportSummary", catItem.SalesGrowthSummary)
                                            <tr class="ReportBorder"><td colspan="21" class="ReportBorder" style="text-transform:uppercase;"></td></tr>
                                        }
                                    }
                                    @await Html.PartialAsync("..\\SalesGrowth\\Pdf\\SalesGrowthPerformanceReportSummary", classItem.SalesGrowthSummary)
                                    <tr class="ReportBorder"><td colspan="21" class="" style="text-transform:uppercase;"></td></tr>
                                    <tr class="ReportBorder"><td colspan="21" class="" style="text-transform:uppercase;"></td></tr>
                                    <tr class="ReportBorder"><td colspan="21" class="" style="text-transform:uppercase;"></td></tr>
                                }
                            }
                        }

                    }
                    @if (Model.ThemeList.Any())
                    {
                        @await Html.PartialAsync("..\\SalesGrowth\\Pdf\\SalesGrowthPerformanceReportSummary", Model.SalesGrowthGrandSummary)
                    }
                </tbody>
            </table>
        </div>
    </body>
}
</html>
