@using Models
@model PLEmployeeViewModel
<input type="hidden" id="PLContactInformationCount" value="@Model?.PLContactInformationList?.Count" />
<div class="card">
    <h5 class="card-header">
        <span style="background-color: var(--bs-card-cap-bg);">@Localizer["PLContact Information"]</span>
        <a id="btnAddPLContactInformation" class="btn btnMaterial btn-flat primary semicircle cancel" title="@Localizer["Add"]"><i class="fas fa-plus" style="font-size:18px;"></i></a>
        <button class="cancel" type="button" id="btnRemovePLContactInformation" value="RemovePLContactInformation" style="display:none;"></button>
    </h5>
    <div class="card-body" style="overflow:auto;">
        <table id="subDetailList" class="table table-hover table-bordered table-striped responsive nowrap" width="100%">
            <thead>
                <tr>
                    <th style="display:none;"></th>
                    <th>
								@Localizer["PL Contact Details"]
							</th>
							
                    <th>
                        @Localizer["Action"]
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model?.PLContactInformationList != null)
                {
                    int counter = 0;
                    foreach (var item in Model.PLContactInformationList)
                    {
                        <tr>
                            <td style="display:none;">
                                <input type="hidden" name="PLContactInformationList[@counter].Id" value="@item.Id" />
                                <input type="hidden" name="PLContactInformationList[@counter].PLEmployeeId" value="@item.PLEmployeeId" />
                            </td>
                            <td>
										<input  asp-for="@item.PLContactDetails" name="PLContactInformationList[@counter].PLContactDetails" class="form-control" maxlength="255" />
										<span data-valmsg-for="PLContactInformationList[@counter].PLContactDetails" asp-validation-for="@item.PLContactDetails" class="text-danger"></span>
										
									</td>
									
                            <td>
                                <a class="btn btnMaterial btn-flat accent semicircle cancel RemovePLContactInformationButton" title="@Localizer["Remove PLContactInformation"]" removeId="@(item.Id)"><i class="fas fa-trash" style="font-size:18px;"></i></a>
                            </td>
                        </tr>
                        counter++;
                    }
                }
            </tbody>
        </table>
    </div>
</div>
