@page
@model AddModel
@{
    ViewData["Title"] = Localizer["Add PL Employee"];
    ViewData["ActiveMainPage"] = "PLEmployee";
    ViewData["Level1"] = "EISPL";
}
<form id="pLEmployee-form" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
	<input type="hidden" asp-for="@Model.RemoveSubDetailId" />
    <input type="hidden" asp-for="@Model.AsyncAction" />
	<div id="PartialLoaderContainer">
        <partial name="_InputFieldsPartial" model="Model.PLEmployee" />
    </div> 
	<div id="toolbar-container" class="btn-group" role="group" style="float:right;margin-top:10px;">
        <a asp-page="Index" id="btnCancelConfirmationModal" class="btn btn-secondary" title="@Localizer["Back"]"><i class="fas fa-arrow-left"></i></a>
        <button type="button" id="btnConfirmationModal" class="btn btn-success" title="@Localizer["Save changes"]" style="color:#fff;"><i class="fas fa-save"></i></button>
    </div>   
</form>
<a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
    <i class="fas fa-chevron-up"></i>
</a>
@section Scripts {
<partial name="_ValidationScriptsPartial" />
<partial name="_PLContactInformationListValidationPartial" model="@Model.PLEmployee" />
<partial name="_PLHealthDeclarationListValidationPartial" model="@Model.PLEmployee" />

<script asp-add-nonce>
    $(document).ready(function () {
		function InitializeForm()
		{			
			$.bindSaveConfirmationModal('Save', '#btnConfirmationModal','#pLEmployee-form');
            $.bindCancelConfirmationModal('Cancel', '#btnCancelConfirmationModal','#pLEmployee-form', 'Do you want to cancel the changes?');
			$('.DisableSelectDropdown').on('mousedown', function(e) {
				e.preventDefault();
				this.blur();
				window.focus();
			});
			
			$.InitializePLContactInformationFieldValidations($('#PLContactInformationCount').val());
			$('.RemovePLContactInformationButton ').on( 'click', function () {
				$('#RemoveSubDetailId').val($(this).attr('removeid'));
				$('#AsyncAction').val('RemovePLContactInformation');
				$.triggerPageForm('ChangeFormValue','#PartialLoaderContainer', '#pLEmployee-form', InitializeForm);
			});

			$('#btnAddPLContactInformation').on( 'click', function () {
				$('#AsyncAction').val('AddPLContactInformation');
				$.triggerPageForm('ChangeFormValue','#PartialLoaderContainer', '#pLEmployee-form', InitializeForm);
			});

			$.InitializePLHealthDeclarationFieldValidations($('#PLHealthDeclarationCount').val());
			$('.RemovePLHealthDeclarationButton ').on( 'click', function () {
				$('#RemoveSubDetailId').val($(this).attr('removeid'));
				$('#AsyncAction').val('RemovePLHealthDeclaration');
				$.triggerPageForm('ChangeFormValue','#PartialLoaderContainer', '#pLEmployee-form', InitializeForm);
			});

			$('#btnAddPLHealthDeclaration').on( 'click', function () {
				$('#AsyncAction').val('AddPLHealthDeclaration');
				$.triggerPageForm('ChangeFormValue','#PartialLoaderContainer', '#pLEmployee-form', InitializeForm);
			});

		}	
		InitializeForm();
    });
</script>
}