@page
@model IndexModel

@section Styles {
<partial name="_DataTableStyles" />
}
@{
    ViewData["Title"] = Localizer["PL Employee List"];
    ViewData["ActiveMainPage"] = "PLEmployee";
    ViewData["Level1"] = "EISPL";
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <table id="pLEmployee" class="table table-hover table-bordered table-striped responsive nowrap" width="100%">
                    <thead>
                        <tr>
                            <th>
								@Localizer["PL First Name"]
							</th>
							<th>
								@Localizer["PL Middle Name"]
							</th>
							<th>
								@Localizer["PL Employee Code"]
							</th>
							<th>
								@Localizer["PL Last Name"]
							</th>
							  
														
                            <th>
                                @Localizer["Actions"]
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
    <i class="fas fa-chevron-up"></i>
</a>
@section Scripts {
<partial name="_DataTableScripts" />
<script asp-add-nonce>
    $(document).ready(function () {
        var table = $('#pLEmployee').DataTable({
            select: false,
            serverSide: true,
            order: [[ 4, 'desc' ]],
            ajax:
            {
                url: '@Url.Page("/PLEmployee/Index", new { area = "EISPL", handler = "ListAll" })',
                type: "POST",
                headers: {
                    RequestVerificationToken:
                        $('input:hidden[name="__RequestVerificationToken"]').val()
                },
            },
			initComplete: function( settings, json ) {
                BindTableRowCollapseEvent();
            },
			columns: [
                { data: "plFirstName", name: "PLFirstName", responsivePriority: 1, title: '@Localizer["PL First Name"]', searchable: true },
				{ data: "plMiddleName", name: "PLMiddleName", responsivePriority: 1, title: '@Localizer["PL Middle Name"]', searchable: true },
				{ data: "plEmployeeCode", name: "PLEmployeeCode", responsivePriority: 1, title: '@Localizer["PL Employee Code"]', searchable: true },
				{ data: "plLastName", name: "PLLastName", responsivePriority: 1, title: '@Localizer["PL Last Name"]', searchable: true },
				   
				
                {
                    data: null,
                    searchable: false,
                    orderable: false,
                    responsivePriority: 2,
                    width: "10%",
                    render: function (data, type, row, meta) {
                        var url = '@Url.Page("/PLEmployee/Details", new { area = "EISPL" })' + '?id=' + row.id;
                        var button = '<a href="' + url + '" class="btn btnMaterial btn-flat primary semicircle btnViewPLEmployee" title="@Localizer["View"]"><i class="far fa-eye"></i></a>';
                @if ((await AuthorizationService.AuthorizeAsync(User, Permission.PLEmployee.Edit)).Succeeded)
                {
                    <text>
                        url = '@Url.Page("/PLEmployee/Edit", new { area = "EISPL" })' + '?id=' + row.id;
                        button =  button + '&nbsp;<a href="' + url + '" class="btn btnMaterial btn-flat success semicircle btnEditPLEmployee" title="@Localizer["Edit"]"><i class="fas fa-pen"></i></a>';
                    </text>
                }
                @if ((await AuthorizationService.AuthorizeAsync(User, Permission.PLEmployee.Delete)).Succeeded)
                {
                    <text>
                        url = '@Url.Page("/PLEmployee/Delete", new { area = "EISPL" })' + '?id=' + row.id;
                        button =  button + '&nbsp;<a href="' + url + '" class="btn btnMaterial btn-flat accent semicircle btnDeletePLEmployee" title="@Localizer["Delete"]"><i class="fas fa-trash btnNoBorders" style="color: #DC3545;"></i></a>';
                    </text>
                }
				  
                        return button;
                    },
                },
                { data: "lastModifiedDate", name: "LastModifiedDate", title: '@Localizer["Last Modified Date"]', visible: false, searchable: false },
                { data: "id", name: "Id", visible: false },
            ],
            buttons: [
        @if ((await AuthorizationService.AuthorizeAsync(User, Permission.PLEmployee.Create)).Succeeded)
        {
            <text>
                {
                    text: '@Localizer["Add"]',
                    action: function (e, dt, button, config) {
                        var url = '@Url.Page("/PLEmployee/Add", new { area = "EISPL" })';
                        window.location.href = url;
                    },
                    className: 'btn btn-success text-light',
                },
            </text>
        }
                'excel', 'pdf', 'pageLength',
            ],
        });
        var debounce = new $.fn.dataTable.Debounce(table); // Add delay to search

        $('.btn-table_filter').on('click', function(e) {
            table.ajax.reload(null, false);
        });
		function BindTableRowCollapseEvent()
        {
            $('#pLEmployee tbody').on('click', 'td.dtr-control', function () {
                $.showAjaxLoaderOnClick([".btnAddPLEmployee",".btnEditPLEmployee",".btnViewPLEmployee",".btnDeletePLEmployee"]);
            });
        }
        $.showAjaxLoaderOnClick([".btnAddPLEmployee",".btnEditPLEmployee",".btnViewPLEmployee",".btnDeletePLEmployee"]);
        $.EnableNavbarSearch(table);
    });
</script>
}