@page
@model ViewModel
@{
    ViewData["Title"] = Localizer["View API"];
    ViewData["ActiveMainPage"] = "APIs";
    ViewData["Level1"] = "Admin";
}
<div class="row">
    <div class="col-12">
        <div class="card card-outline card-primary">
            <div class="card-header d-flex">
                <div class="card-title flex-grow-1">
                    <button class="btn btn-block text-left text-black p-0" type="button" data-card-widget="collapse">
                        <h5>@Localizer["API Info"]</h5>
                    </button>
                </div>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <partial name="_ViewApiDetails" model="Model.Scope" />
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p>
            <a asp-page="Index" class="btn btn-secondary">@Localizer["Close"]</a>
            @if ((await AuthorizationService.AuthorizeAsync(User, Permission.Apis.Create)).Succeeded)
            {
                <a asp-page="Add" class="btn btn-success">@Localizer["Add"]</a>
            }
            @if ((await AuthorizationService.AuthorizeAsync(User, Permission.Apis.Edit)).Succeeded)
            {
                <a asp-page="Edit" asp-route-name="@Model.Scope.Name" class="btn btn-primary">@Localizer["Edit"]</a>
            }
        </p>
    </div>
</div>
<a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
    <i class="fas fa-chevron-up"></i>
</a>