@using Models
@model OfferingHistoryViewModel
<input type="hidden" id="UnitGroupCount" value="@Model?.UnitGroupList?.Count" />
<div class="card">
    <h5 class="card-header">
        <span style="background-color: var(--bs-card-cap-bg);">@Localizer["Unit Group"]</span>
        <a id="btnAddUnitGroup" class="btn btnMaterial btn-flat primary semicircle cancel" title="@Localizer["Add"]"><i class="fas fa-plus" style="font-size:18px;"></i></a>
        <button class="cancel" type="button" id="btnRemoveUnitGroup" value="RemoveUnitGroup" style="display:none;"></button>
    </h5>
    <div class="card-body" style="overflow:auto;">
        <table id="subDetailList" class="table table-hover table-bordered table-striped responsive nowrap" width="100%">
            <thead>
                <tr>
                    <th style="display:none;"></th>
                    <th>
								@Localizer["Units Information"]
							</th>
							<th>
								@Localizer["Lot Area"]
							</th>
							<th>
								@Localizer["Basic Fixed"]
							</th>
							<th>
								@Localizer["Unit Offered"]
							</th>
							<th>
								@Localizer["Is Fixed"]
							</th>
							<th>
								@Localizer["Area Type"]
							</th>
							
                    <th>
                        @Localizer["Action"]
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model?.UnitGroupList != null)
                {
                    int counter = 0;
                    foreach (var item in Model.UnitGroupList)
                    {
                        <tr>
                            <td style="display:none;">
                                <input type="hidden" name="UnitGroupList[@counter].Id" value="@item.Id" />
                                <input type="hidden" name="UnitGroupList[@counter].OfferingHistoryID" value="@item.OfferingHistoryID" />
                            </td>
                            <td>
										<input  asp-for="@item.UnitsInformation" name="UnitGroupList[@counter].UnitsInformation" class="form-control"  />
										<span data-valmsg-for="UnitGroupList[@counter].UnitsInformation" asp-validation-for="@item.UnitsInformation" class="text-danger"></span>
										
									</td>
									<td>
										<input  asp-for="@item.LotArea" name="UnitGroupList[@counter].LotArea" class="form-control"  />
										<span data-valmsg-for="UnitGroupList[@counter].LotArea" asp-validation-for="@item.LotArea" class="text-danger"></span>
										
									</td>
									<td>
										<input  asp-for="@item.BasicFixedMonthlyRent" name="UnitGroupList[@counter].BasicFixedMonthlyRent" class="form-control"  />
										<span data-valmsg-for="UnitGroupList[@counter].BasicFixedMonthlyRent" asp-validation-for="@item.BasicFixedMonthlyRent" class="text-danger"></span>
										
									</td>
									<td>
										<input  asp-for="@item.UnitOfferedHistoryID" name="UnitGroupList[@counter].UnitOfferedHistoryID" class="form-control"  />
										<span data-valmsg-for="UnitGroupList[@counter].UnitOfferedHistoryID" asp-validation-for="@item.UnitOfferedHistoryID" class="text-danger"></span>
										
									</td>
									<td>
										<input asp-for="@item.IsFixedMonthlyRent" name="UnitGroupList[@counter].IsFixedMonthlyRent" class="form-control" />
										<span data-valmsg-for="UnitGroupList[@counter].IsFixedMonthlyRent" asp-validation-for="@item.IsFixedMonthlyRent" class="text-danger"></span>
										
									</td>
									<td>
										<input  asp-for="@item.AreaTypeDescription" name="UnitGroupList[@counter].AreaTypeDescription" class="form-control" maxlength="50" />
										<span data-valmsg-for="UnitGroupList[@counter].AreaTypeDescription" asp-validation-for="@item.AreaTypeDescription" class="text-danger"></span>
										
									</td>
									
                            <td>
                                <a class="btn btnMaterial btn-flat accent semicircle cancel RemoveUnitGroupButton" title="@Localizer["Remove UnitGroup"]" removeId="@(item.Id)"><i class="fas fa-trash" style="font-size:18px;"></i></a>
                            </td>
                        </tr>
                        counter++;
                    }
                }
            </tbody>
        </table>
    </div>
</div>
