@using Models
@model MainModulePlaceHolderViewModel
<input type="hidden" id="SubDetailNamePlaceHolderCount" value="@Model?.SubDetailNamePlaceHolderList?.Count" />
<div class="card">
    <h5 class="card-header">
        <span style="background-color: var(--bs-card-cap-bg);">@Localizer["SubDetailDescriptionPlaceHolder"]</span>
        <a id="btnAddSubDetailNamePlaceHolder" class="btn btnMaterial btn-flat primary semicircle cancel" title="@Localizer["Add"]"><i class="fas fa-plus" style="font-size:18px;"></i></a>
        <button class="cancel" type="button" id="btnRemoveSubDetailNamePlaceHolder" value="RemoveSubDetailNamePlaceHolder" style="display:none;"></button>
    </h5>
    <div class="card-body" style="overflow:auto;">
        <table id="subDetailList" class="table table-hover table-bordered table-striped responsive nowrap" width="100%">
            <thead>
                <tr>
                    <th style="display:none;"></th>
                    Template:[InsertNewSubDetailListDescription]
                    <th>
                        @Localizer["Action"]
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model?.SubDetailNamePlaceHolderList != null)
                {
                    int counter = 0;
                    foreach (var item in Model.SubDetailNamePlaceHolderList)
                    {
                        <tr>
                            <td style="display:none;">
                                <input type="hidden" name="SubDetailNamePlaceHolderList[@counter].Id" value="@item.Id" />
                                <input type="hidden" name="SubDetailNamePlaceHolderList[@counter].SubDetailForeignKeyPlaceHolder" value="@item.SubDetailForeignKeyPlaceHolder" />
                            </td>
                            Template:[InsertNewSubDetailListName]
                            <td>
                                <a class="btn btnMaterial btn-flat accent semicircle cancel RemoveSubDetailNamePlaceHolderButton" title="@Localizer["Remove SubDetailNamePlaceHolder"]" removeId="@(item.Id)"><i class="fas fa-trash" style="font-size:18px;"></i></a>
                            </td>
                        </tr>
                        counter++;
                    }
                }
            </tbody>
        </table>
    </div>
</div>
