@using Models
@model UnitOfferedHistoryViewModel

<div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-1 row-cols-xl-1 row-cols-xxl-1">
    <div class="col">
	<div class="mb-3">
		<label asp-for="@Model.OfferingID" class="form-label "><strong>@Localizer["Offering"] :</strong></label>
			<select asp-for="@Model.OfferingID" class="form-control" asp-items="@(dropdownService.GetOfferingList(Model.OfferingID))"><option value="">- Select Offering -</option></select>
			<span asp-validation-for="@Model.OfferingID" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.UnitID" class="form-label "><strong>@Localizer["Unit"] :</strong></label>
			<select asp-for="@Model.UnitID" class="form-control" asp-items="@(dropdownService.GetUnitList(Model.UnitID))"><option value="">- Select Unit -</option></select>
			<span asp-validation-for="@Model.UnitID" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.LotBudget" class="form-label "><strong>@Localizer["Lot Budget"] :</strong></label>
			<input asp-for="@Model.LotBudget" class="form-control"  />
			<span asp-validation-for="@Model.LotBudget" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.LotArea" class="form-label "><strong>@Localizer["Lot Area"] :</strong></label>
			<input asp-for="@Model.LotArea" class="form-control"  />
			<span asp-validation-for="@Model.LotArea" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.OfferingHistoryID" class="form-label "><strong>@Localizer["Offering History"] :</strong></label>
			<select asp-for="@Model.OfferingHistoryID" class="form-control" asp-items="@(dropdownService.GetOfferingHistoryList(Model.OfferingHistoryID))"><option value="">- Select Offering History -</option></select>
			<span asp-validation-for="@Model.OfferingHistoryID" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.BasicFixedMonthlyRent" class="form-label "><strong>@Localizer["Basic Fixed"] :</strong></label>
			<input asp-for="@Model.BasicFixedMonthlyRent" class="form-control"  />
			<span asp-validation-for="@Model.BasicFixedMonthlyRent" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.PercentageRent" class="form-label "><strong>@Localizer["Percentage Rent"] :</strong></label>
			<input asp-for="@Model.PercentageRent" class="form-control"  />
			<span asp-validation-for="@Model.PercentageRent" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.MinimumMonthlyRent" class="form-label "><strong>@Localizer["Minimum Monthly"] :</strong></label>
			<input asp-for="@Model.MinimumMonthlyRent" class="form-control"  />
			<span asp-validation-for="@Model.MinimumMonthlyRent" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.AnnualIncrement" class="form-label "><strong>@Localizer["Annual Increment"] :</strong></label>
			<input asp-for="@Model.AnnualIncrement" class="form-control"  />
			<span asp-validation-for="@Model.AnnualIncrement" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.AnnualIncrementInformation" class="form-label fieldrequired"><strong>@Localizer["Annual Increment"] :</strong></label>
			<input asp-for="@Model.AnnualIncrementInformation" class="form-control"  />
			<span asp-validation-for="@Model.AnnualIncrementInformation" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.IsFixedMonthlyRent" class="form-label "><strong>@Localizer["Is Fixed"] :</strong></label>
			<input asp-for="@Model.IsFixedMonthlyRent" class="custom-checkbox-label"/>
			<span asp-validation-for="@Model.IsFixedMonthlyRent" class="text-danger"></span>
			
	</div>
</div>

</div>
