@using Models
@model DeliveryViewModel

<div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-1 row-cols-xl-1 row-cols-xxl-1">
@*
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.DeliveryCode" class="form-label fieldrequired"><strong>@Localizer["Delivery Code"] :</strong></label>
			<input asp-for="@Model.DeliveryCode" class="form-control"   readonly/>
			<span asp-validation-for="@Model.DeliveryCode" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.AssignmentCode" class="form-label fieldrequired"><strong>@Localizer["Assignment Code"] :</strong></label>
			<input asp-for="@Model.AssignmentCode" class="form-control"   readonly/>
			<span asp-validation-for="@Model.AssignmentCode" class="text-danger"></span>
			
	</div>
</div>*@
	<div class="col">
		<div class="mb-3">
			<label asp-for="@Model.TaskDescription" class="form-label "><strong>@Localizer["Task Description"] :</strong></label>
			<input asp-for="@Model.TaskDescription" class="form-control" readonly />
			<span asp-validation-for="@Model.TaskDescription" class="text-danger"></span>

		</div>
	</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.DueDate" class="form-label "><strong>@Localizer["Due Date"] :</strong></label>
			<input asp-for="@Model.DueDate" class="form-control"   readonly/>
			<span asp-validation-for="@Model.DueDate" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.DeliveryAttachment" class="form-label fieldrequired"><strong>@Localizer["Delivery Attachment"] :</strong></label>
			<input asp-for="@Model.DeliveryAttachmentForm" class="file-upload-control" /> @if (!string.IsNullOrEmpty(Model.DeliveryAttachment)) { <div class="input-group col-md-12 file-upload-filename"><input asp-for="@Model.DeliveryAttachment" class="form-control" readonly /><a href="/@WebConstants.UploadFilesPath/@Model.DeliveryAttachment" class="input-group-text btn btn-success file-view-button" target="_blank">@Localizer["View"]</a></div> }
			<span asp-validation-for="@Model.DeliveryAttachment" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.Status" class="form-label "><strong>@Localizer["Status"] :</strong></label>
			<input asp-for="@Model.Status" class="form-control" readonly />
			<span asp-validation-for="@Model.Status" class="text-danger"></span>
			
	</div>
</div>
	<div class="col">
		<div class="mb-3">
			<label asp-for="@Model.Remarks" class="form-label "><strong>@Localizer["Remarks"] :</strong></label>
			<input asp-for="@Model.Remarks" class="form-control" readonly />
			<span asp-validation-for="@Model.Remarks" class="text-danger"></span>

		</div>
	</div>

</div>
