@model ProjectNamePlaceHolder.Application.Models.MainModulePlaceHolder.MainModulePlaceHolderModel
@using ProjectNamePlaceHolder.Web.Pages.MainModulePlaceHolder

<form method="get" style="margin-bottom:5px;">
    <div class="row toolbar-container">
        <div class="btn-toolbar mb-1 col-12" role="toolbar">
            <div class="input-group input-group-sm">
                <div class="input-group input-group-sm" data-toggle="tooltip" data-placement="top" title="@Resource.LabelSave" onclick="@(MainModulePlaceHolderHtmlElementVariables.SaveHandler.JSFunctionTriggerHandler)();">
                    <a class="input-group-text custom-anchor-button" href="#">
                        <i class="fas fa-save"></i><span class="btn-label"> @Resource.LabelSave</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</form>
@Html.CelerSoftPromptMessageContainer(MainModulePlaceHolderHtmlElementVariables.MainModulePlaceHolderFormPromptContainer)
<div class="row panel-container">
    <div class="col-md-12">
        <form method="post" id="@MainModulePlaceHolderHtmlElementVariables.MainModulePlaceHolderForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="Id" value="@Model?.Id" />          
            Template:[InsertNewCreateField]             
        </form>
    </div>
</div>


@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
@MainModulePlaceHolderHtmlElementVariables.SaveHandler.CelerSoftTriggerHandlerPostAjax(modal: MainModulePlaceHolderHtmlElementVariables.MainModulePlaceHolderModal,
    promptMessageContainer: @MainModulePlaceHolderHtmlElementVariables.MainModulePlaceHolderFormPromptContainer.Name,
    formName: MainModulePlaceHolderHtmlElementVariables.MainModulePlaceHolderForm,
    confirmationMessage: Resource.PromptMessageSaveConfirmation,
    runJavascriptOnSuccess: MainModulePlaceHolderHtmlElementVariables.InitializeListHandler.JSFunctionTriggerHandler + "();")
<script type="text/javascript">
</script>