@page
@model IndexModel

@section Styles {
<partial name="_DataTableStyles" />
}
@{
	ViewData["Title"] = Localizer["MainModulePlaceHolder List"];
	ViewData["ActiveMainPage"] = "MainModulePlaceHolder";
	ViewData["Level1"] = "AreaPlaceHolder";
}
<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-body">
				<table id="main-table" class="table table-hover table-bordered table-striped responsive nowrap" width="100%">
					<thead>
						<tr>
							<th>
								@Html.DisplayNameFor(model => model.MainModulePlaceHolder.Code)
							</th>							
							<th>
								@Localizer["Actions"]
							</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
</div>
<a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
	<i class="fas fa-chevron-up"></i>
</a>
@section Scripts {
<partial name="_ValidationScriptsPartial" />
<partial name="_DataTableScripts" />
<script asp-add-nonce>
	$(document).ready(function () {
		var table = $('#main-table').DataTable({
			select: false,
			serverSide: true,
			order: [[ 1, 'desc' ]],
			ajax:
			{
				url: '@Url.Page("/MainModulePlaceHolder/Index", new { area = "AreaPlaceHolder", handler = "ListAll" })',
				type: "POST",
				headers: {
					RequestVerificationToken:
						$('input:hidden[name="__RequestVerificationToken"]').val()
				}				
			},
			columns: [
				{ data: "code", name: "Code", responsivePriority: 1 },			
				{
					data: null,
					responsivePriority: 2,
                    width: "10%",
					render: function (data, type, row, meta) {
						var url = '@Url.Page("/MainModulePlaceHolder/Details", new { area = "AreaPlaceHolder" })' + '?id=' + row.id;
						var button = '<a href="' + url + '" class="btn btn-secondary">@Localizer["View"]</a>';
				@if ((await AuthorizationService.AuthorizeAsync(User, Permission.MainModulePlaceHolder.Edit)).Succeeded)
				{
					<text>
						url = '@Url.Page("/MainModulePlaceHolder/Edit", new { area = "AreaPlaceHolder" })' + '?id=' + row.id;
						button =  button + '&nbsp;<a href="' + url + '" class="btn btn-primary">@Localizer["Edit"]</a>';
					</text>
				}
						return button;
					},
				},
				{ data: "lastModifiedDate", name: "LastModifiedDate", title: '@Localizer["Last Modified Date"]', visible: false, searchable: false },
			],
			buttons: [
		@if ((await AuthorizationService.AuthorizeAsync(User, Permission.MainModulePlaceHolder.Create)).Succeeded)
		{
			<text>
				{
					text: '@Localizer["Add"]',
					action: function (e, dt, button, config) {
						var url = '@Url.Page("/MainModulePlaceHolder/Add", new { area = "AreaPlaceHolder" })';
						window.location.href = url;
					},
					className: 'btn btn-success',
				},
			</text>
		}
				'excel', 'pdf', 'pageLength',
			],
		});
		var debounce = new $.fn.dataTable.Debounce(table); // Add delay to search		
	});
</script>
}