@page "/Admin/Users/{Id}/Roles"
@model RolesModel
@section Styles {
<partial name="_DataTableStyles" />
}
@{
    ViewData["Id"] = Model.Id;
    ViewData["Title"] = $"{Model.UserModel!.Name} | " + Localizer["Permissions"].Value;
    ViewData["ActivePage"] = ManageNavPages.Roles;
    ViewData["ActiveMainPage"] = "Users";
}
<h4>@ViewData["Title"]</h4>

<table id="roles-table" class="table table-hover table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Roles!.First().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Roles!.First().Selected)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model.Roles!)
        {
            <tr>
                <td>
                    @role.Name
                </td>
                <td>
                    <div class="form-check m-1">
                        <input asp-for="@role.Selected" class="form-check-input" disabled>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-page="../Index" class="btn btn-secondary">@Localizer["Close"]</a>
@if ((await AuthorizationService.AuthorizeAsync(User, Permission.Users.Edit)).Succeeded)
{
    <a href="/Admin/Users/@(Model.Id)/Roles/Edit" class="btn btn-primary">@Localizer["Edit"]</a>
}

<a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
    <i class="fas fa-chevron-up"></i>
</a>

@section Scripts
{
<partial name="_DataTableScripts" />
<script asp-add-nonce>
    $(document).ready(function () {
        $("#roles-table").DataTable({
            select: false,
        });
    });
</script>
}
