@page
@model IndexModel

@section Styles {
<partial name="_DataTableStyles" />
}
@{
    ViewData["Title"] = Localizer["Tenant Lot List"];
    ViewData["ActiveMainPage"] = "TenantLot";
    ViewData["Level1"] = "TenantSales";
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <table id="tenantLot" class="table table-hover table-bordered table-striped responsive nowrap" width="100%">
                    <thead>
                        <tr>
                            <th>
								@Localizer["Area"]
							</th>
							<th>
								@Localizer["LotNo"]
							</th>
							  
														
                            <th>
                                @Localizer["Actions"]
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
    <i class="fas fa-chevron-up"></i>
</a>
@section Scripts {
<partial name="_DataTableScripts" />
<script asp-add-nonce>
    $(document).ready(function () {
        var table = $('#tenantLot').DataTable({
            select: false,
            serverSide: true,
            order: [[ 2, 'desc' ]],
            ajax:
            {
                url: '@Url.Page("/TenantLot/Index", new { area = "TenantSales", handler = "ListAll" })',
                type: "POST",
                headers: {
                    RequestVerificationToken:
                        $('input:hidden[name="__RequestVerificationToken"]').val()
                },
            },
			initComplete: function( settings, json ) {
                BindTableRowCollapseEvent();
            },
			columns: [
                { data: "area", name: "Area", responsivePriority: 1, title: '@Localizer["Area"]', searchable: false },
				{ data: "lotNo", name: "LotNo", responsivePriority: 1, title: '@Localizer["LotNo"]', searchable: true },
				   
				
                {
                    data: null,
                    searchable: false,
                    orderable: false,
                    responsivePriority: 2,
                    width: "10%",
                    render: function (data, type, row, meta) {
                        var url = '@Url.Page("/TenantLot/Details", new { area = "TenantSales" })' + '?id=' + row.id;
                        var button = '<a href="' + url + '" class="btn btn-secondary btnViewTenantLot">@Localizer["View"]</a>';
                @if ((await AuthorizationService.AuthorizeAsync(User, Permission.TenantLot.Edit)).Succeeded)
                {
                    <text>
                        url = '@Url.Page("/TenantLot/Edit", new { area = "TenantSales" })' + '?id=' + row.id;
                        button =  button + '&nbsp;<a href="' + url + '" class="btn btn-primary btnEditTenantLot">@Localizer["Edit"]</a>';
                    </text>
                }
                @if ((await AuthorizationService.AuthorizeAsync(User, Permission.TenantLot.Delete)).Succeeded)
                {
                    <text>
                        url = '@Url.Page("/TenantLot/Delete", new { area = "TenantSales" })' + '?id=' + row.id;
                        button =  button + '&nbsp;<a href="' + url + '" class="btn btn-danger btnDeleteTenantLot">@Localizer["Delete"]</a>';
                    </text>
                }
				   
                        return button;
                    },
                },
                { data: "lastModifiedDate", name: "LastModifiedDate", title: '@Localizer["Last Modified Date"]', visible: false, searchable: false },
                { data: "id", name: "Id", visible: false },
            ],
            buttons: [
        @if ((await AuthorizationService.AuthorizeAsync(User, Permission.TenantLot.Create)).Succeeded)
        {
            <text>
                {
                    text: '@Localizer["Add"]',
                    action: function (e, dt, button, config) {
                        var url = '@Url.Page("/TenantLot/Add", new { area = "TenantSales" })';
                        window.location.href = url;
                    },
                    className: 'btn btn-success',
                },
            </text>
        }
                'excel', 'pdf', 'pageLength',
            ],
        });
        var debounce = new $.fn.dataTable.Debounce(table); // Add delay to search

        $('.btn-table_filter').on('click', function(e) {
            table.ajax.reload(null, false);
        });
		function BindTableRowCollapseEvent()
        {
            $('#tenantLot tbody').on('click', 'td.dtr-control', function () {
                $.showAjaxLoaderOnClick([".btnAddTenantLot",".btnEditTenantLot",".btnViewTenantLot",".btnDeleteTenantLot"]);
            });
        }
        $.showAjaxLoaderOnClick([".btnAddTenantLot",".btnEditTenantLot",".btnViewTenantLot",".btnDeleteTenantLot"]);
    });
</script>
}