@page
@model EditModel
@{
    ViewData["Title"] = Localizer["Edit Supplier Quotation Items"];
    ViewData["ActiveMainPage"] = "SupplierQuotationItem";
    ViewData["Level1"] = "TurboERP";
}
<form id="supplierQuotationItem-form" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="@Model.RemoveSubDetailId" />
    <input type="hidden" asp-for="@Model.AsyncAction" />
    <div id="PartialLoaderContainer">
        <partial name="_InputFieldsPartial" model="Model.SupplierQuotationItem" />
    </div>
    <div id="toolbar-container" class="btn-group" role="group" style="float:right;margin-top:10px;">
        <a asp-page="Index" class="btn btn-secondary" title="@Localizer["Cancel"]"><i class="fas fa-ban"></i></a>
        <button type="submit" class="btn btn-success" title="@Localizer["Save changes"]" style="color:#fff;"><i class="fas fa-save"></i></button>
    </div>
</form>
<a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
    <i class="fas fa-chevron-up"></i>
</a>
@section Scripts {
<partial name="_ValidationScriptsPartial" />
<partial name="_PurchaseItemListValidationPartial" model="@Model.SupplierQuotationItem" />

<script asp-add-nonce>
    $(document).ready(function () {
        function InitializeForm()
        {
            $('.DisableSelectDropdown').on('mousedown', function(e) {
                e.preventDefault();
                this.blur();
                window.focus();
            });
            
			$.InitializePurchaseItemFieldValidations($('#PurchaseItemCount').val());
			$('.RemovePurchaseItemButton ').on( 'click', function () {
				$('#RemoveSubDetailId').val($(this).attr('removeid'));
				$('#AsyncAction').val('RemovePurchaseItem');
				$.triggerPageForm('ChangeFormValue','#PartialLoaderContainer', '#supplierQuotationItem-form', InitializeForm);
			});

			$('#btnAddPurchaseItem').on( 'click', function () {
				$('#AsyncAction').val('AddPurchaseItem');
				$.triggerPageForm('ChangeFormValue','#PartialLoaderContainer', '#supplierQuotationItem-form', InitializeForm);
			});

			$.fn.productSelect = function() {
				this.filter("select").each(function() {
					$(this).ajaxSelect({
						ajax: {
							url: '@Url.Page("/Product/Index", new { area = "TurboERP", handler = "Select2Data" })',
						}
					});
				});
				return this;
			};
			var productlistdropdowns = document.getElementsByClassName('SelectProduct');
			for ( var i=0; i< productlistdropdowns.length; i++) {
				$("#PurchaseItemList_"+i+"_ProductId").productSelect();
			}

			$.fn.supplierquotationSelect = function() {
				this.filter("select").each(function() {
					$(this).ajaxSelect({
						ajax: {
							url: '@Url.Page("/SupplierQuotation/Index", new { area = "TurboERP", handler = "Select2Data" })',
						}
					});
				});
				return this;
			};
			$("#SupplierQuotationId").supplierquotationSelect();

			$.fn.productSelect = function() {
				this.filter("select").each(function() {
					$(this).ajaxSelect({
						ajax: {
							url: '@Url.Page("/Product/Index", new { area = "TurboERP", handler = "Select2Data" })',
						}
					});
				});
				return this;
			};
			$("#ProductId").productSelect();


        }
        InitializeForm();
    });
</script>
}