@{
    var user = await UserManager.GetUserAsync(User);
}
<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/Index" class="brand-link">
        <img src="https://ui-avatars.com/api/?background=random&rounded=true&name=ProjectNamePlaceHolder" alt="Logo" class="brand-image img-circle elevation-3">
        <span class="brand-text font-weight-light">ProjectNamePlaceHolder</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            @if ((await AuthorizationService.AuthorizeAsync(User, Permission.Admin.View)).Succeeded)
            {
                <li class="nav-item menu-open">
                    <a href="#" class="nav-link">
                        <p>
                            @Localizer["Admin"]
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                    @if ((await AuthorizationService.AuthorizeAsync(User, Permission.Entities.View)).Succeeded)
                    {
                        <li class="nav-item">
                            <a href="/Admin/Entities" class="nav-link @ManageNavPages.PageNavClass(ViewContext, "Entities")">
                                <i class="fas fa-circle nav-icon"></i>
                                <p>@Localizer["Entities"]</p>
                            </a>
                        </li>
                    }
                    @if ((await AuthorizationService.AuthorizeAsync(User, Permission.Roles.View)).Succeeded)
                    {
                        <li class="nav-item">
                            <a href="/Admin/Roles" class="nav-link @ManageNavPages.PageNavClass(ViewContext, "Roles")">
                                <i class="fas fa-circle nav-icon"></i>
                                <p>@Localizer["Roles"]</p>
                            </a>
                        </li>
                    }
                    @if ((await AuthorizationService.AuthorizeAsync(User, Permission.Users.View)).Succeeded)
                    {
                        <li class="nav-item">
                            <a href="/Admin/Users" class="nav-link @ManageNavPages.PageNavClass(ViewContext, "Users")">
                                <i class="fas fa-circle nav-icon"></i>
                                <p>@Localizer["Users"]</p>
                            </a>
                        </li>
                    }
                    @if ((await AuthorizationService.AuthorizeAsync(User, Permission.Apis.View)).Succeeded)
                    {
                        <li class="nav-item">
                            <a href="/Admin/Apis" class="nav-link @ManageNavPages.PageNavClass(ViewContext, "APIs")">
                                <i class="fas fa-circle nav-icon"></i>
                                <p>@Localizer["APIs"]</p>
                            </a>
                        </li>
                    }
                    @if ((await AuthorizationService.AuthorizeAsync(User, Permission.Applications.View)).Succeeded)
                    {
                        <li class="nav-item">
                            <a href="/Admin/Applications" class="nav-link @ManageNavPages.PageNavClass(ViewContext, "Applications")">
                                <i class="fas fa-circle nav-icon"></i>
                                <p>@Localizer["Applications"]</p>
                            </a>
                        </li>
                    }
                    </ul>
                </li>
            }
                <li class="nav-item menu-open">
                    <a href="#" class="nav-link">
                        <p>
                            @Localizer["Projects"]
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                    @if ((await AuthorizationService.AuthorizeAsync(User, Permission.Projects.View)).Succeeded)
                    {
                        <li class="nav-item">
                            <a href="/AreaPlaceHolder/Projects" class="nav-link @ManageNavPages.PageNavClass(ViewContext, "Projects")">
                                <i class="nav-icon fas fa-calendar-alt"></i>
                                <p>
                                    @Localizer["Projects"]
                                </p>
                            </a>
                        </li>
                    }
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
