@using Models
@model TenantPOSSalesViewModel

<div class="col-md-12">
	<label asp-for="@Model.SalesType" class="fieldrequired"></label>
	<input asp-for="@Model.SalesType" class="form-control"   readonly/>
	<span asp-validation-for="@Model.SalesType" class="text-danger"></span>
	
</div>
<div class="col-md-12">
	<label asp-for="@Model.HourCode" class="fieldrequired"></label>
	<input asp-for="@Model.HourCode" class="form-control"   readonly/>
	<span asp-validation-for="@Model.HourCode" class="text-danger"></span>
	
</div>
<div class="col-md-12">
	<label asp-for="@Model.SalesCategory" class=""></label>
	<input asp-for="@Model.SalesCategory" class="form-control" maxlength="20"  readonly/>
	<span asp-validation-for="@Model.SalesCategory" class="text-danger"></span>
	
</div>
<div class="col-md-12">
	<label asp-for="@Model.SalesDate" class="fieldrequired"></label>
	<input type="date" asp-for="@Model.SalesDate" class="form-control"  readonly/>
	<span asp-validation-for="@Model.SalesDate" class="text-danger"></span>
	
</div>
<div class="col-md-12">
	<label asp-for="@Model.IsAutoCompute" class=""></label>
	<input asp-for="@Model.IsAutoCompute" class="custom-checkbox-label"/>
	<span asp-validation-for="@Model.IsAutoCompute" class="text-danger"></span>
	
</div>
<div class="col-md-12">
	<label asp-for="@Model.SalesAmount" class="fieldrequired"></label>
	<input asp-for="@Model.SalesAmount" class="form-control"  />
	<span asp-validation-for="@Model.SalesAmount" class="text-danger"></span>
	
</div>
<div class="col-md-12">
	<label asp-for="@Model.OldAccumulatedTotal" class="fieldrequired"></label>
	<input asp-for="@Model.OldAccumulatedTotal" class="form-control"  />
	<span asp-validation-for="@Model.OldAccumulatedTotal" class="text-danger"></span>
	
</div>
<div class="col-md-12">
	<label asp-for="@Model.NewAccumulatedTotal" class="fieldrequired"></label>
	<input asp-for="@Model.NewAccumulatedTotal" class="form-control"  />
	<span asp-validation-for="@Model.NewAccumulatedTotal" class="text-danger"></span>
	
</div>
<div class="col-md-12">
	<label asp-for="@Model.TaxableSalesAmount" class="fieldrequired"></label>
	<input asp-for="@Model.TaxableSalesAmount" class="form-control"  />
	<span asp-validation-for="@Model.TaxableSalesAmount" class="text-danger"></span>
	
</div>
<div class="col-md-12">
	<label asp-for="@Model.NonTaxableSalesAmount" class="fieldrequired"></label>
	<input asp-for="@Model.NonTaxableSalesAmount" class="form-control"  />
	<span asp-validation-for="@Model.NonTaxableSalesAmount" class="text-danger"></span>
	
</div>
<div class="col-md-12">
	<label asp-for="@Model.SeniorCitizenDiscount" class="fieldrequired"></label>
	<input asp-for="@Model.SeniorCitizenDiscount" class="form-control"  />
	<span asp-validation-for="@Model.SeniorCitizenDiscount" class="text-danger"></span>
	
</div>
<div class="col-md-12">
	<label asp-for="@Model.PromoDiscount" class="fieldrequired"></label>
	<input asp-for="@Model.PromoDiscount" class="form-control"  />
	<span asp-validation-for="@Model.PromoDiscount" class="text-danger"></span>
	
</div>
<div class="col-md-12">
	<label asp-for="@Model.OtherDiscount" class="fieldrequired"></label>
	<input asp-for="@Model.OtherDiscount" class="form-control"  />
	<span asp-validation-for="@Model.OtherDiscount" class="text-danger"></span>
	
</div>
<div class="col-md-12">
	<label asp-for="@Model.RefundDiscount" class="fieldrequired"></label>
	<input asp-for="@Model.RefundDiscount" class="form-control"  />
	<span asp-validation-for="@Model.RefundDiscount" class="text-danger"></span>
	
</div>
<div class="col-md-12">
	<label asp-for="@Model.VoidAmount" class="fieldrequired"></label>
	<input asp-for="@Model.VoidAmount" class="form-control"  />
	<span asp-validation-for="@Model.VoidAmount" class="text-danger"></span>
	
</div>
<div class="col-md-12">
	<label asp-for="@Model.AdjustmentAmount" class="fieldrequired"></label>
	<input asp-for="@Model.AdjustmentAmount" class="form-control"  />
	<span asp-validation-for="@Model.AdjustmentAmount" class="text-danger"></span>
	
</div>
<div class="col-md-12">
	<label asp-for="@Model.TotalServiceCharge" class="fieldrequired"></label>
	<input asp-for="@Model.TotalServiceCharge" class="form-control"  />
	<span asp-validation-for="@Model.TotalServiceCharge" class="text-danger"></span>
	
</div>
<div class="col-md-12">
	<label asp-for="@Model.TotalTax" class="fieldrequired"></label>
	<input asp-for="@Model.TotalTax" class="form-control"  />
	<span asp-validation-for="@Model.TotalTax" class="text-danger"></span>
	
</div>
<div class="col-md-12">
	<label asp-for="@Model.NoOfSalesTransactions" class="fieldrequired"></label>
	<input asp-for="@Model.NoOfSalesTransactions" class="form-control"  />
	<span asp-validation-for="@Model.NoOfSalesTransactions" class="text-danger"></span>
	
</div>
<div class="col-md-12">
	<label asp-for="@Model.NoOfTransactions" class="fieldrequired"></label>
	<input asp-for="@Model.NoOfTransactions" class="form-control"  />
	<span asp-validation-for="@Model.NoOfTransactions" class="text-danger"></span>
	
</div>
<div class="col-md-12">
	<label asp-for="@Model.TotalNetSales" class="fieldrequired"></label>
	<input asp-for="@Model.TotalNetSales" class="form-control"  />
	<span asp-validation-for="@Model.TotalNetSales" class="text-danger"></span>
	
</div>
<div class="col-md-12">
	<label asp-for="@Model.ControlNumber" class="fieldrequired"></label>
	<input asp-for="@Model.ControlNumber" class="form-control"   readonly/>
	<span asp-validation-for="@Model.ControlNumber" class="text-danger"></span>
	
</div>
<div class="col-md-12">
	<label asp-for="@Model.FileName" class=""></label>
	<input asp-for="@Model.FileName" class="form-control" maxlength="100"  readonly/>
	<span asp-validation-for="@Model.FileName" class="text-danger"></span>
	
</div>
<div class="col-md-12">
	<label asp-for="@Model.TenantPOSId" class="fieldrequired"></label>
	<input  asp-for="ForeignKeyTenantPOS" class="form-control"   readonly />
	<span asp-validation-for="@Model.TenantPOSId" class="text-danger"></span>
	<input type="hidden" asp-for="@Model.TenantPOSId"/>
</div>
<div class="col-md-12">
	<label asp-for="@Model.ValidationStatus" class="fieldrequired"></label>
	<input asp-for="@Model.ValidationStatus" class="form-control"   readonly/>
	<span asp-validation-for="@Model.ValidationStatus" class="text-danger"></span>
	
</div>
<div class="col-md-12">
	<label asp-for="@Model.ValidationRemarks" class=""></label>
	<input asp-for="@Model.ValidationRemarks" class="form-control" maxlength="1000"  readonly/>
	<span asp-validation-for="@Model.ValidationRemarks" class="text-danger"></span>
	
</div>
<div class="col-md-12">
	<label asp-for="@Model.AutocalculatedNewAccumulatedTotal" class="fieldrequired"></label>
	<input asp-for="@Model.AutocalculatedNewAccumulatedTotal" class="form-control"   readonly/>
	<span asp-validation-for="@Model.AutocalculatedNewAccumulatedTotal" class="text-danger"></span>
	
</div>
<div class="col-md-12">
	<label asp-for="@Model.AutocalculatedOldAccumulatedTotal" class="fieldrequired"></label>
	<input asp-for="@Model.AutocalculatedOldAccumulatedTotal" class="form-control"   readonly/>
	<span asp-validation-for="@Model.AutocalculatedOldAccumulatedTotal" class="text-danger"></span>
	
</div>

