@using Models
@model TenantPOSSalesViewModel
<input type="hidden" asp-for="@Model.Id" name="Id" />
<input type="hidden" asp-for="@Model.TenantId" />
<input type="hidden" asp-for="@Model.SalesType" />
<input type="hidden" asp-for="@Model.HourCode" />
<input type="hidden" asp-for="@Model.SalesDate" />
<input type="hidden" asp-for="@Model.SalesCategory" />
<input type="hidden" asp-for="@Model.TenantPOSId" />
<input type="hidden" asp-for="@Model.ControlNumber" />
<input type="hidden" asp-for="@Model.FileName" />
<input type="hidden" asp-for="@Model.ValidationStatus" />
<input type="hidden" asp-for="@Model.ValidationRemarks" />
<div class="row">
    <div class="col-12">
        <div class="card card-outline card-primary">
            <div class="card-header d-flex">
                <div class="card-title flex-grow-1">
                    <button class="btn btn-block text-left text-black p-0" type="button" data-card-widget="collapse">
                        <h5>@Localizer["Sales Detail"]</h5>
                    </button>
                </div>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">

                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-lg-6">
                        @Html.ValidationMessageFor(model => model.ValidationStatus, "", new { @class = "text-danger" })
                        <div class="input-group form-group-padding">
                            @if (Model.ValidationStatus == (int)ValidationStatusEnum.Passed)
                            {
                                <text><span style="color:green;">@Localizer["Passed"]</span></text>
                            }
                            else
                            {
                                <text><span style="color:red;">@Localizer["Failed"] : <i style="color:black;font-size:12px;">@Model.ValidationRemarks</i></span></text>
                            }
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-6">
                        <div style="">
                            <div class="col-xs-12 col-sm-12 col-lg-12">
                                <label asp-for="@Model.IsAutoCompute" class=""></label>
                                <input asp-for="@Model.IsAutoCompute" class="custom-checkbox-label" />
                                <span asp-validation-for="@Model.IsAutoCompute" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-6">
                        <div style="padding-bottom:10px;">
                            <div class="col-xs-12 col-sm-12 col-lg-12">
                                <span asp-validation-for="@Model.TotalNetSales" class="text-danger"></span>
                                <div class="input-group form-group-padding">
                                    <div class="input-group-prepend">
                                        <label asp-for="@Model.TotalNetSales" class="input-group-text"></label>
                                    </div>
                                    <input asp-for="@Model.TotalNetSales" class="input-sm form-control" />
                                </div>
                            </div>
                        </div>
                        <div style="padding-bottom:10px;">
                            <div class="col-xs-12 col-sm-12 col-lg-12">
                                <span asp-validation-for="@Model.OldAccumulatedTotal" class="text-danger"></span>
                                <div class="input-group form-group-padding">
                                    <div class="input-group-prepend">
                                        <label asp-for="@Model.OldAccumulatedTotal" class="input-group-text"></label>
                                    </div>
                                    <input asp-for="@Model.OldAccumulatedTotal" class="input-sm form-control" />
                                </div>
                            </div>
                        </div>
                        <div style="padding-bottom:10px;">
                            <div class="col-xs-12 col-sm-12 col-lg-12">
                                <span asp-validation-for="@Model.NewAccumulatedTotal" class="text-danger"></span>
                                <div class="input-group form-group-padding">
                                    <div class="input-group-prepend">
                                        <label asp-for="@Model.NewAccumulatedTotal" class="input-group-text"></label>
                                    </div>
                                    <input asp-for="@Model.NewAccumulatedTotal" class="input-sm form-control" />
                                </div>
                            </div>
                        </div>
                        <div style="padding-bottom:10px;">
                            <div class="col-xs-12 col-sm-12 col-lg-12">
                                <span asp-validation-for="@Model.TaxableSalesAmount" class="text-danger"></span>
                                <div class="input-group form-group-padding">
                                    <div class="input-group-prepend">
                                        <label asp-for="@Model.TaxableSalesAmount" class="input-group-text"></label>
                                    </div>
                                    <input asp-for="@Model.TaxableSalesAmount" class="input-sm form-control" />
                                </div>
                            </div>
                        </div>
                        <div style="padding-bottom:10px;">
                            <div class="col-xs-12 col-sm-12 col-lg-12">
                                <span asp-validation-for="@Model.NonTaxableSalesAmount" class="text-danger"></span>
                                <div class="input-group form-group-padding">
                                    <div class="input-group-prepend">
                                        <label asp-for="@Model.NonTaxableSalesAmount" class="input-group-text"></label>
                                    </div>
                                    <input asp-for="@Model.NonTaxableSalesAmount" class="input-sm form-control" />
                                </div>
                            </div>
                        </div>
                        <div style="padding-bottom:10px;">
                            <div class="col-xs-12 col-sm-12 col-lg-12">
                                <span asp-validation-for="@Model.VoidAmount" class="text-danger"></span>
                                <div class="input-group form-group-padding">
                                    <div class="input-group-prepend">
                                        <label asp-for="@Model.VoidAmount" class="input-group-text"></label>
                                    </div>
                                    <input asp-for="@Model.VoidAmount" class="input-sm form-control" />
                                </div>
                            </div>
                        </div>
                        <div style="padding-bottom:10px;">
                            <div class="col-xs-12 col-sm-12 col-lg-12">
                                <span asp-validation-for="@Model.TotalServiceCharge" class="text-danger"></span>
                                <div class="input-group form-group-padding">
                                    <div class="input-group-prepend">
                                        <label asp-for="@Model.TotalServiceCharge" class="input-group-text"></label>
                                    </div>
                                    <input asp-for="@Model.TotalServiceCharge" class="input-sm form-control" />
                                </div>
                            </div>
                        </div>
                        <div style="padding-bottom:10px;">
                            <div class="col-xs-12 col-sm-12 col-lg-12">
                                <span asp-validation-for="@Model.TotalTax" class="text-danger"></span>
                                <div class="input-group form-group-padding">
                                    <div class="input-group-prepend">
                                        <label asp-for="@Model.TotalTax" class="input-group-text"></label>
                                    </div>
                                    <input asp-for="@Model.TotalTax" class="input-sm form-control" />
                                </div>
                            </div>
                        </div>
                        <div style="padding-bottom:10px;">
                            <div class="col-xs-12 col-sm-12 col-lg-12">
                                <span asp-validation-for="@Model.NoOfSalesTransactions" class="text-danger"></span>
                                <div class="input-group form-group-padding">
                                    <div class="input-group-prepend">
                                        <label asp-for="@Model.NoOfSalesTransactions" class="input-group-text"></label>
                                    </div>
                                    <input asp-for="@Model.NoOfSalesTransactions" class="input-sm form-control" />
                                </div>
                            </div>
                        </div>
                        <div style="padding-bottom:10px;">
                            <div class="col-xs-12 col-sm-12 col-lg-12">
                                <span asp-validation-for="@Model.NoOfTransactions" class="text-danger"></span>
                                <div class="input-group form-group-padding">
                                    <div class="input-group-prepend">
                                        <label asp-for="@Model.NoOfTransactions" class="input-group-text"></label>
                                    </div>
                                    <input asp-for="@Model.NoOfTransactions" class="input-sm form-control" />
                                </div>
                            </div>
                        </div>
                        <div style="padding-bottom:10px;margin-bottom:30px;">
                            <div class="col-xs-12 col-sm-12 col-lg-12">
                                <span><i>@Localizer["Last Updated By"] : @Model.UpdatedByName</i></span><br />
                                <span><i>@Localizer["Date"] : @Model.UpdatedDate</i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-6">
                        <div class="panel-group" style="outline:1px solid #ddd;padding-top:10px;">
                            <center><h5 style="padding-left:15px;"><b>@Localizer["Auto-calculated"]</b></h5></center>
                            <div style="padding-bottom:10px;">
                                <div class="col-xs-12 col-sm-12 col-lg-12">
                                    <div class="input-group form-group-padding">
                                        <div class="input-group-prepend">
                                            <label asp-for="@Model.AutoCalculatedTotalNetSales" class="input-group-text"></label>
                                        </div>
                                        <input asp-for="@Model.AutoCalculatedTotalNetSales" class="input-sm form-control" readonly />
                                    </div>
                                </div>
                            </div>
                            <div style="padding-bottom:10px;">
                                <div class="col-xs-12 col-sm-12 col-lg-12">
                                    <span asp-validation-for="@Model.AutocalculatedOldAccumulatedTotal" class="text-danger"></span>
                                    <div class="input-group form-group-padding">
                                        <div class="input-group-prepend">
                                            <label asp-for="@Model.AutocalculatedOldAccumulatedTotal" class="input-group-text"></label>
                                        </div>
                                        <input asp-for="@Model.AutocalculatedOldAccumulatedTotal" class="input-sm form-control" readonly />
                                    </div>
                                </div>
                            </div>
                            <div style="padding-bottom:10px;">
                                <div class="col-xs-12 col-sm-12 col-lg-12">
                                    <span asp-validation-for="@Model.AutocalculatedNewAccumulatedTotal" class="text-danger"></span>
                                    <div class="input-group form-group-padding">
                                        <div class="input-group-prepend">
                                            <label asp-for="@Model.AutocalculatedNewAccumulatedTotal" class="input-group-text"></label>
                                        </div>
                                        <input asp-for="@Model.AutocalculatedNewAccumulatedTotal" class="input-sm form-control" readonly />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="padding-bottom:10px;">
                            <div class="col-xs-12 col-sm-12 col-lg-12">
                                <span asp-validation-for="@Model.RefundDiscount" class="text-danger"></span>
                                <div class="input-group form-group-padding">
                                    <div class="input-group-prepend">
                                        <label asp-for="@Model.RefundDiscount" class="input-group-text"></label>
                                    </div>
                                    <input asp-for="@Model.RefundDiscount" class="input-sm form-control" />
                                </div>
                            </div>
                        </div>
                        <div style="padding-bottom:10px;">
                            <div class="col-xs-12 col-sm-12 col-lg-12">
                                <span asp-validation-for="@Model.AdjustmentAmount" class="text-danger"></span>
                                <div class="input-group form-group-padding">
                                    <div class="input-group-prepend">
                                        <label asp-for="@Model.AdjustmentAmount" class="input-group-text"></label>
                                    </div>
                                    <input asp-for="@Model.AdjustmentAmount" class="input-sm form-control" />
                                </div>
                            </div>
                        </div>
                        <div style="padding-bottom:10px;">
                            <div class="col-xs-12 col-sm-12 col-lg-12">
                                <span asp-validation-for="@Model.VoidAmount" class="text-danger"></span>
                                <div class="input-group form-group-padding">
                                    <div class="input-group-prepend">
                                        <label asp-for="@Model.VoidAmount" class="input-group-text"></label>
                                    </div>
                                    <input asp-for="@Model.VoidAmount" class="input-sm form-control" />
                                </div>
                            </div>
                        </div>
                        <div style="padding-bottom:10px;">
                            <div class="col-xs-12 col-sm-12 col-lg-12">
                                <span asp-validation-for="@Model.SeniorCitizenDiscount" class="text-danger"></span>
                                <div class="input-group form-group-padding">
                                    <div class="input-group-prepend">
                                        <label asp-for="@Model.SeniorCitizenDiscount" class="input-group-text"></label>
                                    </div>
                                    <input asp-for="@Model.SeniorCitizenDiscount" class="input-sm form-control" />
                                </div>
                            </div>
                        </div>
                        <div style="padding-bottom:10px;">
                            <div class="col-xs-12 col-sm-12 col-lg-12">
                                <span asp-validation-for="@Model.PromoDiscount" class="text-danger"></span>
                                <div class="input-group form-group-padding">
                                    <div class="input-group-prepend">
                                        <label asp-for="@Model.PromoDiscount" class="input-group-text"></label>
                                    </div>
                                    <input asp-for="@Model.PromoDiscount" class="input-sm form-control" />
                                </div>
                            </div>
                        </div>
                        <div style="padding-bottom:10px;">
                            <div class="col-xs-12 col-sm-12 col-lg-12">
                                <span asp-validation-for="@Model.OtherDiscount" class="text-danger"></span>
                                <div class="input-group form-group-padding">
                                    <div class="input-group-prepend">
                                        <label asp-for="@Model.OtherDiscount" class="input-group-text"></label>
                                    </div>
                                    <input asp-for="@Model.OtherDiscount" class="input-sm form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



