@page
@using Models
@model EditModel
@{
    ViewData["Title"] = $"Tenant - {Model.TenantPOSSales.TenantName} - {Model.TenantPOSSales.TenantCode} (Edit Sales)";
    ViewData["ActiveMainPage"] = "Tenant";
    ViewData["Level1"] = "TenantSales";
}
<partial name="_TenantProfileNavigation" model="@(new TenantProfileNavigationModel(Model!.TenantPOSSales!.TenantId!, "SalesItem",
					null,null, Model.TenantPOSSales.SalesCategory,Model.TenantPOSSales.TenantPOSCode,Model.TenantPOSSales.SalesDate))" />
<form id="tenantPOSSales-form" method="post">
    <div class="row">
        <div class="col-12">
            <p>               
                <button type="submit" class="btn btn-success">@Localizer["Save changes"]</button>
            </p>
        </div>
    </div>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="@Model.RemoveSubDetailId" />
    <input type="hidden" asp-for="@Model.AsyncAction" />
    <div id="PartialLoaderContainer">
        <partial name="_InputFieldsPartial" model="Model.TenantPOSSales" />
    </div>
</form>
<a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
    <i class="fas fa-chevron-up"></i>
</a>
@section Scripts {
<partial name="_ValidationScriptsPartial" />

<script asp-add-nonce>
    $(document).ready(function () {
        function InitializeForm()
        {
            $('.DisableSelectDropdown').on('mousedown', function(e) {
                e.preventDefault();
                this.blur();
                window.focus();
            });

            $.fn.tenantposSelect = function() {
                this.filter("select").each(function() {
                    $(this).ajaxSelect({
                        ajax: {
                            url: '@Url.Page("/TenantPOS/Index", new { area = "TenantSales", handler = "Select2Data" })',
                        }
                    });
                });
                return this;
            };
            $("#TenantPOSId").tenantposSelect();

            $.fn.salescategorySelect = function() {
                this.filter("select").each(function() {
                    $(this).ajaxSelect({
                        ajax: {
                            url: '@Url.Page("/SalesCategory/Index", new { area = "TenantSales", handler = "Select2Data" })' + '&tenantId=' + $('#TenantId').val(),
                        }
                    });
                });
                return this;
            };
            $("#SalesCategory").salescategorySelect();

        }
        InitializeForm();
    });
</script>
}