@using Models
@model TenantPOSViewModel

<div class="col-md-6">
	<label asp-for="@Model.Code" class="fieldrequired"></label>
	<input asp-for="@Model.Code" class="form-control" maxlength="255" />
	<span asp-validation-for="@Model.Code" class="text-danger"></span>
	
</div>
<div class="col-md-6">
	<label asp-for="@Model.TenantId" class="fieldrequired"></label>
	<select asp-for="@Model.TenantId" class="form-control" asp-items="@(dropdownService.GetTenantList(Model.TenantId))"><option value="">- Select Tenant -</option></select>
	<span asp-validation-for="@Model.TenantId" class="text-danger"></span>
	
</div>
<div class="col-md-6">
	<label asp-for="@Model.SerialNumber" class=""></label>
	<input asp-for="@Model.SerialNumber" class="form-control" maxlength="255" />
	<span asp-validation-for="@Model.SerialNumber" class="text-danger"></span>
	
</div>
<div class="col-md-6">
	<label asp-for="@Model.IsDisabled" class=""></label>
	<input asp-for="@Model.IsDisabled" class="custom-checkbox-label"/>
	<span asp-validation-for="@Model.IsDisabled" class="text-danger"></span>
	
</div>

