@using Models
@model TaskApproverViewModel

<div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-1 row-cols-xl-1 row-cols-xxl-1">
    <div class="col">
	<div class="mb-3">
		<label asp-for="@Model.ApproverUserId" class="form-label fieldrequired"><strong>@Localizer["Approver"] :</strong></label>
			<input asp-for="@Model.ApproverUserId" class="form-control" maxlength="36" />
			<span asp-validation-for="@Model.ApproverUserId" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.TaskListId" class="form-label fieldrequired"><strong>@Localizer["Task List"] :</strong></label>
			<select asp-for="@Model.TaskListId" class="form-control" asp-items="@(dropdownService.GetTaskListList(Model.TaskListId))"><option value="">- Select Task List -</option></select>
			<span asp-validation-for="@Model.TaskListId" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.ApproverType" class="form-label fieldrequired"><strong>@Localizer["Approver Type"] :</strong></label>
			<input asp-for="@Model.ApproverType" class="form-control"  />
			<span asp-validation-for="@Model.ApproverType" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.IsPrimary" class="form-label "><strong>@Localizer["Is Primary"] :</strong></label>
			<input asp-for="@Model.IsPrimary" class="custom-checkbox-label"/>
			<span asp-validation-for="@Model.IsPrimary" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.Sequence" class="form-label fieldrequired"><strong>@Localizer["Sequence"] :</strong></label>
			<input asp-for="@Model.Sequence" class="form-control"  />
			<span asp-validation-for="@Model.Sequence" class="text-danger"></span>
			
	</div>
</div>

</div>
