@using Models
@model BusinessNatureViewModel

<div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-1 row-cols-xl-1 row-cols-xxl-1">
    <div class="col">
	<div class="mb-3">
		<label asp-for="@Model.BusinessNatureName" class="form-label fieldrequired"><strong>@Localizer["Business Nature Name"] :</strong></label>
			<input asp-for="@Model.BusinessNatureName" class="form-control" maxlength="255" />
			<span asp-validation-for="@Model.BusinessNatureName" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.BusinessNatureCode" class="form-label fieldrequired"><strong>@Localizer["Business Nature Code"] :</strong></label>
			<input asp-for="@Model.BusinessNatureCode" class="form-control" maxlength="255" />
			<span asp-validation-for="@Model.BusinessNatureCode" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.IsDisabled" class="form-label "><strong>@Localizer["Is Disabled"] :</strong></label>
			<input asp-for="@Model.IsDisabled" class="custom-checkbox-label"/>
			<span asp-validation-for="@Model.IsDisabled" class="text-danger"></span>
			
	</div>
</div>

</div>
