@using Models
@model ScopeViewModel
<div class="form-group row">
	<label asp-for="@Model.Name" class="col-md-3 col-form-label"></label>
	<div class="col-md-9">
	@if (string.IsNullOrWhiteSpace(Model.Name))
	{
		<input asp-for="@Model.Name" class="form-control" />
		<span asp-validation-for="@Model.Name" class="text-danger"></span>
		}
	else
	{
		<input asp-for="@Model.Name" class="form-control" readonly />
	}
	</div>
</div>
<div class="form-group row">
	<label asp-for="@Model.DisplayName" class="col-md-3 col-form-label"></label>
	<div class="col-md-9">
		<input asp-for="@Model.DisplayName" class="form-control" />
		<span asp-validation-for="@Model.DisplayName" class="text-danger"></span>
	</div>
</div>
<div class="form-group row">
	<label asp-for="@Model.Resources" class="col-md-3 col-form-label"></label>
	<div class="col-md-9">
		<input asp-for="@Model.Resources" class="form-control" />
		<span asp-validation-for="@Model.Resources" class="text-danger"></span>
	</div>
</div>