@using Models
@model ReportViewModel
<input type="hidden" id="ReportTableJoinParameterCount" value="@Model?.ReportTableJoinParameterList?.Count" />
<div class="card">
    <h5 class="card-header">
        <span  class="card-header-custom">@Localizer["Join Parameter"]</span>
        <a id="btnAddReportTableJoinParameter" class="btn btnMaterial btn-flat primary semicircle cancel btnAddRemoveSubDetailList" title="@Localizer["Add"]"><i class="fas fa-plus"></i></a>
        <button class="cancel d-none" type="button" id="btnRemoveReportTableJoinParameter" value="RemoveReportTableJoinParameter"></button>
    </h5>
    <div class="card-body overflow-auto">
        <table id="subDetailList" class="table table-hover table-bordered table-striped responsive nowrap" width="100%">
            <thead>
                <tr>
                    <th class="d-none"></th>
                    <th>
								@Localizer["Logical Operator"]
							</th>
							<th>
								@Localizer["Table"]
							</th>
							<th>
								@Localizer["Field Name"]
							</th>
							<th>
								@Localizer["Join from Table"]
							</th>
							<th>
								@Localizer["Join from FieldName"]
							</th>
							<th>
								@Localizer["Sequence"]
							</th>
							
                    <th>
                        @Localizer["Action"]
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model?.ReportTableJoinParameterList != null)
                {
                    int counter = 0;
                    foreach (var item in Model.ReportTableJoinParameterList)
                    {
                        <tr>
                            <td class="d-none">
                                <input type="hidden" name="ReportTableJoinParameterList[@counter].Id" value="@item.Id" />
                                <input type="hidden" name="ReportTableJoinParameterList[@counter].ReportId" value="@item.ReportId" />
                            </td>
                            <td>
										<input  asp-for="@item.LogicalOperator" name="ReportTableJoinParameterList[@counter].LogicalOperator" class="form-control" maxlength="50" />
										<span data-valmsg-for="ReportTableJoinParameterList[@counter].LogicalOperator" asp-validation-for="@item.LogicalOperator" class="text-danger"></span>
										
									</td>
									<td>
										<select asp-for="@item.TableId" id="ReportTableJoinParameterList_@(counter)_TableId" name="ReportTableJoinParameterList[@counter].TableId" class="form-control SelectReportTable" asp-items="@(dropdownService.GetReportTableList(item.TableId))" >
											<option value="">- Select Table -</option>
										</select>
										<span data-valmsg-for="ReportTableJoinParameterList[@counter].TableId" asp-validation-for="@item.TableId" class="text-danger"></span>
										
									</td>
									<td>
										<input  asp-for="@item.FieldName" name="ReportTableJoinParameterList[@counter].FieldName" class="form-control" maxlength="255" />
										<span data-valmsg-for="ReportTableJoinParameterList[@counter].FieldName" asp-validation-for="@item.FieldName" class="text-danger"></span>
										
									</td>
									<td>
										<input  asp-for="@item.JoinFromTableId" name="ReportTableJoinParameterList[@counter].JoinFromTableId" class="form-control"  />
										<span data-valmsg-for="ReportTableJoinParameterList[@counter].JoinFromTableId" asp-validation-for="@item.JoinFromTableId" class="text-danger"></span>
										
									</td>
									<td>
										<input  asp-for="@item.JoinFromFieldName" name="ReportTableJoinParameterList[@counter].JoinFromFieldName" class="form-control" maxlength="255" />
										<span data-valmsg-for="ReportTableJoinParameterList[@counter].JoinFromFieldName" asp-validation-for="@item.JoinFromFieldName" class="text-danger"></span>
										
									</td>
									<td>
										<input  asp-for="@item.Sequence" name="ReportTableJoinParameterList[@counter].Sequence" class="form-control"  />
										<span data-valmsg-for="ReportTableJoinParameterList[@counter].Sequence" asp-validation-for="@item.Sequence" class="text-danger"></span>
										
									</td>
									
                            <td>
                                <a class="btn btnMaterial btn-flat accent semicircle cancel RemoveReportTableJoinParameterButton btnAddRemoveSubDetailList" title="@Localizer["Remove ReportTableJoinParameter"]" removeId="@(item.Id)"><i class="fas fa-trash"></i></a>
                            </td>
                        </tr>
                        counter++;
                    }
                }
            </tbody>
        </table>
    </div>
</div>
