@page
@model CTI.DPI.Web.Areas.DPI.Pages.Dashboard.IndexModel
@{
    ViewData["Title"] = @Model.Report.ReportName;
    ViewData["ActiveMainPage"] = "Dashboard";
    ViewData["Level1"] = "DPI";
}


<div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-2 row-cols-xl-2 row-cols-xxl-2">
    <div class="col">
        <div class="card">
            <h5 class="card-header text-center"><span class="card-header-custom">@Model.Report.ReportName</span><br></h5>
            <div class="card-body">
                <canvas id="chart-container"></canvas>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <h5 class="card-header text-center"><span class="card-header-custom">Test</span><br></h5>
            <div class="card-body">
                <span>Test</span>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ChartBuilderScripts" />
    <script asp-add-nonce>
        $(document).ready(function () {
            function InitializeForm() {
                $.BuildChart('chart-container', '@Model.Report.ReportName', '@Model.Report.ReportOrChartType',
                    @Html.Raw(Model.Report.Labels), @Html.Raw(Model.Report.Results), @Html.Raw(Model.Report.Colors));
            }
            InitializeForm();
        });
    </script>
}
