@page
@model IndexModel

@section Styles {
<partial name="_DataTableStyles" />
}
@{
    ViewData["Title"] = Localizer["Column Header List"];
    ViewData["ActiveMainPage"] = "ReportColumnHeader";
    ViewData["Level1"] = "DPI";
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <table id="reportColumnHeader" class="table table-hover table-bordered table-striped responsive nowrap" width="100%">
                    <thead>
                        <tr>
                            <th>
								@Localizer["Report"]
							</th>
							<th>
								@Localizer["Alias"]
							</th>
							<th>
								@Localizer["Aggregation Operator"]
							</th>
							  
														
                            <th>
                                @Localizer["Actions"]
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
    <i class="fas fa-chevron-up"></i>
</a>
@section Scripts {
<partial name="_DataTableScripts" />
<script asp-add-nonce>
    $(document).ready(function () {
        var table = $('#reportColumnHeader').DataTable({
            select: false,
            serverSide: true,
            order: [[ 3, 'desc' ]],
            ajax:
            {
                url: '@Url.Page("/ReportColumnHeader/Index", new { area = "DPI", handler = "ListAll" })',
                type: "POST",
                headers: {
                    RequestVerificationToken:
                        $('input:hidden[name="__RequestVerificationToken"]').val()
                },
            },
			initComplete: function( settings, json ) {
                BindTableRowCollapseEvent();
            },
			columns: [
                { data: "reportId", name: "ReportId", responsivePriority: 1, title: '@Localizer["Report"]', searchable: false },
				{ data: "alias", name: "Alias", responsivePriority: 1, title: '@Localizer["Alias"]', searchable: false },
				{ data: "aggregationOperator", name: "AggregationOperator", responsivePriority: 1, title: '@Localizer["Aggregation Operator"]', searchable: false },
				   
				
                {
                    data: null,
                    searchable: false,
                    orderable: false,
                    responsivePriority: 2,
                    width: "10%",
                    render: function (data, type, row, meta) {
                        var url = '@Url.Page("/ReportColumnHeader/Details", new { area = "DPI" })' + '?id=' + row.id;
                        var button = '<a href="' + url + '" class="btn btnMaterial btn-flat primary semicircle btnViewReportColumnHeader" title="@Localizer["View"]"><i class="far fa-eye"></i></a>';
                @if ((await AuthorizationService.AuthorizeAsync(User, Permission.ReportColumnHeader.Edit)).Succeeded)
                {
                    <text>
                        url = '@Url.Page("/ReportColumnHeader/Edit", new { area = "DPI" })' + '?id=' + row.id;
                        button =  button + '&nbsp;<a href="' + url + '" class="btn btnMaterial btn-flat success semicircle btnEditReportColumnHeader" title="@Localizer["Edit"]"><i class="fas fa-pen"></i></a>';
                    </text>
                }
                @if ((await AuthorizationService.AuthorizeAsync(User, Permission.ReportColumnHeader.Delete)).Succeeded)
                {
                    <text>
                        url = '@Url.Page("/ReportColumnHeader/Delete", new { area = "DPI" })' + '?id=' + row.id;
                        button =  button + '&nbsp;<a href="' + url + '" class="btn btnMaterial btn-flat accent semicircle btnDeleteReportColumnHeader" title="@Localizer["Delete"]"><i class="fas fa-trash btnNoBorders"></i></a>';
                    </text>
                }
				  
                        return button;
                    },
                },
                { data: "lastModifiedDate", name: "LastModifiedDate", title: '@Localizer["Last Modified Date"]', visible: false, searchable: false },
                { data: "id", name: "Id", visible: false },
            ],
            buttons: [
        @if ((await AuthorizationService.AuthorizeAsync(User, Permission.ReportColumnHeader.Create)).Succeeded)
        {
            <text>
                {
                    text: '@Localizer["Add"]',
                    action: function (e, dt, button, config) {
                        var url = '@Url.Page("/ReportColumnHeader/Add", new { area = "DPI" })';
                        window.location.href = url;
                    },
                    className: 'btn btn-success text-light',
                },
            </text>
        }
                'excel', 'pdf', 'pageLength',
            ],
        });
        var debounce = new $.fn.dataTable.Debounce(table); // Add delay to search

        $('.btn-table_filter').on('click', function(e) {
            table.ajax.reload(null, false);
        });
		function BindTableRowCollapseEvent()
        {
            $('#reportColumnHeader tbody').on('click', 'td.dtr-control', function () {
                $.showAjaxLoaderOnClick([".btnAddReportColumnHeader",".btnEditReportColumnHeader",".btnViewReportColumnHeader",".btnDeleteReportColumnHeader"]);
            });
        }
        $.showAjaxLoaderOnClick([".btnAddReportColumnHeader",".btnEditReportColumnHeader",".btnViewReportColumnHeader",".btnDeleteReportColumnHeader"]);
        $.EnableNavbarSearch(table);
    });
</script>
}