@page
@model LoginModel
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Log in";
    Layout = "_Layout";
}
<div class="row">
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="card" style="width: 20rem;">
                    <div class="card-header" style="background:#f5f5f5">
                          <h3 class="panel-title" style="font-size: 16px;">Login via site</h3>
                    </div>
                   <div class="card-body">
						<form id="account" method="post">
							<div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <input asp-for="Input!.Email" class="form-control" placeholder="yourmail@example.com" />
                                <span asp-validation-for="Input!.Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input asp-for="Input!.Password" class="form-control" placeholder="Password" />
                                <span asp-validation-for="Input!.Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label asp-for="Input!.RememberMe">
                                        <input asp-for="Input!.RememberMe" />
                                        @Html.DisplayNameFor(m => m.Input!.RememberMe)
                                    </label>
                                </div>
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-lg btn-success btn-block">Log in</button>
                            </div>
                            <div class="form-group">
                                <p>
									<a id="forgot-password" asp-page="./ForgotPassword" style="float:left;font-size:14px;">Forgot your password? / </a>                                
                                </p>
                                <p>
									<a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" style="float:left;font-size:14px;">&nbsp; Register as a new user?</a>                               
                                </p>
                            </div>
                        </form>
                         <br />
                        <hr />
                        @{
                            var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
                            if (loginProviders.Count > 0)
                            {
								<form asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">                             
                                    <div>
                                        <p>
                                            @foreach (var provider in loginProviders)
                                            {
                                                <button type="submit" id="BtnLogin@(provider.Name)" class="btn btn-lg" name="provider" value="@provider.Name" title="Log in using your @provider.Name account" style="width:100%;margin-bottom:10px;"></button>
                                            }
                                        </p>
                                    </div>
                                </form>
                            }
                        }
                    </div>
                </div>             
            </div>
        </div>
    </div>
</div>
<style>
    #BtnLoginGoogle, #BtnLoginGoogle:hover {
        background: #df4930;
        color: #fff;
    }

    #BtnLoginFacebook, #BtnLoginFacebook:hover {
        background: #2b6dad;
        color: #fff;
    }

    #BtnLoginMicrosoft, #BtnLoginMicrosoft:hover {
        background: #0067b8;
        color: #fff;
    }
</style>
@section Scripts {
<partial name="_ValidationScriptsPartial" />
<script asp-add-nonce>
    $("#BtnLoginGoogle").html("<i class='fab fa-google'></i> Login Via Google");
    $("#BtnLoginFacebook").html("<i class='fab fa-facebook-square'></i> Login Via Facebook");
    $("#BtnLoginMicrosoft").html("<i class='fab fa-windows'></i> Login Via Microsoft");
</script>
}

