@using Models
@model CreditorViewModel

<div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-1 row-cols-xl-1 row-cols-xxl-1">
    <div class="col">
        <div class="mb-3">
            <label asp-for="@Model.DatabaseConnectionSetupId" class="form-label fieldrequired"><strong>@Localizer["Database Connection Setup"] :</strong></label>
            <input asp-for="ForeignKeyDatabaseConnectionSetup" class="form-control" readonly />
            <span asp-validation-for="@Model.DatabaseConnectionSetupId" class="text-danger"></span>
            <input type="hidden" asp-for="@Model.DatabaseConnectionSetupId" />
        </div>
    </div>
    <div class="col">
        <div class="mb-3">
            <label asp-for="@Model.CreditorAccount" class="form-label fieldrequired"><strong>@Localizer["Creditor Account"] :</strong></label>
            <input asp-for="@Model.CreditorAccount" class="form-control" maxlength="50" readonly />
            <span asp-validation-for="@Model.CreditorAccount" class="text-danger"></span>
        </div>
    </div>
    <div class="col">
        <div class="mb-3">
            <label asp-for="@Model.PayeeAccountName" class="form-label fieldrequired"><strong>@Localizer["Account Name"] :</strong></label>
            <input asp-for="@Model.PayeeAccountName" class="form-control" maxlength="255" readonly />
            <span asp-validation-for="@Model.PayeeAccountName" class="text-danger"></span>
        </div>
    </div>  
    <div class="col">
        <div class="mb-3">
            <label asp-for="@Model.PayeeAccountCode" class="form-label "><strong>@Localizer["Account Code"] :</strong></label>
            <input asp-for="@Model.PayeeAccountCode" class="form-control" maxlength="50" readonly />
            <span asp-validation-for="@Model.PayeeAccountCode" class="text-danger"></span>
        </div>
    </div>
    <div class="col">
        <div class="mb-3">
            <label asp-for="@Model.PayeeAccountTIN" class="form-label "><strong>@Localizer["Account TIN"] :</strong></label>
            <input asp-for="@Model.PayeeAccountTIN" class="form-control" maxlength="30" readonly />
            <span asp-validation-for="@Model.PayeeAccountTIN" class="text-danger"></span>
        </div>
    </div>
    <div class="col">
        <div class="mb-3">
            <label asp-for="@Model.PayeeAccountAddress" class="form-label fieldrequired"><strong>@Localizer["Account Address"] :</strong></label>
            <input asp-for="@Model.PayeeAccountAddress" class="form-control" maxlength="255" readonly />
            <span asp-validation-for="@Model.PayeeAccountAddress" class="text-danger"></span>
        </div>
    </div>
    <div class="col">
        <div class="mb-3">
            <label asp-for="@Model.Email" class="form-label fieldrequired"><strong>@Localizer["Email"] :</strong></label>
            <input asp-for="@Model.Email" class="form-control" maxlength="70" readonly />
            <span asp-validation-for="@Model.Email" class="text-danger"></span>
        </div>
    </div>
      <div class="col">
        <div class="mb-3">
            <label asp-for="@Model.PayeeAccountLongDescription" class="form-label "><strong>@Localizer["Account Name (Long)"] :</strong></label>
            <input asp-for="@Model.PayeeAccountLongDescription" class="form-control" maxlength="500" />
            <span asp-validation-for="@Model.PayeeAccountLongDescription" class="text-danger"></span>
        </div>
    </div>
</div>
