@using Models
@model PPlusConnectionSetupViewModel

<div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-1 row-cols-xl-1 row-cols-xxl-1">
    <div class="col">
	<div class="mb-3">
		<label asp-for="@Model.PPlusVersionName" class="form-label fieldrequired"><strong>@Localizer["PPlus Version"] :</strong></label>
			<input asp-for="@Model.PPlusVersionName" class="form-control" maxlength="100" />
			<span asp-validation-for="@Model.PPlusVersionName" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.TablePrefix" class="form-label fieldrequired"><strong>@Localizer["Table Prefix"] :</strong></label>
			<input asp-for="@Model.TablePrefix" class="form-control" maxlength="255" />
			<span asp-validation-for="@Model.TablePrefix" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.ConnectionString" class="form-label fieldrequired"><strong>@Localizer["Connection String"] :</strong></label>
			<input asp-for="@Model.ConnectionString" class="form-control" maxlength="1000" />
			<span asp-validation-for="@Model.ConnectionString" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.ExhibitThemeCodes" class="form-label "><strong>@Localizer["Exhibit Theme Codes"] :</strong></label>
			<input asp-for="@Model.ExhibitThemeCodes" class="form-control" maxlength="255" />
			<span asp-validation-for="@Model.ExhibitThemeCodes" class="text-danger"></span>
			
	</div>
</div>

</div>
