@page
@model AddModel
@{
    ViewData["Title"] = Localizer["Add Supplier"];
    ViewData["ActiveMainPage"] = "Supplier";
    ViewData["Level1"] = "TurboERP";
}
<form id="supplier-form" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
	<input type="hidden" asp-for="@Model.RemoveSubDetailId" />
    <input type="hidden" asp-for="@Model.AsyncAction" />
	<div id="PartialLoaderContainer">
        <partial name="_InputFieldsPartial" model="Model.Supplier" />
    </div> 
	<div id="toolbar-container" class="btn-group" role="group" style="float:right;margin-top:10px;">
        <a asp-page="Index" class="btn btn-secondary" title="@Localizer["Cancel"]"><i class="fas fa-ban"></i></a>
        <button type="submit" class="btn btn-success" title="@Localizer["Save changes"]" style="color:#fff;"><i class="fas fa-save"></i></button>
    </div>   
</form>
<a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
    <i class="fas fa-chevron-up"></i>
</a>
@section Scripts {
<partial name="_ValidationScriptsPartial" />
<partial name="_SupplierContactPersonListValidationPartial" model="@Model.Supplier" />

<script asp-add-nonce>
    $(document).ready(function () {
		function InitializeForm()
		{
			$('.DisableSelectDropdown').on('mousedown', function(e) {
				e.preventDefault();
				this.blur();
				window.focus();
			});
			
			$.InitializeSupplierContactPersonFieldValidations($('#SupplierContactPersonCount').val());
			$('.RemoveSupplierContactPersonButton ').on( 'click', function () {
				$('#RemoveSubDetailId').val($(this).attr('removeid'));
				$('#AsyncAction').val('RemoveSupplierContactPerson');
				$.triggerPageForm('ChangeFormValue','#PartialLoaderContainer', '#supplier-form', InitializeForm);
			});

			$('#btnAddSupplierContactPerson').on( 'click', function () {
				$('#AsyncAction').val('AddSupplierContactPerson');
				$.triggerPageForm('ChangeFormValue','#PartialLoaderContainer', '#supplier-form', InitializeForm);
			});

		}	
		InitializeForm();
    });
</script>
}