@using Models
@model NextStepViewModel
<input type="hidden" id="ActivityHistoryCount" value="@Model?.ActivityHistoryList?.Count" />
<div class="card">
    <h5 class="card-header">
        <span style="background-color: var(--bs-card-cap-bg);">@Localizer["Activity History"]</span>
        <a id="btnAddActivityHistory" class="btn btnMaterial btn-flat primary semicircle cancel" title="@Localizer["Add"]"><i class="fas fa-plus" style="font-size:18px;"></i></a>
        <button class="cancel" type="button" id="btnRemoveActivityHistory" value="RemoveActivityHistory" style="display:none;"></button>
    </h5>
    <div class="card-body" style="overflow:auto;">
        <table id="subDetailList" class="table table-hover table-bordered table-striped responsive nowrap" width="100%">
            <thead>
                <tr>
                    <th style="display:none;"></th>
                    <th>
								@Localizer["Activity"]
							</th>
							<th>
								@Localizer["Lead Task"]
							</th>
							<th>
								@Localizer["Activity Date"]
							</th>
							<th>
								@Localizer["Client Feedback"]
							</th>
							<th>
								@Localizer["Target Date"]
							</th>
							<th>
								@Localizer["Activity Remarks"]
							</th>
							<th>
								@Localizer["PCT Date"]
							</th>
							<th>
								@Localizer["Units Information"]
							</th>
							<th>
								@Localizer["Status"]
							</th>
							
                    <th>
                        @Localizer["Action"]
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model?.ActivityHistoryList != null)
                {
                    int counter = 0;
                    foreach (var item in Model.ActivityHistoryList)
                    {
                        <tr>
                            <td style="display:none;">
                                <input type="hidden" name="ActivityHistoryList[@counter].Id" value="@item.Id" />
                                <input type="hidden" name="ActivityHistoryList[@counter].NextStepId" value="@item.NextStepId" />
                            </td>
                            <td>
										<select asp-for="@item.ActivityID" id="ActivityHistoryList_@(counter)_ActivityID" name="ActivityHistoryList[@counter].ActivityID" class="form-control SelectActivity" asp-items="@(dropdownService.GetActivityList(item.ActivityID))" >
											<option value="">- Select Activity -</option>
										</select>
										<span data-valmsg-for="ActivityHistoryList[@counter].ActivityID" asp-validation-for="@item.ActivityID" class="text-danger"></span>
										
									</td>
									<td>
										<select asp-for="@item.LeadTaskId" id="ActivityHistoryList_@(counter)_LeadTaskId" name="ActivityHistoryList[@counter].LeadTaskId" class="form-control SelectLeadTask" asp-items="@(dropdownService.GetLeadTaskList(item.LeadTaskId))" >
											<option value="">- Select Lead Task -</option>
										</select>
										<span data-valmsg-for="ActivityHistoryList[@counter].LeadTaskId" asp-validation-for="@item.LeadTaskId" class="text-danger"></span>
										
									</td>
									<td>
										<input  asp-for="@item.ActivityDate" name="ActivityHistoryList[@counter].ActivityDate" class="form-control"  />
										<span data-valmsg-for="ActivityHistoryList[@counter].ActivityDate" asp-validation-for="@item.ActivityDate" class="text-danger"></span>
										
									</td>
									<td>
										<select asp-for="@item.ClientFeedbackId" id="ActivityHistoryList_@(counter)_ClientFeedbackId" name="ActivityHistoryList[@counter].ClientFeedbackId" class="form-control SelectClientFeedback" asp-items="@(dropdownService.GetClientFeedbackList(item.ClientFeedbackId))" >
											<option value="">- Select Client Feedback -</option>
										</select>
										<span data-valmsg-for="ActivityHistoryList[@counter].ClientFeedbackId" asp-validation-for="@item.ClientFeedbackId" class="text-danger"></span>
										
									</td>
									<td>
										<input  asp-for="@item.TargetDate" name="ActivityHistoryList[@counter].TargetDate" class="form-control"  />
										<span data-valmsg-for="ActivityHistoryList[@counter].TargetDate" asp-validation-for="@item.TargetDate" class="text-danger"></span>
										
									</td>
									<td>
										<input  asp-for="@item.ActivityRemarks" name="ActivityHistoryList[@counter].ActivityRemarks" class="form-control" maxlength="500" />
										<span data-valmsg-for="ActivityHistoryList[@counter].ActivityRemarks" asp-validation-for="@item.ActivityRemarks" class="text-danger"></span>
										
									</td>
									<td>
										<input  asp-for="@item.PCTDate" name="ActivityHistoryList[@counter].PCTDate" class="form-control"  />
										<span data-valmsg-for="ActivityHistoryList[@counter].PCTDate" asp-validation-for="@item.PCTDate" class="text-danger"></span>
										
									</td>
									<td>
										<input  asp-for="@item.UnitsInformation" name="ActivityHistoryList[@counter].UnitsInformation" class="form-control"  />
										<span data-valmsg-for="ActivityHistoryList[@counter].UnitsInformation" asp-validation-for="@item.UnitsInformation" class="text-danger"></span>
										
									</td>
									<td>
										<input  asp-for="@item.Status" name="ActivityHistoryList[@counter].Status" class="form-control" maxlength="50" />
										<span data-valmsg-for="ActivityHistoryList[@counter].Status" asp-validation-for="@item.Status" class="text-danger"></span>
										
									</td>
									
                            <td>
                                <a class="btn btnMaterial btn-flat accent semicircle cancel RemoveActivityHistoryButton" title="@Localizer["Remove ActivityHistory"]" removeId="@(item.Id)"><i class="fas fa-trash" style="font-size:18px;"></i></a>
                            </td>
                        </tr>
                        counter++;
                    }
                }
            </tbody>
        </table>
    </div>
</div>
