@using Models
@model NextStepViewModel
<input type="hidden" id="LeadTaskNextStepCount" value="@Model?.LeadTaskNextStepList?.Count" />
<div class="card">
    <h5 class="card-header">
        <span style="background-color: var(--bs-card-cap-bg);">@Localizer["Lead Task / Next Step Setup"]</span>
        <a id="btnAddLeadTaskNextStep" class="btn btnMaterial btn-flat primary semicircle cancel" title="@Localizer["Add"]"><i class="fas fa-plus" style="font-size:18px;"></i></a>
        <button class="cancel" type="button" id="btnRemoveLeadTaskNextStep" value="RemoveLeadTaskNextStep" style="display:none;"></button>
    </h5>
    <div class="card-body" style="overflow:auto;">
        <table id="subDetailList" class="table table-hover table-bordered table-striped responsive nowrap" width="100%">
            <thead>
                <tr>
                    <th style="display:none;"></th>
                    <th>
								@Localizer["Lead Task"]
							</th>
							<th>
								@Localizer["Client Feedback"]
							</th>
							<th>
								@Localizer["PCT Day"]
							</th>
							
                    <th>
                        @Localizer["Action"]
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model?.LeadTaskNextStepList != null)
                {
                    int counter = 0;
                    foreach (var item in Model.LeadTaskNextStepList)
                    {
                        <tr>
                            <td style="display:none;">
                                <input type="hidden" name="LeadTaskNextStepList[@counter].Id" value="@item.Id" />
                                <input type="hidden" name="LeadTaskNextStepList[@counter].NextStepId" value="@item.NextStepId" />
                            </td>
                            <td>
										<select asp-for="@item.LeadTaskId" id="LeadTaskNextStepList_@(counter)_LeadTaskId" name="LeadTaskNextStepList[@counter].LeadTaskId" class="form-control SelectLeadTask" asp-items="@(dropdownService.GetLeadTaskList(item.LeadTaskId))" >
											<option value="">- Select Lead Task -</option>
										</select>
										<span data-valmsg-for="LeadTaskNextStepList[@counter].LeadTaskId" asp-validation-for="@item.LeadTaskId" class="text-danger"></span>
										
									</td>
									<td>
										<select asp-for="@item.ClientFeedbackId" id="LeadTaskNextStepList_@(counter)_ClientFeedbackId" name="LeadTaskNextStepList[@counter].ClientFeedbackId" class="form-control SelectClientFeedback" asp-items="@(dropdownService.GetClientFeedbackList(item.ClientFeedbackId))" >
											<option value="">- Select Client Feedback -</option>
										</select>
										<span data-valmsg-for="LeadTaskNextStepList[@counter].ClientFeedbackId" asp-validation-for="@item.ClientFeedbackId" class="text-danger"></span>
										
									</td>
									<td>
										<input  asp-for="@item.PCTDay" name="LeadTaskNextStepList[@counter].PCTDay" class="form-control"  />
										<span data-valmsg-for="LeadTaskNextStepList[@counter].PCTDay" asp-validation-for="@item.PCTDay" class="text-danger"></span>
										
									</td>
									
                            <td>
                                <a class="btn btnMaterial btn-flat accent semicircle cancel RemoveLeadTaskNextStepButton" title="@Localizer["Remove LeadTaskNextStep"]" removeId="@(item.Id)"><i class="fas fa-trash" style="font-size:18px;"></i></a>
                            </td>
                        </tr>
                        counter++;
                    }
                }
            </tbody>
        </table>
    </div>
</div>
