@using Models
@model RegionViewModel

<div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-1 row-cols-xl-1 row-cols-xxl-1">
    <div class="col">
	<div class="mb-3">
		<label asp-for="@Model.CountryId" class="form-label fieldrequired"><strong>@Localizer["Country"] :</strong></label>
			<input asp-for="ForeignKeyCountry" class="form-control"   readonly />
			<span asp-validation-for="@Model.CountryId" class="text-danger"></span>
			<input type="hidden" asp-for="@Model.CountryId"/>
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.Code" class="form-label fieldrequired"><strong>@Localizer["Code"] :</strong></label>
			<input asp-for="@Model.Code" class="form-control" maxlength="50"  readonly/>
			<span asp-validation-for="@Model.Code" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.Name" class="form-label fieldrequired"><strong>@Localizer["Name"] :</strong></label>
			<input asp-for="@Model.Name" class="form-control" maxlength="255" />
			<span asp-validation-for="@Model.Name" class="text-danger"></span>
			
	</div>
</div>

</div>
