@using Models
@model UnitGroupViewModel

<div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-1 row-cols-xl-1 row-cols-xxl-1">
    <div class="col">
	<div class="mb-3">
		<label asp-for="@Model.UnitsInformation" class="form-label fieldrequired"><strong>@Localizer["Units Information"] :</strong></label>
			<input asp-for="@Model.UnitsInformation" class="form-control"  />
			<span asp-validation-for="@Model.UnitsInformation" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.LotArea" class="form-label "><strong>@Localizer["Lot Area"] :</strong></label>
			<input asp-for="@Model.LotArea" class="form-control"  />
			<span asp-validation-for="@Model.LotArea" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.BasicFixedMonthlyRent" class="form-label "><strong>@Localizer["Basic Fixed"] :</strong></label>
			<input asp-for="@Model.BasicFixedMonthlyRent" class="form-control"  />
			<span asp-validation-for="@Model.BasicFixedMonthlyRent" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.OfferingHistoryID" class="form-label "><strong>@Localizer["Offering History"] :</strong></label>
			<select asp-for="@Model.OfferingHistoryID" class="form-control" asp-items="@(dropdownService.GetOfferingHistoryList(Model.OfferingHistoryID))"><option value="">- Select Offering History -</option></select>
			<span asp-validation-for="@Model.OfferingHistoryID" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.UnitOfferedHistoryID" class="form-label "><strong>@Localizer["Unit Offered"] :</strong></label>
			<input asp-for="@Model.UnitOfferedHistoryID" class="form-control"  />
			<span asp-validation-for="@Model.UnitOfferedHistoryID" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.IsFixedMonthlyRent" class="form-label "><strong>@Localizer["Is Fixed"] :</strong></label>
			<input asp-for="@Model.IsFixedMonthlyRent" class="custom-checkbox-label"/>
			<span asp-validation-for="@Model.IsFixedMonthlyRent" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.AreaTypeDescription" class="form-label fieldrequired"><strong>@Localizer["Area Type"] :</strong></label>
			<input asp-for="@Model.AreaTypeDescription" class="form-control" maxlength="50" />
			<span asp-validation-for="@Model.AreaTypeDescription" class="text-danger"></span>
			
	</div>
</div>

</div>
