@using Models
@model PreSelectedUnitViewModel

<div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-1 row-cols-xl-1 row-cols-xxl-1">
    <div class="col">
	<div class="mb-3">
		<label asp-for="@Model.OfferingID" class="form-label "><strong>@Localizer["Offering"] :</strong></label>
			<select asp-for="@Model.OfferingID" class="form-control" asp-items="@(dropdownService.GetOfferingList(Model.OfferingID))"><option value="">- Select Offering -</option></select>
			<span asp-validation-for="@Model.OfferingID" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.UnitID" class="form-label "><strong>@Localizer["Unit"] :</strong></label>
			<select asp-for="@Model.UnitID" class="form-control" asp-items="@(dropdownService.GetUnitList(Model.UnitID))"><option value="">- Select Unit -</option></select>
			<span asp-validation-for="@Model.UnitID" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.LotBudget" class="form-label "><strong>@Localizer["Lot Budget"] :</strong></label>
			<input asp-for="@Model.LotBudget" class="form-control"  />
			<span asp-validation-for="@Model.LotBudget" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.LotArea" class="form-label "><strong>@Localizer["Lot Area"] :</strong></label>
			<input asp-for="@Model.LotArea" class="form-control"  />
			<span asp-validation-for="@Model.LotArea" class="text-danger"></span>
			
	</div>
</div>

</div>
