@page
@model EditModel
@{
    ViewData["Title"] = Localizer["Edit Assignment"];
    ViewData["ActiveMainPage"] = "Assignment";
    ViewData["Level1"] = "DSF";
}
<form id="assignment-form" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="@Model.RemoveSubDetailId" />
    <input type="hidden" asp-for="@Model.AsyncAction" />
    <div id="PartialLoaderContainer">
        <partial name="_InputFieldsPartial" model="Model.Assignment" />
    </div>
    <div id="toolbar-container" class="btn-group" role="group">  
		<a asp-page="Index" id="btnCancelConfirmationModal" class="btn btn-secondary" title="@Localizer["Back"]"><i class="fas fa-arrow-left"></i></a>                
        <button type="button" class="btn btn-success" id="btnConfirmationModal" title="@Localizer["Save changes"]"><i class="fas fa-save"></i></button>
    </div>
</form>
<a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
    <i class="fas fa-chevron-up"></i>
</a>
@section Scripts {
<partial name="_ValidationScriptsPartial" />

<script asp-add-nonce>
    $(document).ready(function () {
        function InitializeForm()
        {
			$.bindSaveConfirmationModal('Update', '#btnConfirmationModal','#assignment-form');
            $.bindCancelConfirmationModal('Cancel', '#btnCancelConfirmationModal','#assignment-form', 'Do you want to cancel the changes?');
            $('.DisableSelectDropdown').on('mousedown', function(e) {
                e.preventDefault();
                this.blur();
                window.focus();
            });
            
			$.fn.taskcompanyassignmentSelect = function() {
				this.filter("select").each(function() {
					$(this).ajaxSelect({
						ajax: {
							url: '@Url.Page("/TaskCompanyAssignment/Index", new { area = "DSF", handler = "Select2Data" })',
						}
					});
				});
				return this;
			};
			$("#TaskCompanyAssignmentId").taskcompanyassignmentSelect();


        }
        InitializeForm();
    });
</script>
}