@using Models
@model ProjectViewModel
<input type="hidden" id="LevelCount" value="@Model?.LevelList?.Count" />
<div class="row">
    <div class="col-12">
        <div class="card card-outline card-primary">
            <div class="card-header d-flex">
                <div class="card-title flex-grow-1">
                    <button class="btn-field btn btn-block text-left text-black p-0" type="button" data-card-widget="collapse">
                        <h5>@Localizer["Level"]</h5>
                    </button>
                    <button type="button" id="btnAddLevel" class="btn-field btn btn-primary cancel">
                        <i class="fas fa-plus" style="float:left;padding-top: 7px;padding-right: 10px;"></i>
                        <h6 style="float:left;padding-top: 7px;">@Localizer["Add"]</h6>
                    </button>
                    <button class="cancel" type="button" id="btnRemoveLevel" value="RemoveLevel" style="display:none;"></button>
                </div>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body" style="overflow:auto;">
                <table id="level" class="table table-hover table-bordered table-striped responsive nowrap" width="100%">
                    <thead>
                        <tr>
							<th style="display:none;"></th>
                            <th>
								@Localizer["Name"]
							</th>
							<th>
								@Localizer["Has Percentage Sales Tenant"]
							</th>
							<th>
								@Localizer["Disabled"]
							</th>
							
                            <th>
                                @Localizer["Action"]
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model?.LevelList != null)
                        {
                            int counter = 0;
                            foreach (var item in Model.LevelList)
                            {
                                <tr>
									<td style="display:none;">
                                        <input type="hidden" name="LevelList[@counter].Id" value="@item.Id" />
                                        <input type="hidden" name="LevelList[@counter].ProjectId" value="@item.ProjectId" />                                      
                                    </td>
                                    <td>
										<input  asp-for="@item.Name" name="LevelList[@counter].Name" class="form-control" maxlength="255" readonly/>
										<span data-valmsg-for="LevelList[@counter].Name" asp-validation-for="@item.Name" class="text-danger"></span>
										<input type="hidden" asp-for="@item.Name"  name="LevelList[@counter].Name"/>
									</td>
									<td>
										<input asp-for="@item.HasPercentageSalesTenant" name="LevelList[@counter].HasPercentageSalesTenant" class="form-control"  disabled/>
										<span data-valmsg-for="LevelList[@counter].HasPercentageSalesTenant" asp-validation-for="@item.HasPercentageSalesTenant" class="text-danger"></span>
										<input type="hidden" asp-for="@item.HasPercentageSalesTenant"  name="LevelList[@counter].HasPercentageSalesTenant"/>
									</td>
									<td>
										<input asp-for="@item.IsDisabled" name="LevelList[@counter].IsDisabled" class="form-control"  disabled/>
										<span data-valmsg-for="LevelList[@counter].IsDisabled" asp-validation-for="@item.IsDisabled" class="text-danger"></span>
										<input type="hidden" asp-for="@item.IsDisabled"  name="LevelList[@counter].IsDisabled"/>
									</td>
									
                                    <td>
                                        <button type="button" class="btn-field btn btn-danger RemoveLevelButton cancel" title="@Localizer["Remove Level"]" removeId="@(item.Id)">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                                counter++;
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
