@page
@model AddModel
@{
    ViewData["Title"] = Localizer["Add Project"];
    ViewData["ActiveMainPage"] = "Project";
    ViewData["Level1"] = "TenantSales";
}
<form id="project-form" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
	<input type="hidden" asp-for="@Model.RemoveSubDetailId" />
    <input type="hidden" asp-for="@Model.AsyncAction" />
	<div id="PartialLoaderContainer">
        <partial name="_InputFieldsPartial" model="Model.Project" />
    </div>    
    <div class="row">
        <div class="col-12">
            <p>
                <a asp-page="Index" class="btn btn-secondary">@Localizer["Cancel"]</a>
                <button type="submit" class="btn btn-success">@Localizer["Save changes"]</button>
            </p>
        </div>
    </div>
</form>
<a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
    <i class="fas fa-chevron-up"></i>
</a>
@section Scripts {
<partial name="_ValidationScriptsPartial" />
<partial name="_ProjectBusinessUnitListValidationPartial" model="@Model.Project" />
<partial name="_LevelListValidationPartial" model="@Model.Project" />

<script asp-add-nonce>
    $(document).ready(function () {
		function InitializeForm()
		{
			$('.DisableSelectDropdown').on('mousedown', function(e) {
				e.preventDefault();
				this.blur();
				window.focus();
			});
			
			$.InitializeProjectBusinessUnitFieldValidations($('#ProjectBusinessUnitCount').val());
			$('.RemoveProjectBusinessUnitButton ').on( 'click', function () {
				$('#RemoveSubDetailId').val($(this).attr('removeid'));
				$('#AsyncAction').val('RemoveProjectBusinessUnit');
				$.triggerPageForm('ChangeFormValue','#PartialLoaderContainer', '#project-form', InitializeForm);
			});

			$('#btnAddProjectBusinessUnit').on( 'click', function () {
				$('#AsyncAction').val('AddProjectBusinessUnit');
				$.triggerPageForm('ChangeFormValue','#PartialLoaderContainer', '#project-form', InitializeForm);
			});

			$.fn.businessunitSelect = function() {
				this.filter("select").each(function() {
					$(this).ajaxSelect({
						ajax: {
							url: '@Url.Page("/BusinessUnit/Index", new { area = "TenantSales", handler = "Select2Data" })',
						}
					});
				});
				return this;
			};
			var businessunitlistdropdowns = document.getElementsByClassName('SelectBusinessUnit');
			for ( var i=0; i< businessunitlistdropdowns.length; i++) {
				$("#ProjectBusinessUnitList_"+i+"_BusinessUnitId").businessunitSelect();
			}

			$.InitializeLevelFieldValidations($('#LevelCount').val());
			$('.RemoveLevelButton ').on( 'click', function () {
				$('#RemoveSubDetailId').val($(this).attr('removeid'));
				$('#AsyncAction').val('RemoveLevel');
				$.triggerPageForm('ChangeFormValue','#PartialLoaderContainer', '#project-form', InitializeForm);
			});

			$('#btnAddLevel').on( 'click', function () {
				$('#AsyncAction').val('AddLevel');
				$.triggerPageForm('ChangeFormValue','#PartialLoaderContainer', '#project-form', InitializeForm);
			});

			$.fn.companySelect = function() {
				this.filter("select").each(function() {
					$(this).ajaxSelect({
						ajax: {
							url: '@Url.Page("/Company/Index", new { area = "TenantSales", handler = "Select2Data" })',
						}
					});
				});
				return this;
			};
			$("#CompanyId").companySelect();

		}	
		InitializeForm();
    });
</script>
}