@using Models
@model OfferingViewModel



<div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-2 row-cols-xxl-2">
    <div class="col">
        <div class="mb-3">
            <h3>@Localizer["Other Charges"]</h3>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.OtherChargesAircon" class="form-label "><strong>@Localizer["Aircon per sqm"] :</strong></label>
            <input asp-for="@Model.OtherChargesAircon" class="form-control" />
            <span asp-validation-for="@Model.OtherChargesAircon" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.CommencementCAMC" class="form-label "><strong>@Localizer["CAMC (Commencement) per sqm"] :</strong></label>
            <input asp-for="@Model.CommencementCAMC" class="form-control" />
            <span asp-validation-for="@Model.CommencementCAMC" class="text-danger"></span>
        </div>
        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-2 row-cols-xxl-2">
            <div class="col" style="padding-top:40px;">
                <div class="mb-3">
                    <label asp-for="@Model.AutoComputeAnnualAdvertisingFee" class="form-label "><strong>@Localizer["Auto-Compute"] :</strong></label>
                    <input asp-for="@Model.AutoComputeAnnualAdvertisingFee" class="custom-checkbox-label" />
                    <span asp-validation-for="@Model.AutoComputeAnnualAdvertisingFee" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label asp-for="@Model.AnnualAdvertisingFee" class="form-label "><strong>@Localizer["Annual Advertising Fee"] :</strong></label>
                    @if (@Model.AutoComputeAnnualAdvertisingFee)
                    {
                        <input asp-for="@Model.AnnualAdvertisingFee" class="form-control" readonly />
                    }
                    else
                    {
                        <input asp-for="@Model.AnnualAdvertisingFee" class="form-control" />
                    }                   
                    <span asp-validation-for="@Model.AnnualAdvertisingFee" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-2 row-cols-xxl-2">
            <div class="col" style="padding-top:40px;">
                <div class="mb-3">
                    <label asp-for="@Model.HasBoardUpFee" class="form-label "><strong>@Localizer["Has Board Up Fee"] :</strong></label>
                    <input asp-for="@Model.HasBoardUpFee" class="custom-checkbox-label" />
                    <span asp-validation-for="@Model.HasBoardUpFee" class="text-danger"></span>
                </div>
            </div>           
        </div>
    </div>
    <div class="col">
        <div class="mb-3">
            <h3>@Localizer["CAMC During Construction Period"]</h3>
        </div>
        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-2 row-cols-xxl-2">
            <div class="col">
                <div class="mb-3">
                    <label asp-for="@Model.TotalUnitArea" class="form-label "><strong>@Localizer["Total Area"] :</strong></label>
                    <input asp-for="@Model.TotalUnitArea" class="form-control" />
                    <span asp-validation-for="@Model.TotalUnitArea" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label asp-for="@Model.ConstructionCAMCMonths" class="form-label "><strong>@Localizer["Month/s"] :</strong></label>
                    <input asp-for="@Model.ConstructionCAMCMonths" class="form-control" />
                    <span asp-validation-for="@Model.ConstructionCAMCMonths" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.ConstructionCAMCRate" class="form-label "><strong>@Localizer["Rate / sqm"] :</strong></label>
            <input asp-for="@Model.ConstructionCAMCRate" class="form-control" />
            <span asp-validation-for="@Model.ConstructionCAMCRate" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.ConstructionCAMC" class="form-label "><strong>@Localizer["Total CAMC Upon Construction"] :</strong></label>
            <input asp-for="@Model.ConstructionCAMC" class="form-control" />
            <span asp-validation-for="@Model.ConstructionCAMC" class="text-danger"></span>
        </div>
    </div>
</div>
