@using Models
@model OfferingViewModel

<div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-1 row-cols-xl-1 row-cols-xxl-1">
    <div class="col">
        <div class="mb-3">
            <label asp-for="@Model.ProjectID" class="form-label fieldrequired"><strong>@Localizer["Project"] :</strong></label>
            <select asp-for="@Model.ProjectID" class="form-control ProjectId" asp-items="@(dropdownService.GetProjectList(Model.ProjectID))"><option value="">- Select Project -</option></select>
            <span asp-validation-for="@Model.ProjectID" class="text-danger"></span>
        </div>
    </div>
    <div class="col" id="OfferSheetNoContainer">
        <div class="mb-3">
            <label asp-for="@Model.OfferSheetNo" class="form-label "><strong>@Localizer["OS Reference No."] :</strong></label>
            <input asp-for="@Model.OfferSheetNo" class="form-control" readonly />
            <span asp-validation-for="@Model.OfferSheetNo" class="text-danger"></span>
        </div>
    </div>
    <div class="col" id="StatusContainer">
        <div class="mb-3">
            <label asp-for="@Model.Status" class="form-label "><strong>@Localizer["Status"] :</strong></label>
            <input asp-for="@Model.Status" class="form-control" maxlength="50" readonly/>
            <span asp-validation-for="@Model.Status" class="text-danger"></span>
        </div>
    </div>  
</div>
