@using Models
@model ActivityViewModel

<div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-1 row-cols-xl-1 row-cols-xxl-1">
    <div class="col">
        <div class="mb-3">
            <label asp-for="@Model.ProjectID" class="form-label fieldrequired"><strong>@Localizer["Project"] :</strong></label>
            <select asp-for="@Model.ProjectID" class="form-control ProjectId" asp-items="@(dropdownService.GetProjectList(Model.ProjectID))"><option value="">- Select Project -</option></select>
            <input id="ProjectIdLabel" asp-for="@Model.ForeignKeyProject" class="form-control" readonly />
            <span asp-validation-for="@Model.ProjectID" class="text-danger"></span>
        </div>
    </div>
    <div class="col">
        <div class="mb-3">
            <label asp-for="@Model.LeadTaskId" class="form-label fieldrequired"><strong>@Localizer["Lead Task"] :</strong></label>
            <select asp-for="@Model.LeadTaskId" class="form-control" asp-items="@(dropdownService.GetLeadTaskList(Model.LeadTaskId))"><option value="">- Select Lead Task -</option></select>
            <span asp-validation-for="@Model.LeadTaskId" class="text-danger"></span>
        </div>
    </div>
    <div class="col">
        <div class="mb-3">
            <label asp-for="@Model.ActivityDate" class="form-label fieldrequired"><strong>@Localizer["Activity Date"] :</strong></label>
            <input asp-for="@Model.ActivityDate" class="form-control" max="@DateTime.Now.ToString("yyyy-MM-ddTHH:mmZ")" />
            <span asp-validation-for="@Model.ActivityDate" class="text-danger"></span>
        </div>
    </div>
    <div class="col">
        <div class="mb-3">
            <label asp-for="@Model.ClientFeedbackId" class="form-label fieldrequired"><strong>@Localizer["Client Feedback"] :</strong></label>
            <select asp-for="@Model.ClientFeedbackId" class="form-control select2" asp-items="@(dropdownService.GetClientFeedbackList(Model.ClientFeedbackId))"><option value="">- Select Client Feedback -</option></select>
            <input type="hidden" value="@Model.ClientFeedbackId" id="ClientFeedbackIdSelected" />
            <span asp-validation-for="@Model.ClientFeedbackId" class="text-danger"></span>
        </div>
    </div>
    <div class="col">
        <div class="mb-3">
            <label asp-for="@Model.NextStepId" class="form-label fieldrequired"><strong>@Localizer["Next Step"] :</strong></label>
            <select asp-for="@Model.NextStepId" class="form-control select2" asp-items="@(dropdownService.GetNextStepList(Model.NextStepId))"><option value="">- Select Next Step -</option></select>
            <input type="hidden" value="@Model.NextStepId" id="NextStepIdSelected" />
            <span asp-validation-for="@Model.NextStepId" class="text-danger"></span>
        </div>
    </div>
    <div class="col">
        <div class="mb-3">
            <label asp-for="@Model.TargetDate" class="form-label "><strong>@Localizer["Target Date"] :</strong></label>
            <input asp-for="@Model.TargetDate" class="form-control" min="@DateTime.Now.Date.ToString("yyyy-MM-ddTHH:mmZ")" />
            <span asp-validation-for="@Model.TargetDate" class="text-danger"></span>
        </div>
    </div>
    <div class="col">
        <div class="mb-3">
            <label asp-for="@Model.ActivityRemarks" class="form-label "><strong>@Localizer["Activity Remarks"] :</strong></label>
            <input asp-for="@Model.ActivityRemarks" class="form-control" maxlength="500" />
            <span asp-validation-for="@Model.ActivityRemarks" class="text-danger"></span>
        </div>
    </div>
</div>
