@using Models
@model OfferingViewModel


<div class="row">
    <div class="col-xs-12 col-sm-12 col-lg-12">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-lg-4">
                <div style="padding-top:10px;">
                    <div class="card">
                        <h5 class="card-header"><span style="background-color: var(--bs-card-cap-bg);">@Localizer["Offering Sheet Details"]</span><br></h5>
                        <div class="card-body">
                            <input type="hidden" asp-for="@Model.Id" name="Id" />
                            <partial name="_EditOfferingDetails" model="Model" />
                        </div>
                    </div>
                </div>
                <div style="padding-top:10px;">
                    <div class="card">
                        <h5 class="card-header"><span style="background-color: var(--bs-card-cap-bg);">@Localizer["Offering Sheet Log"]</span><br></h5>
                        <div class="card-body">
                        </div>
                    </div>
                </div>
                <div style="padding-top:10px;">
                    <div class="card">
                        <h5 class="card-header"><span style="background-color: var(--bs-card-cap-bg);">@Localizer["Additional Info"]</span><br></h5>
                        <div class="card-body">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-8 col-lg-8">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-lg-6" style="padding-top:10px;">
                        <div class="card">
                            <h5 class="card-header"><span style="background-color: var(--bs-card-cap-bg);">@Localizer["Pre-Selected Space(s)"]</span><br></h5>
                            <div class="card-body">
                            </div>
                        </div>
                    </div>
                    <div class="ol-xs-12 col-sm-6 col-lg-6" style="padding-top:10px;">
                        <div class="card">
                            <h5 class="card-header"><span style="background-color: var(--bs-card-cap-bg);">@Localizer["Terms"]</span><br></h5>
                            <div class="card-body">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-lg-12" style="padding-top:10px;">
                        <div class="card">
                            <h5 class="card-header"><span style="background-color: var(--bs-card-cap-bg);">@Localizer["Offered Space(s)"]</span><br></h5>
                            <div class="card-body">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-lg-12" style="padding-top:10px;">
                        <div class="card">
                            <h5 class="card-header"><span style="background-color: var(--bs-card-cap-bg);">@Localizer["Deposits and Timeline"]</span><br></h5>
                            <div class="card-body">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-lg-12" style="padding-top:10px;">
                        <div class="card">
                            <h5 class="card-header"><span style="background-color: var(--bs-card-cap-bg);">@Localizer["Other Charges"]</span><br></h5>
                            <div class="card-body">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>