@using Models
@model OfferingViewModel
<input type="hidden" id="OfferingHistoryCount" value="@Model?.OfferingHistoryList?.Count" />
<div class="card">
    <h5 class="card-header">
        <span style="background-color: var(--bs-card-cap-bg);">@Localizer["Offer Sheet Log"]</span>
    </h5>
    <div class="card-body" style="overflow:auto;">
        <table id="subDetailList" class="table table-hover table-bordered table-striped responsive nowrap" width="100%">
            <thead>
                <tr>
                    <th>
                        @Localizer["Version No."]
                    </th>
                    <th>
                        @Localizer["Units"]
                    </th>
                    <th>
                        @Localizer["Total Unit Area"]
                    </th>
                    <th>
                        @Localizer["Offered Rate"]
                    </th>
                    <th>
                        @Localizer["Budget"]
                    </th>
                    <th>
                        @Localizer["Option"]
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model?.OfferingHistoryList != null)
                {
                    int counter = 0;
                    foreach (var item in Model.OfferingHistoryList)
                    {
                        <tr>
                            <td>
                                <span>@item.OfferingVersion</span>
                            </td>
                            <td>
                                <span>@item.UnitsInformation</span>
                            </td>
                            <td>
                                <span>@item.TotalUnitArea</span>
                            </td>
                            <td>
                                <span>@item.TotalRentalRateString</span>
                            </td>
                            <td>
                                <span>@item.TotalLotBudgetString</span>
                            </td>
                            <td>
                                <a class="btn btnMaterial btn-flat primary semicircle cancel" title="@Localizer["Sign"]"><i class="fas fa-check" style="font-size:18px;"></i></a>
                                <a class="btn btnMaterial btn-flat primary semicircle cancel" title="@Localizer["Re-print"]"><i class="fas fa-print" style="font-size:18px;"></i></a>
                            </td>
                        </tr>
                        counter++;
                    }
                }
            </tbody>
        </table>
    </div>
</div>
