@using Models
@model OfferingViewModel
<input type="hidden" id="PreSelectedUnitCount" value="@Model?.PreSelectedUnitList?.Count" />
<div class="card">
    <h5 class="card-header">
        <span style="background-color: var(--bs-card-cap-bg);">@Localizer["Pre-Selected Space(s)"]</span>
        <button class="cancel" type="button" id="btnRemovePreSelectedUnit" value="RemovePreSelectedUnit" style="display:none;"></button>
        @if (!string.IsNullOrEmpty(Model?.ProjectID))
        {
            <a class="btn btnMaterial btn-flat primary semicircle cancel btn-add-unit" title="@Localizer["Add"]"><i class="fas fa-plus" style="font-size:18px;"></i></a>
        }
    </h5>
    <div class="card-body" style="overflow:auto;">
        <table id="subDetailList" class="table table-hover table-bordered table-striped responsive nowrap" width="100%">
            <thead>
                <tr>
                    <th style="display:none;"></th>
                    <th>
                        @Localizer["Space No."]
                    </th>
                    <th>
                        @Localizer["Lot Area"]
                    </th>
                    <th>
                        @Localizer["Availability Date"]
                    </th>
                    <th>
                        @Localizer["Action"]
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model?.PreSelectedUnitList != null)
                {
                    int counter = 0;
                    foreach (var item in Model.PreSelectedUnitList)
                    {
                        <tr>
                            <td style="display:none;">
                                <input type="hidden" name="PreSelectedUnitList[@counter].Id" value="@item.Id" />
                                <input type="hidden" name="PreSelectedUnitList[@counter].UnitId" class="selected-unitid" value="@item.UnitID" />
                                <input type="hidden" name="PreSelectedUnitList[@counter].OfferingID" value="@item.OfferingID" />
                                <input type="hidden" name="PreSelectedUnitList[@counter].UnitNo" value="@item.UnitNo" />
                                <input type="hidden" name="PreSelectedUnitList[@counter].LotArea" value="@item.LotArea" />
                                <input type="hidden" name="PreSelectedUnitList[@counter].AvailabilityDate" value="@item.AvailabilityDate" />                                
                            </td>
                            <td>
                                <span class="form-control" style="background:transparent;border:none;">@item!.UnitNo</span>
                            </td>
                            <td>
                                <span class="form-control" style="background:transparent;border:none;">
                                    @if (@item!.LotArea != null)
                                    {
                                        <text>
                                            @(((decimal)item!.LotArea).ToString("##,##.00"))
                                        </text>

                                    }
                                    else
                                    {
                                        <text>
                                            0
                                        </text>
                                    }
                                    @Localizer["sqm(s)"]
                                </span>
                            </td>
                            <td class="text-center">
                                @if (item!.Availability == CTI.ELMS.Core.Constants.LotAvailability.Available)
                                {
                                    <span class="badge bg-success">@item!.Availability</span>
                                }
                                else
                                {
                                    <span class="badge bg-warning">@item!.Availability</span>
                                }
                            </td>
                            <td>
                                <a class="btn btnMaterial btn-flat primary semicircle cancel AddUnitOfferedButton" title="@Localizer["Add"]" addId="@(item.UnitID)"><i class="fas fa-plus" style="font-size:18px;"></i></a>
                                <a class="btn btnMaterial btn-flat accent semicircle cancel RemovePreSelectedUnitButton" title="@Localizer["Remove Pre-Selected Unit"]" removeId="@(item.Id)"><i class="fas fa-trash" style="font-size:18px;"></i></a>
                            </td>
                        </tr>
                        counter++;
                    }
                }
            </tbody>
        </table>
    </div>
</div>
