@using Models
@model LeadTabNavigationPartial
<h5>@Model.LeadName</h5>
<ul class="nav nav-tabs card-header-tabs" role="tablist">
    @if (Model.TabName == "Info")
    {
        <li class="nav-item"><a class="nav-link active" style="cursor:pointer;">@Localizer["Info"]</a></li>
    }
    else
    {
        <li class="nav-item"><a class="nav-link" href="Edit?Id=@(Model.LeadId)" style="cursor:pointer;">@Localizer["Info"]</a></li>
    }
    @if (Model.TabName == "Activities")
    {
        <li class="nav-item"><a class="nav-link active" style="cursor:pointer;">@Localizer["Activities"]</a></li>
    }
    else
    {
        if ((await AuthorizationService.AuthorizeAsync(User, Permission.Activity.View)).Succeeded)
        {
            <li class="nav-item"><a class="nav-link" href="ActivityList?LeadId=@(Model.LeadId)&LeadName=@Model.LeadName" style="cursor:pointer;">@Localizer["Activities"]</a></li>
        }
        else
        {
            <li class="nav-item"><a class="nav-link" style="cursor:pointer;background:#ddd;">@Localizer["Activities"]</a></li>
        }
    }
    @if (Model.TabName == "Offerings")
    {
        <li class="nav-item"><a class="nav-link active" style="cursor:pointer;">@Localizer["Offerings"]</a></li>
    }
    else
    {
        if ((await AuthorizationService.AuthorizeAsync(User, Permission.Offering.View)).Succeeded)
        {
            <li class="nav-item"><a class="nav-link" href="OfferingList?LeadId=@(Model.LeadId)&LeadName=@Model.LeadName" style="cursor:pointer;">@Localizer["Offerings"]</a></li>
        }
        else
        {
            <li class="nav-item"><a class="nav-link" style="cursor:pointer;background:#ddd;">@Localizer["Offerings"]</a></li>
        }
    }
    @if (Model.TabName == "Award Notice")
    {
        <li class="nav-item"><a class="nav-link active" style="cursor:pointer;">@Localizer["Award Notice"]</a></li>
    }
    else
    {
        if ((await AuthorizationService.AuthorizeAsync(User, Permission.AwardNotice.View)).Succeeded)
        {
            <li class="nav-item"><a class="nav-link" href="AwardNoticeList?LeadId=@(Model.LeadId)&LeadName=@Model.LeadName" style="cursor:pointer;">@Localizer["Award Notice"]</a></li>
        }
        else
        {
            <li class="nav-item"><a class="nav-link" style="cursor:pointer;background:#ddd;">@Localizer["Award Notice"]</a></li>
        }
    }
    @if (Model.TabName == "Lease Contract")
    {
        <li class="nav-item"><a class="nav-link active" style="cursor:pointer;">@Localizer["Lease Contract"]</a></li>
    }
    else
    {
        if ((await AuthorizationService.AuthorizeAsync(User, Permission.LeaseContract.View)).Succeeded)
        {
            <li class="nav-item"><a class="nav-link" href="LeaseContractList?LeadId=@(Model.LeadId)&LeadName=@Model.LeadName" style="cursor:pointer;">@Localizer["Lease Contract"]</a></li>
        }
        else
        {
            <li class="nav-item"><a class="nav-link" style="cursor:pointer;background:#ddd;">@Localizer["Lease Contract"]</a></li>
        }
    }
</ul>