@page
@model ActivityListModel

@section Styles {
<partial name="_DataTableStyles" />
}
@{
    ViewData["Title"] = Localizer["Activity List"];
    ViewData["ActiveMainPage"] = "Lead";
    ViewData["Level1"] = "ELMS";
}
<input type="hidden" asp-for="@Model.LeadTabNavigation.LeadId" id="LeadId"/>
<div class="card">
    <div class="card-header">
        <partial name="_TabNavigation" model="@Model.LeadTabNavigation" />
    </div>
    <div class="card-body">
        <table id="activity" class="table table-hover table-bordered table-striped responsive nowrap" width="100%">
            <thead>
                <tr>
                    <th>
                        @Localizer["Project / Spaces"]
                    </th>
                    <th>
                        @Localizer["Status"]
                    </th>
                    <th>
                        @Localizer["Latest Activity"]
                    </th>
                    <th>
                        @Localizer["Client Feedback"]
                    </th>
                    <th>
                        @Localizer["Next Step"]
                    </th>
                    <th>
                        @Localizer["Actions"]
                    </th>
                </tr>
            </thead>
        </table>
        <div id="toolbar-container" class="btn-group" role="group" style="float:right;margin-top:10px;">
            <a asp-page="Index" class="btn btn-secondary" title="@Localizer["Cancel"]"><i class="fas fa-ban"></i></a>
        </div>
    </div>
</div>
<a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
    <i class="fas fa-chevron-up"></i>
</a>
@section Scripts {
<partial name="_DataTableScripts" />
<script asp-add-nonce>
    $(document).ready(function () {
        var table = $('#activity').DataTable({
            select: false,
            serverSide: true,
            order: [[ 5, 'desc' ]],
            ajax:
            {
                url: '@Url.Page("/Lead/ActivityList", new { area = "ELMS", handler = "ListAll" })',
                type: "POST",
                headers: {
                    RequestVerificationToken:
                        $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                data: function(d) {
                     d.leadId = $("#LeadId").val();
                },
            },
            initComplete: function( settings, json ) {
                BindTableRowCollapseEvent();
            },
            columns: [
                { data: "projectSpaces", name: "Project.ProjectName", responsivePriority: 1, title: '@Localizer["Project / Spaces"]', searchable: true },
                { data: "status", name: "LeadTask.LeadTaskName", responsivePriority: 1, title: '@Localizer["Status"]', searchable: false, orderable: false },
                { data: "latestActivity", name: "LeadTask.LeadTaskName", responsivePriority: 1, title: '@Localizer["Latest Activity"]', searchable: true },
                { data: "clientFeedback", name: "ClientFeedback.ClientFeedbackName", responsivePriority: 1, title: '@Localizer["Client Feedback"]', searchable: true },
                { data: "nextStep", name: "NextStep.NextStepTaskName", responsivePriority: 1, title: '@Localizer["Next Step"]', searchable: true },
                {
                    data: null,
                    searchable: false,
                    orderable: false,
                    responsivePriority: 2,
                    width: "10%",
                    render: function (data, type, row, meta) {
                        var url = '';
                        var button = '';
                @if ((await AuthorizationService.AuthorizeAsync(User, Permission.Activity.Edit)).Succeeded)
                {
                    <text>
                        url = '@Url.Page("/Lead/EditActivity", new { area = "ELMS" })' + '?id=' + row.id;
                        button =  button + '&nbsp;<a href="' + url + '" class="btn btnMaterial btn-flat success semicircle btnEditActivity" title="@Localizer["Edit"]"><i class="fas fa-pen"></i></a>';
                    </text>
                }      
                        return button;
                    },
                },
                { data: "lastModifiedDate", name: "LastModifiedDate", title: '@Localizer["Last Modified Date"]', visible: false, searchable: false },
                { data: "id", name: "Id", visible: false },
            ],
            buttons: [
        @if ((await AuthorizationService.AuthorizeAsync(User, Permission.Activity.Create)).Succeeded)
        {
            <text>
                {
                    text: '@Localizer["Add"]',
                    action: function (e, dt, button, config) {
                        var url = '@Url.Page("/Activity/Add", new { area = "ELMS" })';
                        window.location.href = url;
                    },
                    className: 'btn btn-success text-light',
                },
            </text>
        }
                'excel', 'pdf', 'pageLength',
            ],
        });
        var debounce = new $.fn.dataTable.Debounce(table); // Add delay to search

        $('.btn-table_filter').on('click', function(e) {
            table.ajax.reload(null, false);
        });
        function BindTableRowCollapseEvent()
        {
            $('#activity tbody').on('click', 'td.dtr-control', function () {
                $.showAjaxLoaderOnClick([".btnAddActivity",".btnEditActivity",".btnViewActivity",".btnDeleteActivity"]);
            });
        }
        $.showAjaxLoaderOnClick([".btnAddActivity",".btnEditActivity",".btnViewActivity",".btnDeleteActivity"]);

        $('#navbar_search').keyup(function(){
              table.search($(this).val()).draw();
        })
        $(".dataTables_filter").hide();
        $("#navbar_search_container").show();
    });
</script>
}