@page
@model AddActivityModel
@{
    ViewData["Title"] = Localizer["Add Activity"];
    ViewData["ActiveMainPage"] = "Lead";
    ViewData["Level1"] = "ELMS";
}
<div class="card">
    <div class="card-header">
        <partial name="_TabNavigation" model="@Model.LeadTabNavigation" />
    </div>
    <div class="card-body">
        <form id="activity-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.RemoveSubDetailId" />
            <input type="hidden" asp-for="@Model.AsyncAction" />
            <input type="hidden" asp-for="@Model.LeadTabNavigation.LeadId" name="LeadID"/>
            <div id="PartialLoaderContainer">
                <partial name="_ActivityInputFieldsPartial" model="Model.Activity" />
            </div>
            <div id="toolbar-container" class="btn-group" role="group" style="float:right;margin-top:10px;">
                <a asp-page="ActivityList" asp-route-leadid="@Model.LeadTabNavigation.LeadId" class="btn btn-secondary" title="@Localizer["Cancel"]"><i class="fas fa-ban"></i></a>
                <button type="submit" class="btn btn-success" title="@Localizer["Save changes"]" style="color:#fff;"><i class="fas fa-save"></i></button>
            </div>
        </form>
    </div>
</div>

<a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
    <i class="fas fa-chevron-up"></i>
</a>
<input class="selected-unitid" />
<partial name="_ModalPartial" />
@section Scripts {
<partial name="_ValidationScriptsPartial" />
<partial name="_DataTableScripts" />
<partial name="_LeadTaskScripts" />
<script asp-add-nonce>
    $(document).ready(function () {
        function InitializeForm()
        {
            $("#ProjectIdLabel").hide();
            $.bindLeadTaskDropdown("#LeadTaskId","#ClientFeedbackId","#ClientFeedbackIdSelected","#NextStepId","#NextStepIdSelected");
             $('#ProjectID').on( 'change', function () {                
                $('#AsyncAction').val('');
                $.triggerPageForm('ChangeFormValue','#PartialLoaderContainer', '#activity-form', InitializeForm);
            });
            $('.DisableSelectDropdown').on('mousedown', function(e) {
                e.preventDefault();
                this.blur();
                window.focus();
            });
            $.fn.projectSelect = function() {
                this.filter("select").each(function() {
                    $(this).ajaxSelect({
                        ajax: {
                            url: '@Url.Page("/Project/Index", new { area = "ELMS", handler = "Select2Data" })',
                        }
                    });
                });
                return this;
            };
            $("#ProjectID").projectSelect();
            $.fn.leadtaskSelect = function() {
                this.filter("select").each(function() {
                    $(this).ajaxSelect({
                        ajax: {
                            url: '@Url.Page("/LeadTask/Index", new { area = "ELMS", handler = "Select2Data" })',
                        }
                    });
                });
                return this;
            };
            $("#LeadTaskId").leadtaskSelect();
            $(".btn-add-unit").on('click', function (e) {
                modelPopup();
            });
        }
        InitializeForm();
        
        GetSelectedUnitQueryString = () => {
            //Get All Selected Bed
            var selectedUnitsElementList = document.querySelectorAll('.selected-unitid');
            let selectedUnitQueryString = '';
            for (var i = 0, len = selectedUnitsElementList.length; i < len; i++) {
                if (selectedUnitsElementList[i].value != null && selectedUnitsElementList[i].value != '') { selectedUnitQueryString += '&selectedUnits=' + selectedUnitsElementList[i].value; }
            }
            return selectedUnitQueryString;
        }
        function modelPopup() {    
            var selectedUnitQueryString = GetSelectedUnitQueryString();            
            var url = '@Url.Page("/Unit/Search/Index", new { area = "ELMS" })' + '?projectId=' + $('#ProjectId').val() + selectedUnitQueryString;
            var title = "Select Unit";
            openModal(url, title);
            $('#searchkey').keyup(function(){                   
                var selectedUnitQueryString = GetSelectedUnitQueryString();
                var searchUrl = '@Url.Page("/Unit/Search/Index", new { area = "CoLiving" })' + '?projectId=' + $('#ProjectId').val() + selectedUnitQueryString + '&searchKey=' + $(this).val();
                fillPartial(searchUrl, "#table-container");           
            })
        }    
    });
</script>
}