@page
@model AddOfferingModel
@{
    ViewData["Title"] = Localizer["Add Offering"];
    ViewData["ActiveMainPage"] = "Lead";
    ViewData["Level1"] = "ELMS";
}
<div class="card">
    <div class="card-header">
        <partial name="_TabNavigation" model="@Model.LeadTabNavigation" />
    </div>
    <div class="card-body">
        <form id="offering-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.RemoveSubDetailId" />
            <input type="hidden" asp-for="@Model.AsyncAction" />
            <input type="hidden" asp-for="@Model.LeadTabNavigation.LeadId" name="LeadID" />
            <input type="hidden" asp-for="@Model.AddPreSelectedUnitUnitId" />
            <div id="PartialLoaderContainer">
                <partial name="_OfferingInputFieldsPartial" model="Model.Offering" />
            </div>
            <div id="toolbar-container" class="btn-group" role="group" style="float:right;margin-top:10px;">
                <a asp-page="OfferingList" asp-route-leadid="@Model.LeadTabNavigation.LeadId" class="btn btn-secondary" title="@Localizer["Cancel"]"><i class="fas fa-ban"></i></a>
                <button type="submit" class="btn btn-success" title="@Localizer["Save changes"]" style="color:#fff;"><i class="fas fa-save"></i></button>
            </div>
        </form>
    </div>
</div>
<a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
    <i class="fas fa-chevron-up"></i>
</a>
<partial name="_ModalPartial" />
@section Scripts {
<partial name="_ValidationScriptsPartial" />
<partial name="_DataTableScripts" />
<script asp-add-nonce>
    $(document).ready(function () {
        function InitializeForm()
        {
            $("#ProjectIdLabel").hide();
           
             $('#ProjectID').on( 'change', function () {
                $('#AsyncAction').val('ChangeProject');
                $.triggerPageForm('ChangeFormValue','#PartialLoaderContainer', '#offering-form', InitializeForm);
            });
            $('.DisableSelectDropdown').on('mousedown', function(e) {
                e.preventDefault();
                this.blur();
                window.focus();
            });
            $.fn.projectSelect = function() {
                this.filter("select").each(function() {
                    $(this).ajaxSelect({
                        ajax: {
                            url: '@Url.Page("/Project/Index", new { area = "ELMS", handler = "Select2Data" })',
                        }
                    });
                });
                return this;
            };
            $("#ProjectID").projectSelect();            
            $(".btn-add-unit").on('click', function (e) {
                modelPopup();
            });
            GetSelectedUnitQueryString = () => {
                //Get All Selected Unit
                 let selectedUnitQueryString = '';
                if($('.selected-unitid').length > 0)
                {
                    var selectedUnitsElementList = document.querySelectorAll('.selected-unitid');
                    for (var i = 0, len = selectedUnitsElementList.length; i < len; i++) {
                        if (selectedUnitsElementList[i].value != null && selectedUnitsElementList[i].value != '') { selectedUnitQueryString += '&selectedUnits=' + selectedUnitsElementList[i].value; }
                    }
                }
                return selectedUnitQueryString;
            }
            $('.RemovePreSelectedUnitButton ').on( 'click', function () {
                $('#RemoveSubDetailId').val($(this).attr('removeid'));
                $('#AsyncAction').val('RemovePreSelectedUnit');
                $.triggerPageForm('ChangeFormValue','#PartialLoaderContainer', '#offering-form', InitializeForm);
            });
            function InitializeTable()
            {               
                var table = $('#available-units-table').DataTable({
                    select: false,
                    responsive: true,
                    ordering: true,
                    searching:true,
                    paging: true,
                    info: true,
                    buttons: [],
                    fnDrawCallback: function(oSettings) { 
                       $('.AddPreSelectedUnitButton').on( 'click', function () {
                            $('#AddPreSelectedUnitUnitId').val($(this).attr('addUnitId'));
                            $('#AsyncAction').val('AddPreSelectedUnit');
                            $.triggerPageForm('ChangeFormValue','#PartialLoaderContainer', '#offering-form', BindOnAddPreSelectedUnit);                   
                        });
                    },
                    columns: [
                        { data: "unitNo", name: "UnitNo", orderable: true, },
                        { data: "lotArea", name: "LotArea", orderable: true, },
                        {
                            data: "availabilityDate",
                            name: "AvailabilityDate",
                            orderable: true,
                            render: function (data, type, row, meta) {
                                return '<a class="badge ' + (row.availability=='@(CTI.ELMS.Core.Constants.LotAvailability.Available)'? 'bg-success' : 'bg-warning') + '" style="text-decoration:none;">' + row.availability + '</a>';
                            },
                        },
                        { data: "lotBudget", name: "LotBudget", orderable: true, },
                        { data: "unitId", name: "UnitId", visible: false, },
                        { data: "availability", name: "Availability", visible: false, },
                        { data: "availabilityDate", name: "AvailabilityDate", visible: false, },
                        {
                            data: null,
                            width: "10%",
                            render: function (data, type, row, meta) {
                                return '<a class="btn btnMaterial btn-flat success semicircle AddPreSelectedUnitButton" title="Select" addUnitId="' + row.unitId + '"><i class="fas fa-plus"></i></a>';
                            },
                        },
                    ]
                });
                function DestroyTable()
                {
                    table.destroy();
                }              
                var debounce = new $.fn.dataTable.Debounce(table); // Add delay to search     
            } 
            function modelPopup() {
                var selectedUnitQueryString = GetSelectedUnitQueryString();
                var url = '@Url.Page("/Unit/Search/Index", new { area = "ELMS" })' + '?projectId=' + $('.ProjectId').val() + selectedUnitQueryString;
                var title = "Select Unit";
                openModal(url, title, InitializeTable);
            }
            function BindOnAddPreSelectedUnit()
            {       
                var selectedUnitQueryString = GetSelectedUnitQueryString();
                var url = '@Url.Page("/Unit/Search/Index", new { area = "ELMS" })' + '?projectId=' + $('.ProjectId').val() + selectedUnitQueryString;                           
                fillPartial(url, "#table-container", InitializeTable);
                InitializeForm();
            }
        }
        InitializeForm();
    });
</script>
}