@page
@model EditOfferingModel
@{
    ViewData["Title"] = Localizer["Add Offering"];
    ViewData["ActiveMainPage"] = "Lead";
    ViewData["Level1"] = "ELMS"; 
}
<div class="card">
    <div class="card-header">
        <partial name="_TabNavigation" model="@Model.LeadTabNavigation" />
    </div>
    <div class="card-body">
        <form id="offering-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.RemoveSubDetailId" />
            <input type="hidden" asp-for="@Model.AsyncAction" />
            <input type="hidden" asp-for="@Model.LeadTabNavigation.LeadId" name="LeadID" />
            <input type="hidden" asp-for="@Model.AddPreSelectedUnitUnitId" />
            <input type="hidden" asp-for="@Model.AddUnitOfferedUnitId" />
            <div id="PartialLoaderContainer">
                <partial name="_OfferingInputFieldsPartial" model="Model.Offering" />
            </div>
            <div id="toolbar-container" class="btn-group" role="group" style="float:right;margin-top:10px;">
                <a asp-page="OfferingList" asp-route-leadid="@Model.LeadTabNavigation.LeadId" class="btn btn-secondary" title="@Localizer["Cancel"]"><i class="fas fa-ban"></i></a>
                <button type="submit" class="btn btn-success" title="@Localizer["Save changes"]" style="color:#fff;"><i class="fas fa-save"></i></button>
            </div>
        </form>
    </div>
</div>

<a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
    <i class="fas fa-chevron-up"></i>
</a>
@section Scripts {
<partial name="_ValidationScriptsPartial" />
<partial name="_DisableFieldsViaClassPartial" model="@("Lock_OfferSheetRates")" />
<script asp-add-nonce>
    $(document).ready(function () {
        function InitializeForm()
        {
            //For Edit Offering
            $(".ProjectId").hide();
            $.DisableFieldsViaClass();
            //Common Javascript
            $('#TurnOverDate').on( 'change', function () {
                setTimeout(function() {
                    $('#AsyncAction').val('Action_AutocalculateFitOut');
                    $.triggerPageForm('ChangeFormValue','#PartialLoaderContainer', '#offering-form', InitializeForm);
                }, 600);
            });
            $('#FitOutPeriod').on( 'change', function () {
                $('#AsyncAction').val('Action_AutocalculateTurnOverDate');
                $.triggerPageForm('ChangeFormValue','#PartialLoaderContainer', '#offering-form', InitializeForm);
            });

            $('#AutoComputeTotalSecurityDeposit, #SecMonths').on( 'change', function () {
                $('#AsyncAction').val('Action_AutoCalculateTotalSecurityDeposit');
                $.triggerPageForm('ChangeFormValue','#PartialLoaderContainer', '#offering-form', InitializeForm);
            });
            $('#AutoComputeTotalConstructionBond, #ConstructionMonths').on( 'change', function () {
                $('#AsyncAction').val('Action_AutoCalculateTotalConstructionBond');
                $.triggerPageForm('ChangeFormValue','#PartialLoaderContainer', '#offering-form', InitializeForm);
            });
            $('#ConstructionCAMCRate, #ConstructionCAMCMonths').on( 'change', function () {
                $('#AsyncAction').val('Action_AutoCalculateCAMC');
                $.triggerPageForm('ChangeFormValue','#PartialLoaderContainer', '#offering-form', InitializeForm);
            });
            $('#AutoComputeAnnualAdvertisingFee').on( 'change', function () {
                $('#AsyncAction').val('Action_AutoCalculateAnnualAdsFee');
                $.triggerPageForm('ChangeFormValue','#PartialLoaderContainer', '#offering-form', InitializeForm);
            });
            $('.DisableSelectDropdown').on('mousedown', function(e) {
                e.preventDefault();
                this.blur();
                window.focus();
            });
        }
        InitializeForm();
    });
</script>
}