@page
@model EditModel
@{
    ViewData["Title"] = Localizer["Edit Prospects"];
    ViewData["ActiveMainPage"] = "Lead";
    ViewData["Level1"] = "ELMS";
}
<div class="card">
    <div class="card-header">
        <partial name="_TabNavigation" model="@Model.LeadTabNavigation" />
    </div>
    <div class="card-body">
        <form id="lead-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.RemoveSubDetailId" />
            <input type="hidden" asp-for="@Model.AsyncAction" />
            <div id="PartialLoaderContainer">
                <partial name="_InputFieldsPartial" model="Model.Lead" />
            </div>
            <div id="toolbar-container" class="btn-group" role="group" style="float:right;margin-top:10px;">
                <a asp-page="Index" class="btn btn-secondary" title="@Localizer["Cancel"]"><i class="fas fa-ban"></i></a>
                <button type="submit" class="btn btn-success" title="@Localizer["Save changes"]" style="color:#fff;"><i class="fas fa-save"></i></button>
            </div>
        </form>
    </div>
</div>

<a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
    <i class="fas fa-chevron-up"></i>
</a>
@section Scripts {
<partial name="_ValidationScriptsPartial" />
<partial name="_ContactListValidationPartial" model="@Model.Lead" />
<partial name="_ContactPersonListValidationPartial" model="@Model.Lead" />

<script asp-add-nonce>
    $(document).ready(function () {
        function InitializeForm()
        {
            $('.DisableSelectDropdown').on('mousedown', function(e) {
                e.preventDefault();
                this.blur();
                window.focus();
            });

            $.InitializeContactFieldValidations($('#ContactCount').val());
            $('.RemoveContactButton ').on( 'click', function () {
                $('#RemoveSubDetailId').val($(this).attr('removeid'));
                $('#AsyncAction').val('RemoveContact');
                $.triggerPageForm('ChangeFormValue','#PartialLoaderContainer', '#lead-form', InitializeForm);
            });

            $('#btnAddContact').on( 'click', function () {
                $('#AsyncAction').val('AddContact');
                $.triggerPageForm('ChangeFormValue','#PartialLoaderContainer', '#lead-form', InitializeForm);
            });

            $.InitializeContactPersonFieldValidations($('#ContactPersonCount').val());
            $('.RemoveContactPersonButton ').on( 'click', function () {
                $('#RemoveSubDetailId').val($(this).attr('removeid'));
                $('#AsyncAction').val('RemoveContactPerson');
                $.triggerPageForm('ChangeFormValue','#PartialLoaderContainer', '#lead-form', InitializeForm);
            });

            $('#btnAddContactPerson').on( 'click', function () {
                $('#AsyncAction').val('AddContactPerson');
                $.triggerPageForm('ChangeFormValue','#PartialLoaderContainer', '#lead-form', InitializeForm);
            });

            $.fn.salutationSelect = function() {
                this.filter("select").each(function() {
                    $(this).ajaxSelect({
                        ajax: {
                            url: '@Url.Page("/Salutation/Index", new { area = "ELMS", handler = "Select2Data" })',
                        }
                    });
                });
                return this;
            };
            var salutationlistdropdowns = document.getElementsByClassName('SelectSalutation');
            for ( var i=0; i< salutationlistdropdowns.length; i++) {
                $("#ContactPersonList_"+i+"_SalutationID").salutationSelect();
            }


            $.fn.projectSelect = function() {
                this.filter("select").each(function() {
                    $(this).ajaxSelect({
                        ajax: {
                            url: '@Url.Page("/Project/Index", new { area = "ELMS", handler = "Select2Data" })',
                        }
                    });
                });
                return this;
            };

            $.fn.businessnaturecategorySelect = function() {
                this.filter("select").each(function() {
                    $(this).ajaxSelect({
                        ajax: {
                            url: '@Url.Page("/BusinessNatureCategory/Index", new { area = "ELMS", handler = "Select2Data" })',
                        }
                    });
                });
                return this;
            };
            $("#BusinessNatureCategoryID").businessnaturecategorySelect();

            $.fn.businessnaturesubitemSelect = function() {
                this.filter("select").each(function() {
                    $(this).ajaxSelect({
                        ajax: {
                            url: '@Url.Page("/BusinessNatureSubItem/Index", new { area = "ELMS", handler = "Select2Data" })',
                        }
                    });
                });
                return this;
            };
            $("#BusinessNatureSubItemID").businessnaturesubitemSelect();

            $.fn.leadsourceSelect = function() {
                this.filter("select").each(function() {
                    $(this).ajaxSelect({
                        ajax: {
                            url: '@Url.Page("/LeadSource/Index", new { area = "ELMS", handler = "Select2Data" })',
                        }
                    });
                });
                return this;
            };
            $("#LeadSourceId").leadsourceSelect();

            $.fn.businessnatureSelect = function() {
                this.filter("select").each(function() {
                    $(this).ajaxSelect({
                        ajax: {
                            url: '@Url.Page("/BusinessNature/Index", new { area = "ELMS", handler = "Select2Data" })',
                        }
                    });
                });
                return this;
            };
            $("#BusinessNatureID").businessnatureSelect();

            $.fn.operationtypeSelect = function() {
                this.filter("select").each(function() {
                    $(this).ajaxSelect({
                        ajax: {
                            url: '@Url.Page("/OperationType/Index", new { area = "ELMS", handler = "Select2Data" })',
                        }
                    });
                });
                return this;
            };
            $("#OperationTypeID").operationtypeSelect();

            $.fn.leadtouchpointSelect = function() {
                this.filter("select").each(function() {
                    $(this).ajaxSelect({
                        ajax: {
                            url: '@Url.Page("/LeadTouchPoint/Index", new { area = "ELMS", handler = "Select2Data" })',
                        }
                    });
                });
                return this;
            };
            $("#LeadTouchpointId").leadtouchpointSelect();


        }
        InitializeForm();
    });
</script>
}