@using Models
@model TaskListViewModel

<div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-1 row-cols-xl-1 row-cols-xxl-1">
    <div class="col">
	<div class="mb-3">
		<label asp-for="@Model.TaskListNo" class="form-label "><strong>@Localizer["Task No"] :</strong></label>
			<input asp-for="@Model.TaskListNo" class="form-control"  />
			<span asp-validation-for="@Model.TaskListNo" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.TaskDescription" class="form-label "><strong>@Localizer["Task Description"] :</strong></label>
			<input asp-for="@Model.TaskDescription" class="form-control" maxlength="255" />
			<span asp-validation-for="@Model.TaskDescription" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.TaskClassification" class="form-label "><strong>@Localizer["Task Classification"] :</strong></label>
			<input asp-for="@Model.TaskClassification" class="form-control"  />
			<span asp-validation-for="@Model.TaskClassification" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.TaskFrequency" class="form-label "><strong>@Localizer["Task Frequency"] :</strong></label>
			<input asp-for="@Model.TaskFrequency" class="form-control"  />
			<span asp-validation-for="@Model.TaskFrequency" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.TaskDueDay" class="form-label "><strong>@Localizer["Task Due Day"] :</strong></label>
			<input asp-for="@Model.TaskDueDay" class="form-control"  />
			<span asp-validation-for="@Model.TaskDueDay" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.TargetDueDate" class="form-label "><strong>@Localizer["Target Due Date"] :</strong></label>
			<input asp-for="@Model.TargetDueDate" class="form-control"  />
			<span asp-validation-for="@Model.TargetDueDate" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.HolidayTag" class="form-label fieldrequired"><strong>@Localizer["Holiday Tag"] :</strong></label>
			<input asp-for="@Model.HolidayTag" class="form-control"  />
			<span asp-validation-for="@Model.HolidayTag" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.CompanyId" class="form-label fieldrequired"><strong>@Localizer["Company"] :</strong></label>
			<select asp-for="@Model.CompanyId" class="form-control" asp-items="@(dropdownService.GetCompanyList(Model.CompanyId))"><option value="">- Select Company -</option></select>
			<span asp-validation-for="@Model.CompanyId" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.DepartmentId" class="form-label "><strong>@Localizer["Department"] :</strong></label>
			<select asp-for="@Model.DepartmentId" class="form-control" asp-items="@(dropdownService.GetDepartmentList(Model.DepartmentId))"><option value="">- Select Department -</option></select>
			<span asp-validation-for="@Model.DepartmentId" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.SectionId" class="form-label "><strong>@Localizer["Section"] :</strong></label>
			<select asp-for="@Model.SectionId" class="form-control" asp-items="@(dropdownService.GetSectionList(Model.SectionId))"><option value="">- Select Section -</option></select>
			<span asp-validation-for="@Model.SectionId" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.TeamId" class="form-label "><strong>@Localizer["Team"] :</strong></label>
			<select asp-for="@Model.TeamId" class="form-control" asp-items="@(dropdownService.GetTeamList(Model.TeamId))"><option value="">- Select Team -</option></select>
			<span asp-validation-for="@Model.TeamId" class="text-danger"></span>
			
	</div>
</div>

</div>
