@using Models
@model TaskListViewModel

<div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-1 row-cols-xl-1 row-cols-xxl-1">
    <div class="col">
        <div class="mb-3">
            <label asp-for="@Model.TaskListCode" class="form-label "><strong>@Localizer["Task List Code"] :</strong></label>
            <input asp-for="@Model.TaskListCode" class="form-control" readonly />
            <span asp-validation-for="@Model.TaskListCode" class="text-danger"></span>

        </div>
    </div>
    <div class="col">
        <div class="mb-3">
            <label asp-for="@Model.TaskDescription" class="form-label fieldrequired"><strong>@Localizer["Task Description"] :</strong></label>
            <input asp-for="@Model.TaskDescription" class="form-control" maxlength="255" />
            <span asp-validation-for="@Model.TaskDescription" class="text-danger"></span>

        </div>
    </div>
    <div class="col">
        <div class="mb-3">
            <label asp-for="@Model.SubTask" class="form-label fieldrequired"><strong>@Localizer["Sub Task"] :</strong></label>
            <input asp-for="@Model.SubTask" class="form-control" maxlength="255" />
            <span asp-validation-for="@Model.SubTask" class="text-danger"></span>

        </div>
    </div>
    <div class="col">
        <div class="mb-3">
            <label asp-for="@Model.TaskClassification" class="form-label fieldrequired"><strong>@Localizer["Task Classification"] :</strong></label>
            <select asp-for="@Model.TaskClassification" class="form-control" asp-items="@(dropdownService.TaskClassificationList());">
                <option value="">- Select Task Type -</option>
            </select>
            <span asp-validation-for="@Model.TaskClassification" class="text-danger"></span>
        </div>
    </div>


    @if (Model.TaskClassification == Core.Constants.TaskClassifications.Adhoc)
    {
        <div class="col">
            <div class="mb-3">
                <label asp-for="@Model.TaskFrequency" class="form-label fieldrequired"><strong>@Localizer["Task Frequency"] :</strong></label>
                <select asp-for="@Model.TaskFrequency" class="form-control" asp-items="@(dropdownService.TaskFrequencyAdhocList());">
                    <option value="">- Select Task Frequency -</option>
                </select>
                <span asp-validation-for="@Model.TaskFrequency" class="text-danger"></span>
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <label asp-for="@Model.TargetDueDate" class="form-label fieldrequired"><strong>@Localizer["Target Due Date"] :</strong></label>
                <input asp-for="@Model.TargetDueDate" class="form-control" />
                <span asp-validation-for="@Model.TargetDueDate" class="text-danger"></span>

            </div>
        </div>
    }
    else if (Model.TaskClassification == Core.Constants.TaskClassifications.Recurring)
    {
        <div class="col">
            <div class="mb-3">
                <label asp-for="@Model.TaskFrequency" class="form-label fieldrequired"><strong>@Localizer["Task Frequency"] :</strong></label>
                <select asp-for="@Model.TaskFrequency" class="form-control" asp-items="@(dropdownService.TaskFrequencyRecurList());">
                    <option value="">- Select Task Frequency -</option>
                </select>
                <span asp-validation-for="@Model.TaskFrequency" class="text-danger"></span>
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <label asp-for="@Model.TaskDueDay" class="form-label fieldrequired"><strong>@Localizer["Task Due Day"] :</strong></label>
                <input asp-for="@Model.TaskDueDay" class="form-control" />
                <span asp-validation-for="@Model.TaskDueDay" class="text-danger"></span>
            </div>
        </div>
    }
    else
    {
        <div class="col">
            <div class="mb-3">
                <label asp-for="@Model.TaskFrequency" class="form-label fieldrequired"><strong>@Localizer["Task Frequency"] :</strong></label>
                <select asp-for="@Model.TaskFrequency" class="form-control" asp-items="@(dropdownService.TaskFrequencyList());">
                    <option value="">- Select Task Frequency -</option>
                </select>
                <span asp-validation-for="@Model.TaskFrequency" class="text-danger"></span>
            </div>
        </div>
    }

    <div class="col">
        <div class="mb-3">
            <label asp-for="@Model.Company" class="form-label fieldrequired"><strong>@Localizer["Company"] :</strong></label>
            <select asp-for="@Model.Company" class="form-control" asp-items="@(await dropdownService.GetEntities());">
                <option value="">- Select Company -</option>
            </select>
            <span asp-validation-for="@Model.Company" class="text-danger"></span>
        </div>
    </div>

    <div class="col">
        <div class="mb-3">
            <label asp-for="@Model.Department" class="form-label fieldrequired"><strong>@Localizer["Department"] :</strong></label>
            <select asp-for="@Model.Department" class="form-control" asp-items="@(await dropdownService.GetDepartments(Model.Company!));">
                <option value="">- Select Department -</option>
            </select>
            <span asp-validation-for="@Model.Department" class="text-danger"></span>
        </div>
    </div>


    <div class="row">
        <div class="col">
            <div class="mb-3">
                <label asp-for="@Model.PrimaryEndorser" class="form-label "><strong>@Localizer["Primary Endorser"] :</strong></label>
                <select asp-for="@Model.PrimaryEndorser" class="form-control" asp-items="@(await dropdownService.GetEndorsers(Model.Company));">
                    <option value="">- Select Primary Endorser -</option>
                </select>
                <span asp-validation-for="@Model.PrimaryEndorser" class="text-danger"></span>

            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <label asp-for="@Model.PrimaryApprover" class="form-label fieldrequired"><strong>@Localizer["Primary Approver"] :</strong></label>
                <select asp-for="@Model.PrimaryApprover" class="form-control" asp-items="@(await dropdownService.GetApprovers(Model.Company));">
                    <option value="">- Select Primary Approver -</option>
                </select>
                <span asp-validation-for="@Model.PrimaryApprover" class="text-danger"></span>

            </div>
        </div>
    </div>

    <div class="col">
        <div class="mb-3">
            <label asp-for="@Model.AlternateEndorser" class="form-label "><strong>@Localizer["Alternate Endorser"] :</strong></label>
            <select asp-for="@Model.PrimaryEndorser" class="form-control" asp-items="@(dropdownService.EndorserList());">
                <option value="">- Select Alternate Endorser -</option>
            </select>
            <span asp-validation-for="@Model.AlternateEndorser" class="text-danger"></span>

        </div>
    </div>
    <div class="col">
        <div class="mb-3">
            <label asp-for="@Model.AlternateApprover" class="form-label fieldrequired"><strong>@Localizer["Alternate Approver"] :</strong></label>
            <select asp-for="@Model.AlternateApprover" class="form-control" asp-items="@(dropdownService.ApproverList());">
                <option value="">- Select Alternate Approver -</option>
            </select>
            <span asp-validation-for="@Model.AlternateApprover" class="text-danger"></span>

        </div>
    </div>
</div>
