@using Models
@model TaskListViewModel
<input type="hidden" id="ChildTaskCount" value="@Model?.ChildTaskList?.Count" />
<div class="card">
    <h5 class="card-header">
        <span class="card-header-custom">@Localizer["Milestone"]</span>
        <a id="btnAddChildTask" class="btn btnMaterial btn-flat primary semicircle cancel btnAddRemoveSubDetailList" title="@Localizer["Add"]"><i class="fas fa-plus"></i></a>
        <button class="cancel d-none" type="button" id="btnRemoveChildTask" value="RemoveChildTask"></button>
    </h5>
    <div class="card-body overflow-auto">
        <table id="subDetailList" class="table table-hover table-bordered table-striped responsive nowrap" width="100%">
            <thead>
                <tr>
                    <th class="d-none"></th>
                    <th>
                        @Localizer["Task Description"]
                    </th>
                    <th>
                        @Localizer["Action"]
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model?.ChildTaskList != null)
                {
                    int counter = 0;
                    foreach (var item in Model.ChildTaskList)
                    {
                        <tr>
                            <td class="d-none">
                                <input type="hidden" name="ChildTaskList[@counter].Id" value="@item.Id" />
                                <input type="hidden" name="ChildTaskList[@counter].ParentTaskId" value="@item.ParentTaskId" />
                            </td>
                            <td>
                                <input asp-for="@item.TaskDescription" name="ChildTaskList[@counter].TaskDescription" class="form-control" readonly />
                                <span data-valmsg-for="ChildTaskList[@counter].TaskDescription" asp-validation-for="@item.TaskDescription" class="text-danger"></span>
                                <input type="hidden" asp-for="@item.TaskDescription" name="ChildTaskList[@counter].TaskDescription" />
                            </td>
                            <td>
                                <a class="btn btnMaterial btn-flat accent semicircle cancel RemoveChildTaskButton btnAddRemoveSubDetailList" title="@Localizer["Remove Child Task"]" removeId="@(item.Id)"><i class="fas fa-trash"></i></a>
                            </td>
                        </tr>
                        counter++;
                    }
                }
            </tbody>
        </table>
    </div>
</div>
