@using Models
@model TaskListViewModel
<input type="hidden" id="TaskTagCount" value="@Model?.TaskTagList?.Count" />
<div class="card">
    <h5 class="card-header">
        <span  class="card-header-custom">@Localizer["Tag"]</span>
        <a id="btnAddTaskTag" class="btn btnMaterial btn-flat primary semicircle cancel btnAddRemoveSubDetailList" title="@Localizer["Add"]"><i class="fas fa-plus"></i></a>
        <button class="cancel d-none" type="button" id="btnRemoveTaskTag" value="RemoveTaskTag"></button>
    </h5>
    <div class="card-body overflow-auto">
        <table id="subDetailList" class="table table-hover table-bordered table-striped responsive nowrap" width="100%">
            <thead>
                <tr>
                    <th class="d-none"></th>
                    <th>
								@Localizer["Tag"]
							</th>
							
                    <th>
                        @Localizer["Action"]
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model?.TaskTagList != null)
                {
                    int counter = 0;
                    foreach (var item in Model.TaskTagList)
                    {
                        <tr>
                            <td class="d-none">
                                <input type="hidden" name="TaskTagList[@counter].Id" value="@item.Id" />
                                <input type="hidden" name="TaskTagList[@counter].TaskListId" value="@item.TaskListId" />
                            </td>
                            <td>
										<select asp-for="@item.TagId" id="TaskTagList_@(counter)_TagId" name="TaskTagList[@counter].TagId" class="form-control SelectTags" asp-items="@(dropdownService.GetTagsList(item.TagId))" >
											<option value="">- Select Tag -</option>
										</select>
										<span data-valmsg-for="TaskTagList[@counter].TagId" asp-validation-for="@item.TagId" class="text-danger"></span>
										
									</td>
									
                            <td>
                                <a class="btn btnMaterial btn-flat accent semicircle cancel RemoveTaskTagButton btnAddRemoveSubDetailList" title="@Localizer["Remove TaskTag"]" removeId="@(item.Id)"><i class="fas fa-trash"></i></a>
                            </td>
                        </tr>
                        counter++;
                    }
                }
            </tbody>
        </table>
    </div>
</div>
