@page
@model EditModel
@{
    ViewData["Title"] = Localizer["Edit Task List"];
    ViewData["ActiveMainPage"] = "TaskList";
    ViewData["Level1"] = "DSF";
}
<form id="taskList-form" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="@Model.RemoveSubDetailId" />
    <input type="hidden" asp-for="@Model.AsyncAction" />
    <div id="PartialLoaderContainer">
        <partial name="_InputFieldsPartial" model="Model.TaskList" />
    </div>
    <div id="toolbar-container" class="btn-group" role="group">  
		<a asp-page="Index" id="btnCancelConfirmationModal" class="btn btn-secondary" title="@Localizer["Back"]"><i class="fas fa-arrow-left"></i></a>                
        <button type="button" class="btn btn-success" id="btnConfirmationModal" title="@Localizer["Save changes"]"><i class="fas fa-save"></i></button>
    </div>
</form>
<a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
    <i class="fas fa-chevron-up"></i>
</a>
@section Scripts {
<partial name="_ValidationScriptsPartial" />
<partial name="_AssignmentListValidationPartial" model="@Model.TaskList" />

<script asp-add-nonce>
    $(document).ready(function () {
        function InitializeForm()
        {
			$.bindSaveConfirmationModal('Update', '#btnConfirmationModal','#taskList-form');
            $.bindCancelConfirmationModal('Cancel', '#btnCancelConfirmationModal','#taskList-form', 'Do you want to cancel the changes?');
            $('.DisableSelectDropdown').on('mousedown', function(e) {
                e.preventDefault();
                this.blur();
                window.focus();
            });
            
			$.InitializeAssignmentFieldValidations($('#AssignmentCount').val());
			$('.RemoveAssignmentButton ').on( 'click', function () {
				$('#RemoveSubDetailId').val($(this).attr('removeid'));
				$('#AsyncAction').val('RemoveAssignment');
				$.triggerPageForm('ChangeFormValue','#PartialLoaderContainer', '#taskList-form', InitializeForm);
			});

			$('#btnAddAssignment').on( 'click', function () {
				$('#AsyncAction').val('AddAssignment');
				$.triggerPageForm('ChangeFormValue','#PartialLoaderContainer', '#taskList-form', InitializeForm);
			});

            $('#TaskType').on('change', function () {
            $('#AsyncAction').val('');
            $.triggerPageForm('ChangeFormValue', '#PartialLoaderContainer', '#taskList-form', InitializeForm);
            });

        }
        InitializeForm();
    });
</script>
}