@model CTI.TenantSales.PdfGenerator.Models.TenantDailySales

<table class="table table-hover tablesorter" style="border:1px solid #ddd;">
    <thead style="height:10px !important;overflow-y:hidden;">
        <tr style="color:#fff;">
            <th class="TenantSales_TableHeader"></th>
            <th class="TenantSales_TableHeader">@Localizer["Day"]</th>
            <th class="TenantSales_TableHeader">@Localizer["Sales Date"]</th>
            <th class="TenantSales_TableHeader">@Localizer["Sales Category"]</th>
            <th class="TenantSales_TableHeader" style="min-width:100px;">@Localizer["Old Accumulated Total"]</th>
            <th class="TenantSales_TableHeader" style="min-width:100px;">@Localizer["New Accumulated Total"]</th>
            <th class="TenantSales_TableHeader" style="min-width:100px;">@Localizer["Taxable Sales Amount"]</th>
            <th class="TenantSales_TableHeader" style="min-width:100px;">@Localizer["Non Taxable Sales Amount"]</th>
            <th class="TenantSales_TableHeader" style="min-width:100px;">@Localizer["Service Charge"]</th>
            <th class="TenantSales_TableHeader" style="min-width:100px;">@Localizer["Tax Amount"]</th>
            <th class="TenantSales_TableHeader" style="min-width:100px;">@Localizer["Total Sales"]</th>
            <th class="TenantSales_TableHeader" style="min-width:100px;">@Localizer["Refund Amount"]</th>
            <th class="TenantSales_TableHeader" style="min-width:100px;">@Localizer["Adjustment Amount"]</th>
            <th class="TenantSales_TableHeader" style="min-width:100px;">@Localizer["Void Amount"]</th>
            <th class="TenantSales_TableHeader" style="min-width:100px;">@Localizer["Senior Discount"]</th>
            <th class="TenantSales_TableHeader" style="min-width:100px;">@Localizer["Promo Discount"]</th>
            <th class="TenantSales_TableHeader" style="min-width:100px;">@Localizer["Other Discount"]</th>
            <th class="TenantSales_TableHeader" style="min-width:100px;">@Localizer["Count Of All Transaction"]</th>
            <th class="TenantSales_TableHeader" style="min-width:100px;">@Localizer["Count Of Sales Transaction"]</th>
        </tr>
    </thead>
    <tbody id="TenantSalesTableContent">
        <tr>
            <td class="TenantSales_Row Align-Left" style="cursor:pointer;">
            </td>
            <td class="TenantSales_Row Align-Left" style="cursor:pointer;">
            </td>
            <td colspan="4" class="TenantSales_Row Align-Right" style="cursor:pointer;">
                <b>Total for Tenant : @Model.TenantCode / @Model.TenantName</b>
            </td>
            <td class="TenantSales_Row Align-Right" style="cursor:pointer;">@Model.TaxableSalesAmount</td>
            <td class="TenantSales_Row Align-Right" style="cursor:pointer;">@Model.NonTaxableSalesAmount</td>
            <td class="TenantSales_Row Align-Right" style="cursor:pointer;">@Model.TotalServiceCharge</td>
            <td class="TenantSales_Row Align-Right" style="cursor:pointer;">@Model.TotalTax</td>
            <td class="TenantSales_Row Align-Right" style="cursor:pointer;">@Model.TotalNetSales</td>
            <td class="TenantSales_Row Align-Right" style="cursor:pointer;">@Model.RefundDiscount</td>
            <td class="TenantSales_Row Align-Right" style="cursor:pointer;">@Model.AdjustmentAmount</td>
            <td class="TenantSales_Row Align-Right" style="cursor:pointer;">@Model.VoidAmount</td>
            <td class="TenantSales_Row Align-Right" style="cursor:pointer;">@Model.SeniorCitizenDiscount</td>
            <td class="TenantSales_Row Align-Right" style="cursor:pointer;">@Model.PromoDiscount</td>
            <td class="TenantSales_Row Align-Right" style="cursor:pointer;">@Model.OtherDiscount</td>
            <td class="TenantSales_Row Align-Right" style="cursor:pointer;">@Model.NoOfTransactions</td>
            <td class="TenantSales_Row Align-Right" style="cursor:pointer;">@Model.NoOfSalesTransactions</td>
        </tr>
    </tbody>
</table>