@model CTI.TenantSales.PdfGenerator.Models.DailySalesModel

@{
    Layout = null;
}
<style>
    .TenantSales_TableHeader {
        text-align: center;
    }

    .Align-Right {
        text-align: right;
    }

    .Align-Left {
        text-align: left;
    }

    .Align-Center {
        text-align: center;
    }

    body * {
        font-family: Arial;
        font-size: 12px;
    }
</style>
<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body style="">
    @if (Model != null)
    {
        @foreach (var tenantItem in Model.TenantDailySales)
        {
            @foreach (var posItem in tenantItem.TenantPOSList)
            {
                if (posItem.ShowSales)
                {
                    <div style="page-break-inside:avoid !important;">
                        <div style="border:1px solid #ddd; page-break-inside:avoid !important;padding:20px;">
                            <div class="row">
                                <div style="float:left;padding-left:10px;">
                                    <span><b>Daily Sales Report</b> / @tenantItem.ProjectName </span>
                                    <br />
                                    <span><b>Pos No. :</b> @posItem.Code / <b>For the period :</b> @Model.DateFrom.ToString("MM/dd/yyyy") - @Model.DateTo.ToString("MM/dd/yyyy")</span>
                                </div>
                                <div style="float:right;padding-right:10px;">
                                    <span><b>Tenant : </b>@tenantItem.TenantCode / @tenantItem.TenantName </span>
                                </div>                              
                            </div>                         
                        </div>
                        <table class="table table-hover tablesorter" style="border:1px solid #ddd;">
                            <thead>
                                <tr>
                                    <th class="TenantSales_TableHeader"></th>
                                    <th class="TenantSales_TableHeader">@Localizer["Day"]</th>
                                    <th class="TenantSales_TableHeader">@Localizer["Sales Date"]</th>
                                    <th class="TenantSales_TableHeader">@Localizer["Sales Category"]</th>
                                    <th class="TenantSales_TableHeader" style="min-width:100px;">@Localizer["OldAccumulatedTotal"]</th>
                                    <th class="TenantSales_TableHeader" style="min-width:100px;">@Localizer["NewAccumulatedTotal"]</th>
                                    <th class="TenantSales_TableHeader" style="min-width:100px;">@Localizer["TaxableSalesAmount"]</th>
                                    <th class="TenantSales_TableHeader" style="min-width:100px;">@Localizer["NonTaxableSalesAmount"]</th>
                                    <th class="TenantSales_TableHeader" style="min-width:100px;">@Localizer["ServiceCharge"]</th>
                                    <th class="TenantSales_TableHeader" style="min-width:100px;">@Localizer["TaxAmount"]</th>
                                    <th class="TenantSales_TableHeader" style="min-width:100px;">@Localizer["TotalSales"]</th>
                                    <th class="TenantSales_TableHeader" style="min-width:100px;">@Localizer["RefundAmount"]</th>
                                    <th class="TenantSales_TableHeader" style="min-width:100px;">@Localizer["AdjustmentAmount"]</th>
                                    <th class="TenantSales_TableHeader" style="min-width:100px;">@Localizer["VoidAmount"]</th>
                                    <th class="TenantSales_TableHeader" style="min-width:100px;">@Localizer["SeniorDiscount"]</th>
                                    <th class="TenantSales_TableHeader" style="min-width:100px;">@Localizer["PromoDiscount"]</th>
                                    <th class="TenantSales_TableHeader" style="min-width:100px;">@Localizer["OtherDiscount"]</th>
                                    <th class="TenantSales_TableHeader" style="min-width:100px;">@Localizer["CountOfAllTransaction"]</th>
                                    <th class="TenantSales_TableHeader" style="min-width:100px;">@Localizer["CountOfSalesTransaction"]</th>
                                </tr>
                            </thead>
                            <tbody id="TenantSalesTableContent">

                                @foreach (var item in posItem.TenantPOSSalesList.OrderBy(l => l.SalesDate).ToList())
                                {
                                    item.SetDayNumber(Model.DateFrom);
                                    @await Html.PartialAsync("..\\DailySales\\Pdf\\DailySalesReportItem", item)
                                }

                                @if (posItem.TenantPOSSalesList.Count > 0)
                                {
                                    @await Html.PartialAsync("..\\DailySales\\Pdf\\DailySalesReportSummary", posItem)
                                }
                            </tbody>
                        </table>                     
                    </div>
                }
            }
            @if (tenantItem.ShowSalesSummary)
            {
                @await Html.PartialAsync("..\\DailySales\\Pdf\\DailySalesReportSummaryPerTenant", tenantItem)
            }
        }
    }

</body>
</html>
