@*@model TenantSales.Web.Models.ReportViewModels.TenantDailySales

<table class="table table-hover tablesorter" style="border:1px solid #ddd;">
    <thead style="height:10px !important;overflow-y:hidden;">
        <tr style="color:#fff;">
            <th class="TenantSales_TableHeader"></th>
            <th class="TenantSales_TableHeader">@Resource.LabelDay</th>
            <th class="TenantSales_TableHeader">@Resource.LabelSalesDate</th>
            <th class="TenantSales_TableHeader">@Resource.LabelSalesCategory</th>
            <th class="TenantSales_TableHeader" style="min-width:100px;"></th>
            <th class="TenantSales_TableHeader" style="min-width:100px;"></th>
            <th class="TenantSales_TableHeader" style="min-width:100px;">@Resource.LabelTaxableSalesAmount</th>
            <th class="TenantSales_TableHeader" style="min-width:100px;">@Resource.LabelNonTaxableSalesAmount</th>
            <th class="TenantSales_TableHeader" style="min-width:100px;">@Resource.LabelServiceCharge</th>
            <th class="TenantSales_TableHeader" style="min-width:100px;">@Resource.LabelTaxAmount</th>
            <th class="TenantSales_TableHeader" style="min-width:100px;">@Resource.LabelTotalSales</th>
            <th class="TenantSales_TableHeader" style="min-width:100px;">@Resource.LabelRefundAmount</th>
            <th class="TenantSales_TableHeader" style="min-width:100px;">@Resource.LabelAdjustmentAmount</th>
            <th class="TenantSales_TableHeader" style="min-width:100px;">@Resource.LabelVoidAmount</th>
            <th class="TenantSales_TableHeader" style="min-width:100px;">@Resource.LabelSeniorDiscount</th>
            <th class="TenantSales_TableHeader" style="min-width:100px;">@Resource.LabelPromoDiscount</th>
            <th class="TenantSales_TableHeader" style="min-width:100px;">@Resource.LabelOtherDiscount</th>
            <th class="TenantSales_TableHeader" style="min-width:100px;">@Resource.LabelCountOfAllTransaction</th>
            <th class="TenantSales_TableHeader" style="min-width:100px;">@Resource.LabelCountOfSalesTransaction</th>
        </tr>
    </thead>
    <tbody id="TenantSalesTableContent">
        <tr>
            <td class="TenantSales_Row Align-Left" style="cursor:pointer;">
            </td>
            <td class="TenantSales_Row Align-Left" style="cursor:pointer;">
            </td>
            <td colspan="4" class="TenantSales_Row Align-Right" style="cursor:pointer;">
                <b>Total for Tenant : @Model.TenantCode / @Model.TenantName</b>
            </td>
            <td class="TenantSales_Row Align-Right" style="cursor:pointer;">@Model.TaxableSalesAmount</td>
            <td class="TenantSales_Row Align-Right" style="cursor:pointer;">@Model.NonTaxableSalesAmount</td>
            <td class="TenantSales_Row Align-Right" style="cursor:pointer;">@Model.TotalServiceCharge</td>
            <td class="TenantSales_Row Align-Right" style="cursor:pointer;">@Model.TotalTax</td>
            <td class="TenantSales_Row Align-Right" style="cursor:pointer;">@Model.TotalNetSales</td>     
            <td class="TenantSales_Row Align-Right" style="cursor:pointer;">@Model.RefundDiscount</td>
            <td class="TenantSales_Row Align-Right" style="cursor:pointer;">@Model.AdjustmentAmount</td>
            <td class="TenantSales_Row Align-Right" style="cursor:pointer;">@Model.VoidAmount</td>
            <td class="TenantSales_Row Align-Right" style="cursor:pointer;">@Model.SeniorCitizenDiscount</td>
            <td class="TenantSales_Row Align-Right" style="cursor:pointer;">@Model.PromoDiscount</td>
            <td class="TenantSales_Row Align-Right" style="cursor:pointer;">@Model.OtherDiscount</td>
            <td class="TenantSales_Row Align-Right" style="cursor:pointer;">@Model.NoOfTransactions</td>
            <td class="TenantSales_Row Align-Right" style="cursor:pointer;">@Model.NoOfSalesTransactions</td>
        </tr>
    </tbody>
</table>*@