@*@model TenantSales.Web.Models.ReportViewModels.TenantPOSDailySales

<tr>
    <td class="TenantSales_Row Align-Left" style="cursor:pointer;">
    </td>
    <td class="TenantSales_Row Align-Left" style="cursor:pointer;">
    </td>
    <td class="TenantSales_Row Align-Left" style="cursor:pointer;">
    </td>
    <td class="TenantSales_Row Align-Left" style="cursor:pointer;">
    </td>
    <td class="TenantSales_Row Align-Right" style="cursor:pointer;">
        <b>Total for POS No.   @Model.Code</b>
    </td>
    <td class="TenantSales_Row Align-Right" style="cursor:pointer;">
    </td>      
    <td class="ReportBorder" style="cursor:pointer;text-align: right;">
        @Model.TaxableSalesAmount
    </td>
    <td class="ReportBorder" style="cursor:pointer;text-align: right;">
        @Model.NonTaxableSalesAmount
    </td>
    <td class="ReportBorder" style="cursor:pointer;text-align: right;">
        @Model.TotalServiceCharge
    </td>
    <td class="ReportBorder" style="cursor:pointer;text-align: right;">
        @Model.TotalTax
    </td>
    <td class="ReportBorder" style="cursor:pointer;text-align: right;">
        @Model.TotalNetSales
    </td>
    <td class="ReportBorder" style="cursor:pointer;text-align: right;">
        @Model.RefundDiscount
    </td>
    <td class="ReportBorder" style="cursor:pointer;text-align: right;">
        @Model.AdjustmentAmount
    </td>
    <td class="ReportBorder" style="cursor:pointer;text-align: right;">
        @Model.VoidAmount
    </td>
    <td class="ReportBorder" style="cursor:pointer;text-align: right;">
        @Model.SeniorCitizenDiscount
    </td>
    <td class="ReportBorder" style="cursor:pointer;text-align: right;">
        @Model.PromoDiscount
    </td>
    <td class="ReportBorder" style="cursor:pointer;text-align: right;">
        @Model.OtherDiscount
    </td>
    <td class="ReportBorder" style="cursor:pointer;text-align: right;">
        @Model.NoOfTransactions
    </td>
    <td class="ReportBorder" style="cursor:pointer;text-align: right;">
        @Model.NoOfSalesTransactions
    </td>
</tr>*@