@page
@model EditModel
@{
    ViewData["Title"] = Localizer["Edit Class"];
    ViewData["ActiveMainPage"] = "Classification";
    ViewData["Level1"] = "TenantSales";
}
<form id="classification-form" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>	
	<input type="hidden" asp-for="@Model.RemoveSubDetailId" />
    <input type="hidden" asp-for="@Model.AsyncAction" />
	<div id="PartialLoaderContainer">
        <partial name="_InputFieldsPartial" model="Model.Classification" />
    </div> 
    <div class="row">
        <div class="col-12">
            <p>
                <a asp-page="Index" class="btn btn-secondary">@Localizer["Cancel"]</a>
                <button type="submit" class="btn btn-success">@Localizer["Save changes"]</button>
            </p>
        </div>
    </div>
</form>
<a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
    <i class="fas fa-chevron-up"></i>
</a>
@section Scripts {
<partial name="_ValidationScriptsPartial" />
<partial name="_CategoryListValidationPartial" model="@Model.Classification" />

<script asp-add-nonce>
    $(document).ready(function () {
		function InitializeForm()
		{
			$('.DisableSelectDropdown').on('mousedown', function(e) {
				e.preventDefault();
				this.blur();
				window.focus();
			});
			
			$.InitializeCategoryFieldValidations($('#CategoryCount').val());
			$('.RemoveCategoryButton ').on( 'click', function () {
				$('#RemoveSubDetailId').val($(this).attr('removeid'));
				$('#AsyncAction').val('RemoveCategory');
				$.triggerPageForm('ChangeFormValue','#PartialLoaderContainer', '#classification-form', InitializeForm);
			});

			$('#btnAddCategory').on( 'click', function () {
				$('#AsyncAction').val('AddCategory');
				$.triggerPageForm('ChangeFormValue','#PartialLoaderContainer', '#classification-form', InitializeForm);
			});

			$.fn.themeSelect = function() {
				this.filter("select").each(function() {
					$(this).ajaxSelect({
						ajax: {
							url: '@Url.Page("/Theme/Index", new { area = "TenantSales", handler = "Select2Data" })',
						}
					});
				});
				return this;
			};
			$("#ThemeId").themeSelect();

		}	
		InitializeForm();
    });
</script>
}