@page
@model IndexModel

@section Styles {
<partial name="_DataTableStyles" />
}
@{
    ViewData["Title"] = Localizer["Project Category List"];
    ViewData["ActiveMainPage"] = "ProjectCategory";
    ViewData["Level1"] = "ContractManagement";
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <table id="projectCategory" class="table table-hover table-bordered table-striped responsive nowrap" width="100%">
                    <thead>
                        <tr>
                            <th>
								@Localizer["Name"]
							</th>
							  
														
                            <th>
                                @Localizer["Actions"]
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
    <i class="fas fa-chevron-up"></i>
</a>
@section Scripts {
<partial name="_DataTableScripts" />
<script asp-add-nonce>
    $(document).ready(function () {
        var table = $('#projectCategory').DataTable({
            select: false,
            serverSide: true,
            order: [[ 1, 'desc' ]],
            ajax:
            {
                url: '@Url.Page("/ProjectCategory/Index", new { area = "ContractManagement", handler = "ListAll" })',
                type: "POST",
                headers: {
                    RequestVerificationToken:
                        $('input:hidden[name="__RequestVerificationToken"]').val()
                },
            },
			initComplete: function( settings, json ) {
                BindTableRowCollapseEvent();
            },
			columns: [
                { data: "name", name: "Name", responsivePriority: 1, title: '@Localizer["Name"]', searchable: true },
				   
				
                {
                    data: null,
                    searchable: false,
                    orderable: false,
                    responsivePriority: 2,
                    width: "10%",
                    render: function (data, type, row, meta) {
                        var url = '@Url.Page("/ProjectCategory/Details", new { area = "ContractManagement" })' + '?id=' + row.id;
                        var button = '<a href="' + url + '" class="btn btn-secondary btnViewProjectCategory">@Localizer["View"]</a>';
                @if ((await AuthorizationService.AuthorizeAsync(User, Permission.ProjectCategory.Edit)).Succeeded)
                {
                    <text>
                        url = '@Url.Page("/ProjectCategory/Edit", new { area = "ContractManagement" })' + '?id=' + row.id;
                        button =  button + '&nbsp;<a href="' + url + '" class="btn btn-primary btnEditProjectCategory">@Localizer["Edit"]</a>';
                    </text>
                }
                @if ((await AuthorizationService.AuthorizeAsync(User, Permission.ProjectCategory.Delete)).Succeeded)
                {
                    <text>
                        url = '@Url.Page("/ProjectCategory/Delete", new { area = "ContractManagement" })' + '?id=' + row.id;
                        button =  button + '&nbsp;<a href="' + url + '" class="btn btn-danger btnDeleteProjectCategory">@Localizer["Delete"]</a>';
                    </text>
                }
				   
                        return button;
                    },
                },
                { data: "lastModifiedDate", name: "LastModifiedDate", title: '@Localizer["Last Modified Date"]', visible: false, searchable: false },
                { data: "id", name: "Id", visible: false },
            ],
            buttons: [
        @if ((await AuthorizationService.AuthorizeAsync(User, Permission.ProjectCategory.Create)).Succeeded)
        {
            <text>
                {
                    text: '@Localizer["Add"]',
                    action: function (e, dt, button, config) {
                        var url = '@Url.Page("/ProjectCategory/Add", new { area = "ContractManagement" })';
                        window.location.href = url;
                    },
                    className: 'btn btn-success',
                },
            </text>
        }
                'excel', 'pdf', 'pageLength',
            ],
        });
        var debounce = new $.fn.dataTable.Debounce(table); // Add delay to search

        $('.btn-table_filter').on('click', function(e) {
            table.ajax.reload(null, false);
        });
		function BindTableRowCollapseEvent()
        {
            $('#projectCategory tbody').on('click', 'td.dtr-control', function () {
                $.showAjaxLoaderOnClick([".btnAddProjectCategory",".btnEditProjectCategory",".btnViewProjectCategory",".btnDeleteProjectCategory"]);
            });
        }
        $.showAjaxLoaderOnClick([".btnAddProjectCategory",".btnEditProjectCategory",".btnViewProjectCategory",".btnDeleteProjectCategory"]);
    });
</script>
}