@using Models
@model TaskMasterViewModel
<input type="hidden" id="TaskCompanyAssignmentCount" value="@Model?.TaskCompanyAssignmentList?.Count" />
<div class="card">
    <h5 class="card-header">
        <span  class="card-header-custom">@Localizer["Task / Company"]</span>
        <a id="btnAddTaskCompanyAssignment" class="btn btnMaterial btn-flat primary semicircle cancel btnAddRemoveSubDetailList" title="@Localizer["Add"]"><i class="fas fa-plus"></i></a>
        <button class="cancel d-none" type="button" id="btnRemoveTaskCompanyAssignment" value="RemoveTaskCompanyAssignment"></button>
    </h5>
    <div class="card-body overflow-auto">
        <table id="subDetailList" class="table table-hover table-bordered table-striped responsive nowrap" width="100%">
            <thead>
                <tr>
                    <th class="d-none"></th>
                    <th>
								@Localizer["Company"]
							</th>
							<th>
								@Localizer["Department"]
							</th>
							<th>
								@Localizer["Section"]
							</th>
							<th>
								@Localizer["Team"]
							</th>
							
                    <th>
                        @Localizer["Action"]
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model?.TaskCompanyAssignmentList != null)
                {
                    int counter = 0;
                    foreach (var item in Model.TaskCompanyAssignmentList)
                    {
                        <tr>
                            <td class="d-none">
                                <input type="hidden" name="TaskCompanyAssignmentList[@counter].Id" value="@item.Id" />
                                <input type="hidden" name="TaskCompanyAssignmentList[@counter].TaskMasterId" value="@item.TaskMasterId" />
                            </td>
                            <td>
										<select asp-for="@item.CompanyId" id="TaskCompanyAssignmentList_@(counter)_CompanyId" name="TaskCompanyAssignmentList[@counter].CompanyId" class="form-control SelectCompany" asp-items="@(dropdownService.GetCompanyList(item.CompanyId))" >
											<option value="">- Select Company -</option>
										</select>
										<span data-valmsg-for="TaskCompanyAssignmentList[@counter].CompanyId" asp-validation-for="@item.CompanyId" class="text-danger"></span>
										
									</td>
									<td>
										<select asp-for="@item.DepartmentId" id="TaskCompanyAssignmentList_@(counter)_DepartmentId" name="TaskCompanyAssignmentList[@counter].DepartmentId" class="form-control SelectDepartment" asp-items="@(dropdownService.GetDepartmentList(item.DepartmentId))" >
											<option value="">- Select Department -</option>
										</select>
										<span data-valmsg-for="TaskCompanyAssignmentList[@counter].DepartmentId" asp-validation-for="@item.DepartmentId" class="text-danger"></span>
										
									</td>
									<td>
										<select asp-for="@item.SectionId" id="TaskCompanyAssignmentList_@(counter)_SectionId" name="TaskCompanyAssignmentList[@counter].SectionId" class="form-control SelectSection" asp-items="@(dropdownService.GetSectionList(item.SectionId))" >
											<option value="">- Select Section -</option>
										</select>
										<span data-valmsg-for="TaskCompanyAssignmentList[@counter].SectionId" asp-validation-for="@item.SectionId" class="text-danger"></span>
										
									</td>
									<td>
										<select asp-for="@item.TeamId" id="TaskCompanyAssignmentList_@(counter)_TeamId" name="TaskCompanyAssignmentList[@counter].TeamId" class="form-control SelectTeam" asp-items="@(dropdownService.GetTeamList(item.TeamId))" >
											<option value="">- Select Team -</option>
										</select>
										<span data-valmsg-for="TaskCompanyAssignmentList[@counter].TeamId" asp-validation-for="@item.TeamId" class="text-danger"></span>
										
									</td>
									
                            <td>
                                <a class="btn btnMaterial btn-flat accent semicircle cancel RemoveTaskCompanyAssignmentButton btnAddRemoveSubDetailList" title="@Localizer["Remove TaskCompanyAssignment"]" removeId="@(item.Id)"><i class="fas fa-trash"></i></a>
                            </td>
                        </tr>
                        counter++;
                    }
                }
            </tbody>
        </table>
    </div>
</div>
