@using Models
@model UnitOfferedViewModel
<input type="hidden" id="AnnualIncrementCount" value="@Model?.AnnualIncrementList?.Count" />
<div class="card">
    <h5 class="card-header">
        <span style="background-color: var(--bs-card-cap-bg);">@Localizer["Annual Increment"]</span>
        <a id="btnAddAnnualIncrement" class="btn btnMaterial btn-flat primary semicircle cancel" title="@Localizer["Add"]"><i class="fas fa-plus" style="font-size:18px;"></i></a>
        <button class="cancel" type="button" id="btnRemoveAnnualIncrement" value="RemoveAnnualIncrement" style="display:none;"></button>
    </h5>
    <div class="card-body" style="overflow:auto;">
        <table id="subDetailList" class="table table-hover table-bordered table-striped responsive nowrap" width="100%">
            <thead>
                <tr>
                    <th style="display:none;"></th>
                    <th>
								@Localizer["Year"]
							</th>
							<th>
								@Localizer["Basic Fixed Monthly Rent"]
							</th>
							<th>
								@Localizer["Percentage Rent"]
							</th>
							<th>
								@Localizer["Minimum Monthly Rent"]
							</th>
							
                    <th>
                        @Localizer["Action"]
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model?.AnnualIncrementList != null)
                {
                    int counter = 0;
                    foreach (var item in Model.AnnualIncrementList)
                    {
                        <tr>
                            <td style="display:none;">
                                <input type="hidden" name="AnnualIncrementList[@counter].Id" value="@item.Id" />
                                <input type="hidden" name="AnnualIncrementList[@counter].UnitOfferedID" value="@item.UnitOfferedID" />
                            </td>
                            <td>
										<input  asp-for="@item.Year" name="AnnualIncrementList[@counter].Year" class="form-control"  />
										<span data-valmsg-for="AnnualIncrementList[@counter].Year" asp-validation-for="@item.Year" class="text-danger"></span>
										
									</td>
									<td>
										<input  asp-for="@item.BasicFixedMonthlyRent" name="AnnualIncrementList[@counter].BasicFixedMonthlyRent" class="form-control"  />
										<span data-valmsg-for="AnnualIncrementList[@counter].BasicFixedMonthlyRent" asp-validation-for="@item.BasicFixedMonthlyRent" class="text-danger"></span>
										
									</td>
									<td>
										<input  asp-for="@item.PercentageRent" name="AnnualIncrementList[@counter].PercentageRent" class="form-control"  />
										<span data-valmsg-for="AnnualIncrementList[@counter].PercentageRent" asp-validation-for="@item.PercentageRent" class="text-danger"></span>
										
									</td>
									<td>
										<input  asp-for="@item.MinimumMonthlyRent" name="AnnualIncrementList[@counter].MinimumMonthlyRent" class="form-control"  />
										<span data-valmsg-for="AnnualIncrementList[@counter].MinimumMonthlyRent" asp-validation-for="@item.MinimumMonthlyRent" class="text-danger"></span>
										
									</td>
									
                            <td>
                                <a class="btn btnMaterial btn-flat accent semicircle cancel RemoveAnnualIncrementButton" title="@Localizer["Remove AnnualIncrement"]" removeId="@(item.Id)"><i class="fas fa-trash" style="font-size:18px;"></i></a>
                            </td>
                        </tr>
                        counter++;
                    }
                }
            </tbody>
        </table>
    </div>
</div>
