@using Models
@model ReportFilterGroupingViewModel

<div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-1 row-cols-xl-1 row-cols-xxl-1">
    <div class="col">
	<div class="mb-3">
		<label asp-for="@Model.ReportId" class="form-label "><strong>@Localizer["Report"] :</strong></label>
			<select asp-for="@Model.ReportId" class="form-control" asp-items="@(dropdownService.GetReportList(Model.ReportId))"><option value="">- Select Report -</option></select>
			<span asp-validation-for="@Model.ReportId" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.LogicalOperator" class="form-label "><strong>@Localizer["Logical Operator"] :</strong></label>
			<input asp-for="@Model.LogicalOperator" class="form-control" maxlength="50" />
			<span asp-validation-for="@Model.LogicalOperator" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.GroupLevel" class="form-label "><strong>@Localizer["Level"] :</strong></label>
			<input asp-for="@Model.GroupLevel" class="form-control"  />
			<span asp-validation-for="@Model.GroupLevel" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.Sequence" class="form-label "><strong>@Localizer["Sequence"] :</strong></label>
			<input asp-for="@Model.Sequence" class="form-control"  />
			<span asp-validation-for="@Model.Sequence" class="text-danger"></span>
			
	</div>
</div>

</div>
