@using Models
@model ReportFilterGroupingViewModel
<input type="hidden" id="ReportColumnFilterCount" value="@Model?.ReportColumnFilterList?.Count" />
<div class="card">
    <h5 class="card-header">
        <span  class="card-header-custom">@Localizer["Column Filter"]</span>
        <a id="btnAddReportColumnFilter" class="btn btnMaterial btn-flat primary semicircle cancel btnAddRemoveSubDetailList" title="@Localizer["Add"]"><i class="fas fa-plus"></i></a>
        <button class="cancel d-none" type="button" id="btnRemoveReportColumnFilter" value="RemoveReportColumnFilter"></button>
    </h5>
    <div class="card-body overflow-auto">
        <table id="subDetailList" class="table table-hover table-bordered table-striped responsive nowrap" width="100%">
            <thead>
                <tr>
                    <th class="d-none"></th>
                    <th>
								@Localizer["Logical Operator"]
							</th>
							<th>
								@Localizer["Table"]
							</th>
							<th>
								@Localizer["Field Name"]
							</th>
							<th>
								@Localizer["Comparison Operator"]
							</th>
							<th>
								@Localizer["Is String"]
							</th>
							
                    <th>
                        @Localizer["Action"]
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model?.ReportColumnFilterList != null)
                {
                    int counter = 0;
                    foreach (var item in Model.ReportColumnFilterList)
                    {
                        <tr>
                            <td class="d-none">
                                <input type="hidden" name="ReportColumnFilterList[@counter].Id" value="@item.Id" />
                                <input type="hidden" name="ReportColumnFilterList[@counter].ReportFilterGroupingId" value="@item.ReportFilterGroupingId" />
                            </td>
                            <td>
										<input  asp-for="@item.LogicalOperator" name="ReportColumnFilterList[@counter].LogicalOperator" class="form-control" maxlength="50" />
										<span data-valmsg-for="ReportColumnFilterList[@counter].LogicalOperator" asp-validation-for="@item.LogicalOperator" class="text-danger"></span>
										
									</td>
									<td>
										<select asp-for="@item.TableId" id="ReportColumnFilterList_@(counter)_TableId" name="ReportColumnFilterList[@counter].TableId" class="form-control SelectReportTable" asp-items="@(dropdownService.GetReportTableList(item.TableId))" >
											<option value="">- Select Table -</option>
										</select>
										<span data-valmsg-for="ReportColumnFilterList[@counter].TableId" asp-validation-for="@item.TableId" class="text-danger"></span>
										
									</td>
									<td>
										<input  asp-for="@item.FieldName" name="ReportColumnFilterList[@counter].FieldName" class="form-control" maxlength="255" />
										<span data-valmsg-for="ReportColumnFilterList[@counter].FieldName" asp-validation-for="@item.FieldName" class="text-danger"></span>
										
									</td>
									<td>
										<input  asp-for="@item.ComparisonOperator" name="ReportColumnFilterList[@counter].ComparisonOperator" class="form-control" maxlength="50" />
										<span data-valmsg-for="ReportColumnFilterList[@counter].ComparisonOperator" asp-validation-for="@item.ComparisonOperator" class="text-danger"></span>
										
									</td>
									<td>
										<input asp-for="@item.IsString" name="ReportColumnFilterList[@counter].IsString" class="custom-checkbox-label" />
										<span data-valmsg-for="ReportColumnFilterList[@counter].IsString" asp-validation-for="@item.IsString" class="text-danger"></span>
										
									</td>
									
                            <td>
                                <a class="btn btnMaterial btn-flat accent semicircle cancel RemoveReportColumnFilterButton btnAddRemoveSubDetailList" title="@Localizer["Remove ReportColumnFilter"]" removeId="@(item.Id)"><i class="fas fa-trash"></i></a>
                            </td>
                        </tr>
                        counter++;
                    }
                }
            </tbody>
        </table>
    </div>
</div>
