@using Models
@model CreditorEmailViewModel

<div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-1 row-cols-xl-1 row-cols-xxl-1">
    <div class="col">
	<div class="mb-3">
		<label asp-for="@Model.Email" class="form-label fieldrequired"><strong>@Localizer["Email"] :</strong></label>
			<input asp-for="@Model.Email" class="form-control" maxlength="50" />
			<span asp-validation-for="@Model.Email" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.CreditorId" class="form-label fieldrequired"><strong>@Localizer["Creditor"] :</strong></label>
			<select asp-for="@Model.CreditorId" class="form-control" asp-items="@(dropdownService.GetCreditorList(Model.CreditorId))"><option value="">- Select Creditor -</option></select>
			<span asp-validation-for="@Model.CreditorId" class="text-danger"></span>
			
	</div>
</div>

</div>
