@using Models
@model OfferingViewModel

<div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-2 row-cols-xxl-2">
    <div class="col">
        <div class="mb-3">
            <label asp-for="@Model.MinimumSalesQuota" class="form-label "><strong>@Localizer["Minimum Sales Quota Per Month"] :</strong></label>
            <input asp-for="@Model.MinimumSalesQuota" class="form-control" />
            <span asp-validation-for="@Model.MinimumSalesQuota" class="text-danger"></span>
        </div>
    </div>
</div>


<div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-2 row-cols-xxl-2">
    <div class="col">
        <div class="mb-3">
            <h3>@Localizer["Security Deposit"]</h3>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.SecurityDepositPayableWithinMonths" class="form-label "><strong>@Localizer["Payable Within (Month/s)"] :</strong></label>
            <input asp-for="@Model.SecurityDepositPayableWithinMonths" class="form-control" />
            <span asp-validation-for="@Model.SecurityDepositPayableWithinMonths" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.SecMonths" class="form-label "><strong>@Localizer["Equivalent to (Month/s)"] :</strong></label>
            <input asp-for="@Model.SecMonths" class="form-control" />
            <span asp-validation-for="@Model.SecMonths" class="text-danger"></span>
        </div>
        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-2 row-cols-xxl-2">
            <div class="col" style="padding-top:40px;">
                <div class="mb-3">
                    <label asp-for="@Model.AutoComputeTotalSecurityDeposit" class="form-label "><strong>@Localizer["Auto-calculate"] :</strong></label>
                    <input asp-for="@Model.AutoComputeTotalSecurityDeposit" class="custom-checkbox-label" />
                    <span asp-validation-for="@Model.AutoComputeTotalSecurityDeposit" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label asp-for="@Model.TotalSecurityDeposit" class="form-label "><strong>@Localizer["Total Security Deposit"] :</strong></label>
                    @if (@Model.AutoComputeTotalSecurityDeposit)
                    {
                        <input asp-for="@Model.TotalSecurityDeposit" class="form-control" readonly />
                    }
                    else
                    {
                        <input asp-for="@Model.TotalSecurityDeposit" class="form-control" />
                    }
                    <span asp-validation-for="@Model.TotalSecurityDeposit" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="mb-3">
            <h3>@Localizer["Construction Bond"]</h3>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.ConstructionPayableWithinMonths" class="form-label "><strong>@Localizer["Payable Within (Month/s)"] :</strong></label>
            <input asp-for="@Model.ConstructionPayableWithinMonths" class="form-control" />
            <span asp-validation-for="@Model.ConstructionPayableWithinMonths" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.ConstructionMonths" class="form-label "><strong>@Localizer["Equivalent to (Month/s)"] :</strong></label>
            <input asp-for="@Model.ConstructionMonths" class="form-control" />
            <span asp-validation-for="@Model.ConstructionMonths" class="text-danger"></span>
        </div>
        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-2 row-cols-xxl-2">
            <div class="col" style="padding-top:40px;">
                <div class="mb-3">
                    <label asp-for="@Model.AutoComputeTotalConstructionBond" class="form-label "><strong>@Localizer["Auto-calculate"] :</strong></label>
                    <input asp-for="@Model.AutoComputeTotalConstructionBond" class="custom-checkbox-label" />
                    <span asp-validation-for="@Model.AutoComputeTotalConstructionBond" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label asp-for="@Model.TotalConstructionBond" class="form-label "><strong>@Localizer["Total Construction Bond"] :</strong></label>
                    @if (@Model.AutoComputeTotalConstructionBond)
                    {
                        <input asp-for="@Model.TotalConstructionBond" class="form-control" readonly />
                    }
                    else
                    {
                        <input asp-for="@Model.TotalConstructionBond" class="form-control" />
                    }
                    <span asp-validation-for="@Model.TotalConstructionBond" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row row-cols-1 row-cols-sm-1 row-cols-md-3 row-cols-lg-3 row-cols-xl-3 row-cols-xxl-3">
    <div class="col">
        <div class="mb-3">
            <label asp-for="@Model.FitOutPeriod" class="form-label "><strong>@Localizer["Fit-Out Period"] :</strong></label>
            <input asp-for="@Model.FitOutPeriod" class="form-control" />
            <span asp-validation-for="@Model.FitOutPeriod" class="text-danger"></span>
        </div>
    </div>
    <div class="col">
        <div class="mb-3">
            <label asp-for="@Model.TurnOverDate" class="form-label "><strong>@Localizer["Turn-over Date"] :</strong></label>
            <input type="date" asp-for="@Model.TurnOverDate" class="form-control" />
            <span asp-validation-for="@Model.TurnOverDate" class="text-danger"></span>
        </div>
    </div>
</div>
