@using Models
@model OfferingViewModel
<input type="hidden" id="OfferingHistoryCount" value="@Model?.OfferingHistoryList?.Count" />
<div class="card">
    <h5 class="card-header">
        <span style="background-color: var(--bs-card-cap-bg);">@Localizer["Offer Sheet Log"]</span>
    </h5>
    <div class="card-body" style="overflow:auto;">
        <table id="subDetailList" class="table table-hover table-bordered table-striped responsive nowrap" width="100%">
            <thead>
                <tr>
                    <th>
                        @Localizer["Option"]
                    </th>
                    <th>
                        @Localizer["Version No."]
                    </th>
                    <th>
                        @Localizer["Units"]
                    </th>
                    <th>
                        @Localizer["Total Unit Area"]
                    </th>
                    <th>
                        @Localizer["Offered Rate"]
                    </th>
                    <th>
                        @Localizer["Budget"]
                    </th>

                </tr>
            </thead>
            <tbody>
                @if (Model?.OfferingHistoryList != null)
                {
                    int counter = 0;
                    foreach (var item in Model.OfferingHistoryList.OrderByDescending(l => l.OfferingVersion))
                    {
                        if (item.Id != Model.OfferingHistoryID)
                        {
                            <tr>
                                <td>
                                    @if ((await AuthorizationService.AuthorizeAsync(User, Permission.Offering.SignOffersheet)).Succeeded && Model.IsSigned == false)
                                    {
                                        <a class="btn btnMaterial btn-flat primary semicircle cancel" title="@Localizer["Sign"]"><i class="fas fa-check" style="font-size:18px;"></i></a>
                                    }
                                    @if ((await AuthorizationService.AuthorizeAsync(User, Permission.Offering.Print)).Succeeded)
                                    {
                                        <a class="btn btnMaterial btn-flat primary semicircle cancel btn-print-offering-version" data-offeringhistoryid="@item.OfferingHistoryID" title="@Localizer["Re-print"]"><i class="fas fa-print" style="font-size:18px;"></i></a>
                                    }
                                    <input type="hidden" name="OfferingHistoryList[@counter].OfferingVersion" value="@item.OfferingVersion" />
                                    <input type="hidden" name="OfferingHistoryList[@counter].UnitsInformation" value="@item.UnitsInformation" />
                                    <input type="hidden" name="OfferingHistoryList[@counter].TotalUnitArea" value="@item.TotalUnitArea" />
                                    <input type="hidden" name="OfferingHistoryList[@counter].TotalRentalRateString" value="@item.TotalRentalRateString" />
                                    <input type="hidden" name="OfferingHistoryList[@counter].TotalLotBudgetString" value="@item.TotalLotBudgetString" />
                                    <input type="hidden" name="OfferingHistoryList[@counter].ProjectID" value="@item.ProjectID" />
                                    <input type="hidden" name="OfferingHistoryList[@counter].FitOutPeriod" value="@item.FitOutPeriod" />
                                </td>
                                <td class="super-mid">
                                    <span>@item.OfferingVersion</span>
                                </td>
                                <td class="super-mid">
                                    <span>@item.UnitsInformation</span>
                                </td>
                                <td class="super-mid">
                                    <span>@(((decimal)item.TotalUnitArea!).ToString("##,##.00"))</span>
                                </td>
                                <td class="super-mid">
                                    <span>@item.TotalRentalRateString</span>
                                </td>
                                <td class="super-mid">
                                    <span>@item.TotalLotBudgetString</span>
                                </td>
                            </tr>
                            counter++;
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>
