@page
@model NewVersionOfferingModel
@{
    ViewData["Title"] = Localizer["New Offering Version"];
    ViewData["ActiveMainPage"] = "Lead";
    ViewData["Level1"] = "ELMS";
}
<div class="card">
    <div class="card-header">
        <partial name="_TabNavigation" model="@Model.LeadTabNavigation" />
    </div>
    <div class="card-body">
        <form id="offering-form" method="post">
            <div class="alert alert-info" role="alert">
                @Localizer["You are about to create New Offer Sheet Version. Please save your progress."]
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.RemoveSubDetailId" />
            <input type="hidden" asp-for="@Model.AsyncAction" />
            <input type="hidden" asp-for="@Model.LeadTabNavigation.LeadId" name="LeadID" />
            <input type="hidden" asp-for="@Model.AddPreSelectedUnitUnitId" />
            <input type="hidden" asp-for="@Model.AddUnitOfferedUnitId" />
            <div id="PartialLoaderContainer">
                <partial name="_OfferingInputFieldsPartial" model="Model.Offering" />
            </div>
            <div id="toolbar-container" class="btn-group" role="group" style="float:right;margin-top:10px;">
                <a asp-page="OfferingList" asp-route-leadid="@Model.LeadTabNavigation.LeadId" class="btn btn-secondary" title="@Localizer["Cancel"]"><i class="fas fa-ban"></i></a>
                  @if (Model.Offering.IsSigned == false)
                {
                   <button type="submit" class="btn btn-success" title="@Localizer["Save changes"]" style="color:#fff;"><i class="fas fa-save"></i></button>
                }               
            </div>
        </form>
    </div>
</div>
<a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
    <i class="fas fa-chevron-up"></i>
</a>
<partial name="_ModalPartial" />
@section Scripts {
<partial name="_ValidationScriptsPartial" />
<partial name="_DataTableScripts" />
<script asp-add-nonce>
    $(document).ready(function () {
        function InitializeForm()
        {
            //For New Offering Version
            $(".ProjectId").hide();
            $("#OfferSheetNoContainer").hide();
            $("#StatusContainer").hide();
            $('#ProjectID').on( 'change', function () {
                $('#AsyncAction').val('ChangeProject');
                $.triggerPageForm('ChangeFormValue','#PartialLoaderContainer', '#offering-form', InitializeForm);
            });
            $('#Year, #Month, #Day, #CommencementDate').on( 'change',function () {
                setTimeout(function() {
                    $('#AsyncAction').val('Action_AutocalculateTerminationTurnOverDate');
                    $.triggerPageForm('ChangeFormValue','#PartialLoaderContainer', '#offering-form', InitializeForm);
                }, 600);
            });
            $('#TerminationDate').on( 'change', function () {
                setTimeout(function() {
                    $('#AsyncAction').val('Action_AutocalculateYearMonthDay');
                    $.triggerPageForm('ChangeFormValue','#PartialLoaderContainer', '#offering-form', InitializeForm);
                }, 600);
            });
            $('.HasAnnualIncrement, .AnnualIncrement, .BasicFixedMonthlyRent, .PercentageRent, .MinimumMonthlyRent, .IsFixedMonthlyRent').on( 'change', function () {
                $('#AsyncAction').val('Action_AutoCalculateAnnualIncrement');
                $.triggerPageForm('ChangeFormValue','#PartialLoaderContainer', '#offering-form', InitializeForm);
            });            
            $(".btn-add-unit").on('click', function (e) {
                modelPopup();
            });
            GetSelectedUnitQueryString = () => {
                //Get All Selected Unit
                let selectedUnitQueryString = '';
                if($('.selected-unitid').length > 0)
                {
                    var selectedUnitsElementList = document.querySelectorAll('.selected-unitid');
                    for (var i = 0, len = selectedUnitsElementList.length; i < len; i++) {
                        if (selectedUnitsElementList[i].value != null && selectedUnitsElementList[i].value != '') { selectedUnitQueryString += '&selectedUnits=' + selectedUnitsElementList[i].value; }
                    }
                }
                return selectedUnitQueryString;
            }
            $('.RemovePreSelectedUnitButton ').on( 'click', function () {
                $('#RemoveSubDetailId').val($(this).attr('removeid'));
                $('#AsyncAction').val('RemovePreSelectedUnit');
                $.triggerPageForm('ChangeFormValue','#PartialLoaderContainer', '#offering-form', InitializeForm);
            });
            function InitializeTable()
            {
                var table = $('#available-units-table').DataTable({
                    select: false,
                    responsive: true,
                    ordering: true,
                    searching:true,
                    paging: true,
                    info: true,
                    buttons: [],
                    fnDrawCallback: function(oSettings) {
                       $('.AddPreSelectedUnitButton').on( 'click', function () {
                            $('#AddPreSelectedUnitUnitId').val($(this).attr('addUnitId'));
                            $('#AsyncAction').val('AddPreSelectedUnit');
                            $.triggerPageForm('ChangeFormValue','#PartialLoaderContainer', '#offering-form', BindOnAddPreSelectedUnit);
                        });
                    },
                    columns: [
                        { data: "unitNo", name: "UnitNo", orderable: true, },
                        { data: "lotArea", name: "LotArea", orderable: true, },
                        {
                            data: "availabilityDate",
                            name: "AvailabilityDate",
                            orderable: true,
                            render: function (data, type, row, meta) {
                                return '<a class="badge ' + (row.availability=='@(CTI.ELMS.Core.Constants.LotAvailability.Available)'? 'bg-success' : 'bg-warning') + '" style="text-decoration:none;">' + row.availability + '</a>';
                            },
                        },
                        { data: "lotBudget", name: "LotBudget", orderable: true, },
                        { data: "unitId", name: "UnitId", visible: false, },
                        { data: "availability", name: "Availability", visible: false, },
                        { data: "availabilityDate", name: "AvailabilityDate", visible: false, },
                        {
                            data: null,
                            width: "10%",
                            render: function (data, type, row, meta) {
                                return '<a class="btn btnMaterial btn-flat success semicircle AddPreSelectedUnitButton" title="Select" addUnitId="' + row.unitId + '"><i class="fas fa-plus"></i></a>';
                            },
                        },
                    ]
                });
                function DestroyTable()
                {
                    table.destroy();
                }
                var debounce = new $.fn.dataTable.Debounce(table); // Add delay to search
            }
            function modelPopup() {
                var selectedUnitQueryString = GetSelectedUnitQueryString();
                var url = '@Url.Page("/Unit/Search/Index", new { area = "ELMS" })' + '?projectId=' + $('.ProjectId').val() + '&commencementDate=' + $('.CommencementDate').val() + selectedUnitQueryString;
                var title = "Select Unit";
                openModal(url, title, InitializeTable);
            }
            function BindOnAddPreSelectedUnit()
            {
                var selectedUnitQueryString = GetSelectedUnitQueryString();
                var url = '@Url.Page("/Unit/Search/Index", new { area = "ELMS" })' + '?projectId=' + $('.ProjectId').val()  + '&commencementDate=' + $('.CommencementDate').val() + selectedUnitQueryString;
                fillPartial(url, "#table-container", InitializeTable);
                InitializeForm();
            }
            $('.AddUnitOfferedButton').on( 'click', function () {
                $('#AddUnitOfferedUnitId').val($(this).attr('addId'));
                $('#AsyncAction').val('AddUnitOffered');
                $.triggerPageForm('ChangeFormValue','#PartialLoaderContainer', '#offering-form', InitializeForm);
            });
            $('.RemoveUnitOfferedButton ').on( 'click', function () {
                $('#RemoveSubDetailId').val($(this).attr('removeid'));
                $('#AsyncAction').val('RemoveUnitOffered');
                $.triggerPageForm('ChangeFormValue','#PartialLoaderContainer', '#offering-form', InitializeForm);
            });
            //Common Javascript
            $('#TurnOverDate').on( 'change', function () {
                setTimeout(function() {
                    $('#AsyncAction').val('Action_AutocalculateFitOut');
                    $.triggerPageForm('ChangeFormValue','#PartialLoaderContainer', '#offering-form', InitializeForm);
                }, 600);
            });
            $('#FitOutPeriod').on( 'change', function () {
                $('#AsyncAction').val('Action_AutocalculateTurnOverDate');
                $.triggerPageForm('ChangeFormValue','#PartialLoaderContainer', '#offering-form', InitializeForm);
            });

            $('#AutoComputeTotalSecurityDeposit, #SecMonths').on( 'change', function () {
                $('#AsyncAction').val('Action_AutoCalculateTotalSecurityDeposit');
                $.triggerPageForm('ChangeFormValue','#PartialLoaderContainer', '#offering-form', InitializeForm);
            });
            $('#AutoComputeTotalConstructionBond, #ConstructionMonths').on( 'change', function () {
                $('#AsyncAction').val('Action_AutoCalculateTotalConstructionBond');
                $.triggerPageForm('ChangeFormValue','#PartialLoaderContainer', '#offering-form', InitializeForm);
            });
            $('#ConstructionCAMCRate, #ConstructionCAMCMonths').on( 'change', function () {
                $('#AsyncAction').val('Action_AutoCalculateCAMC');
                $.triggerPageForm('ChangeFormValue','#PartialLoaderContainer', '#offering-form', InitializeForm);
            });
            $('#AutoComputeAnnualAdvertisingFee').on( 'change', function () {
                $('#AsyncAction').val('Action_AutoCalculateAnnualAdsFee');
                $.triggerPageForm('ChangeFormValue','#PartialLoaderContainer', '#offering-form', InitializeForm);
            });
            $('.DisableSelectDropdown').on('mousedown', function(e) {
                e.preventDefault();
                this.blur();
                window.focus();
            });
        }
        InitializeForm();
    });
</script>
}