@page
@model PrintOfferingModel
@{
    ViewData["Title"] = Localizer["Offer Sheet"];
    ViewData["ActiveMainPage"] = "Lead";
    ViewData["Level1"] = "ELMS";
}
<div class="card">
    <div class="card-header">
        <partial name="_TabNavigation" model="@Model.LeadTabNavigation" />
    </div>
    <div class="card-body">
        <form id="offering-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.LeadTabNavigation.LeadId" name="LeadID" />
            <div id="PartialLoaderContainer">
                <iframe src="@Model.Document.FileUrl" frameborder="0" height="500px" width="100%">
                </iframe>
            </div>
            <div id="toolbar-container" class="btn-group" role="group" style="float:right;margin-top:10px;">
                <a asp-page="OfferingList" asp-route-leadid="@Model.LeadTabNavigation.LeadId" class="btn btn-secondary" title="@Localizer["Cancel"]"><i class="fas fa-ban"></i></a>              
            </div>
        </form>
    </div>
</div>

<a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
    <i class="fas fa-chevron-up"></i>
</a>
@section Scripts {

<script asp-add-nonce>
    $(document).ready(function () {
        function InitializeForm()
        {
        }
        InitializeForm();
    });
</script>
}