@{
    var user = await UserManager.GetUserAsync(User);
    var appName = Configuration.GetValue<string>("Application");
}
<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/Index" class="brand-link">
        <img src="https://ui-avatars.com/api/?background=random&rounded=true&name=@appName" alt="Logo" class="brand-image img-circle elevation-3">
        <span class="brand-text font-weight-light">@appName</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="true">
                @if ((await AuthorizationService.AuthorizeAsync(User, Permission.Admin.View)).Succeeded)
                {
                    <li class="nav-item @ManageNavPages.Level1Class(ViewContext, "Admin")">
                        <a href="#" class="nav-link">
                            <i class="fas fa-cogs nav-icon"></i>
                            <p>
                                @Localizer["Admin"]
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            @if ((await AuthorizationService.AuthorizeAsync(User, Permission.Entities.View)).Succeeded)
                            {
                                <li class="nav-item">
                                    <a href="/Admin/Entities" class="nav-link @ManageNavPages.PageNavClass(ViewContext, "Entities")">
                                        <i class="fas fa-circle nav-icon"></i>
                                        <p>@Localizer["Entities"]</p>
                                    </a>
                                </li>
                            }
                            @if ((await AuthorizationService.AuthorizeAsync(User, Permission.Roles.View)).Succeeded)
                            {
                                <li class="nav-item">
                                    <a href="/Admin/Roles" class="nav-link @ManageNavPages.PageNavClass(ViewContext, "Roles")">
                                        <i class="fas fa-circle nav-icon"></i>
                                        <p>@Localizer["Roles"]</p>
                                    </a>
                                </li>
                            }
                            @if ((await AuthorizationService.AuthorizeAsync(User, Permission.Users.View)).Succeeded)
                            {
                                <li class="nav-item">
                                    <a href="/Admin/Users" class="nav-link @ManageNavPages.PageNavClass(ViewContext, "Users")">
                                        <i class="fas fa-circle nav-icon"></i>
                                        <p>@Localizer["Users"]</p>
                                    </a>
                                </li>
                            }
                            @if ((await AuthorizationService.AuthorizeAsync(User, Permission.Apis.View)).Succeeded)
                            {
                                <li class="nav-item">
                                    <a href="/Admin/Apis" class="nav-link @ManageNavPages.PageNavClass(ViewContext, "APIs")">
                                        <i class="fas fa-circle nav-icon"></i>
                                        <p>@Localizer["APIs"]</p>
                                    </a>
                                </li>
                            }
                            @if ((await AuthorizationService.AuthorizeAsync(User, Permission.Applications.View)).Succeeded)
                            {
                                <li class="nav-item">
                                    <a href="/Admin/Applications" class="nav-link @ManageNavPages.PageNavClass(ViewContext, "Applications")">
                                        <i class="fas fa-circle nav-icon"></i>
                                        <p>@Localizer["Applications"]</p>
                                    </a>
                                </li>
                            }
                            @if ((await AuthorizationService.AuthorizeAsync(User, Permission.AuditTrail.View)).Succeeded)
                            {
                                <li class="nav-item">
                                    <a href="/Admin/AuditTrail" class="nav-link @ManageNavPages.PageNavClass(ViewContext, "AuditTrail")">
                                        <i class="fas fa-circle nav-icon"></i>
                                        <p>@Localizer["Audit Trail"]</p>
                                    </a>
                                </li>
                            }
                            @if ((await AuthorizationService.AuthorizeAsync(User, Permission.ApproverSetup.View)).Succeeded)
                            {
                                <li class="nav-item">
                                    <a href="/TenantSales/ApproverSetup" class="nav-link @ManageNavPages.PageNavClass(ViewContext, "Approval")">
                                        <i class="fas fa-circle nav-icon"></i>
                                        <p>
                                            @Localizer["Approval"]
                                        </p>
                                    </a>
                                </li>
                            }
                        </ul>
                    </li>
                }
                @if ((await AuthorizationService.AuthorizeAsync(User, Permission.MasterFile.View)).Succeeded)
                {
                    <li class="nav-item @ManageNavPages.Level1Class(ViewContext, "TenantSales")">
                        <a href="#" class="nav-link">
                            <i class="fas fa-list-alt nav-icon"></i>
                            <p>
                                @Localizer["Masterfile Setup"]
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            @if ((await AuthorizationService.AuthorizeAsync(User, Permission.DatabaseConnectionSetup.View)).Succeeded)
                            {
                                <li class="nav-item">
                                    <a href="/TenantSales/DatabaseConnectionSetup" class="nav-link @ManageNavPages.PageNavClass(ViewContext, "DatabaseConnectionSetup")">
                                        <i class="fas fa-circle nav-icon"></i>
                                        <p>
                                            @Localizer["Database Setup"]
                                        </p>
                                    </a>
                                </li>
                            }
                            @if ((await AuthorizationService.AuthorizeAsync(User, Permission.BusinessUnit.View)).Succeeded)
                            {
                                <li class="nav-item">
                                    <a href="/TenantSales/BusinessUnit" class="nav-link @ManageNavPages.PageNavClass(ViewContext, "BusinessUnit")">
                                        <i class="fas fa-circle nav-icon"></i>
                                        <p>
                                            @Localizer["Business Unit"]
                                        </p>
                                    </a>
                                </li>
                            }
                            @if ((await AuthorizationService.AuthorizeAsync(User, Permission.RentalType.View)).Succeeded)
                            {
                                <li class="nav-item">
                                    <a href="/TenantSales/RentalType" class="nav-link @ManageNavPages.PageNavClass(ViewContext, "RentalType")">
                                        <i class="fas fa-circle nav-icon"></i>
                                        <p>
                                            @Localizer["Rental Type"]
                                        </p>
                                    </a>
                                </li>
                            }
                            @if ((await AuthorizationService.AuthorizeAsync(User, Permission.Company.View)).Succeeded)
                            {
                                <li class="nav-item">
                                    <a href="/TenantSales/Company" class="nav-link @ManageNavPages.PageNavClass(ViewContext, "Company")">
                                        <i class="fas fa-circle nav-icon"></i>
                                        <p>
                                            @Localizer["Company"]
                                        </p>
                                    </a>
                                </li>
                            }
                            @if ((await AuthorizationService.AuthorizeAsync(User, Permission.Project.View)).Succeeded)
                            {
                                <li class="nav-item">
                                    <a href="/TenantSales/Project" class="nav-link @ManageNavPages.PageNavClass(ViewContext, "Project")">
                                        <i class="fas fa-circle nav-icon"></i>
                                        <p>
                                            @Localizer["Project"]
                                        </p>
                                    </a>
                                </li>
                            }
                            @if ((await AuthorizationService.AuthorizeAsync(User, Permission.Theme.View)).Succeeded)
                            {
                                <li class="nav-item">
                                    <a href="/TenantSales/Theme" class="nav-link @ManageNavPages.PageNavClass(ViewContext, "Theme")">
                                        <i class="fas fa-circle nav-icon"></i>
                                        <p>
                                            @Localizer["Theme"]
                                        </p>
                                    </a>
                                </li>
                            }
                            @if ((await AuthorizationService.AuthorizeAsync(User, Permission.Tenant.View)).Succeeded)
                            {
                                <li class="nav-item">
                                    <a href="/TenantSales/Tenant" class="nav-link @ManageNavPages.PageNavClass(ViewContext, "Tenant")">
                                        <i class="fas fa-circle nav-icon"></i>
                                        <p>
                                            @Localizer["Tenant"]
                                        </p>
                                    </a>
                                </li>
                            }
                            @*@if ((await AuthorizationService.AuthorizeAsync(User, Permission.TenantPOSSales.View)).Succeeded)
                            {
                                <li class="nav-item">
                                    <a href="/TenantSales/TenantPOSSales" class="nav-link @ManageNavPages.PageNavClass(ViewContext, "TenantPOSSales")">
                                        <i class="fas fa-circle nav-icon"></i>
                                        <p>
                                            @Localizer["Sales"]
                                        </p>
                                    </a>
                                </li>
                            }*@
                            @if ((await AuthorizationService.AuthorizeAsync(User, Permission.Revalidate.View)).Succeeded)
                            {
                                <li class="nav-item">
                                    <a href="/TenantSales/Revalidate" class="nav-link @ManageNavPages.PageNavClass(ViewContext, "Revalidate")">
                                        <i class="fas fa-circle nav-icon"></i>
                                        <p>
                                            @Localizer["Re-validate Sales"]
                                        </p>
                                    </a>
                                </li>
                            }

                        </ul>
                    </li>
                }
                @if ((await AuthorizationService.AuthorizeAsync(User, Permission.TenantPOSSales.View)).Succeeded)
                {
                    <li class="nav-item @ManageNavPages.Level1Class(ViewContext, "Sales") @ManageNavPages.PageNavClass(ViewContext, "Sales")">
                        <a href="/Sales/Main" class="nav-link ">
                            <i class="fas fa-list-alt nav-icon"></i>
                            <p>@Localizer["Tenant Sales"]</p>
                        </a>
                    </li>
                }
                @if ((await AuthorizationService.AuthorizeAsync(User, Permission.Reports.View)).Succeeded)
                {
                    <li class="nav-item @ManageNavPages.Level1Class(ViewContext, "Reports")">
                        <a href="#" class="nav-link">
                            <i class="fas fa-list-alt nav-icon"></i>
                            <p>
                                @Localizer["Reports"]
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            @if ((await AuthorizationService.AuthorizeAsync(User, Permission.Reports.DailySales)).Succeeded)
                            {
                                <li class="nav-item">
                                    <a href="/Reports/DailySales" class="nav-link @ManageNavPages.PageNavClass(ViewContext, "DailySales")">
                                        <i class="fas fa-circle nav-icon"></i>
                                        <p>@Localizer["Daily Sales Report"]</p>
                                    </a>
                                </li>
                            }
                            @*@if ((await AuthorizationService.AuthorizeAsync(User, Permission.Reports.SalesGrowth)).Succeeded)
                            {
                                <li class="nav-item">
                                    <a href="/Reports/SalesGrowth" class="nav-link @ManageNavPages.PageNavClass(ViewContext, "SalesGrowth")">
                                        <i class="fas fa-circle nav-icon"></i>
                                        <p>@Localizer["Sales Growth Report"]</p>
                                    </a>
                                </li>
                            }*@
                        </ul>
                    </li>
                }
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>