@page
@model AddModel
@{
    ViewData["Title"] = Localizer["Add MainModule"];
    ViewData["ActiveMainPage"] = "MainModule";
    ViewData["Level1"] = "ProjectNamePlaceHolder";
}
<form id="mainModule-form" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
	<input type="hidden" asp-for="@Model.RemoveSubDetailId" />
    <input type="hidden" asp-for="@Model.AsyncAction" />
	<div id="PartialLoaderContainer">
        <partial name="_InputFieldsPartial" model="Model.MainModule" />
    </div>    
    <div class="row">
        <div class="col-12">
            <p>
                <a asp-page="Index" class="btn btn-secondary">@Localizer["Cancel"]</a>
                <button type="submit" class="btn btn-success">@Localizer["Save changes"]</button>
            </p>
        </div>
    </div>
</form>
<a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
    <i class="fas fa-chevron-up"></i>
</a>
@section Scripts {
<partial name="_ValidationScriptsPartial" />
<partial name="_SubDetailListListValidationPartial" model="@Model.MainModule" />
<partial name="_SubDetailItemListValidationPartial" model="@Model.MainModule" />
<script asp-add-nonce>
	$(document).ready(function () {
		function InitializeForm()
		{
			$.InitializeSubDetailListFieldValidations($('#SubDetailListCount').val());
			$('.RemoveSubDetailListButton ').on( 'click', function () {
				$('#RemoveSubDetailId').val($(this).attr('removeid'));
				$('#AsyncAction').val('RemoveSubDetailList');
				$.triggerPageForm('ChangeFormValue','#PartialLoaderContainer', '#mainModule-form', InitializeForm);
			});

			$('#btnAddSubDetailList').on( 'click', function () {
				$('#AsyncAction').val('AddSubDetailList');
				$.triggerPageForm('ChangeFormValue','#PartialLoaderContainer', '#mainModule-form', InitializeForm);
			});

			$.InitializeSubDetailItemFieldValidations($('#SubDetailItemCount').val());
			$('.RemoveSubDetailItemButton ').on( 'click', function () {
				$('#RemoveSubDetailId').val($(this).attr('removeid'));
				$('#AsyncAction').val('RemoveSubDetailItem');
				$.triggerPageForm('ChangeFormValue','#PartialLoaderContainer', '#mainModule-form', InitializeForm);
			});

			$('#btnAddSubDetailItem').on( 'click', function () {
				$('#AsyncAction').val('AddSubDetailItem');
				$.triggerPageForm('ChangeFormValue','#PartialLoaderContainer', '#mainModule-form', InitializeForm);
			});

		}
		InitializeForm();
	});
</script>

}