@using Models
@model ReportViewModel
<input type="hidden" id="ReportFilterGroupingCount" value="@Model?.ReportFilterGroupingList?.Count" />
<div class="card">
    <h5 class="card-header">
        <span  class="card-header-custom">@Localizer["Filter Grouping"]</span>
        <a id="btnAddReportFilterGrouping" class="btn btnMaterial btn-flat primary semicircle cancel btnAddRemoveSubDetailList" title="@Localizer["Add"]"><i class="fas fa-plus"></i></a>
        <button class="cancel d-none" type="button" id="btnRemoveReportFilterGrouping" value="RemoveReportFilterGrouping"></button>
    </h5>
    <div class="card-body overflow-auto">
        <table id="subDetailList" class="table table-hover table-bordered table-striped responsive nowrap" width="100%">
            <thead>
                <tr>
                    <th class="d-none"></th>
                    <th>
								@Localizer["Logical Operator"]
							</th>
							<th>
								@Localizer["Level"]
							</th>
							<th>
								@Localizer["Sequence"]
							</th>
							
                    <th>
                        @Localizer["Action"]
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model?.ReportFilterGroupingList != null)
                {
                    int counter = 0;
                    foreach (var item in Model.ReportFilterGroupingList)
                    {
                        <tr>
                            <td class="d-none">
                                <input type="hidden" name="ReportFilterGroupingList[@counter].Id" value="@item.Id" />
                                <input type="hidden" name="ReportFilterGroupingList[@counter].ReportId" value="@item.ReportId" />
                            </td>
                            <td>
										<input  asp-for="@item.LogicalOperator" name="ReportFilterGroupingList[@counter].LogicalOperator" class="form-control" maxlength="50" />
										<span data-valmsg-for="ReportFilterGroupingList[@counter].LogicalOperator" asp-validation-for="@item.LogicalOperator" class="text-danger"></span>
										
									</td>
									<td>
										<input  asp-for="@item.GroupLevel" name="ReportFilterGroupingList[@counter].GroupLevel" class="form-control"  />
										<span data-valmsg-for="ReportFilterGroupingList[@counter].GroupLevel" asp-validation-for="@item.GroupLevel" class="text-danger"></span>
										
									</td>
									<td>
										<input  asp-for="@item.Sequence" name="ReportFilterGroupingList[@counter].Sequence" class="form-control"  />
										<span data-valmsg-for="ReportFilterGroupingList[@counter].Sequence" asp-validation-for="@item.Sequence" class="text-danger"></span>
										
									</td>
									
                            <td>
                                <a class="btn btnMaterial btn-flat accent semicircle cancel RemoveReportFilterGroupingButton btnAddRemoveSubDetailList" title="@Localizer["Remove ReportFilterGrouping"]" removeId="@(item.Id)"><i class="fas fa-trash"></i></a>
                            </td>
                        </tr>
                        counter++;
                    }
                }
            </tbody>
        </table>
    </div>
</div>
