@using Models
@model ProductImageViewModel

<div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-1 row-cols-xl-1 row-cols-xxl-1">
    <div class="col">
	<div class="mb-3">
		<label asp-for="@Model.ProductId" class="form-label "><strong>@Localizer["Product"] :</strong></label>
			<select asp-for="@Model.ProductId" class="form-control" asp-items="@(dropdownService.GetProductList(Model.ProductId))"><option value="">- Select Product -</option></select>
			<span asp-validation-for="@Model.ProductId" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.Path" class="form-label fieldrequired"><strong>@Localizer["Path"] :</strong></label>
			<input asp-for="@Model.PathForm" class="file-upload-control" style="display:block" /> @if (!string.IsNullOrEmpty(Model.Path)) { <div class="input-group col-md-12" style="padding-left:0px;padding-right:0px;margin-top:10px;"><input asp-for="@Model.Path" class="form-control" readonly /><a href="/@WebConstants.UploadFilesPath/@Model.Path" class="input-group-text btn btn-success" style="cursor:pointer;color:#fff;font-weight:700;" target="_blank">@Localizer["View"]</a></div> }
			<span asp-validation-for="@Model.Path" class="text-danger"></span>
			
	</div>
</div>

</div>
