@using Models
@model SupplierQuotationViewModel

<div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-1 row-cols-xl-1 row-cols-xxl-1">
    <div class="col">
	<div class="mb-3">
		<label asp-for="@Model.PurchaseRequisitionId" class="form-label fieldrequired"><strong>@Localizer["Purchase Requisition"] :</strong></label>
			<select asp-for="@Model.PurchaseRequisitionId" class="form-control" asp-items="@(dropdownService.GetPurchaseRequisitionList(Model.PurchaseRequisitionId))"><option value="">- Select Purchase Requisition -</option></select>
			<span asp-validation-for="@Model.PurchaseRequisitionId" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.SupplierId" class="form-label fieldrequired"><strong>@Localizer["Supplier"] :</strong></label>
			<select asp-for="@Model.SupplierId" class="form-control" asp-items="@(dropdownService.GetSupplierList(Model.SupplierId))"><option value="">- Select Supplier -</option></select>
			<span asp-validation-for="@Model.SupplierId" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.Canvasser" class="form-label fieldrequired"><strong>@Localizer["Canvasser"] :</strong></label>
			<input asp-for="@Model.Canvasser" class="form-control" maxlength="500" />
			<span asp-validation-for="@Model.Canvasser" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.Status" class="form-label "><strong>@Localizer["Status"] :</strong></label>
			<input asp-for="@Model.Status" class="form-control" maxlength="50"  readonly/>
			<span asp-validation-for="@Model.Status" class="text-danger"></span>
			
	</div>
</div>

</div>
