@using Models
@model OrderItemViewModel

<div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-1 row-cols-xl-1 row-cols-xxl-1">
    <div class="col">
	<div class="mb-3">
		<label asp-for="@Model.Amount" class="form-label "><strong>@Localizer["Amount"] :</strong></label>
			<input asp-for="@Model.Amount" class="form-control"  />
			<span asp-validation-for="@Model.Amount" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.DeliveredByFullName" class="form-label fieldrequired"><strong>@Localizer["Delivered By"] :</strong></label>
			<input asp-for="@Model.DeliveredByFullName" class="form-control" maxlength="255" />
			<span asp-validation-for="@Model.DeliveredByFullName" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.InventoryId" class="form-label "><strong>@Localizer["Inventory"] :</strong></label>
			<select asp-for="@Model.InventoryId" class="form-control" asp-items="@(dropdownService.GetInventoryList(Model.InventoryId))"><option value="">- Select Inventory -</option></select>
			<span asp-validation-for="@Model.InventoryId" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.OrderByUserId" class="form-label fieldrequired"><strong>@Localizer["Order By"] :</strong></label>
			<input asp-for="@Model.OrderByUserId" class="form-control" maxlength="400" />
			<span asp-validation-for="@Model.OrderByUserId" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.OrderId" class="form-label "><strong>@Localizer["Order"] :</strong></label>
			<select asp-for="@Model.OrderId" class="form-control" asp-items="@(dropdownService.GetOrderList(Model.OrderId))"><option value="">- Select Order -</option></select>
			<span asp-validation-for="@Model.OrderId" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.Paid" class="form-label "><strong>@Localizer["Paid"] :</strong></label>
			<input asp-for="@Model.Paid" class="custom-checkbox-label"/>
			<span asp-validation-for="@Model.Paid" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.Quantity" class="form-label "><strong>@Localizer["Quantity"] :</strong></label>
			<input asp-for="@Model.Quantity" class="form-control"  />
			<span asp-validation-for="@Model.Quantity" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.ReceivedByFullName" class="form-label fieldrequired"><strong>@Localizer["Received By"] :</strong></label>
			<input asp-for="@Model.ReceivedByFullName" class="form-control" maxlength="255" />
			<span asp-validation-for="@Model.ReceivedByFullName" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.Status" class="form-label "><strong>@Localizer["Status"] :</strong></label>
			<input asp-for="@Model.Status" class="form-control" maxlength="20"  readonly/>
			<span asp-validation-for="@Model.Status" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.TotalAmount" class="form-label "><strong>@Localizer["Total Amount"] :</strong></label>
			<input asp-for="@Model.TotalAmount" class="form-control"  />
			<span asp-validation-for="@Model.TotalAmount" class="text-danger"></span>
			
	</div>
</div>

</div>
