@using Models
@model CompanyViewModel
<input type="hidden" id="BankCount" value="@Model?.BankList?.Count" />
<div class="card">
    <h5 class="card-header">
        <span style="background-color: var(--bs-card-cap-bg);">@Localizer["Bank Details"]</span>
        <a id="btnAddBank" class="btn btnMaterial btn-flat primary semicircle cancel" title="@Localizer["Add"]"><i class="fas fa-plus" style="font-size:18px;"></i></a>
        <button class="cancel" type="button" id="btnRemoveBank" value="RemoveBank" style="display:none;"></button>
    </h5>
    <div class="card-body" style="overflow:auto;">
        <table id="subDetailList" class="table table-hover table-bordered table-striped responsive nowrap" width="100%">
            <thead>
                <tr>
                    <th style="display:none;"></th>
                    <th>
                        @Localizer["Bank"]
                    </th>                  
                    <th>
                        @Localizer["Account Name"]
                    </th>
                    <th>
                        @Localizer["Account Type"]
                    </th>
                    <th>
                        @Localizer["Account Number"]
                    </th>
                       <th>
                        @Localizer["Branch Code"]
                    </th>
                       <th>
                        @Localizer["Signatory Type"]
                    </th>
                       <th>
                        @Localizer["Signatory 1"]
                    </th>
                       <th>
                        @Localizer["Signatory 2"]
                    </th>
                    <th>
                        @Localizer["Action"]
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model?.BankList != null)
                {
                    int counter = 0;
                    foreach (var item in Model.BankList)
                    {
                        <tr>
                            <td style="display:none;">
                                <input type="hidden" name="BankList[@counter].Id" value="@item.Id" />
                                <input type="hidden" name="BankList[@counter].CompanyId" value="@item.CompanyId" />
                            </td>
                            <td>
                                <input asp-for="@item.BankName" name="BankList[@counter].BankName" class="form-control" maxlength="255" />
                                <span data-valmsg-for="BankList[@counter].BankName" asp-validation-for="@item.BankName" class="text-danger"></span>
                            </td>                       
                            <td>
                                <input asp-for="@item.AccountName" name="BankList[@counter].AccountName" class="form-control" maxlength="255" />
                                <span data-valmsg-for="BankList[@counter].AccountName" asp-validation-for="@item.AccountName" class="text-danger"></span>
                            </td>
                            <td>
                                <select asp-for="@item.AccountType" name="BankList[@counter].AccountType" class="form-control" asp-items="@(dropdownService.AccountTypeList())"><option value="">- Select Account Type -</option></select>
                                <span data-valmsg-for="BankList[@counter].AccountType" asp-validation-for="@item.AccountType" class="text-danger"></span>
                            </td>
                            <td>
                                <input asp-for="@item.AccountNumber" name="BankList[@counter].AccountNumber" class="form-control" maxlength="14" />
                                <span data-valmsg-for="BankList[@counter].AccountNumber" asp-validation-for="@item.AccountNumber" class="text-danger"></span>
                            </td>
                            <td>
                                <input asp-for="@item.DeliveryCorporationBranch" name="BankList[@counter].DeliveryCorporationBranch" class="form-control" />
                                <span data-valmsg-for="BankList[@counter].DeliveryCorporationBranch" asp-validation-for="@item.DeliveryCorporationBranch" class="text-danger"></span>
                            </td>
                            <td>
                                <select asp-for="@item.SignatoryType" name="BankList[@counter].SignatoryType" class="form-control" asp-items="@(dropdownService.SignatoryTypeList())"><option value="">- Select Signatory Type -</option></select>
                                <span data-valmsg-for="BankList[@counter].SignatoryType" asp-validation-for="@item.SignatoryType" class="text-danger"></span>
                            </td>
                            <td>
                                <input asp-for="@item.Signatory1" name="BankList[@counter].Signatory1" class="form-control" />
                                <span data-valmsg-for="BankList[@counter].Signatory1" asp-validation-for="@item.Signatory1" class="text-danger"></span>
                            </td>
                            <td>
                                <input asp-for="@item.Signatory2" name="BankList[@counter].Signatory2" class="form-control" />
                                <span data-valmsg-for="BankList[@counter].Signatory2" asp-validation-for="@item.Signatory2" class="text-danger"></span>
                            </td>
                            <td>
                                <a class="btn btnMaterial btn-flat accent semicircle cancel RemoveBankButton" title="@Localizer["Remove Bank"]" removeId="@(item.Id)"><i class="fas fa-trash" style="font-size:18px;"></i></a>
                            </td>
                        </tr>
                        counter++;
                    }
                }
            </tbody>
        </table>
    </div>
</div>
