@using Models
@model InventoryViewModel

<div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-1 row-cols-xl-1 row-cols-xxl-1">
    <div class="col">
	<div class="mb-3">
		<label asp-for="@Model.PurchaseItemId" class="form-label fieldrequired"><strong>@Localizer["Purchase Item"] :</strong></label>
			<select asp-for="@Model.PurchaseItemId" class="form-control" asp-items="@(dropdownService.GetPurchaseItemList(Model.PurchaseItemId))"><option value="">- Select Purchase Item -</option></select>
			<span asp-validation-for="@Model.PurchaseItemId" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.ProductId" class="form-label fieldrequired"><strong>@Localizer["Product"] :</strong></label>
			<select asp-for="@Model.ProductId" class="form-control" asp-items="@(dropdownService.GetProductList(Model.ProductId))"><option value="">- Select Product -</option></select>
			<span asp-validation-for="@Model.ProductId" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.Quantity" class="form-label fieldrequired"><strong>@Localizer["Quantity"] :</strong></label>
			<input asp-for="@Model.Quantity" class="form-control"  />
			<span asp-validation-for="@Model.Quantity" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.Amount" class="form-label fieldrequired"><strong>@Localizer["Amount"] :</strong></label>
			<input asp-for="@Model.Amount" class="form-control"  />
			<span asp-validation-for="@Model.Amount" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.DeliveredByFullName" class="form-label "><strong>@Localizer["Delivered By"] :</strong></label>
			<input asp-for="@Model.DeliveredByFullName" class="form-control" maxlength="255" />
			<span asp-validation-for="@Model.DeliveredByFullName" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.ReceivedByFullName" class="form-label "><strong>@Localizer["Received By"] :</strong></label>
			<input asp-for="@Model.ReceivedByFullName" class="form-control" maxlength="255" />
			<span asp-validation-for="@Model.ReceivedByFullName" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.DeliveredDate" class="form-label "><strong>@Localizer["Delivered Date"] :</strong></label>
			<input asp-for="@Model.DeliveredDate" class="form-control"  />
			<span asp-validation-for="@Model.DeliveredDate" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.ReceivedDate" class="form-label "><strong>@Localizer["Received Date"] :</strong></label>
			<input asp-for="@Model.ReceivedDate" class="form-control"  />
			<span asp-validation-for="@Model.ReceivedDate" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.SellByUsername" class="form-label "><strong>@Localizer["Sold By"] :</strong></label>
			<input asp-for="@Model.SellByUsername" class="form-control" maxlength="400" />
			<span asp-validation-for="@Model.SellByUsername" class="text-danger"></span>
			
	</div>
</div>

</div>
