@using Models
@model InventoryViewModel
<input type="hidden" id="InventoryHistoryCount" value="@Model?.InventoryHistoryList?.Count" />
<div class="card">
    <h5 class="card-header">
        <span style="background-color: var(--bs-card-cap-bg);">@Localizer["Inventory History"]</span>
        <a id="btnAddInventoryHistory" class="btn btnMaterial btn-flat primary semicircle cancel" title="@Localizer["Add"]"><i class="fas fa-plus" style="font-size:18px;"></i></a>
        <button class="cancel" type="button" id="btnRemoveInventoryHistory" value="RemoveInventoryHistory" style="display:none;"></button>
    </h5>
    <div class="card-body" style="overflow:auto;">
        <table id="subDetailList" class="table table-hover table-bordered table-striped responsive nowrap" width="100%">
            <thead>
                <tr>
                    <th style="display:none;"></th>
                    <th>
								@Localizer["Activity"]
							</th>
							<th>
								@Localizer["Quantity"]
							</th>
							
                    <th>
                        @Localizer["Action"]
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model?.InventoryHistoryList != null)
                {
                    int counter = 0;
                    foreach (var item in Model.InventoryHistoryList)
                    {
                        <tr>
                            <td style="display:none;">
                                <input type="hidden" name="InventoryHistoryList[@counter].Id" value="@item.Id" />
                                <input type="hidden" name="InventoryHistoryList[@counter].InventoryId" value="@item.InventoryId" />
                            </td>
                            <td>
										<input  asp-for="@item.Activity" name="InventoryHistoryList[@counter].Activity" class="form-control" maxlength="400" />
										<span data-valmsg-for="InventoryHistoryList[@counter].Activity" asp-validation-for="@item.Activity" class="text-danger"></span>
										
									</td>
									<td>
										<input  asp-for="@item.Quantity" name="InventoryHistoryList[@counter].Quantity" class="form-control"  />
										<span data-valmsg-for="InventoryHistoryList[@counter].Quantity" asp-validation-for="@item.Quantity" class="text-danger"></span>
										
									</td>
									
                            <td>
                                <a class="btn btnMaterial btn-flat accent semicircle cancel RemoveInventoryHistoryButton" title="@Localizer["Remove InventoryHistory"]" removeId="@(item.Id)"><i class="fas fa-trash" style="font-size:18px;"></i></a>
                            </td>
                        </tr>
                        counter++;
                    }
                }
            </tbody>
        </table>
    </div>
</div>
