@using Models
@model InventoryViewModel
<input type="hidden" id="OrderItemCount" value="@Model?.OrderItemList?.Count" />
<div class="card">
    <h5 class="card-header">
        <span style="background-color: var(--bs-card-cap-bg);">@Localizer["Order Items"]</span>
        <a id="btnAddOrderItem" class="btn btnMaterial btn-flat primary semicircle cancel" title="@Localizer["Add"]"><i class="fas fa-plus" style="font-size:18px;"></i></a>
        <button class="cancel" type="button" id="btnRemoveOrderItem" value="RemoveOrderItem" style="display:none;"></button>
    </h5>
    <div class="card-body" style="overflow:auto;">
        <table id="subDetailList" class="table table-hover table-bordered table-striped responsive nowrap" width="100%">
            <thead>
                <tr>
                    <th style="display:none;"></th>
                    <th>
								@Localizer["Amount"]
							</th>
							<th>
								@Localizer["Delivered By"]
							</th>
							<th>
								@Localizer["Order By"]
							</th>
							<th>
								@Localizer["Order"]
							</th>
							<th>
								@Localizer["Paid"]
							</th>
							<th>
								@Localizer["Quantity"]
							</th>
							<th>
								@Localizer["Received By"]
							</th>
							<th>
								@Localizer["Status"]
							</th>
							<th>
								@Localizer["Total Amount"]
							</th>
							
                    <th>
                        @Localizer["Action"]
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model?.OrderItemList != null)
                {
                    int counter = 0;
                    foreach (var item in Model.OrderItemList)
                    {
                        <tr>
                            <td style="display:none;">
                                <input type="hidden" name="OrderItemList[@counter].Id" value="@item.Id" />
                                <input type="hidden" name="OrderItemList[@counter].InventoryId" value="@item.InventoryId" />
                            </td>
                            <td>
										<input  asp-for="@item.Amount" name="OrderItemList[@counter].Amount" class="form-control"  />
										<span data-valmsg-for="OrderItemList[@counter].Amount" asp-validation-for="@item.Amount" class="text-danger"></span>
										
									</td>
									<td>
										<input  asp-for="@item.DeliveredByFullName" name="OrderItemList[@counter].DeliveredByFullName" class="form-control" maxlength="255" />
										<span data-valmsg-for="OrderItemList[@counter].DeliveredByFullName" asp-validation-for="@item.DeliveredByFullName" class="text-danger"></span>
										
									</td>
									<td>
										<input  asp-for="@item.OrderByUserId" name="OrderItemList[@counter].OrderByUserId" class="form-control" maxlength="400" />
										<span data-valmsg-for="OrderItemList[@counter].OrderByUserId" asp-validation-for="@item.OrderByUserId" class="text-danger"></span>
										
									</td>
									<td>
										<select asp-for="@item.OrderId" id="OrderItemList_@(counter)_OrderId" name="OrderItemList[@counter].OrderId" class="form-control SelectOrder" asp-items="@(dropdownService.GetOrderList(item.OrderId))" >
											<option value="">- Select Order -</option>
										</select>
										<span data-valmsg-for="OrderItemList[@counter].OrderId" asp-validation-for="@item.OrderId" class="text-danger"></span>
										
									</td>
									<td>
										<input asp-for="@item.Paid" name="OrderItemList[@counter].Paid" class="custom-checkbox-label" />
										<span data-valmsg-for="OrderItemList[@counter].Paid" asp-validation-for="@item.Paid" class="text-danger"></span>
										
									</td>
									<td>
										<input  asp-for="@item.Quantity" name="OrderItemList[@counter].Quantity" class="form-control"  />
										<span data-valmsg-for="OrderItemList[@counter].Quantity" asp-validation-for="@item.Quantity" class="text-danger"></span>
										
									</td>
									<td>
										<input  asp-for="@item.ReceivedByFullName" name="OrderItemList[@counter].ReceivedByFullName" class="form-control" maxlength="255" />
										<span data-valmsg-for="OrderItemList[@counter].ReceivedByFullName" asp-validation-for="@item.ReceivedByFullName" class="text-danger"></span>
										
									</td>
									<td>
										<input  asp-for="@item.Status" name="OrderItemList[@counter].Status" class="form-control" maxlength="20" readonly/>
										<span data-valmsg-for="OrderItemList[@counter].Status" asp-validation-for="@item.Status" class="text-danger"></span>
										<input type="hidden" asp-for="@item.Status"  name="OrderItemList[@counter].Status"/>
									</td>
									<td>
										<input  asp-for="@item.TotalAmount" name="OrderItemList[@counter].TotalAmount" class="form-control"  />
										<span data-valmsg-for="OrderItemList[@counter].TotalAmount" asp-validation-for="@item.TotalAmount" class="text-danger"></span>
										
									</td>
									
                            <td>
                                <a class="btn btnMaterial btn-flat accent semicircle cancel RemoveOrderItemButton" title="@Localizer["Remove OrderItem"]" removeId="@(item.Id)"><i class="fas fa-trash" style="font-size:18px;"></i></a>
                            </td>
                        </tr>
                        counter++;
                    }
                }
            </tbody>
        </table>
    </div>
</div>
