@using Models
@model MainModulePlaceHolderViewModel
<input type="hidden" id="SubDetailListPlaceHolderCount" value="@Model?.SubDetailListPlaceHolderList?.Count" />
<div class="row">
    <div class="col-12">
        <div class="card card-outline card-primary">
            <div class="card-header d-flex">
                <div class="card-title flex-grow-1">
                    <button class="btn-field btn btn-block text-left text-black p-0" type="button" data-card-widget="collapse">
                        <h5>@Localizer["SubDetailListPlaceHolder"]</h5>
                    </button>
                    <button type="button" id="btnAddSubDetailListPlaceHolder" class="btn-field btn btn-primary cancel">
                        <i class="fas fa-plus" style="float:left;padding-top: 7px;padding-right: 10px;"></i>
                        <h6 style="float:left;padding-top: 7px;">@Localizer["Add"]</h6>
                    </button>
                    <button class="cancel" type="button" id="btnRemoveSubDetailListPlaceHolder" value="RemoveSubDetailListPlaceHolder" style="display:none;"></button>
                </div>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body" style="overflow:auto;">
                <table id="subDetailListPlaceHolder" class="table table-hover table-bordered table-striped responsive nowrap" width="100%">
                    <thead>
                        <tr>
							<th style="display:none;"></th>
                            <th>
								@Localizer["Code"]
							</th>
							
                            <th>
                                @Localizer["Action"]
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model?.SubDetailListPlaceHolderList != null)
                        {
                            int counter = 0;
                            foreach (var item in Model.SubDetailListPlaceHolderList)
                            {
                                <tr>
									<td style="display:none;">
                                        <input type="hidden" name="SubDetailListPlaceHolderList[@counter].Id" value="@item.Id" />
                                        <input type="hidden" name="SubDetailListPlaceHolderList[@counter].MainModulePlaceHolderId" value="@item.MainModulePlaceHolderId" />                                      
                                    </td>
                                    <td>
										<input  asp-for="@item.Code" name="SubDetailListPlaceHolderList[@counter].Code" class="form-control" />
										<span data-valmsg-for="SubDetailListPlaceHolderList[@counter].Code" asp-validation-for="@item.Code" class="text-danger"></span>
									</td>
									
                                    <td>
                                        <button type="button" class="btn-field btn btn-danger RemoveSubDetailListPlaceHolderButton cancel" title="@Localizer["Remove SubDetailListPlaceHolder"]" removeId="@(item.Id)">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                                counter++;
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
