@using Models
@model ReportTableViewModel

<div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-1 row-cols-xl-1 row-cols-xxl-1">
    <div class="col">
	<div class="mb-3">
		<label asp-for="@Model.ReportId" class="form-label fieldrequired"><strong>@Localizer["Report"] :</strong></label>
			<select asp-for="@Model.ReportId" class="form-control" asp-items="@(dropdownService.GetReportList(Model.ReportId))"><option value="">- Select Report -</option></select>
			<span asp-validation-for="@Model.ReportId" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.TableName" class="form-label fieldrequired"><strong>@Localizer["Table Name"] :</strong></label>
			<input asp-for="@Model.TableName" class="form-control" maxlength="255" />
			<span asp-validation-for="@Model.TableName" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.Alias" class="form-label "><strong>@Localizer["Alias"] :</strong></label>
			<input asp-for="@Model.Alias" class="form-control" maxlength="255" />
			<span asp-validation-for="@Model.Alias" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.JoinType" class="form-label "><strong>@Localizer["Join Type"] :</strong></label>
			<input asp-for="@Model.JoinType" class="form-control" maxlength="50" />
			<span asp-validation-for="@Model.JoinType" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.Sequence" class="form-label fieldrequired"><strong>@Localizer["Sequence"] :</strong></label>
			<input asp-for="@Model.Sequence" class="form-control"  />
			<span asp-validation-for="@Model.Sequence" class="text-danger"></span>
			
	</div>
</div>

</div>
