@using Models
@model ReportTableViewModel
<input type="hidden" id="ReportColumnDetailCount" value="@Model?.ReportColumnDetailList?.Count" />
<div class="card">
    <h5 class="card-header">
        <span  class="card-header-custom">@Localizer["Column Detail"]</span>
        <a id="btnAddReportColumnDetail" class="btn btnMaterial btn-flat primary semicircle cancel btnAddRemoveSubDetailList" title="@Localizer["Add"]"><i class="fas fa-plus"></i></a>
        <button class="cancel d-none" type="button" id="btnRemoveReportColumnDetail" value="RemoveReportColumnDetail"></button>
    </h5>
    <div class="card-body overflow-auto">
        <table id="subDetailList" class="table table-hover table-bordered table-striped responsive nowrap" width="100%">
            <thead>
                <tr>
                    <th class="d-none"></th>
                    <th>
								@Localizer["Report Column"]
							</th>
							<th>
								@Localizer["Field Name"]
							</th>
							<th>
								@Localizer["Function"]
							</th>
							<th>
								@Localizer["Arithmetic Operator"]
							</th>
							<th>
								@Localizer["Sequence"]
							</th>
							
                    <th>
                        @Localizer["Action"]
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model?.ReportColumnDetailList != null)
                {
                    int counter = 0;
                    foreach (var item in Model.ReportColumnDetailList)
                    {
                        <tr>
                            <td class="d-none">
                                <input type="hidden" name="ReportColumnDetailList[@counter].Id" value="@item.Id" />
                                <input type="hidden" name="ReportColumnDetailList[@counter].TableId" value="@item.TableId" />
                            </td>
                            <td>
										<select asp-for="@item.ReportColumnId" id="ReportColumnDetailList_@(counter)_ReportColumnId" name="ReportColumnDetailList[@counter].ReportColumnId" class="form-control SelectReportColumnHeader" asp-items="@(dropdownService.GetReportColumnHeaderList(item.ReportColumnId))" >
											<option value="">- Select Report Column -</option>
										</select>
										<span data-valmsg-for="ReportColumnDetailList[@counter].ReportColumnId" asp-validation-for="@item.ReportColumnId" class="text-danger"></span>
										
									</td>
									<td>
										<input  asp-for="@item.FieldName" name="ReportColumnDetailList[@counter].FieldName" class="form-control" maxlength="255" />
										<span data-valmsg-for="ReportColumnDetailList[@counter].FieldName" asp-validation-for="@item.FieldName" class="text-danger"></span>
										
									</td>
									<td>
										<input  asp-for="@item.Function" name="ReportColumnDetailList[@counter].Function" class="form-control" maxlength="50" />
										<span data-valmsg-for="ReportColumnDetailList[@counter].Function" asp-validation-for="@item.Function" class="text-danger"></span>
										
									</td>
									<td>
										<input  asp-for="@item.ArithmeticOperator" name="ReportColumnDetailList[@counter].ArithmeticOperator" class="form-control" maxlength="50" />
										<span data-valmsg-for="ReportColumnDetailList[@counter].ArithmeticOperator" asp-validation-for="@item.ArithmeticOperator" class="text-danger"></span>
										
									</td>
									<td>
										<input  asp-for="@item.Sequence" name="ReportColumnDetailList[@counter].Sequence" class="form-control"  />
										<span data-valmsg-for="ReportColumnDetailList[@counter].Sequence" asp-validation-for="@item.Sequence" class="text-danger"></span>
										
									</td>
									
                            <td>
                                <a class="btn btnMaterial btn-flat accent semicircle cancel RemoveReportColumnDetailButton btnAddRemoveSubDetailList" title="@Localizer["Remove ReportColumnDetail"]" removeId="@(item.Id)"><i class="fas fa-trash"></i></a>
                            </td>
                        </tr>
                        counter++;
                    }
                }
            </tbody>
        </table>
    </div>
</div>
