@page
@model AddModel
@{
    ViewData["Title"] = Localizer["Add Activity History"];
    ViewData["ActiveMainPage"] = "ActivityHistory";
    ViewData["Level1"] = "ELMS";
}
<form id="activityHistory-form" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
	<input type="hidden" asp-for="@Model.RemoveSubDetailId" />
    <input type="hidden" asp-for="@Model.AsyncAction" />
	<div id="PartialLoaderContainer">
        <partial name="_InputFieldsPartial" model="Model.ActivityHistory" />
    </div> 
	<div id="toolbar-container" class="btn-group" role="group" style="float:right;margin-top:10px;">
        <a asp-page="Index" class="btn btn-secondary" title="@Localizer["Cancel"]"><i class="fas fa-ban"></i></a>
        <button type="submit" class="btn btn-success" title="@Localizer["Save changes"]" style="color:#fff;"><i class="fas fa-save"></i></button>
    </div>   
</form>
<a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
    <i class="fas fa-chevron-up"></i>
</a>
@section Scripts {
<partial name="_ValidationScriptsPartial" />
<partial name="_UnitActivityListValidationPartial" model="@Model.ActivityHistory" />

<script asp-add-nonce>
    $(document).ready(function () {
		function InitializeForm()
		{
			$('.DisableSelectDropdown').on('mousedown', function(e) {
				e.preventDefault();
				this.blur();
				window.focus();
			});
			
			$.InitializeUnitActivityFieldValidations($('#UnitActivityCount').val());
			$('.RemoveUnitActivityButton ').on( 'click', function () {
				$('#RemoveSubDetailId').val($(this).attr('removeid'));
				$('#AsyncAction').val('RemoveUnitActivity');
				$.triggerPageForm('ChangeFormValue','#PartialLoaderContainer', '#activityHistory-form', InitializeForm);
			});

			$('#btnAddUnitActivity').on( 'click', function () {
				$('#AsyncAction').val('AddUnitActivity');
				$.triggerPageForm('ChangeFormValue','#PartialLoaderContainer', '#activityHistory-form', InitializeForm);
			});

			$.fn.unitSelect = function() {
				this.filter("select").each(function() {
					$(this).ajaxSelect({
						ajax: {
							url: '@Url.Page("/Unit/Index", new { area = "ELMS", handler = "Select2Data" })',
						}
					});
				});
				return this;
			};
			var unitlistdropdowns = document.getElementsByClassName('SelectUnit');
			for ( var i=0; i< unitlistdropdowns.length; i++) {
				$("#UnitActivityList_"+i+"_UnitID").unitSelect();
			}

			$.fn.activitySelect = function() {
				this.filter("select").each(function() {
					$(this).ajaxSelect({
						ajax: {
							url: '@Url.Page("/Activity/Index", new { area = "ELMS", handler = "Select2Data" })',
						}
					});
				});
				return this;
			};
			var activitylistdropdowns = document.getElementsByClassName('SelectActivity');
			for ( var i=0; i< activitylistdropdowns.length; i++) {
				$("#UnitActivityList_"+i+"_ActivityID").activitySelect();
			}

			$.fn.activitySelect = function() {
				this.filter("select").each(function() {
					$(this).ajaxSelect({
						ajax: {
							url: '@Url.Page("/Activity/Index", new { area = "ELMS", handler = "Select2Data" })',
						}
					});
				});
				return this;
			};
			$("#ActivityID").activitySelect();

			$.fn.clientfeedbackSelect = function() {
				this.filter("select").each(function() {
					$(this).ajaxSelect({
						ajax: {
							url: '@Url.Page("/ClientFeedback/Index", new { area = "ELMS", handler = "Select2Data" })',
						}
					});
				});
				return this;
			};
			$("#ClientFeedbackId").clientfeedbackSelect();

			$.fn.nextstepSelect = function() {
				this.filter("select").each(function() {
					$(this).ajaxSelect({
						ajax: {
							url: '@Url.Page("/NextStep/Index", new { area = "ELMS", handler = "Select2Data" })',
						}
					});
				});
				return this;
			};
			$("#NextStepId").nextstepSelect();

			$.fn.leadtaskSelect = function() {
				this.filter("select").each(function() {
					$(this).ajaxSelect({
						ajax: {
							url: '@Url.Page("/LeadTask/Index", new { area = "ELMS", handler = "Select2Data" })',
						}
					});
				});
				return this;
			};
			$("#LeadTaskId").leadtaskSelect();

		}	
		InitializeForm();
    });
</script>
}