@using Models
@model IFCAARAllocationViewModel

<div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-1 row-cols-xl-1 row-cols-xxl-1">
    <div class="col">
	<div class="mb-3">
		<label asp-for="@Model.ProjectID" class="form-label "><strong>@Localizer["Project"] :</strong></label>
			<select asp-for="@Model.ProjectID" class="form-control" asp-items="@(dropdownService.GetProjectList(Model.ProjectID))"><option value="">- Select Project -</option></select>
			<span asp-validation-for="@Model.ProjectID" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.TenantContractNo" class="form-label fieldrequired"><strong>@Localizer["Tenant Contract No."] :</strong></label>
			<input asp-for="@Model.TenantContractNo" class="form-control" maxlength="20" />
			<span asp-validation-for="@Model.TenantContractNo" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.DocumentNo" class="form-label fieldrequired"><strong>@Localizer["Document No"] :</strong></label>
			<input asp-for="@Model.DocumentNo" class="form-control" maxlength="20" />
			<span asp-validation-for="@Model.DocumentNo" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.TransactionAmount" class="form-label "><strong>@Localizer["Transaction Amount"] :</strong></label>
			<input asp-for="@Model.TransactionAmount" class="form-control"  />
			<span asp-validation-for="@Model.TransactionAmount" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.TransactionType" class="form-label fieldrequired"><strong>@Localizer["Transaction Type"] :</strong></label>
			<input asp-for="@Model.TransactionType" class="form-control" maxlength="20" />
			<span asp-validation-for="@Model.TransactionType" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.DocumentDate" class="form-label "><strong>@Localizer["Document Date"] :</strong></label>
			<input asp-for="@Model.DocumentDate" class="form-control"  />
			<span asp-validation-for="@Model.DocumentDate" class="text-danger"></span>
			
	</div>
</div>

</div>
