@using Models
@model GeneratedViewModel

<div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-1 row-cols-xl-1 row-cols-xxl-1">
    <div class="col">
	<div class="mb-3">
		<label asp-for="@Model.CompanyId" class="form-label fieldrequired"><strong>@Localizer["Entity"] :</strong></label>
			<select asp-for="@Model.CompanyId" class="form-control" asp-items="@(dropdownService.GetCompanyList(Model.CompanyId))"><option value="">- Select Entity -</option></select>
			<span asp-validation-for="@Model.CompanyId" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.CreditorId" class="form-label fieldrequired"><strong>@Localizer["Creditor"] :</strong></label>
			<select asp-for="@Model.CreditorId" class="form-control" asp-items="@(dropdownService.GetCreditorList(Model.CreditorId))"><option value="">- Select Creditor -</option></select>
			<span asp-validation-for="@Model.CreditorId" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.BatchId" class="form-label fieldrequired"><strong>@Localizer["Batch"] :</strong></label>
			<select asp-for="@Model.BatchId" class="form-control" asp-items="@(dropdownService.GetBatchList(Model.BatchId))"><option value="">- Select Batch -</option></select>
			<span asp-validation-for="@Model.BatchId" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.Name" class="form-label fieldrequired"><strong>@Localizer["Name"] :</strong></label>
			<input asp-for="@Model.Name" class="form-control" maxlength="100" />
			<span asp-validation-for="@Model.Name" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.TransmissionDate" class="form-label fieldrequired"><strong>@Localizer["Transmission Date"] :</strong></label>
			<input asp-for="@Model.TransmissionDate" class="form-control"  />
			<span asp-validation-for="@Model.TransmissionDate" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.DocumentNumber" class="form-label fieldrequired"><strong>@Localizer["Document Number"] :</strong></label>
			<input asp-for="@Model.DocumentNumber" class="form-control" maxlength="15" />
			<span asp-validation-for="@Model.DocumentNumber" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.DocumentDate" class="form-label fieldrequired"><strong>@Localizer["Document Date"] :</strong></label>
			<input asp-for="@Model.DocumentDate" class="form-control"  />
			<span asp-validation-for="@Model.DocumentDate" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.DocumentAmount" class="form-label fieldrequired"><strong>@Localizer["Document Amount"] :</strong></label>
			<input asp-for="@Model.DocumentAmount" class="form-control"  />
			<span asp-validation-for="@Model.DocumentAmount" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.CheckNumber" class="form-label fieldrequired"><strong>@Localizer["Check Number"] :</strong></label>
			<input asp-for="@Model.CheckNumber" class="form-control" maxlength="15" />
			<span asp-validation-for="@Model.CheckNumber" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.Release" class="form-label fieldrequired"><strong>@Localizer["Release"] :</strong></label>
			<input asp-for="@Model.Release" class="form-control" maxlength="1" />
			<span asp-validation-for="@Model.Release" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.PaymentType" class="form-label fieldrequired"><strong>@Localizer["Payment Type"] :</strong></label>
			<input asp-for="@Model.PaymentType" class="form-control" maxlength="9" />
			<span asp-validation-for="@Model.PaymentType" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.TextFileName" class="form-label fieldrequired"><strong>@Localizer["Text File Name"] :</strong></label>
			<input asp-for="@Model.TextFileName" class="form-control" maxlength="50" />
			<span asp-validation-for="@Model.TextFileName" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.PdfReport" class="form-label fieldrequired"><strong>@Localizer["Pdf Report"] :</strong></label>
			<input asp-for="@Model.PdfReport" class="form-control" maxlength="50" />
			<span asp-validation-for="@Model.PdfReport" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.Emailed" class="form-label fieldrequired"><strong>@Localizer["Emailed"] :</strong></label>
			<input asp-for="@Model.Emailed" class="custom-checkbox-label"/>
			<span asp-validation-for="@Model.Emailed" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.GroupCode" class="form-label fieldrequired"><strong>@Localizer["Group"] :</strong></label>
			<input asp-for="@Model.GroupCode" class="form-control" maxlength="9" />
			<span asp-validation-for="@Model.GroupCode" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.Status" class="form-label fieldrequired"><strong>@Localizer["Group"] :</strong></label>
			<input asp-for="@Model.Status" class="form-control" maxlength="9" />
			<span asp-validation-for="@Model.Status" class="text-danger"></span>
			
	</div>
</div>

</div>
