@page
@model IndexModel

@section Styles {
<partial name="_DataTableStyles" />
}
@{
    ViewData["Title"] = Localizer["Generated List"];
    ViewData["ActiveMainPage"] = "Generated";
    ViewData["Level1"] = "FAS";
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <table id="generated" class="table table-hover table-bordered table-striped responsive nowrap" width="100%">
                    <thead>
                        <tr>
                            <th>
								@Localizer["Entity"]
							</th>
							<th>
								@Localizer["Creditor"]
							</th>
							<th>
								@Localizer["Batch"]
							</th>
							<th>
								@Localizer["Name"]
							</th>
							<th>
								@Localizer["Transmission Date"]
							</th>
							<th>
								@Localizer["Document Number"]
							</th>
							<th>
								@Localizer["Document Date"]
							</th>
							<th>
								@Localizer["Document Amount"]
							</th>
							<th>
								@Localizer["Check Number"]
							</th>
							<th>
								@Localizer["Release"]
							</th>
							<th>
								@Localizer["Payment Type"]
							</th>
							  
														
                            <th>
                                @Localizer["Actions"]
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
    <i class="fas fa-chevron-up"></i>
</a>
@section Scripts {
<partial name="_DataTableScripts" />
<script asp-add-nonce>
    $(document).ready(function () {
        var table = $('#generated').DataTable({
            select: false,
            serverSide: true,
            order: [[ 11, 'desc' ]],
            ajax:
            {
                url: '@Url.Page("/Generated/Index", new { area = "FAS", handler = "ListAll" })',
                type: "POST",
                headers: {
                    RequestVerificationToken:
                        $('input:hidden[name="__RequestVerificationToken"]').val()
                },
            },
			initComplete: function( settings, json ) {
                BindTableRowCollapseEvent();
            },
			columns: [
                { data: "companyId", name: "CompanyId", responsivePriority: 1, title: '@Localizer["Entity"]', searchable: false },
				{ data: "creditorId", name: "CreditorId", responsivePriority: 1, title: '@Localizer["Creditor"]', searchable: true },
				{ data: "batchId", name: "BatchId", responsivePriority: 1, title: '@Localizer["Batch"]', searchable: false },
				{ data: "name", name: "Name", responsivePriority: 1, title: '@Localizer["Name"]', searchable: true },
				{ data: "transmissionDate", name: "TransmissionDate", responsivePriority: 1, title: '@Localizer["Transmission Date"]', searchable: false },
				{ data: "documentNumber", name: "DocumentNumber", responsivePriority: 1, title: '@Localizer["Document Number"]', searchable: true },
				{ data: "documentDate", name: "DocumentDate", responsivePriority: 1, title: '@Localizer["Document Date"]', searchable: false },
				{ data: "documentAmount", name: "DocumentAmount", responsivePriority: 1, title: '@Localizer["Document Amount"]', searchable: false },
				{ data: "checkNumber", name: "CheckNumber", responsivePriority: 1, title: '@Localizer["Check Number"]', searchable: true },
				{ data: "release", name: "Release", responsivePriority: 1, title: '@Localizer["Release"]', searchable: true },
				{ data: "paymentType", name: "PaymentType", responsivePriority: 1, title: '@Localizer["Payment Type"]', searchable: false },
				   
				
                {
                    data: null,
                    searchable: false,
                    orderable: false,
                    responsivePriority: 2,
                    width: "10%",
                    render: function (data, type, row, meta) {
                        var url = '@Url.Page("/Generated/Details", new { area = "FAS" })' + '?id=' + row.id;
                        var button = '<a href="' + url + '" class="btn btnMaterial btn-flat primary semicircle btnViewGenerated" title="@Localizer["View"]"><i class="far fa-eye"></i></a>';
                @if ((await AuthorizationService.AuthorizeAsync(User, Permission.Generated.Edit)).Succeeded)
                {
                    <text>
                        url = '@Url.Page("/Generated/Edit", new { area = "FAS" })' + '?id=' + row.id;
                        button =  button + '&nbsp;<a href="' + url + '" class="btn btnMaterial btn-flat success semicircle btnEditGenerated" title="@Localizer["Edit"]"><i class="fas fa-pen"></i></a>';
                    </text>
                }
                @if ((await AuthorizationService.AuthorizeAsync(User, Permission.Generated.Delete)).Succeeded)
                {
                    <text>
                        url = '@Url.Page("/Generated/Delete", new { area = "FAS" })' + '?id=' + row.id;
                        button =  button + '&nbsp;<a href="' + url + '" class="btn btnMaterial btn-flat accent semicircle btnDeleteGenerated" title="@Localizer["Delete"]"><i class="fas fa-trash btnNoBorders" style="color: #DC3545;"></i></a>';
                    </text>
                }
				  
                        return button;
                    },
                },
                { data: "lastModifiedDate", name: "LastModifiedDate", title: '@Localizer["Last Modified Date"]', visible: false, searchable: false },
                { data: "id", name: "Id", visible: false },
            ],
            buttons: [
        @if ((await AuthorizationService.AuthorizeAsync(User, Permission.Generated.Create)).Succeeded)
        {
            <text>
                {
                    text: '@Localizer["Add"]',
                    action: function (e, dt, button, config) {
                        var url = '@Url.Page("/Generated/Add", new { area = "FAS" })';
                        window.location.href = url;
                    },
                    className: 'btn btn-success text-light',
                },
            </text>
        }
                'excel', 'pdf', 'pageLength',
            ],
        });
        var debounce = new $.fn.dataTable.Debounce(table); // Add delay to search

        $('.btn-table_filter').on('click', function(e) {
            table.ajax.reload(null, false);
        });
		function BindTableRowCollapseEvent()
        {
            $('#generated tbody').on('click', 'td.dtr-control', function () {
                $.showAjaxLoaderOnClick([".btnAddGenerated",".btnEditGenerated",".btnViewGenerated",".btnDeleteGenerated"]);
            });
        }
        $.showAjaxLoaderOnClick([".btnAddGenerated",".btnEditGenerated",".btnViewGenerated",".btnDeleteGenerated"]);

        $('#navbar_search').keyup(function(){
              table.search($(this).val()).draw();
        })
        $(".dataTables_filter").hide();
        $("#navbar_search_container").show();
    });
</script>
}