@using Models
@model TenantViewModel
<input type="hidden" id="TenantLotCount" value="@Model?.TenantLotList?.Count" />
<div class="row">
    <div class="col-12">
        <div class="card card-outline card-primary">
            <div class="card-header d-flex">
                <div class="card-title flex-grow-1">
                    <button class="btn-field btn btn-block text-left text-black p-0" type="button" data-card-widget="collapse">
                        <h5>@Localizer["Tenant Lot"]</h5>
                    </button>
                    <button type="button" id="btnAddTenantLot" class="btn-field btn btn-primary cancel">
                        <i class="fas fa-plus" style="float:left;padding-top: 7px;padding-right: 10px;"></i>
                        <h6 style="float:left;padding-top: 7px;">@Localizer["Add"]</h6>
                    </button>
                    <button class="cancel" type="button" id="btnRemoveTenantLot" value="RemoveTenantLot" style="display:none;"></button>
                </div>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body" style="overflow:auto;">
                <table id="tenantLot" class="table table-hover table-bordered table-striped responsive nowrap" width="100%">
                    <thead>
                        <tr>
							<th style="display:none;"></th>
                            <th>
								@Localizer["Area"]
							</th>
							<th>
								@Localizer["LotNo"]
							</th>
							
                            <th>
                                @Localizer["Action"]
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model?.TenantLotList != null)
                        {
                            int counter = 0;
                            foreach (var item in Model.TenantLotList)
                            {
                                <tr>
									<td style="display:none;">
                                        <input type="hidden" name="TenantLotList[@counter].Id" value="@item.Id" />
                                        <input type="hidden" name="TenantLotList[@counter].TenantId" value="@item.TenantId" />                                      
                                    </td>
                                    <td>
										<input  asp-for="@item.Area" name="TenantLotList[@counter].Area" class="form-control"  readonly/>
										<span data-valmsg-for="TenantLotList[@counter].Area" asp-validation-for="@item.Area" class="text-danger"></span>
										<input type="hidden" asp-for="@item.Area"  name="TenantLotList[@counter].Area"/>
									</td>
									<td>
										<input  asp-for="@item.LotNo" name="TenantLotList[@counter].LotNo" class="form-control" maxlength="255" readonly/>
										<span data-valmsg-for="TenantLotList[@counter].LotNo" asp-validation-for="@item.LotNo" class="text-danger"></span>
										<input type="hidden" asp-for="@item.LotNo"  name="TenantLotList[@counter].LotNo"/>
									</td>
									
                                    <td>
                                        <button type="button" class="btn-field btn btn-danger RemoveTenantLotButton cancel" title="@Localizer["Remove TenantLot"]" removeId="@(item.Id)">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                                counter++;
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
