@using Models
@model IEnumerable<CTI.ELMS.Application.Features.ELMS.Unit.Queries.AvailableUnitModel>
<style>
    #available-units-table_filter {
        float: right;
        margin-bottom: 10px;
    }
</style>
<table id="available-units-table" class="table table-hover table-bordered table-striped responsive nowrap" width="100%">
    <thead>
        <tr>
            <th>
                @Localizer["Unit No."]
            </th>
            <th>
                @Localizer["Lot Area"]
            </th>
            <th>
                @Localizer["Availability"]
            </th>
            <th>
                @Localizer["Lot Budget"]
            </th>
            <th>
                @Localizer["Unit Id"]
            </th>
            <th>
                @Localizer["Availability"]
            </th>
            <th>
                @Localizer["AvailabilityDate"]
            </th>
            <th>
                @Localizer["Actions"]
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var unit in Model)
        {
            <tr>
                <td>
                    @unit.UnitNo
                </td>
                <td>
                    @unit.LotArea
                </td>
                <td>
                    @unit.Availability
                </td>
                <td>
                    @unit.LotBudget.ToString("##,##.00")
                </td>
                <td>
                    @unit.UnitId
                </td>
                <td>
                    @unit.Availability
                </td>
                <td>
                    @unit.AvailabilityDate
                </td>
                <td>
                </td>
            </tr>
        }
    </tbody>
</table>
<script asp-add-nonce>
    
</script>