@using Models
@model HealthDeclarationViewModel

<div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-1 row-cols-xl-1 row-cols-xxl-1">
    <div class="col">
	<div class="mb-3">
		<label asp-for="@Model.EmployeeId" class="form-label fieldrequired"><strong>@Localizer["Employee"] :</strong></label>
			<select asp-for="@Model.EmployeeId" class="form-control" asp-items="@(dropdownService.GetEmployeeList(Model.EmployeeId))"><option value="">- Select Employee -</option></select>
			<span asp-validation-for="@Model.EmployeeId" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.IsVaccinated" class="form-label RadionButtonLabel "><strong>@Localizer["Vaccinated"] :</strong></label>
			<input type="radio" asp-for="@Model.IsVaccinated" value="true" /><span>Yes</span>

			<input type="radio" asp-for="@Model.IsVaccinated" value="false" class="RadioButtonNo" /><span>No</span>
			<span asp-validation-for="@Model.IsVaccinated" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.Vaccine" class="form-label "><strong>@Localizer["Vaccine"] :</strong></label>
			<input asp-for="@Model.Vaccine" class="form-control" maxlength="255" />
			<span asp-validation-for="@Model.Vaccine" class="text-danger"></span>
			
	</div>
</div>

</div>
