@page
@model ProjectNamePlaceHolder.Web.Pages.User.IndexModel
@using X.PagedList.Web.Common
@using X.PagedList.Mvc.Core
@using X.PagedList
@using ProjectNamePlaceHolder.Web.Extensions;

@{
    ViewData["Title"] = @Resource.LabelUserList;
}
<form method="get">
    <div class="row toolbar-container">
        <div class="btn-toolbar mb-1 col-sm-3 toolbar-left-panel" role="toolbar">         
        </div>
        <div class="btn-toolbar mb-1 col-sm-9 toolbar-right-panel" role="toolbar" style="padding-left:0px;padding-right:0px;">
            <div class="col-sm-12 row" style="margin-right:0px;padding-right:0px;">               
                <div class="col-sm-8" id="">                  
                </div>
                <div class="col-sm-4" id="SearchContainer">
                    <div id="search-toolbar" class="input-group input-group-sm">
                        <div class="input-group-prepend input-group-sm">
                            <button type="submit" id="btnSearch" class="input-group-text">
                                <i class="fas fa-search text-dark"
                                   aria-hidden="true"></i>
                            </button>
                        </div>
                        <input asp-for="SearchKey" class="form-control" placeholder="Search" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="" style="margin-top:5px;">
    @if (TempData["Error"] != null)
    {
        <div class="alert alert-danger small alert-dismissible fade show" role="alert">
            <span>@TempData["Error"] </span>
        </div>
    }
    else if (TempData["Success"] != null)
    {
        <div class="alert alert-info small alert-dismissible fade show" role="alert">
            <span>@TempData["Success"]</span>
        </div>
    }
</div>
<table class="table small table-striped table-hover table">
    <thead>
        <tr>
            @Html.PageSorter(model => Model.UserList[0].IdentityUserName)
            @Html.PageSorter(model => Model.UserList[0].FullName)
            @Html.PageSorter(model => Model.UserList[0].IdentityEmail)
            @Html.PageSorter(model => Model.UserList[0].IdentityEmailConfirmed)
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.UserList != null)
        {
            foreach (var item in Model.UserList)
            {
        <tr onclick="@if (!item.IdentityEmailConfirmed)
                                { <text>document.getElementById('btnActivate@(item.Id)').click();</text>}
                                else
                                { <text>document.getElementById('btnView@(item.Id)').click();</text>}" style="cursor:pointer;">
            <td>
                @Html.DisplayFor(modelItem => item.IdentityUserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdentityEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdentityEmailConfirmed)
            </td>
            <td>
                <ul class="list-toolbar" style="float:right;">
                    @if (!item.IdentityEmailConfirmed)
                    {
                        <li class="list-toolbar-button">
                            <a Id="btnActivate@(item.Id)" asp-page="./Activate" asp-route-id="@item.Id" data-toggle="tooltip" data-placement="top" title="@Resource.LabelActivate">
                                <i class="fas fa-check text-dark"
                                   aria-hidden="true"></i>
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="list-toolbar-button">
                            <a href="#" data-toggle="tooltip" data-placement="top" title="@Resource.LabelActivated">
                                <i class="fas fa-check" aria-hidden="true" style="color:#17a2b8;"></i>
                            </a>
                        </li>

                    }
                    <li class="list-toolbar-button">
                        <a Id="btnEdit@(item.Id)" asp-page="./Edit" asp-route-id="@item.Id" data-toggle="tooltip" data-placement="top" title="@Resource.LabelEdit">
                            <i class="fas fa-edit text-dark"
                               aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="list-toolbar-button">
                        <a Id="btnView@(item.Id)" asp-page="./Details" asp-route-id="@item.Id" data-toggle="tooltip" data-placement="top" title="@Resource.LabelView">
                            <i class="fas fa-search text-dark"
                               aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </td>
        </tr>
                }
                }
            </tbody>
</table>
<div class="small">
    <br />
    @if (Model.UserList != null)
    {
        <ul class="pagination justify-content-center">
            @Html.PagedListPager((IPagedList)Model.UserList, page => Url.Action("Index", new
            {
                SearchKey = Model.SearchKey,         
                PageNumber = page,
                OrderBy = Model.OrderBy,
                SortBy = Model.SortBy
            }),
            new PagedListRenderOptionsBase
            {
                LiElementClasses = new string[] { "page-item" },
                PageClasses = new string[] { "page-link" }
            })
        </ul>
    }
</div>
@section Scripts {
  
}

