@using Models
@model TeamViewModel

<div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-1 row-cols-xl-1 row-cols-xxl-1">
    <div class="col">
	<div class="mb-3">
		<label asp-for="@Model.SectionCode" class="form-label fieldrequired"><strong>@Localizer["Section Code"] :</strong></label>
			<select asp-for="@Model.SectionCode" class="form-control" asp-items="@(dropdownService.GetSectionList(Model.SectionCode))"><option value="">- Select Section Code -</option></select>
			<span asp-validation-for="@Model.SectionCode" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.TeamCode" class="form-label fieldrequired"><strong>@Localizer["Team Code"] :</strong></label>
			<input asp-for="@Model.TeamCode" class="form-control" maxlength="450" />
			<span asp-validation-for="@Model.TeamCode" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.TeamName" class="form-label fieldrequired"><strong>@Localizer["Team Name"] :</strong></label>
			<input asp-for="@Model.TeamName" class="form-control"  />
			<span asp-validation-for="@Model.TeamName" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.Active" class="form-label "><strong>@Localizer["Active"] :</strong></label>
			<input asp-for="@Model.Active" class="custom-checkbox-label"/>
			<span asp-validation-for="@Model.Active" class="text-danger"></span>
			
	</div>
</div>

</div>
