@page
@model ApproveModel
@{
    ViewData["Title"] = Localizer["Approve Purchase Requisition"];
    ViewData["ActiveMainPage"] = "PurchaseRequisition";
    ViewData["Level1"] = "TurboERP";
}
<form id="purchaseRequisition-form" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <partial name="_ApprovalStatusPartial" model="@Model.ApprovalStatus" />
    <div id="PartialLoaderContainer">
        <partial name="_InputFieldsPartial" model="Model.PurchaseRequisition" />
    </div>
    <div id="toolbar-container" class="btn-group" role="group" style="float:right;margin-top:10px;">   
        <a asp-page="Index" class="btn btn-secondary" title="@Localizer["Back"]"><i class="fas fa-arrow-left"></i></a>
        @if (Model.ApprovalStatus == CelerSoft.TurboERP.Core.TurboERP.ApprovalStatus.ForApproval)
        {
            <button type="submit" class="btn btn-primary cancel" name="Handler" value="Approve" title="@Localizer["Approve"]"><i class="fas fa-check"></i></button>
        }
        else
        {
            <button type="button" class="btn btn-secondary" title="@Localizer["Approve"]" disabled><i class="fas fa-check"></i></button>
        }
        @if (Model.ApprovalStatus == CelerSoft.TurboERP.Core.TurboERP.ApprovalStatus.ForApproval)
        {
            <button type="submit" class="btn btn-danger" name="Handler" value="Reject" title="@Localizer["Reject"]"><i class="fas fa-times"></i></button>
        }
        else
        {
            <button type="button" class="btn btn-secondary" title="@Localizer["Reject"]" disabled><i class="fas fa-times"></i></button>
        }
    </div>
</form>
<a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
    <i class="fas fa-chevron-up"></i>
</a>
@section Scripts {
<partial name="_DisableFieldsPartial" model="@("purchaseRequisition-form")" />
}