@using Models
@model AssignmentViewModel

<div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-1 row-cols-xl-1 row-cols-xxl-1">
    <div class="col">
	<div class="mb-3">
		<label asp-for="@Model.AssignmentCode" class="form-label "><strong>@Localizer["Assignment Code"] :</strong></label>
			<input asp-for="@Model.AssignmentCode" class="form-control"   readonly/>
			<span asp-validation-for="@Model.AssignmentCode" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.TaskListCode" class="form-label "><strong>@Localizer["Task List Code"] :</strong></label>
			<input asp-for="ForeignKeyTaskList" class="form-control"   readonly />
			<span asp-validation-for="@Model.TaskListCode" class="text-danger"></span>
			<input type="hidden" asp-for="@Model.TaskListCode"/>
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.PrimaryAsignee" class="form-label fieldrequired"><strong>@Localizer["Primary Assignee"] :</strong></label>
			<input asp-for="@Model.PrimaryAsignee" class="form-control"  />
			<span asp-validation-for="@Model.PrimaryAsignee" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.AlternateAsignee" class="form-label "><strong>@Localizer["Alternate Assignee"] :</strong></label>
			<input asp-for="@Model.AlternateAsignee" class="form-control"  />
			<span asp-validation-for="@Model.AlternateAsignee" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.StartDate" class="form-label fieldrequired"><strong>@Localizer["Start Date"] :</strong></label>
			<input asp-for="@Model.StartDate" class="form-control"  />
			<span asp-validation-for="@Model.StartDate" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.EndDate" class="form-label fieldrequired"><strong>@Localizer["End Date"] :</strong></label>
			<input asp-for="@Model.EndDate" class="form-control"  />
			<span asp-validation-for="@Model.EndDate" class="text-danger"></span>
			
	</div>
</div>

</div>
