@page "/Admin/Roles/{Id}"
@model RolesModel
@{
    ViewData["Id"] = Model.Id;
    ViewData["Title"] = $"{Model.Role!.Name} | " + Localizer["Overview"].Value;
    ViewData["ActivePage"] = ManageNavPages.Index;
    ViewData["ActiveMainPage"] = "Roles";
}

<h4>@ViewData["Title"]</h4>
<div class="row">
    <div class="col-md-6">
        <div class="form-group row">
            <label asp-for="@Model.Role!.Name" class="col-md-3 col-form-label"></label>
            <div class="col-md-9">
                <input asp-for="@Model.Role!.Name" class="form-control" readonly />
            </div>
        </div>
        <a asp-page="../Index" class="btn btn-secondary">@Localizer["Close"]</a>
        @if ((await AuthorizationService.AuthorizeAsync(User, Permission.Roles.Edit)).Succeeded)
        {
            <a href="/Admin/Roles/@(Model.Role!.Id)/Edit" class="btn btn-primary">@Localizer["Edit"]</a>
        }
    </div>
</div>
