@using Models
@model EntityGroupViewModel

<div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-1 row-cols-xl-1 row-cols-xxl-1">
    <div class="col">
	<div class="mb-3">
		<label asp-for="@Model.PPlusConnectionSetupID" class="form-label "><strong>@Localizer["PPlus Connection Setup"] :</strong></label>
			<select asp-for="@Model.PPlusConnectionSetupID" class="form-control" asp-items="@(dropdownService.GetPPlusConnectionSetupList(Model.PPlusConnectionSetupID))"><option value="">- Select PPlus Connection Setup -</option></select>
			<span asp-validation-for="@Model.PPlusConnectionSetupID" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.EntityName" class="form-label fieldrequired"><strong>@Localizer["Entity Name"] :</strong></label>
			<input asp-for="@Model.EntityName" class="form-control" maxlength="100" />
			<span asp-validation-for="@Model.EntityName" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.PPLUSEntityCode" class="form-label "><strong>@Localizer["PPLUS Entity Code"] :</strong></label>
			<input asp-for="@Model.PPLUSEntityCode" class="form-control" maxlength="5" />
			<span asp-validation-for="@Model.PPLUSEntityCode" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.EntityShortName" class="form-label fieldrequired"><strong>@Localizer["Entity Short Name"] :</strong></label>
			<input asp-for="@Model.EntityShortName" class="form-control" maxlength="20" />
			<span asp-validation-for="@Model.EntityShortName" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.TINNo" class="form-label fieldrequired"><strong>@Localizer["TIN Number"] :</strong></label>
			<input asp-for="@Model.TINNo" class="form-control" maxlength="17" />
			<span asp-validation-for="@Model.TINNo" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.EntityDescription" class="form-label fieldrequired"><strong>@Localizer["Entity Description"] :</strong></label>
			<input asp-for="@Model.EntityDescription" class="form-control" maxlength="100" />
			<span asp-validation-for="@Model.EntityDescription" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.EntityAddress" class="form-label fieldrequired"><strong>@Localizer["Entity Address"] :</strong></label>
			<input asp-for="@Model.EntityAddress" class="form-control" maxlength="255" />
			<span asp-validation-for="@Model.EntityAddress" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.EntityAddress2" class="form-label "><strong>@Localizer["Entity Address 2"] :</strong></label>
			<input asp-for="@Model.EntityAddress2" class="form-control" maxlength="255" />
			<span asp-validation-for="@Model.EntityAddress2" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.IsDisabled" class="form-label "><strong>@Localizer["Is Disabled"] :</strong></label>
			<input asp-for="@Model.IsDisabled" class="custom-checkbox-label"/>
			<span asp-validation-for="@Model.IsDisabled" class="text-danger"></span>
			
	</div>
</div>

</div>
