@using Models
@model DeliveryApprovalHistoryViewModel

<div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-1 row-cols-xl-1 row-cols-xxl-1">
    <div class="col">
	<div class="mb-3">
		<label asp-for="@Model.DeliveryId" class="form-label fieldrequired"><strong>@Localizer["Delivery"] :</strong></label>
			<select asp-for="@Model.DeliveryId" class="form-control" asp-items="@(dropdownService.GetDeliveryList(Model.DeliveryId))"><option value="">- Select Delivery -</option></select>
			<span asp-validation-for="@Model.DeliveryId" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.TransactionDateTime" class="form-label "><strong>@Localizer["Transaction Date/Time"] :</strong></label>
			<input asp-for="@Model.TransactionDateTime" class="form-control"  />
			<span asp-validation-for="@Model.TransactionDateTime" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.Status" class="form-label "><strong>@Localizer["Status"] :</strong></label>
			<input asp-for="@Model.Status" class="form-control" maxlength="50" />
			<span asp-validation-for="@Model.Status" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.TransactedBy" class="form-label "><strong>@Localizer["Transacted By"] :</strong></label>
			<input asp-for="@Model.TransactedBy" class="form-control" maxlength="450" />
			<span asp-validation-for="@Model.TransactedBy" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.Remarks" class="form-label fieldrequired"><strong>@Localizer["Remarks"] :</strong></label>
			<input asp-for="@Model.Remarks" class="form-control"  />
			<span asp-validation-for="@Model.Remarks" class="text-danger"></span>
			
	</div>
</div>

</div>
