@*@page
@model ProjectNamePlaceHolder.Web.Pages.User.ActivateModel
@{
    ViewData["Title"] = @Resource.LabelActivateUser;
}


<form method="get">
    <div class="row toolbar-container">
        <div class="btn-toolbar mb-1 col-12" role="toolbar">
            <div class="input-group input-group-sm">
                <div class="input-group input-group-sm" data-toggle="tooltip" data-placement="top" title="@Resource.LabelActivate" id="btnShowActivateModal">
                    <a class="input-group-text custom-anchor-button" href="#">
                        <i class="fas fa-check"></i><span class="btn-label"> @Resource.LabelActivate</span>
                    </a>
                </div>
            </div>
            <div class="vertical-divider"></div>
            <div class="input-group input-group-sm">            
                <div class="input-group input-group-sm">
                    <div class="input-group input-group-sm" data-toggle="tooltip" data-placement="top" title="@Resource.LabelBackToList">
                        <a asp-page="./Index" class="input-group-text custom-anchor-button">
                            <i class="fas fa-backspace"></i><span class="btn-label"> @Resource.LabelBack</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<div id="PromptContainer" class="" style="margin-top:5px;">
    @if (TempData["Error"] != null)
    {
        <div class="alert alert-danger small alert-dismissible fade show" role="alert">
            <span>@TempData["Error"] </span>
        </div>
    }
    else if (TempData["Success"] != null)
    {
        <div class="alert alert-info small alert-dismissible fade show" role="alert">
            <span>@TempData["Success"]</span>
        </div>
    }
</div>
<div class="panel-container">    
    <form method="post" id="FormActivate">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="AppUser.Id" />
        <div class="row" style="padding:10px;">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.DisplayLabelWithRequiredTag(model => Model.AppUser.IdentityUserName, "control-label small")
                    <input asp-for="AppUser.IdentityUserName" class="form-control form-control-sm" readonly />
                    <span asp-validation-for="AppUser.IdentityUserName" class="text-danger small"></span>
                </div>
                <div class="form-group">
                    @Html.DisplayLabelWithRequiredTag(model => Model.AppUser.FullName, "control-label small")
                    <input asp-for="AppUser.FullName" class="form-control form-control-sm" readonly />
                    <span asp-validation-for="AppUser.FullName" class="text-danger small"></span>
                </div>
                <div class="form-group">
                    @Html.DisplayLabelWithRequiredTag(model => Model.AppUser.IdentityEmail, "control-label small")
                    <input asp-for="AppUser.IdentityEmail" class="form-control form-control-sm" readonly />
                    <span asp-validation-for="AppUser.IdentityEmail" class="text-danger small"></span>
                </div>
            </div>
        </div>      
        <button asp-page-handler="" class="btn btn-primary" id="btnActivate" style="display:none;">
        </button>
    </form>    
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @Html.PromptConfirmationModal("ConfirmActivateModal", "btnShowActivateModal", "btnActivate", "FormActivate","PromptContainer", Resource.PromptMessageActivateUserConfirmation) 
}*@
