@using Models
@model ThemeViewModel
<input type="hidden" id="ClassificationCount" value="@Model?.ClassificationList?.Count" />
<div class="row">
    <div class="col-12">
        <div class="card card-outline card-primary">
            <div class="card-header d-flex">
                <div class="card-title flex-grow-1">
                    <button class="btn-field btn btn-block text-left text-black p-0" type="button" data-card-widget="collapse">
                        <h5>@Localizer["Class"]</h5>
                    </button>
                    <button type="button" id="btnAddClassification" class="btn-field btn btn-primary cancel">
                        <i class="fas fa-plus" style="float:left;padding-top: 7px;padding-right: 10px;"></i>
                        <h6 style="float:left;padding-top: 7px;">@Localizer["Add"]</h6>
                    </button>
                    <button class="cancel" type="button" id="btnRemoveClassification" value="RemoveClassification" style="display:none;"></button>
                </div>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body" style="overflow:auto;">
                <table id="classification" class="table table-hover table-bordered table-striped responsive nowrap" width="100%">
                    <thead>
                        <tr>
							<th style="display:none;"></th>
                            <th>
								@Localizer["Name"]
							</th>
							<th>
								@Localizer["Code"]
							</th>
							
                            <th>
                                @Localizer["Action"]
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model?.ClassificationList != null)
                        {
                            int counter = 0;
                            foreach (var item in Model.ClassificationList)
                            {
                                <tr>
									<td style="display:none;">
                                        <input type="hidden" name="ClassificationList[@counter].Id" value="@item.Id" />
                                        <input type="hidden" name="ClassificationList[@counter].ThemeId" value="@item.ThemeId" />                                      
                                    </td>
                                    <td>
										<input  asp-for="@item.Name" name="ClassificationList[@counter].Name" class="form-control" maxlength="80" readonly/>
										<span data-valmsg-for="ClassificationList[@counter].Name" asp-validation-for="@item.Name" class="text-danger"></span>
										<input type="hidden" asp-for="@item.Name"  name="ClassificationList[@counter].Name"/>
									</td>
									<td>
										<input  asp-for="@item.Code" name="ClassificationList[@counter].Code" class="form-control" maxlength="15" readonly/>
										<span data-valmsg-for="ClassificationList[@counter].Code" asp-validation-for="@item.Code" class="text-danger"></span>
										<input type="hidden" asp-for="@item.Code"  name="ClassificationList[@counter].Code"/>
									</td>
									
                                    <td>
                                        <button type="button" class="btn-field btn btn-danger RemoveClassificationButton cancel" title="@Localizer["Remove Classification"]" removeId="@(item.Id)">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                                counter++;
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
