@using CTI.TenantSales.Web.Areas.Reports.Models;
@model CTI.TenantSales.Web.Areas.Reports.Models.DailySalesModel
@{
}
<style>
    .input-group > .select2-container--bootstrap {
        width: auto;
        flex: 1 1 auto;
    }

        .input-group > .select2-container--bootstrap .select2-selection--single {
            height: 100%;
            line-height: inherit;
            padding: 0.5rem 1rem;
        }

</style>
<div class="box-header">
    <div class="container-fluid">
        <div class="row" style="margin-bottom:10px;">
            <div class="col-xs-12 col-sm-3 col-lg-3">
                <div class="input-group form-group-padding">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">@Localizer["Type"]</span>
                    </div>
                    <div class="input-sm form-control">
                        @if (Model.ReportType == (int)ReportTypeEnum.Daily)
                        {
                            <input asp-for="ReportType" type="radio" value="@((int)ReportTypeEnum.Daily)" checked /> <label>&nbsp;@Localizer["Daily"]</label> <text>&nbsp;&nbsp;  </text>
                            <input asp-for="ReportType" type="radio" value="@((int)ReportTypeEnum.Weekly)" disabled /> <label>&nbsp;@Localizer["Weekly"]</label>
                        }
                        else
                        {
                            <input asp-for="ReportType" type="radio" value="@((int)ReportTypeEnum.Daily)" /> <label>&nbsp;@Localizer["Daily"]</label> <text>&nbsp;&nbsp;  </text>
                            <input asp-for="ReportType" type="radio" value="@((int)ReportTypeEnum.Weekly)" checked /> <label>&nbsp;@Localizer["Weekly"]</label>
                        }
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-lg-3">
                <div class="input-group form-group-padding">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">@Localizer["Output Type"]</span>
                    </div>
                    <div class="input-sm form-control">
                        @if (Model.OutputType == (int)ReportOutputTypeEnum.Excel)
                        {
                            <input asp-for="OutputType" type="radio" value="@((int)ReportOutputTypeEnum.PDF)" /> <label>&nbsp;@Localizer["Pdf"]</label>
                            <input asp-for="OutputType" type="radio" value="@((int)ReportOutputTypeEnum.Excel)" checked /> <label>&nbsp;@Localizer["Excel"]</label> <text>&nbsp;&nbsp;  </text>

                        }
                        else
                        {
                            <input asp-for="OutputType" type="radio" value="@((int)ReportOutputTypeEnum.PDF)" checked /> <label>&nbsp;@Localizer["Pdf"]</label>
                            <input asp-for="OutputType" type="radio" value="@((int)ReportOutputTypeEnum.Excel)" /> <label>&nbsp;@Localizer["Excel"]</label> <text>&nbsp;&nbsp;  </text>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="">
            <div class="col-xs-12 col-sm-3 col-lg-3">
                <div class="input-group form-group-padding" style="margin-bottom:10px;">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">@Localizer["Year"]</span>
                    </div>
                    <select asp-for="@Model.Year" class="input-sm form-control" asp-items="@(dropdownService.YearList)"><option value="">- Select Year -</option></select>
                </div>
                @if (Model.ReportType == (int)ReportTypeEnum.Daily)
                {
                    <div class="input-group form-group-padding" style="margin-bottom:10px;">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">@Localizer["Month"]</span>
                        </div>
                        <select asp-for="@Model.Month" class="input-sm form-control" asp-items="@(dropdownService.Month)"><option value="">- Select Month -</option></select>
                    </div>
                }
                else
                {
                    <div class="input-group form-group-padding" style="margin-bottom:10px;">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">@Localizer["Week"]</span>
                        </div>
                        <select asp-for="@Model.WeekStartDate" class="input-sm form-control" asp-items="@(dropdownService.WorkWeek(Model.Year))"><option value="">- Select Work Week -</option></select>
                    </div>
                }
            </div>
            <div class="col-xs-12 col-sm-3 col-lg-3">
                <div class="input-group form-group-padding" style="margin-bottom:10px;">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">@Localizer["Project"]</span>
                    </div>
                    <select asp-for="@Model.ProjectId" class="input-sm form-control" asp-items="@(dropdownService.GetProjectList(Model.ProjectId))"><option value="">- Select Project -</option></select>
                </div>
                <div class="input-group form-group-padding" style="margin-bottom:10px;">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">@Localizer["Level"]</span>
                    </div>
                    <select asp-for="@Model.LevelId" class="input-sm form-control" asp-items="@(dropdownService.GetLevelList(Model.LevelId))"><option value="">- Select Level -</option></select>
                </div>
                <div class="input-group form-group-padding">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">@Localizer["Tenant"]</span>
                    </div>
                    <select asp-for="@Model.TenantId" class="input-sm form-control" asp-items="@(dropdownService.GetTenantList(Model.TenantId))"><option value="">- Select Tenant -</option></select>
                </div>
            </div>
        </div>
        <div class="row">
            <button type="submit" title="@Localizer["Generate"]" class="btn btn-success col-xs-12 col-sm-3 col-lg-3" aria-label="Left Align">
                <span class="glyphicon glyphicon-list-alt" aria-hidden="true"> </span>
                <span>&nbsp; @Localizer["Generate"]</span>
            </button>
        </div>
    </div>
</div>