@page
@model AddModel

@{
    ViewData["ActiveMainPage"] = "Applications";
    ViewData["Title"] = Localizer["Add Application"];
}
<div class="card">
    <div class="card-body">
        <form method="post" asp-page-handler="Add">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <label asp-for="@Model.Application!.DisplayName" class="col-md-3 col-form-label"></label>
                <div class="col-md-9">
                    <input asp-for="@Model.Application!.DisplayName" class="form-control" />
                    <span asp-validation-for="@Model.Application!.DisplayName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="@Model.Application!.RedirectUri" class="col-md-3 col-form-label"></label>
                <div class="col-md-9">
                    <input asp-for="@Model.Application!.RedirectUri" class="form-control" />
                    <span asp-validation-for="@Model.Application!.RedirectUri" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="@Model.Application!.Scopes" class="col-md-3 col-form-label"></label>
                <div class="col-md-9">
                    <input asp-for="@Model.Application!.Scopes" class="form-control" />
                    <span asp-validation-for="@Model.Application!.Scopes" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <a asp-page="Index" class="btn btn-secondary">@Localizer["Cancel"]</a>
                    <button type="submit" class="btn btn-success">@Localizer["Save changes"]</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}