@page
@model AddModel
@section Styles {
<partial name="_DataTableStyles" />
}
@{
    ViewData["Title"] = Localizer["Add User"];
    ViewData["ActiveMainPage"] = "Users";
    ViewData["Level1"] = "Admin";
}
<form id="user-form" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="card">
        <h5 class="card-header"><span class="card-header-custom">@Localizer["User Info"]</span><br></h5>
        <div class="card-body">
            <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-1 row-cols-xl-1 row-cols-xxl-1">
                <div class="col">
                    <div class="mb-3">
                        <label asp-for="@Model.Input.Email" class="form-label fieldrequired"><strong>Email :</strong></label>
                        <input asp-for="@Model.Input.Email" class="form-control" />
                        <span asp-validation-for="@Model.Input.Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="mb-3">
                        <label asp-for="@Model.Input.Password" class="form-label fieldrequired"><strong>Password :</strong></label>
                        <input asp-for="@Model.Input.Password" class="form-control" />
                        <span asp-validation-for="@Model.Input.Password" class="text-danger"></span>
                    </div>
                </div>

                <div class="col">
                    <div class="mb-3">
                        <label asp-for="@Model.Input.ConfirmPassword" class="form-label fieldrequired"><strong>Confirm Password :</strong></label>
                        <input asp-for="@Model.Input.ConfirmPassword" class="form-control" />
                        <span asp-validation-for="@Model.Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="mb-3">
                        <label asp-for="@Model.Input.Name" class="form-label fieldrequired"><strong>Full Name :</strong></label>
                        <input asp-for="@Model.Input.Name" class="form-control" />
                        <span asp-validation-for="@Model.Input.Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="mb-3">
                        <label asp-for="@Model.Input.BirthDate" class="form-label fieldrequired"><strong>Birth Date :</strong></label>
                        <input asp-for="@Model.Input.BirthDate" class="form-control" />
                        <span asp-validation-for="@Model.Input.BirthDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="mb-3">
                        <label asp-for="@Model.Input.EntityId" class="form-label fieldrequired"><strong>Entity :</strong></label>
                        <select id="entity-select" asp-for="@Model.Input.EntityId"
                                class="select2 form-control"
                                asp-items="@Model.Input.Entities">
                            <option></option>
                        </select>
                        <span asp-validation-for="@Model.Input.EntityId" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="card">
        <h5 class="card-header"><span class="card-header-custom">@Localizer["Roles"]</span><br></h5>
        <div class="card-body" style="overflow-x:scroll;">
            <partial name="_EditRoles" model="Model.Roles" />
        </div>
    </div>
    <div id="toolbar-container" class="btn-group" role="group">
        <a asp-page="Index" class="btn btn-secondary" title="@Localizer["Cancel"]"><i class="fas fa-ban"></i></a>
        <button type="submit" class="btn btn-success text-light" title="@Localizer["Save changes"]"><i class="fas fa-save"></i></button>
    </div>
</form>
<a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
    <i class="fas fa-chevron-up"></i>
</a>
@section Scripts {
<partial name="_ValidationScriptsPartial" />
<partial name="_DataTableScripts" />
<script asp-add-nonce>
    $(document).ready(function () {
        var roles = $("#roles").DataTable({
            select: false,
            searching: true,
            paging: true,
            info: true,
            buttons: [],
            columnDefs: [
                {
                    targets: [1],
                    orderDataType: 'dom-checkbox',
                }
            ]
        });
        $('#user-form').onSubmitIncludeAllFieldsFromTable(roles);
    });
</script>
}