@page
@model DeleteModel
@{
    ViewData["Title"] = Localizer["Delete Tag"];
    ViewData["ActiveMainPage"] = "TaskTag";
    ViewData["Level1"] = "DSF";
}
<div class=row>
    <div class="col-12">
        <div class="alert alert-danger" role="alert">
            @Localizer["Are you sure you want to delete this taskTag?"]
        </div>
    </div>
</div>
<form id="taskTag-form" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="@Model.RemoveSubDetailId" />
    <input type="hidden" asp-for="@Model.AsyncAction" />
    <div id="PartialLoaderContainer">
        <partial name="_InputFieldsPartial" model="Model.TaskTag" />
    </div>
    <div id="toolbar-container" class="btn-group" role="group">
        <a asp-page="Index" class="btn btn-secondary" title="@Localizer["Cancel"]"><i class="fas fa-ban"></i></a>
        <button type="submit" class="btn btn-danger" title="@Localizer["Delete"]"><i class="fas fa-trash"></i></button>
    </div>
</form>
<a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
    <i class="fas fa-chevron-up"></i>
</a>
@section Scripts {
<partial name="_DisableFieldsPartial" model="@("taskTag-form")" />
}