@using Models
@model EnrolledPayeeViewModel

<div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-1 row-cols-xl-1 row-cols-xxl-1">
    <div class="col" id="StatusContainer">
        <div class="mb-3">
            <label asp-for="@Model.Status" class="form-label "><strong>@Localizer["Status"] :</strong></label>
            <input asp-for="@Model.Status" class="form-control" maxlength="30" readonly />
            <span asp-validation-for="@Model.Status" class="text-danger"></span>
        </div>
    </div>
    @if (Model.DisableFields)
    {
        <div class="col">
            <div class="mb-3">
                <label asp-for="@Model.CompanyId" class="form-label fieldrequired"><strong>@Localizer["Entity"] :</strong></label>
                <input type="hidden" asp-for="@Model.CompanyId" />
                <select asp-for="@Model.CompanyId" class="form-control DisableOnEdit" asp-items="@(dropdownService.GetCompanyList(Model.CompanyId))"><option value="">- Select Entity -</option></select>
                <span asp-validation-for="@Model.CompanyId" class="text-danger"></span>
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <label asp-for="@Model.CreditorId" class="form-label fieldrequired"><strong>@Localizer["Creditor"] :</strong></label>
                <input type="hidden" asp-for="@Model.CreditorId" />
                <select asp-for="@Model.CreditorId" class="form-control DisableOnEdit" asp-items="@(dropdownService.GetCreditorList(Model.CreditorId))"><option value="">- Select Creditor -</option></select>
                <span asp-validation-for="@Model.CreditorId" class="text-danger"></span>
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <label asp-for="@Model.PayeeAccountNumber" class="form-label fieldrequired"><strong>@Localizer["Account Number"] :</strong></label>
                <input type="hidden" asp-for="@Model.PayeeAccountNumber" />
                <input asp-for="@Model.PayeeAccountNumber DisableOnEdit" class="form-control" maxlength="50" />
                <span asp-validation-for="@Model.PayeeAccountNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <label asp-for="@Model.PayeeAccountType" class="form-label "><strong>@Localizer["Account Type"] :</strong></label>
                <input type="hidden" asp-for="@Model.PayeeAccountType" />
                <select asp-for="@Model.PayeeAccountType DisableOnEdit" class="form-control" asp-items="@(dropdownService.AccountTypeList())"><option value="">- Select Account Type -</option></select>
                <span asp-validation-for="@Model.PayeeAccountType" class="text-danger"></span>
            </div>
        </div>
    }
    else
    {
        <div class="col">
            <div class="mb-3">
                <label asp-for="@Model.CompanyId" class="form-label fieldrequired"><strong>@Localizer["Entity"] :</strong></label>
                <select asp-for="@Model.CompanyId" class="form-control" asp-items="@(dropdownService.GetCompanyList(Model.CompanyId))"><option value="">- Select Entity -</option></select>
                <span asp-validation-for="@Model.CompanyId" class="text-danger"></span>
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <label asp-for="@Model.CreditorId" class="form-label fieldrequired"><strong>@Localizer["Creditor"] :</strong></label>
                <select asp-for="@Model.CreditorId" class="form-control" asp-items="@(dropdownService.GetCreditorList(Model.CreditorId))"><option value="">- Select Creditor -</option></select>
                <span asp-validation-for="@Model.CreditorId" class="text-danger"></span>
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <label asp-for="@Model.PayeeAccountNumber" class="form-label fieldrequired"><strong>@Localizer["Account Number"] :</strong></label>
                <input asp-for="@Model.PayeeAccountNumber DisableOnEdit" class="form-control" maxlength="50" />
                <span asp-validation-for="@Model.PayeeAccountNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <label asp-for="@Model.PayeeAccountType" class="form-label "><strong>@Localizer["Account Type"] :</strong></label>
                <select asp-for="@Model.PayeeAccountType DisableOnEdit" class="form-control" asp-items="@(dropdownService.AccountTypeList())"><option value="">- Select Account Type -</option></select>
                <span asp-validation-for="@Model.PayeeAccountType" class="text-danger"></span>
            </div>
        </div>
    }
    <div class="col">
        <div class="mb-3">
            <label asp-for="@Model.Email" class="form-label fieldrequired"><strong>@Localizer["Email"] :</strong></label>
            <input asp-for="@Model.Email DisableOnEdit" class="form-control" maxlength="50" />
            <span asp-validation-for="@Model.Email" class="text-danger"></span>
        </div>
    </div>
</div>
