@using Models
@model EnrolledPayeeViewModel
<input type="hidden" id="EnrolledPayeeEmailCount" value="@Model?.EnrolledPayeeEmailList?.Count" />
<div class="card">
    <h5 class="card-header">
        <span style="background-color: var(--bs-card-cap-bg);">@Localizer["Creditor Cc. Email"]</span>
        <a id="btnAddEnrolledPayeeEmail" class="btn btnMaterial btn-flat primary semicircle cancel" title="@Localizer["Add"]"><i class="fas fa-plus" style="font-size:18px;"></i></a>
        <button class="cancel" type="button" id="btnRemoveEnrolledPayeeEmail" value="RemoveEnrolledPayeeEmail" style="display:none;"></button>
    </h5>
    <div class="card-body" style="overflow:auto;">
        <table id="subDetailList" class="table table-hover table-bordered table-striped responsive nowrap" width="100%">
            <thead>
                <tr>
                    <th style="display:none;"></th>
                    <th>
								@Localizer["Email"]
							</th>
							
                    <th>
                        @Localizer["Action"]
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model?.EnrolledPayeeEmailList != null)
                {
                    int counter = 0;
                    foreach (var item in Model.EnrolledPayeeEmailList)
                    {
                        <tr>
                            <td style="display:none;">
                                <input type="hidden" name="EnrolledPayeeEmailList[@counter].Id" value="@item.Id" />
                                <input type="hidden" name="EnrolledPayeeEmailList[@counter].EnrolledPayeeId" value="@item.EnrolledPayeeId" />
                            </td>
                            <td>
										<input  asp-for="@item.Email" name="EnrolledPayeeEmailList[@counter].Email" class="form-control" maxlength="70" />
										<span data-valmsg-for="EnrolledPayeeEmailList[@counter].Email" asp-validation-for="@item.Email" class="text-danger"></span>
										
									</td>
									
                            <td>
                                <a class="btn btnMaterial btn-flat accent semicircle cancel RemoveEnrolledPayeeEmailButton" title="@Localizer["Remove EnrolledPayeeEmail"]" removeId="@(item.Id)"><i class="fas fa-trash" style="font-size:18px;"></i></a>
                            </td>
                        </tr>
                        counter++;
                    }
                }
            </tbody>
        </table>
    </div>
</div>
