@page
@model AddModel
@{
    ViewData["Title"] = Localizer["Add Payee Enrollment"];
    ViewData["ActiveMainPage"] = "EnrolledPayee";
    ViewData["Level1"] = "FAS";
}
<form id="enrolledPayee-form" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
	<input type="hidden" asp-for="@Model.RemoveSubDetailId" />
    <input type="hidden" asp-for="@Model.AsyncAction" />
	<div id="PartialLoaderContainer">
        <partial name="_InputFieldsPartial" model="Model.EnrolledPayee" />
    </div> 
	<div id="toolbar-container" class="btn-group" role="group" style="float:right;margin-top:10px;">
        <a asp-page="Index" class="btn btn-secondary" title="@Localizer["Cancel"]"><i class="fas fa-ban"></i></a>
        <button type="submit" class="btn btn-success" title="@Localizer["Save changes"]" style="color:#fff;"><i class="fas fa-save"></i></button>
    </div>   
</form>
<a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
    <i class="fas fa-chevron-up"></i>
</a>
@section Scripts {
<partial name="_ValidationScriptsPartial" />
<partial name="_EnrolledPayeeEmailListValidationPartial" model="@Model.EnrolledPayee" />

<script asp-add-nonce>
    $(document).ready(function () {
		function InitializeForm()
		{
			$('.DisableSelectDropdown').on('mousedown', function(e) {
				e.preventDefault();
				this.blur();
				window.focus();
			});
			
			$.InitializeEnrolledPayeeEmailFieldValidations($('#EnrolledPayeeEmailCount').val());
			$('.RemoveEnrolledPayeeEmailButton ').on( 'click', function () {
				$('#RemoveSubDetailId').val($(this).attr('removeid'));
				$('#AsyncAction').val('RemoveEnrolledPayeeEmail');
				$.triggerPageForm('ChangeFormValue','#PartialLoaderContainer', '#enrolledPayee-form', InitializeForm);
			});

			$('#btnAddEnrolledPayeeEmail').on( 'click', function () {
				$('#AsyncAction').val('AddEnrolledPayeeEmail');
				$.triggerPageForm('ChangeFormValue','#PartialLoaderContainer', '#enrolledPayee-form', InitializeForm);
			});

			$.fn.companySelect = function() {
				this.filter("select").each(function() {
					$(this).ajaxSelect({
						ajax: {
							url: '@Url.Page("/Company/Dropdown", new { area = "FAS", handler = "Select2Data" })',
						}
					});
				});
				return this;
			};
			$("#CompanyId").companySelect();

			$.fn.creditorSelect = function() {
				this.filter("select").each(function() {
					$(this).ajaxSelect({
						ajax: {
							url: '@Url.Page("/Creditor/Index", new { area = "FAS", handler = "Select2Data" })',
						}
					});
				});
				return this;
			};
			$("#CreditorId").creditorSelect();

		}	
		InitializeForm();
    });
</script>
}