@page
@model DeactivateModel
@{
    ViewData["Title"] = Localizer["Dis-Enroll Payee"];
    ViewData["ActiveMainPage"] = "EnrolledPayee";
    ViewData["Level1"] = "AP";
}
@if (Model.EnrolledPayee.Status == CTI.FAS.Core.Constants.EnrollmentStatus.Active)
{
    <div class=row>
        <div class="col-12">
            <div class="alert alert-danger" role="alert">
                @Localizer["Are you sure you want to dis-enroll this payee?"]
            </div>
        </div>
    </div>
}

<form id="enrolledPayee-form" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="@Model.RemoveSubDetailId" />
    <input type="hidden" asp-for="@Model.AsyncAction" />
    <div id="PartialLoaderContainer">
        <partial name="_InputFieldsPartial" model="Model.EnrolledPayee" />
    </div>
    <div id="toolbar-container" class="btn-group" role="group" style="float:right;margin-top:10px;">
        <a asp-page="ActivePayee" class="btn btn-secondary" title="@Localizer["Cancel"]"><i class="fas fa-ban"></i></a>
        @if (Model.EnrolledPayee.Status == CTI.FAS.Core.Constants.EnrollmentStatus.Active)
        {
            <button type="submit" class="btn btn-danger" title="@Localizer["Dis-enroll"]" style="color:#fff;"><i class="fas fa-user-slash"></i></button>
        }
    </div>
</form>
<a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
    <i class="fas fa-chevron-up"></i>
</a>
@section Scripts {
<partial name="_DisableFieldsPartial" model="@("enrolledPayee-form")" />
}