@page
@model EnrollmentModel

@section Styles {
<partial name="_DataTableStyles" />
}
@{
    ViewData["Title"] = Localizer["Payee Enrollment"];
    ViewData["ActiveMainPage"] = "EnrolledPayee";
    ViewData["Level1"] = "AP";
}

<div class="card">
    <div class="card-header">
        <partial name="_PayeeEnrollmentTabNavigation" model="@Model.PayeeEnrollmentTabNavigation" />
    </div>
    <div class="card-body">
        <div class="row">
            <form role="search" method="get">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <span asp-validation-for="@Model.Entity" class="text-danger" style="display:block;"></span>
                <nav class="navbar bg-light">
                    <div class="container-fluid" style="">
                        <div class="d-flex">
                            <div>
                                @if ((await AuthorizationService.AuthorizeAsync(User, Permission.EnrolledPayee.Create)).Succeeded)
                                {
                                    <a class="btn btn-outline-success" href="@(Url.Page("/EnrolledPayee/Add", new { area = "FAS" }) + "?Entity=" + Model.Entity)" style="width:120px;padding-top:10px;">@Localizer["Add"]</a>
                                }
                                <select asp-for="@Model.Entity" class="form-control me-2" asp-items="@(dropdownService.GetCompanyList(Model.Entity))" style="width:350px;">
                                    <option value="">- Select Entity -</option>
                                </select>
                                @if (Model.ForEnrollmentList.Count() == 0)
                                {
                                    <button class="btn btn-outline-success" type="submit" id="btnRetrieveForEnrollment">@Localizer["Retrieve"]</button>
                                }
                                @if ((await AuthorizationService.AuthorizeAsync(User, Permission.EnrolledPayee.Create)).Succeeded && Model.ForEnrollmentList.Count() > 0)
                                {
                                    <button class="btn btn-outline-success" id="btnTriggerGenerate" type="button" style="width:100px;margin-right:5px;">@Localizer["Generate"]</button>
                                }
                                @if (!string.IsNullOrEmpty(Model.DownloadUrl))
                                {
                                    <a class="btn btn-outline-success" href="@Model.DownloadUrl" style="width:120px;padding-top:10px;">@Localizer["Download"]</a>
                                }
                            </div>
                        </div>
                    </div>
                </nav>
            </form>
            <form id="enrollment-form" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <table id="enrolledPayee" class="table table-hover table-bordered table-striped responsive nowrap" width="100%">
                                <thead>
                                    <tr>
                                        <th>
                                            @Localizer["Actions"]
                                        </th>
                                        <th>
                                            @Localizer["Entity"]
                                        </th>
                                        <th>
                                            @Localizer["Creditor"]
                                        </th>
                                        <th>
                                            @Localizer["Account Type"]
                                        </th>
                                        <th>
                                            @Localizer["Status"]
                                        </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.ForEnrollmentList.Count(); i++)
                                    {
                                        <tr>
                                            <td>
                                                <div class="form-check m-1">
                                                    @if (Model.ForEnrollmentList[i].Enabled)
                                                    {
                                                        <input type="checkbox" name="ForEnrollmentList[@(i)].Enabled" class="form-check-input" value=true checked />
                                                    }
                                                    else
                                                    {
                                                        <input type="checkbox" name="ForEnrollmentList[@(i)].Enabled" class="form-check-input" value=true />
                                                    }
                                                    <input type="hidden" asp-for="@Model.ForEnrollmentList[i].Id" />
                                                    <input type="hidden" asp-for="@Model.ForEnrollmentList[i].Company" />
                                                    <input type="hidden" asp-for="@Model.ForEnrollmentList[i].Creditor" />
                                                    <input type="hidden" asp-for="@Model.ForEnrollmentList[i].PayeeAccountType" />
                                                    <input type="hidden" asp-for="@Model.ForEnrollmentList[i].Status" />
                                                </div>
                                            </td>
                                            <td>
                                                @Model.ForEnrollmentList[i].Company
                                            </td>
                                            <td>
                                                @Model.ForEnrollmentList[i].Creditor
                                            </td>
                                            <td>
                                                @Model.ForEnrollmentList[i].PayeeAccountType
                                            </td>
                                            <td>
                                                @Html.Raw(CTI.FAS.Web.Helper.EnrollmentStatusHelper.GetEnrollmentStatus(Model.ForEnrollmentList[i].Status))
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div id="toolbar-container" class="btn-group" role="group" style="float:right;margin-top:10px;display:none;">
                    <button type="submit" id="btnGenerate" class="btn btn-success" title="@Localizer["Generate"]" style="color:#fff;"><i class="fas fa-save"></i></button>
                </div>
            </form>
        </div>
        <a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
            <i class="fas fa-chevron-up"></i>
        </a>
    </div>
</div>
@section Scripts {
<partial name="_DataTableScripts" />
<script asp-add-nonce>
    $(document).ready(function () {
        var roles = $("#enrolledPayee").DataTable({
            select: false,
            searching: true,
            paging: true,
            pageLength: 10,
            info: true,
            buttons: [
            ],
            columnDefs: [
                {
                    targets: [1],
                    orderDataType: 'dom-checkbox',
                }
            ]
        });
        $('#enrollment-form').onSubmitIncludeAllFieldsFromTable(roles);
        $.fn.companySelect = function() {
            this.filter("select").each(function() {
                $(this).ajaxSelect({
                    ajax: {
                        url: '@Url.Page("/Company/Dropdown", new { area = "FAS", handler = "Select2Data" })',
                    }
                });
            });
            return this;
        };
        $("#Entity").companySelect();
        $('#btnTriggerGenerate').on( 'click', function () {
            $('#btnGenerate').click();
        });
        $('#Entity').on( 'change', function () {
            $('#btnRetrieveForEnrollment').click();
        });
    });
</script>
}