@using Models
@model LeadTaskViewModel
<input type="hidden" id="LeadTaskClientFeedBackCount" value="@Model?.LeadTaskClientFeedBackList?.Count" />
<div class="card">
    <h5 class="card-header">
        <span style="background-color: var(--bs-card-cap-bg);">@Localizer["Lead Task / Client Feedback Setup"]</span>
        <a id="btnAddLeadTaskClientFeedBack" class="btn btnMaterial btn-flat primary semicircle cancel" title="@Localizer["Add"]"><i class="fas fa-plus" style="font-size:18px;"></i></a>
        <button class="cancel" type="button" id="btnRemoveLeadTaskClientFeedBack" value="RemoveLeadTaskClientFeedBack" style="display:none;"></button>
    </h5>
    <div class="card-body" style="overflow:auto;">
        <table id="subDetailList" class="table table-hover table-bordered table-striped responsive nowrap" width="100%">
            <thead>
                <tr>
                    <th style="display:none;"></th>
                    <th>
								@Localizer["Client Feedback"]
							</th>
							<th>
								@Localizer["Activity Status"]
							</th>
							
                    <th>
                        @Localizer["Action"]
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model?.LeadTaskClientFeedBackList != null)
                {
                    int counter = 0;
                    foreach (var item in Model.LeadTaskClientFeedBackList)
                    {
                        <tr>
                            <td style="display:none;">
                                <input type="hidden" name="LeadTaskClientFeedBackList[@counter].Id" value="@item.Id" />
                                <input type="hidden" name="LeadTaskClientFeedBackList[@counter].LeadTaskId" value="@item.LeadTaskId" />
                            </td>
                            <td>
										<select asp-for="@item.ClientFeedbackId" id="LeadTaskClientFeedBackList_@(counter)_ClientFeedbackId" name="LeadTaskClientFeedBackList[@counter].ClientFeedbackId" class="form-control SelectClientFeedback" asp-items="@(dropdownService.GetClientFeedbackList(item.ClientFeedbackId))" >
											<option value="">- Select Client Feedback -</option>
										</select>
										<span data-valmsg-for="LeadTaskClientFeedBackList[@counter].ClientFeedbackId" asp-validation-for="@item.ClientFeedbackId" class="text-danger"></span>
										
									</td>
									<td>
										<input  asp-for="@item.ActivityStatus" name="LeadTaskClientFeedBackList[@counter].ActivityStatus" class="form-control" maxlength="25" />
										<span data-valmsg-for="LeadTaskClientFeedBackList[@counter].ActivityStatus" asp-validation-for="@item.ActivityStatus" class="text-danger"></span>
										
									</td>
									
                            <td>
                                <a class="btn btnMaterial btn-flat accent semicircle cancel RemoveLeadTaskClientFeedBackButton" title="@Localizer["Remove LeadTaskClientFeedBack"]" removeId="@(item.Id)"><i class="fas fa-trash" style="font-size:18px;"></i></a>
                            </td>
                        </tr>
                        counter++;
                    }
                }
            </tbody>
        </table>
    </div>
</div>
