@page
@model EditModel
@{
    ViewData["Title"] = Localizer["Edit Lead Task"];
    ViewData["ActiveMainPage"] = "LeadTask";
    ViewData["Level1"] = "ELMS";
}
<form id="leadTask-form" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="@Model.RemoveSubDetailId" />
    <input type="hidden" asp-for="@Model.AsyncAction" />
    <div id="PartialLoaderContainer">
        <partial name="_InputFieldsPartial" model="Model.LeadTask" />
    </div>
    <div id="toolbar-container" class="btn-group" role="group" style="float:right;margin-top:10px;">
        <a asp-page="Index" class="btn btn-secondary" title="@Localizer["Cancel"]"><i class="fas fa-ban"></i></a>
        <button type="submit" class="btn btn-success" title="@Localizer["Save changes"]" style="color:#fff;"><i class="fas fa-save"></i></button>
    </div>
</form>
<a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
    <i class="fas fa-chevron-up"></i>
</a>
@section Scripts {
<partial name="_ValidationScriptsPartial" />
<partial name="_ActivityHistoryListValidationPartial" model="@Model.LeadTask" />

<script asp-add-nonce>
    $(document).ready(function () {
        function InitializeForm()
        {
            $('.DisableSelectDropdown').on('mousedown', function(e) {
                e.preventDefault();
                this.blur();
                window.focus();
            });
            
			$.InitializeActivityHistoryFieldValidations($('#ActivityHistoryCount').val());
			$('.RemoveActivityHistoryButton ').on( 'click', function () {
				$('#RemoveSubDetailId').val($(this).attr('removeid'));
				$('#AsyncAction').val('RemoveActivityHistory');
				$.triggerPageForm('ChangeFormValue','#PartialLoaderContainer', '#leadTask-form', InitializeForm);
			});

			$('#btnAddActivityHistory').on( 'click', function () {
				$('#AsyncAction').val('AddActivityHistory');
				$.triggerPageForm('ChangeFormValue','#PartialLoaderContainer', '#leadTask-form', InitializeForm);
			});

			$.fn.activitySelect = function() {
				this.filter("select").each(function() {
					$(this).ajaxSelect({
						ajax: {
							url: '@Url.Page("/Activity/Index", new { area = "ELMS", handler = "Select2Data" })',
						}
					});
				});
				return this;
			};
			var activitylistdropdowns = document.getElementsByClassName('SelectActivity');
			for ( var i=0; i< activitylistdropdowns.length; i++) {
				$("#ActivityHistoryList_"+i+"_ActivityID").activitySelect();
			}

			$.fn.clientfeedbackSelect = function() {
				this.filter("select").each(function() {
					$(this).ajaxSelect({
						ajax: {
							url: '@Url.Page("/ClientFeedback/Index", new { area = "ELMS", handler = "Select2Data" })',
						}
					});
				});
				return this;
			};
			var clientfeedbacklistdropdowns = document.getElementsByClassName('SelectClientFeedback');
			for ( var i=0; i< clientfeedbacklistdropdowns.length; i++) {
				$("#ActivityHistoryList_"+i+"_ClientFeedbackId").clientfeedbackSelect();
			}

			$.fn.nextstepSelect = function() {
				this.filter("select").each(function() {
					$(this).ajaxSelect({
						ajax: {
							url: '@Url.Page("/NextStep/Index", new { area = "ELMS", handler = "Select2Data" })',
						}
					});
				});
				return this;
			};
			var nextsteplistdropdowns = document.getElementsByClassName('SelectNextStep');
			for ( var i=0; i< nextsteplistdropdowns.length; i++) {
				$("#ActivityHistoryList_"+i+"_NextStepId").nextstepSelect();
			}


        }
        InitializeForm();
    });
</script>
}