@using Models
@model LocationViewModel

<div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-1 row-cols-xl-1 row-cols-xxl-1">
    <div class="col">
	<div class="mb-3">
		<label asp-for="@Model.BarangayCode" class="form-label fieldrequired"><strong>@Localizer["Barangay Code"] :</strong></label>
			<input asp-for="@Model.BarangayCode" class="form-control" maxlength="50" />
			<span asp-validation-for="@Model.BarangayCode" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.Barangay" class="form-label fieldrequired"><strong>@Localizer["Barangay"] :</strong></label>
			<input asp-for="@Model.Barangay" class="form-control" maxlength="255" />
			<span asp-validation-for="@Model.Barangay" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.CityCode" class="form-label fieldrequired"><strong>@Localizer["City Code"] :</strong></label>
			<input asp-for="@Model.CityCode" class="form-control" maxlength="50" />
			<span asp-validation-for="@Model.CityCode" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.City" class="form-label fieldrequired"><strong>@Localizer["City"] :</strong></label>
			<input asp-for="@Model.City" class="form-control" maxlength="255" />
			<span asp-validation-for="@Model.City" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.ProvinceCode" class="form-label fieldrequired"><strong>@Localizer["Province Code"] :</strong></label>
			<input asp-for="@Model.ProvinceCode" class="form-control" maxlength="50" />
			<span asp-validation-for="@Model.ProvinceCode" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.Province" class="form-label fieldrequired"><strong>@Localizer["Province"] :</strong></label>
			<input asp-for="@Model.Province" class="form-control" maxlength="255" />
			<span asp-validation-for="@Model.Province" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.RegionCode" class="form-label fieldrequired"><strong>@Localizer["Region Code"] :</strong></label>
			<input asp-for="@Model.RegionCode" class="form-control" maxlength="50" />
			<span asp-validation-for="@Model.RegionCode" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.Region" class="form-label fieldrequired"><strong>@Localizer["Region"] :</strong></label>
			<input asp-for="@Model.Region" class="form-control" maxlength="255" />
			<span asp-validation-for="@Model.Region" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.Full" class="form-label fieldrequired"><strong>@Localizer["Full"] :</strong></label>
			<input asp-for="@Model.Full" class="form-control"  />
			<span asp-validation-for="@Model.Full" class="text-danger"></span>
			
	</div>
</div>

</div>
