@using Models
@model MainModuleViewModel

<div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-1 row-cols-xl-1 row-cols-xxl-1">
    <div class="col">
        <div class="mb-3">
            <label asp-for="@Model.ParentModuleId" class="form-label fieldrequired"><strong>Parent Module :</strong></label>
            <select asp-for="@Model.ParentModuleId" class="form-control" asp-items="@(dropdownService.GetParentModuleList(Model.ParentModuleId))"><option value="">- Select  -</option></select>
            <span asp-validation-for="@Model.ParentModuleId" class="text-danger"></span>
        </div>
    </div>
    <div class="col">
        <div class="mb-3">
            <label asp-for="@Model.FileUpload" class="form-label fieldrequired"><strong>File Upload :</strong></label>
            <input asp-for="@Model.FileUploadForm" class="file-upload-control" style="display:block" /> @if (!string.IsNullOrEmpty(Model.FileUpload))
            {
                <div class="input-group col-md-12" style="padding-left:0px;padding-right:0px;margin-top:10px;"><input asp-for="@Model.FileUpload" class="form-control" readonly /><a href="/@WebConstants.UploadFilesPath/@Model.FileUpload" class="input-group-text btn btn-success" style="cursor:pointer;color:#fff;font-weight:700;" target="_blank">@Localizer["View"]</a></div>
            }
            <span asp-validation-for="@Model.FileUploadForm" class="text-danger"></span>
        </div>
    </div>
    <div class="col">
        <div class="mb-3">         
             <label asp-for="@Model.Code" class="form-label fieldrequired"><strong>Code :</strong></label>
            <input asp-for="@Model.Code" class="form-control" maxlength="255" />
            <span asp-validation-for="@Model.Code" class="text-danger"></span>
        </div>
    </div>
</div>
