@using Models
@model MainModuleViewModel
<input type="hidden" id="SubDetailListCount" value="@Model?.SubDetailListList?.Count" />
<div class="card">
    <h5 class="card-header">
        <span style="background-color: var(--bs-card-cap-bg);">@Localizer["SubDetailList"]</span>
        <a id="btnAddSubDetailList" class="btn btnMaterial btn-flat primary semicircle cancel" title="@Localizer["Add"]"><i class="fas fa-plus" style="font-size:18px;"></i></a>
        <button class="cancel" type="button" id="btnRemoveSubDetailList" value="RemoveSubDetailList" style="display:none;"></button>
    </h5>
    <div class="card-body" style="overflow:auto;">
        <table id="subDetailList" class="table table-hover table-bordered table-striped responsive nowrap" width="100%">
            <thead>
                <tr>
                    <th style="display:none;"></th>
                    <th>
                        @Localizer["Code"]
                    </th>
                    <th>
                        @Localizer["Action"]
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model?.SubDetailListList != null)
                {
                    int counter = 0;
                    foreach (var item in Model.SubDetailListList)
                    {
                        <tr>
                            <td style="display:none;">
                                <input type="hidden" name="SubDetailListList[@counter].Id" value="@item.Id" />
                                <input type="hidden" name="SubDetailListList[@counter].TestForeignKeyOne" value="@item.TestForeignKeyOne" />
                            </td>
                            <td>
                                <input asp-for="@item.Code" name="SubDetailListList[@counter].Code" class="form-control" maxlength="255" />
                                <span data-valmsg-for="SubDetailListList[@counter].Code" asp-validation-for="@item.Code" class="text-danger"></span>
                            </td>
                            <td>
                                <a class="btn btnMaterial btn-flat accent semicircle cancel RemoveSubDetailListButton" title="@Localizer["Remove SubDetailList"]" removeId="@(item.Id)"><i class="fas fa-trash" style="font-size:18px;"></i></a>
                            </td>
                        </tr>
                        counter++;
                    }
                }
            </tbody>
        </table>
    </div>
</div>
