@page
@model IndexModel

@section Styles {
<partial name="_DataTableStyles" />
}
@{
    ViewData["Title"] = Localizer["Department List"];
    ViewData["ActiveMainPage"] = "Department";
    ViewData["Level1"] = "DSF";
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <table id="department" class="table table-hover table-bordered table-striped responsive nowrap" width="100%">
                    <thead>
                        <tr>
                            <th>
								@Localizer["Company Code"]
							</th>
							<th>
								@Localizer["Department Code"]
							</th>
							<th>
								@Localizer["Department Name"]
							</th>
							<th>
								@Localizer["Active"]
							</th>
							  
														
                            <th>
                                @Localizer["Actions"]
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
    <i class="fas fa-chevron-up"></i>
</a>
<div id="BatchUploadPartialContainer">
    <partial name="_BatchUpload" model="Model.BatchUpload" />
</div>
@section Scripts {
<partial name="_DataTableScripts" />
<script asp-add-nonce>
    $(document).ready(function () {
        var table = $('#department').DataTable({
            select: false,
            serverSide: true,
            order: [[ 4, 'desc' ]],
            ajax:
            {
                url: '@Url.Page("/Department/Index", new { area = "DSF", handler = "ListAll" })',
                type: "POST",
                headers: {
                    RequestVerificationToken:
                        $('input:hidden[name="__RequestVerificationToken"]').val()
                },
            },
			initComplete: function( settings, json ) {
                BindTableRowCollapseEvent();
            },
			columns: [
                { data: "companyCode", name: "CompanyCode", responsivePriority: 1, title: '@Localizer["Company Code"]', searchable: false },
				{ data: "departmentCode", name: "DepartmentCode", responsivePriority: 1, title: '@Localizer["Department Code"]', searchable: true },
				{ data: "departmentName", name: "DepartmentName", responsivePriority: 1, title: '@Localizer["Department Name"]', searchable: true },
				{ data: "active", name: "Active", responsivePriority: 1, title: '@Localizer["Active"]', searchable: false },
				   
				
                {
                    data: null,
                    searchable: false,
                    orderable: false,
                    responsivePriority: 2,
                    width: "10%",
                    render: function (data, type, row, meta) {
                        var url = '@Url.Page("/Department/Details", new { area = "DSF" })' + '?id=' + row.id;
                        var button = '<a href="' + url + '" class="btn btnMaterial btn-flat primary semicircle btnViewDepartment" title="@Localizer["View"]"><i class="far fa-eye"></i></a>';
                @if ((await AuthorizationService.AuthorizeAsync(User, Permission.Department.Edit)).Succeeded)
                {
                    <text>
                        url = '@Url.Page("/Department/Edit", new { area = "DSF" })' + '?id=' + row.id;
                        button =  button + '&nbsp;<a href="' + url + '" class="btn btnMaterial btn-flat success semicircle btnEditDepartment" title="@Localizer["Edit"]"><i class="fas fa-pen"></i></a>';
                    </text>
                }
                @if ((await AuthorizationService.AuthorizeAsync(User, Permission.Department.Delete)).Succeeded)
                {
                    <text>
                        url = '@Url.Page("/Department/Delete", new { area = "DSF" })' + '?id=' + row.id;
                        button =  button + '&nbsp;<a href="' + url + '" class="btn btnMaterial btn-flat accent semicircle btnDeleteDepartment" title="@Localizer["Delete"]"><i class="fas fa-trash btnNoBorders"></i></a>';
                    </text>
                }
				  
                        return button;
                    },
                },
                { data: "lastModifiedDate", name: "LastModifiedDate", title: '@Localizer["Last Modified Date"]', visible: false, searchable: false },
                { data: "id", name: "Id", visible: false },
            ],
            buttons: [
        @if ((await AuthorizationService.AuthorizeAsync(User, Permission.Department.Create)).Succeeded)
        {
            <text>
                {
                    text: '@Localizer["Add"]',
                    action: function (e, dt, button, config) {
                        var url = '@Url.Page("/Department/Add", new { area = "DSF" })';
                        window.location.href = url;
                    },
                    className: 'btn btn-success text-light',
                },
            </text>
        }
		@if ((await AuthorizationService.AuthorizeAsync(User, Permission.Department.Upload)).Succeeded)
        {
            <text>
                {
                    text: 'Download Template',
                    action: function () {
                        // Trigger the hidden file input
                        $('#download-template-form').submit();   
                    },
                    className: 'btn btn-secondary text-light',
                },
            </text>
        }
        @if ((await AuthorizationService.AuthorizeAsync(User, Permission.Department.Upload)).Succeeded)
        {
            <text>
                {
                    text: 'Upload',
                    action: function () {
                        // Trigger the hidden file input
                        $('#btnBatchUpload').click();
                    },
                    className: 'btn btn-info text-light',
                },
            </text>
        }
                'excel', 'pdf', 'pageLength',
            ],
        });
        var debounce = new $.fn.dataTable.Debounce(table); // Add delay to search

        $('.btn-table_filter').on('click', function(e) {
            table.ajax.reload(null, false);
        });
		function BindTableRowCollapseEvent()
        {
            $('#department tbody').on('click', 'td.dtr-control', function () {
                $.showAjaxLoaderOnClick([".btnAddDepartment",".btnEditDepartment",".btnViewDepartment",".btnDeleteDepartment"]);
            });
        }
        $.showAjaxLoaderOnClick([".btnAddDepartment",".btnEditDepartment",".btnViewDepartment",".btnDeleteDepartment"]);
        $.EnableNavbarSearch(table);
		$('#btnBatchUpload').on('change', function (e) {
            $('#batch-upload-form').submit();          
        });
        @if (!string.IsNullOrEmpty(Model.BatchUpload.BatchUploadFileName))
        {
            <text>
                $('#btnDownloadBatchUploadTemplateLink')[0].click();             
            </text>
        }
    });
</script>
}