@page
@model EditModel
@section Styles {
<partial name="_DataTableStyles" />
}
@{
    ViewData["Title"] = Localizer["Edit User"];
    ViewData["ActiveMainPage"] = "Users";
    ViewData["Level1"] = "Admin";
}
<form id="user-form" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="card">
        <h5 class="card-header"><span style="background-color: var(--bs-card-cap-bg);">@Localizer["User Info"]</span><br></h5>
        <div class="card-body">
            <div class="form-group row">
                <label asp-for="@Model.Input.Email" class="col-md-3 col-form-label"></label>
                <div class="col-md-9">
                    <input asp-for="@Model.Input.Email" class="form-control" readonly />
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="@Model.Input.Name" class="col-md-3 col-form-label"></label>
                <div class="col-md-9">
                    <input asp-for="@Model.Input.Name" class="form-control" />
                    <span asp-validation-for="@Model.Input.Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="@Model.Input.BirthDate" class="col-md-3 col-form-label"></label>
                <div class="col-md-9">
                    <input asp-for="@Model.Input.BirthDate" class="form-control" />
                    <span asp-validation-for="@Model.Input.BirthDate" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="@Model.Input.EntityId" class="col-md-3 col-form-label"></label>
                <div class="col-md-9">
                    <select id="entity-select" asp-for="@Model.Input.EntityId"
                            class="select2 form-control"
                            asp-items="@Model.Input.Entities">
                        <option></option>
                    </select>
                    <span asp-validation-for="@Model.Input.EntityId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="@Model.Input.IsActive" class="col-md-3 col-form-label"></label>
                <div class="col-md-9">
                    <select id="status-select" asp-for="@Model.Input.IsActive"
                            class="select2 form-control"
                            asp-items="@Model.Input.Statuses">
                        <option></option>
                    </select>
                    <span asp-validation-for="@Model.Input.IsActive" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
     <br />
    <div class="card">
        <h5 class="card-header"><span style="background-color: var(--bs-card-cap-bg);">@Localizer["Roles"]</span><br></h5>
        <div class="card-body"  style="overflow-x:scroll;">
            <partial name="_EditRoles" model="Model.Roles" />
        </div>
    </div>   
    <div id="toolbar-container" class="btn-group" role="group" style="float:right;margin-top:10px;">
        <a asp-page="Index" class="btn btn-secondary" title="@Localizer["Cancel"]"><i class="fas fa-ban"></i></a>
        <button type="submit" class="btn btn-success" title="@Localizer["Save changes"]" style="color:#fff;"><i class="fas fa-save"></i></button>
    </div>
</form>
<a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
    <i class="fas fa-chevron-up"></i>
</a>
@section Scripts {
<partial name="_ValidationScriptsPartial" />
<partial name="_DataTableScripts" />
<script asp-add-nonce>
    $(document).ready(function () {
        var roles = $("#roles").DataTable({
            select: false,
            searching: true,
            paging: true,
            info: true,
            buttons: [],
            columnDefs: [
                {
                    targets: [1],
                    orderDataType: 'dom-checkbox',
                }
            ]
        });
        $('#user-form').onSubmitIncludeAllFieldsFromTable(roles);
    });
</script>
}