@using Models
@model OfferingViewModel
<input type="hidden" id="OfferingHistoryCount" value="@Model?.OfferingHistoryList?.Count" />
<div class="card">
    <h5 class="card-header">
        <span style="background-color: var(--bs-card-cap-bg);">@Localizer["Offering History"]</span>
        <a id="btnAddOfferingHistory" class="btn btnMaterial btn-flat primary semicircle cancel" title="@Localizer["Add"]"><i class="fas fa-plus" style="font-size:18px;"></i></a>
        <button class="cancel" type="button" id="btnRemoveOfferingHistory" value="RemoveOfferingHistory" style="display:none;"></button>
    </h5>
    <div class="card-body" style="overflow:auto;">
        <table id="subDetailList" class="table table-hover table-bordered table-striped responsive nowrap" width="100%">
            <thead>
                <tr>
                    <th style="display:none;"></th>
                    <th>
								@Localizer["Status"]
							</th>
							<th>
								@Localizer["Commencement Date"]
							</th>
							<th>
								@Localizer["Termination Date"]
							</th>
							<th>
								@Localizer["Year"]
							</th>
							<th>
								@Localizer["Month"]
							</th>
							<th>
								@Localizer["Day"]
							</th>
							<th>
								@Localizer["Sec Months"]
							</th>
							<th>
								@Localizer["Construction Months"]
							</th>
							<th>
								@Localizer["Board Up"]
							</th>
							<th>
								@Localizer["Other Charges / Aircon"]
							</th>
							<th>
								@Localizer["Costruction CAMC"]
							</th>
							<th>
								@Localizer["Commencement CAMC"]
							</th>
							<th>
								@Localizer["Concession"]
							</th>
							<th>
								@Localizer["Offersheet Remarks"]
							</th>
							<th>
								@Localizer["Units Information"]
							</th>
							<th>
								@Localizer["AN Type"]
							</th>
							<th>
								@Localizer["Lead"]
							</th>
							<th>
								@Localizer["Project"]
							</th>
							<th>
								@Localizer["Total Unit Area"]
							</th>
							<th>
								@Localizer["Total Security Deposit"]
							</th>
							<th>
								@Localizer["Annual Advertising Fee"]
							</th>
							<th>
								@Localizer["CAMC Construction Total"]
							</th>
							<th>
								@Localizer["Construction CAMC Months"]
							</th>
							<th>
								@Localizer["Construction CAMC Rate"]
							</th>
							<th>
								@Localizer["Has Board Fee"]
							</th>
							<th>
								@Localizer["Security Deposit Payable Within Months"]
							</th>
							<th>
								@Localizer["Total Construction Bond"]
							</th>
							<th>
								@Localizer["Construction Payable Within Months"]
							</th>
							<th>
								@Localizer["Is POS"]
							</th>
							<th>
								@Localizer["Location"]
							</th>
							<th>
								@Localizer["Offering Version"]
							</th>
							<th>
								@Localizer["Total Basic Fixed Monthly Rent"]
							</th>
							<th>
								@Localizer["Total Minimum Monthly Rent"]
							</th>
							<th>
								@Localizer["Total Lot Budget"]
							</th>
							<th>
								@Localizer["Total Percentage Rent"]
							</th>
							<th>
								@Localizer["Auto-compute Total Construction Bond"]
							</th>
							<th>
								@Localizer["Auto-compute Total Security Deposit"]
							</th>
							<th>
								@Localizer["Minimum Sales Quota"]
							</th>
							<th>
								@Localizer["Unit Type"]
							</th>
							<th>
								@Localizer["Provision"]
							</th>
							<th>
								@Localizer["Fit-Out Period"]
							</th>
							<th>
								@Localizer["Turn Over Date"]
							</th>
							<th>
								@Localizer["Auto Compute Annual Advertising Fee"]
							</th>
							<th>
								@Localizer["Booking Date"]
							</th>
							
                    <th>
                        @Localizer["Action"]
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model?.OfferingHistoryList != null)
                {
                    int counter = 0;
                    foreach (var item in Model.OfferingHistoryList)
                    {
                        <tr>
                            <td style="display:none;">
                                <input type="hidden" name="OfferingHistoryList[@counter].Id" value="@item.Id" />
                                <input type="hidden" name="OfferingHistoryList[@counter].OfferingID" value="@item.OfferingID" />
                            </td>
                            <td>
										<input  asp-for="@item.Status" name="OfferingHistoryList[@counter].Status" class="form-control" maxlength="35" />
										<span data-valmsg-for="OfferingHistoryList[@counter].Status" asp-validation-for="@item.Status" class="text-danger"></span>
										
									</td>
									<td>
										<input type="date" asp-for="@item.CommencementDate" name="OfferingHistoryList[@counter].CommencementDate" class="form-control" />
										<span data-valmsg-for="OfferingHistoryList[@counter].CommencementDate" asp-validation-for="@item.CommencementDate" class="text-danger"></span>
										
									</td>
									<td>
										<input type="date" asp-for="@item.TerminationDate" name="OfferingHistoryList[@counter].TerminationDate" class="form-control" />
										<span data-valmsg-for="OfferingHistoryList[@counter].TerminationDate" asp-validation-for="@item.TerminationDate" class="text-danger"></span>
										
									</td>
									<td>
										<input  asp-for="@item.Year" name="OfferingHistoryList[@counter].Year" class="form-control"  />
										<span data-valmsg-for="OfferingHistoryList[@counter].Year" asp-validation-for="@item.Year" class="text-danger"></span>
										
									</td>
									<td>
										<input  asp-for="@item.Month" name="OfferingHistoryList[@counter].Month" class="form-control"  />
										<span data-valmsg-for="OfferingHistoryList[@counter].Month" asp-validation-for="@item.Month" class="text-danger"></span>
										
									</td>
									<td>
										<input  asp-for="@item.Day" name="OfferingHistoryList[@counter].Day" class="form-control"  />
										<span data-valmsg-for="OfferingHistoryList[@counter].Day" asp-validation-for="@item.Day" class="text-danger"></span>
										
									</td>
									<td>
										<input  asp-for="@item.SecMonths" name="OfferingHistoryList[@counter].SecMonths" class="form-control"  />
										<span data-valmsg-for="OfferingHistoryList[@counter].SecMonths" asp-validation-for="@item.SecMonths" class="text-danger"></span>
										
									</td>
									<td>
										<input  asp-for="@item.ConstructionMonths" name="OfferingHistoryList[@counter].ConstructionMonths" class="form-control"  />
										<span data-valmsg-for="OfferingHistoryList[@counter].ConstructionMonths" asp-validation-for="@item.ConstructionMonths" class="text-danger"></span>
										
									</td>
									<td>
										<input  asp-for="@item.BoardUp" name="OfferingHistoryList[@counter].BoardUp" class="form-control"  />
										<span data-valmsg-for="OfferingHistoryList[@counter].BoardUp" asp-validation-for="@item.BoardUp" class="text-danger"></span>
										
									</td>
									<td>
										<input  asp-for="@item.OtherChargesAircon" name="OfferingHistoryList[@counter].OtherChargesAircon" class="form-control"  />
										<span data-valmsg-for="OfferingHistoryList[@counter].OtherChargesAircon" asp-validation-for="@item.OtherChargesAircon" class="text-danger"></span>
										
									</td>
									<td>
										<input  asp-for="@item.ConstructionCAMC" name="OfferingHistoryList[@counter].ConstructionCAMC" class="form-control"  />
										<span data-valmsg-for="OfferingHistoryList[@counter].ConstructionCAMC" asp-validation-for="@item.ConstructionCAMC" class="text-danger"></span>
										
									</td>
									<td>
										<input  asp-for="@item.CommencementCAMC" name="OfferingHistoryList[@counter].CommencementCAMC" class="form-control"  />
										<span data-valmsg-for="OfferingHistoryList[@counter].CommencementCAMC" asp-validation-for="@item.CommencementCAMC" class="text-danger"></span>
										
									</td>
									<td>
										<input  asp-for="@item.Concession" name="OfferingHistoryList[@counter].Concession" class="form-control"  />
										<span data-valmsg-for="OfferingHistoryList[@counter].Concession" asp-validation-for="@item.Concession" class="text-danger"></span>
										
									</td>
									<td>
										<input  asp-for="@item.OffersheetRemarks" name="OfferingHistoryList[@counter].OffersheetRemarks" class="form-control"  />
										<span data-valmsg-for="OfferingHistoryList[@counter].OffersheetRemarks" asp-validation-for="@item.OffersheetRemarks" class="text-danger"></span>
										
									</td>
									<td>
										<input  asp-for="@item.UnitsInformation" name="OfferingHistoryList[@counter].UnitsInformation" class="form-control"  />
										<span data-valmsg-for="OfferingHistoryList[@counter].UnitsInformation" asp-validation-for="@item.UnitsInformation" class="text-danger"></span>
										
									</td>
									<td>
										<input  asp-for="@item.ANType" name="OfferingHistoryList[@counter].ANType" class="form-control" maxlength="100" />
										<span data-valmsg-for="OfferingHistoryList[@counter].ANType" asp-validation-for="@item.ANType" class="text-danger"></span>
										
									</td>
									<td>
										<select asp-for="@item.LeadID" id="OfferingHistoryList_@(counter)_LeadID" name="OfferingHistoryList[@counter].LeadID" class="form-control SelectLead" asp-items="@(dropdownService.GetLeadList(item.LeadID))" >
											<option value="">- Select Lead -</option>
										</select>
										<span data-valmsg-for="OfferingHistoryList[@counter].LeadID" asp-validation-for="@item.LeadID" class="text-danger"></span>
										
									</td>
									<td>
										<select asp-for="@item.ProjectID" id="OfferingHistoryList_@(counter)_ProjectID" name="OfferingHistoryList[@counter].ProjectID" class="form-control SelectProject" asp-items="@(dropdownService.GetProjectList(item.ProjectID))" >
											<option value="">- Select Project -</option>
										</select>
										<span data-valmsg-for="OfferingHistoryList[@counter].ProjectID" asp-validation-for="@item.ProjectID" class="text-danger"></span>
										
									</td>
									<td>
										<input  asp-for="@item.TotalUnitArea" name="OfferingHistoryList[@counter].TotalUnitArea" class="form-control"  />
										<span data-valmsg-for="OfferingHistoryList[@counter].TotalUnitArea" asp-validation-for="@item.TotalUnitArea" class="text-danger"></span>
										
									</td>
									<td>
										<input  asp-for="@item.TotalSecurityDeposit" name="OfferingHistoryList[@counter].TotalSecurityDeposit" class="form-control"  />
										<span data-valmsg-for="OfferingHistoryList[@counter].TotalSecurityDeposit" asp-validation-for="@item.TotalSecurityDeposit" class="text-danger"></span>
										
									</td>
									<td>
										<input  asp-for="@item.AnnualAdvertisingFee" name="OfferingHistoryList[@counter].AnnualAdvertisingFee" class="form-control"  />
										<span data-valmsg-for="OfferingHistoryList[@counter].AnnualAdvertisingFee" asp-validation-for="@item.AnnualAdvertisingFee" class="text-danger"></span>
										
									</td>
									<td>
										<input  asp-for="@item.CAMCConstructionTotalUnitArea" name="OfferingHistoryList[@counter].CAMCConstructionTotalUnitArea" class="form-control"  />
										<span data-valmsg-for="OfferingHistoryList[@counter].CAMCConstructionTotalUnitArea" asp-validation-for="@item.CAMCConstructionTotalUnitArea" class="text-danger"></span>
										
									</td>
									<td>
										<input  asp-for="@item.ConstructionCAMCMonths" name="OfferingHistoryList[@counter].ConstructionCAMCMonths" class="form-control"  />
										<span data-valmsg-for="OfferingHistoryList[@counter].ConstructionCAMCMonths" asp-validation-for="@item.ConstructionCAMCMonths" class="text-danger"></span>
										
									</td>
									<td>
										<input  asp-for="@item.ConstructionCAMCRate" name="OfferingHistoryList[@counter].ConstructionCAMCRate" class="form-control"  />
										<span data-valmsg-for="OfferingHistoryList[@counter].ConstructionCAMCRate" asp-validation-for="@item.ConstructionCAMCRate" class="text-danger"></span>
										
									</td>
									<td>
										<input asp-for="@item.HasBoardUpFee" name="OfferingHistoryList[@counter].HasBoardUpFee" class="custom-checkbox-label" />
										<span data-valmsg-for="OfferingHistoryList[@counter].HasBoardUpFee" asp-validation-for="@item.HasBoardUpFee" class="text-danger"></span>
										
									</td>
									<td>
										<input  asp-for="@item.SecurityDepositPayableWithinMonths" name="OfferingHistoryList[@counter].SecurityDepositPayableWithinMonths" class="form-control"  />
										<span data-valmsg-for="OfferingHistoryList[@counter].SecurityDepositPayableWithinMonths" asp-validation-for="@item.SecurityDepositPayableWithinMonths" class="text-danger"></span>
										
									</td>
									<td>
										<input  asp-for="@item.TotalConstructionBond" name="OfferingHistoryList[@counter].TotalConstructionBond" class="form-control"  />
										<span data-valmsg-for="OfferingHistoryList[@counter].TotalConstructionBond" asp-validation-for="@item.TotalConstructionBond" class="text-danger"></span>
										
									</td>
									<td>
										<input  asp-for="@item.ConstructionPayableWithinMonths" name="OfferingHistoryList[@counter].ConstructionPayableWithinMonths" class="form-control"  />
										<span data-valmsg-for="OfferingHistoryList[@counter].ConstructionPayableWithinMonths" asp-validation-for="@item.ConstructionPayableWithinMonths" class="text-danger"></span>
										
									</td>
									<td>
										<input asp-for="@item.IsPOS" name="OfferingHistoryList[@counter].IsPOS" class="custom-checkbox-label" />
										<span data-valmsg-for="OfferingHistoryList[@counter].IsPOS" asp-validation-for="@item.IsPOS" class="text-danger"></span>
										
									</td>
									<td>
										<input  asp-for="@item.Location" name="OfferingHistoryList[@counter].Location" class="form-control"  />
										<span data-valmsg-for="OfferingHistoryList[@counter].Location" asp-validation-for="@item.Location" class="text-danger"></span>
										
									</td>
									<td>
										<input  asp-for="@item.OfferingVersion" name="OfferingHistoryList[@counter].OfferingVersion" class="form-control"  />
										<span data-valmsg-for="OfferingHistoryList[@counter].OfferingVersion" asp-validation-for="@item.OfferingVersion" class="text-danger"></span>
										
									</td>
									<td>
										<input  asp-for="@item.TotalBasicFixedMonthlyRent" name="OfferingHistoryList[@counter].TotalBasicFixedMonthlyRent" class="form-control"  />
										<span data-valmsg-for="OfferingHistoryList[@counter].TotalBasicFixedMonthlyRent" asp-validation-for="@item.TotalBasicFixedMonthlyRent" class="text-danger"></span>
										
									</td>
									<td>
										<input  asp-for="@item.TotalMinimumMonthlyRent" name="OfferingHistoryList[@counter].TotalMinimumMonthlyRent" class="form-control"  />
										<span data-valmsg-for="OfferingHistoryList[@counter].TotalMinimumMonthlyRent" asp-validation-for="@item.TotalMinimumMonthlyRent" class="text-danger"></span>
										
									</td>
									<td>
										<input  asp-for="@item.TotalLotBudget" name="OfferingHistoryList[@counter].TotalLotBudget" class="form-control"  />
										<span data-valmsg-for="OfferingHistoryList[@counter].TotalLotBudget" asp-validation-for="@item.TotalLotBudget" class="text-danger"></span>
										
									</td>
									<td>
										<input  asp-for="@item.TotalPercentageRent" name="OfferingHistoryList[@counter].TotalPercentageRent" class="form-control"  />
										<span data-valmsg-for="OfferingHistoryList[@counter].TotalPercentageRent" asp-validation-for="@item.TotalPercentageRent" class="text-danger"></span>
										
									</td>
									<td>
										<input asp-for="@item.AutoComputeTotalConstructionBond" name="OfferingHistoryList[@counter].AutoComputeTotalConstructionBond" class="custom-checkbox-label" />
										<span data-valmsg-for="OfferingHistoryList[@counter].AutoComputeTotalConstructionBond" asp-validation-for="@item.AutoComputeTotalConstructionBond" class="text-danger"></span>
										
									</td>
									<td>
										<input asp-for="@item.AutoComputeTotalSecurityDeposit" name="OfferingHistoryList[@counter].AutoComputeTotalSecurityDeposit" class="custom-checkbox-label" />
										<span data-valmsg-for="OfferingHistoryList[@counter].AutoComputeTotalSecurityDeposit" asp-validation-for="@item.AutoComputeTotalSecurityDeposit" class="text-danger"></span>
										
									</td>
									<td>
										<input  asp-for="@item.MinimumSalesQuota" name="OfferingHistoryList[@counter].MinimumSalesQuota" class="form-control"  />
										<span data-valmsg-for="OfferingHistoryList[@counter].MinimumSalesQuota" asp-validation-for="@item.MinimumSalesQuota" class="text-danger"></span>
										
									</td>
									<td>
										<input  asp-for="@item.UnitType" name="OfferingHistoryList[@counter].UnitType" class="form-control"  />
										<span data-valmsg-for="OfferingHistoryList[@counter].UnitType" asp-validation-for="@item.UnitType" class="text-danger"></span>
										
									</td>
									<td>
										<input  asp-for="@item.Provision" name="OfferingHistoryList[@counter].Provision" class="form-control"  />
										<span data-valmsg-for="OfferingHistoryList[@counter].Provision" asp-validation-for="@item.Provision" class="text-danger"></span>
										
									</td>
									<td>
										<input  asp-for="@item.FitOutPeriod" name="OfferingHistoryList[@counter].FitOutPeriod" class="form-control"  />
										<span data-valmsg-for="OfferingHistoryList[@counter].FitOutPeriod" asp-validation-for="@item.FitOutPeriod" class="text-danger"></span>
										
									</td>
									<td>
										<input type="date" asp-for="@item.TurnOverDate" name="OfferingHistoryList[@counter].TurnOverDate" class="form-control" />
										<span data-valmsg-for="OfferingHistoryList[@counter].TurnOverDate" asp-validation-for="@item.TurnOverDate" class="text-danger"></span>
										
									</td>
									<td>
										<input asp-for="@item.AutoComputeAnnualAdvertisingFee" name="OfferingHistoryList[@counter].AutoComputeAnnualAdvertisingFee" class="custom-checkbox-label" />
										<span data-valmsg-for="OfferingHistoryList[@counter].AutoComputeAnnualAdvertisingFee" asp-validation-for="@item.AutoComputeAnnualAdvertisingFee" class="text-danger"></span>
										
									</td>
									<td>
										<input type="date" asp-for="@item.BookingDate" name="OfferingHistoryList[@counter].BookingDate" class="form-control" />
										<span data-valmsg-for="OfferingHistoryList[@counter].BookingDate" asp-validation-for="@item.BookingDate" class="text-danger"></span>
										
									</td>
									
                            <td>
                                <a class="btn btnMaterial btn-flat accent semicircle cancel RemoveOfferingHistoryButton" title="@Localizer["Remove OfferingHistory"]" removeId="@(item.Id)"><i class="fas fa-trash" style="font-size:18px;"></i></a>
                            </td>
                        </tr>
                        counter++;
                    }
                }
            </tbody>
        </table>
    </div>
</div>
