@page
@model EditModel
@{
    ViewData["Title"] = Localizer["Edit Offering"];
    ViewData["ActiveMainPage"] = "Offering";
    ViewData["Level1"] = "ELMS";
}
<form id="offering-form" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="@Model.RemoveSubDetailId" />
    <input type="hidden" asp-for="@Model.AsyncAction" />
    <div id="PartialLoaderContainer">
        <partial name="_InputFieldsPartial" model="Model.Offering" />
    </div>
    <div id="toolbar-container" class="btn-group" role="group" style="float:right;margin-top:10px;">
        <a asp-page="Index" class="btn btn-secondary" title="@Localizer["Cancel"]"><i class="fas fa-ban"></i></a>
        <button type="submit" class="btn btn-success" title="@Localizer["Save changes"]" style="color:#fff;"><i class="fas fa-save"></i></button>
    </div>
</form>
<a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
    <i class="fas fa-chevron-up"></i>
</a>
@section Scripts {
<partial name="_ValidationScriptsPartial" />
<partial name="_OfferingHistoryListValidationPartial" model="@Model.Offering" />
<partial name="_PreSelectedUnitListValidationPartial" model="@Model.Offering" />
<partial name="_UnitOfferedListValidationPartial" model="@Model.Offering" />
<partial name="_UnitOfferedHistoryListValidationPartial" model="@Model.Offering" />

<script asp-add-nonce>
    $(document).ready(function () {
        function InitializeForm()
        {
            $('.DisableSelectDropdown').on('mousedown', function(e) {
                e.preventDefault();
                this.blur();
                window.focus();
            });
            
			$.InitializeOfferingHistoryFieldValidations($('#OfferingHistoryCount').val());
			$('.RemoveOfferingHistoryButton ').on( 'click', function () {
				$('#RemoveSubDetailId').val($(this).attr('removeid'));
				$('#AsyncAction').val('RemoveOfferingHistory');
				$.triggerPageForm('ChangeFormValue','#PartialLoaderContainer', '#offering-form', InitializeForm);
			});

			$('#btnAddOfferingHistory').on( 'click', function () {
				$('#AsyncAction').val('AddOfferingHistory');
				$.triggerPageForm('ChangeFormValue','#PartialLoaderContainer', '#offering-form', InitializeForm);
			});

			$.fn.projectSelect = function() {
				this.filter("select").each(function() {
					$(this).ajaxSelect({
						ajax: {
							url: '@Url.Page("/Project/Index", new { area = "ELMS", handler = "Select2Data" })',
						}
					});
				});
				return this;
			};
			var projectlistdropdowns = document.getElementsByClassName('SelectProject');
			for ( var i=0; i< projectlistdropdowns.length; i++) {
				$("#OfferingHistoryList_"+i+"_ProjectID").projectSelect();
			}

			$.fn.leadSelect = function() {
				this.filter("select").each(function() {
					$(this).ajaxSelect({
						ajax: {
							url: '@Url.Page("/Lead/Index", new { area = "ELMS", handler = "Select2Data" })',
						}
					});
				});
				return this;
			};
			var leadlistdropdowns = document.getElementsByClassName('SelectLead');
			for ( var i=0; i< leadlistdropdowns.length; i++) {
				$("#OfferingHistoryList_"+i+"_LeadID").leadSelect();
			}

			$.InitializePreSelectedUnitFieldValidations($('#PreSelectedUnitCount').val());
			$('.RemovePreSelectedUnitButton ').on( 'click', function () {
				$('#RemoveSubDetailId').val($(this).attr('removeid'));
				$('#AsyncAction').val('RemovePreSelectedUnit');
				$.triggerPageForm('ChangeFormValue','#PartialLoaderContainer', '#offering-form', InitializeForm);
			});

			$('#btnAddPreSelectedUnit').on( 'click', function () {
				$('#AsyncAction').val('AddPreSelectedUnit');
				$.triggerPageForm('ChangeFormValue','#PartialLoaderContainer', '#offering-form', InitializeForm);
			});

			$.fn.unitSelect = function() {
				this.filter("select").each(function() {
					$(this).ajaxSelect({
						ajax: {
							url: '@Url.Page("/Unit/Index", new { area = "ELMS", handler = "Select2Data" })',
						}
					});
				});
				return this;
			};
			var unitlistdropdowns = document.getElementsByClassName('SelectUnit');
			for ( var i=0; i< unitlistdropdowns.length; i++) {
				$("#PreSelectedUnitList_"+i+"_UnitID").unitSelect();
			}

			$.InitializeUnitOfferedFieldValidations($('#UnitOfferedCount').val());
			$('.RemoveUnitOfferedButton ').on( 'click', function () {
				$('#RemoveSubDetailId').val($(this).attr('removeid'));
				$('#AsyncAction').val('RemoveUnitOffered');
				$.triggerPageForm('ChangeFormValue','#PartialLoaderContainer', '#offering-form', InitializeForm);
			});

			$('#btnAddUnitOffered').on( 'click', function () {
				$('#AsyncAction').val('AddUnitOffered');
				$.triggerPageForm('ChangeFormValue','#PartialLoaderContainer', '#offering-form', InitializeForm);
			});

			$.fn.unitSelect = function() {
				this.filter("select").each(function() {
					$(this).ajaxSelect({
						ajax: {
							url: '@Url.Page("/Unit/Index", new { area = "ELMS", handler = "Select2Data" })',
						}
					});
				});
				return this;
			};
			var unitlistdropdowns = document.getElementsByClassName('SelectUnit');
			for ( var i=0; i< unitlistdropdowns.length; i++) {
				$("#UnitOfferedList_"+i+"_UnitID").unitSelect();
			}

			$.InitializeUnitOfferedHistoryFieldValidations($('#UnitOfferedHistoryCount').val());
			$('.RemoveUnitOfferedHistoryButton ').on( 'click', function () {
				$('#RemoveSubDetailId').val($(this).attr('removeid'));
				$('#AsyncAction').val('RemoveUnitOfferedHistory');
				$.triggerPageForm('ChangeFormValue','#PartialLoaderContainer', '#offering-form', InitializeForm);
			});

			$('#btnAddUnitOfferedHistory').on( 'click', function () {
				$('#AsyncAction').val('AddUnitOfferedHistory');
				$.triggerPageForm('ChangeFormValue','#PartialLoaderContainer', '#offering-form', InitializeForm);
			});

			$.fn.offeringhistorySelect = function() {
				this.filter("select").each(function() {
					$(this).ajaxSelect({
						ajax: {
							url: '@Url.Page("/OfferingHistory/Index", new { area = "ELMS", handler = "Select2Data" })',
						}
					});
				});
				return this;
			};
			var offeringhistorylistdropdowns = document.getElementsByClassName('SelectOfferingHistory');
			for ( var i=0; i< offeringhistorylistdropdowns.length; i++) {
				$("#UnitOfferedHistoryList_"+i+"_OfferingHistoryID").offeringhistorySelect();
			}

			$.fn.unitSelect = function() {
				this.filter("select").each(function() {
					$(this).ajaxSelect({
						ajax: {
							url: '@Url.Page("/Unit/Index", new { area = "ELMS", handler = "Select2Data" })',
						}
					});
				});
				return this;
			};
			var unitlistdropdowns = document.getElementsByClassName('SelectUnit');
			for ( var i=0; i< unitlistdropdowns.length; i++) {
				$("#UnitOfferedHistoryList_"+i+"_UnitID").unitSelect();
			}

			$.fn.projectSelect = function() {
				this.filter("select").each(function() {
					$(this).ajaxSelect({
						ajax: {
							url: '@Url.Page("/Project/Index", new { area = "ELMS", handler = "Select2Data" })',
						}
					});
				});
				return this;
			};
			$("#ProjectID").projectSelect();

			$.fn.leadSelect = function() {
				this.filter("select").each(function() {
					$(this).ajaxSelect({
						ajax: {
							url: '@Url.Page("/Lead/Index", new { area = "ELMS", handler = "Select2Data" })',
						}
					});
				});
				return this;
			};
			$("#LeadID").leadSelect();


        }
        InitializeForm();
    });
</script>
}