@using Models
@model MainModulePlaceHolderViewModel

<input name="ShouldClose" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="form-group row">
    <label asp-for="@Model.Code" class="col-md-3 col-form-label"></label>
    <div class="col-md-9">
        <input asp-for="@Model.Code" class="form-control" />
        <span asp-validation-for="@Model.Code" class="text-danger"></span>
    </div>
</div>
<input type="hidden" asp-for="@Model.Id" />
