@using Models
@model TaskTagViewModel

<div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-1 row-cols-xl-1 row-cols-xxl-1">
    <div class="col">
	<div class="mb-3">
		<label asp-for="@Model.TaskMasterId" class="form-label fieldrequired"><strong>@Localizer["Task Master"] :</strong></label>
			<select asp-for="@Model.TaskMasterId" class="form-control" asp-items="@(dropdownService.GetTaskMasterList(Model.TaskMasterId))"><option value="">- Select Task Master -</option></select>
			<span asp-validation-for="@Model.TaskMasterId" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.TagId" class="form-label fieldrequired"><strong>@Localizer["Tag"] :</strong></label>
			<select asp-for="@Model.TagId" class="form-control" asp-items="@(dropdownService.GetTagsList(Model.TagId))"><option value="">- Select Tag -</option></select>
			<span asp-validation-for="@Model.TagId" class="text-danger"></span>
			
	</div>
</div>

</div>
