@using Models
@model ReportViewModel
<input type="hidden" id="ReportScheduleSettingCount" value="@Model?.ReportScheduleSettingList?.Count" />
<div class="row">
    <div class="col-12">
        <div class="card card-outline card-primary">
            <div class="card-header d-flex">
                <div class="card-title flex-grow-1">
                    <button class="btn-field btn btn-block text-left text-black p-0" type="button" data-card-widget="collapse">
                        <h5>@Localizer["Report Schedule"]</h5>
                    </button>
                </div>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body" style="overflow:auto;">
                <table id="mailRecipient" class="table table-hover table-bordered table-striped responsive nowrap" width="100%">
                    <thead>
                        <tr>
                            <th style="display:none;"></th>
                            <th>
                                @Localizer["Schedule Parameter"]
                            </th>
                            <th>
                                @Localizer["Value"]
                            </th>
                            <th>
                                @Localizer["Action"]
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model?.ReportScheduleSettingList != null)
                        {
                            int counter = 0;
                            foreach (var item in Model.ReportScheduleSettingList)
                            {
                                <tr>
                                    <td style="display:none;">
                                        <input type="hidden" name="ReportScheduleSettingList[@counter].Id" value="@item.Id" />
                                        <input type="hidden" name="ReportScheduleSettingList[@counter].ReportId" value="@item.ReportId" />
                                        <input type="hidden" name="ReportScheduleSettingList[@counter].ScheduleFrequencyId" value="@item.ScheduleFrequencyId" />
                                        <input type="hidden" name="ReportScheduleSettingList[@counter].ScheduleParameterId" value="@item.ScheduleParameterId" />
                                        <input type="hidden" name="ReportScheduleSettingList[@counter].ForeignKeyScheduleParameter" value="@item.ForeignKeyScheduleParameter" />
                                        <input type="hidden" name="ReportScheduleSettingList[@counter].ForeignKeyScheduleFrequency" value="@item.ForeignKeyScheduleFrequency" />
                                    </td>
                                    <td>
                                        <input class="form-control" name="ReportScheduleSettingList[@counter].ForeignKeyScheduleParameter" value="@item.ForeignKeyScheduleParameter" readonly />
                                    </td>
                                    <td>
                                        @if (item.ForeignKeyScheduleParameter == CTI.SQLReportAutoSender.Core.SQLReportAutoSender.ScheduleParameter.Dayname)
                                        {
                                            <select asp-for="@item.Value" name="ReportScheduleSettingList[@counter].Value" class="form-control" asp-items="@(dropdownService.Days())">
                                                <option value="">- Select Day -</option>
                                            </select>
                                        }
                                        else if (item.ForeignKeyScheduleParameter == CTI.SQLReportAutoSender.Core.SQLReportAutoSender.ScheduleParameter.Time)
                                        {
                                            <select asp-for="@item.Value" name="ReportScheduleSettingList[@counter].Value" class="form-control" asp-items="@(dropdownService.TimeList())">
                                                <option value="">- Select Time -</option>
                                            </select>
                                        }
                                        else
                                        {
                                            <input type="number" asp-for="@item.Value" name="ReportScheduleSettingList[@counter].Value" class="form-control" max="31" />
                                        }
                                        <span data-valmsg-for="ReportScheduleSettingList[@counter].Value" asp-validation-for="@item.Value" class="text-danger"></span>
                                    <td>
                                        <button type="button" class="btn-field btn btn-danger RemoveReportScheduleSettingButton cancel" title="@Localizer["Remove Report Schedule Setting"]" removeId="@(item.Id)">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                                counter++;
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
