@page
@model IndexModel

@section Styles {
<partial name="_DataTableStyles" />
}
@{
    ViewData["Title"] = Localizer["Report List"];
    ViewData["ActiveMainPage"] = "Report";
    ViewData["Level1"] = "SQLReportAutoSender";
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <table id="report" class="table table-hover table-bordered table-striped responsive nowrap" width="100%">
                    <thead>
                        <tr>
                            <th>
								@Localizer["Description"]
							</th>
							<th>
								@Localizer["Schedule Frequency"]
							</th>
							<th>
								@Localizer["Active"]
							</th>
							<th>
								@Localizer["Multiple Report Type"]
							</th>
							  
							<th>
								@Localizer["Status"]
							</th> 							
                            <th>
                                @Localizer["Actions"]
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
    <i class="fas fa-chevron-up"></i>
</a>
@section Scripts {
<partial name="_DataTableScripts" />
<script asp-add-nonce>
    $(document).ready(function () {
        var table = $('#report').DataTable({
            select: false,
            serverSide: true,
            order: [[ 5, 'desc' ]],
            ajax:
            {
                url: '@Url.Page("/Report/Index", new { area = "SQLReportAutoSender", handler = "ListAll" })',
                type: "POST",
                headers: {
                    RequestVerificationToken:
                        $('input:hidden[name="__RequestVerificationToken"]').val()
                },
            },
			initComplete: function( settings, json ) {
                BindTableRowCollapseEvent();
            },
			columns: [
                { data: "description", name: "Description", responsivePriority: 1, title: '@Localizer["Description"]', searchable: true },
				{ data: "scheduleFrequencyId", name: "ScheduleFrequencyId", responsivePriority: 1, title: '@Localizer["Schedule Frequency"]', searchable: false },
				{ data: "isActive", name: "IsActive", responsivePriority: 1, title: '@Localizer["IsActive"]', searchable: false },
				{ data: "multipleReportType", name: "MultipleReportType", responsivePriority: 1, title: '@Localizer["Multiple Report Type"]', searchable: false },
				   
				{ data: "statusBadge", name: "StatusBadge", responsivePriority: 1, title: '@Localizer["Approval Status"]', searchable: false, orderable: false },
                {
                    data: null,
                    searchable: false,
                    orderable: false,
                    responsivePriority: 2,
                    width: "10%",
                    render: function (data, type, row, meta) {
                        var url = '@Url.Page("/Report/Details", new { area = "SQLReportAutoSender" })' + '?id=' + row.id;
                        var button = '<a href="' + url + '" class="btn btn-secondary btnViewReport">@Localizer["View"]</a>';
                @if ((await AuthorizationService.AuthorizeAsync(User, Permission.Report.Edit)).Succeeded)
                {
                    <text>
                        url = '@Url.Page("/Report/Edit", new { area = "SQLReportAutoSender" })' + '?id=' + row.id;
                        button =  button + '&nbsp;<a href="' + url + '" class="btn btn-primary btnEditReport">@Localizer["Edit"]</a>';
                    </text>
                }
                @if ((await AuthorizationService.AuthorizeAsync(User, Permission.Report.Delete)).Succeeded)
                {
                    <text>
                        url = '@Url.Page("/Report/Delete", new { area = "SQLReportAutoSender" })' + '?id=' + row.id;
                        button =  button + '&nbsp;<a href="' + url + '" class="btn btn-danger btnDeleteReport">@Localizer["Delete"]</a>';
                    </text>
                }
				@if ((await AuthorizationService.AuthorizeAsync(User, Permission.Report.Approve)).Succeeded)
				{
					<text>
						url = '@Url.Page("/Report/Approve", new { area = "SQLReportAutoSender" })' + '?id=' + row.id;
						button =  button + '&nbsp;<a href="' + url + '" class="btn btn-primary">@Localizer["Approve"]</a>';
					</text>
				}   
                        return button;
                    },
                },
                { data: "lastModifiedDate", name: "LastModifiedDate", title: '@Localizer["Last Modified Date"]', visible: false, searchable: false },
                { data: "id", name: "Id", visible: false },
            ],
            buttons: [
        @if ((await AuthorizationService.AuthorizeAsync(User, Permission.Report.Create)).Succeeded)
        {
            <text>
                {
                    text: '@Localizer["Add"]',
                    action: function (e, dt, button, config) {
                        var url = '@Url.Page("/Report/Add", new { area = "SQLReportAutoSender" })';
                        window.location.href = url;
                    },
                    className: 'btn btn-success',
                },
            </text>
        }
                'excel', 'pdf', 'pageLength',
            ],
        });
        var debounce = new $.fn.dataTable.Debounce(table); // Add delay to search

        $('.btn-table_filter').on('click', function(e) {
            table.ajax.reload(null, false);
        });
		function BindTableRowCollapseEvent()
        {
            $('#report tbody').on('click', 'td.dtr-control', function () {
                $.showAjaxLoaderOnClick([".btnAddReport",".btnEditReport",".btnViewReport",".btnDeleteReport"]);
            });
        }
        $.showAjaxLoaderOnClick([".btnAddReport",".btnEditReport",".btnViewReport",".btnDeleteReport"]);
    });
</script>
}