@using Models
@model UploadStagingViewModel

<div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-1 row-cols-xl-1 row-cols-xxl-1">
    <div class="col">
	<div class="mb-3">
		<label asp-for="@Model.UploadProcessorId" class="form-label fieldrequired"><strong>@Localizer["File Type"] :</strong></label>
			<select asp-for="@Model.UploadProcessorId" class="form-control" asp-items="@(dropdownService.GetUploadProcessorList(Model.UploadProcessorId))"><option value="">- Select File Type -</option></select>
			<span asp-validation-for="@Model.UploadProcessorId" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.Data" class="form-label fieldrequired"><strong>@Localizer["Path"] :</strong></label>
			<input asp-for="@Model.Data" class="form-control"  />
			<span asp-validation-for="@Model.Data" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.Status" class="form-label fieldrequired"><strong>@Localizer["Status"] :</strong></label>
			<input asp-for="@Model.Status" class="form-control" maxlength="50" />
			<span asp-validation-for="@Model.Status" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.ProcessedDateTime" class="form-label "><strong>@Localizer["Start Date/Time"] :</strong></label>
			<input asp-for="@Model.ProcessedDateTime" class="form-control"  />
			<span asp-validation-for="@Model.ProcessedDateTime" class="text-danger"></span>
			
	</div>
</div>

</div>
